<div class="recordDetailsTabs">
    <busy-loading-view></busy-loading-view>
    <uib-tabset active="0" class="col-md-12 recordDetails " >
        <uib-tab index="0" heading="Resume">
            <div class="row no-margin" id="resumeSection">
                <div class="col-md-12" ng-if="targetRecord.MatchResult.snippets">
                    <h6 class="">Found Snippets</h6>
                    <ul>
                        <li ng-repeat="snippet in targetRecord.MatchResult.snippets track by $index" ng-bind-html="snippet"> </li>
                    </ul>

                </div>
                <div class="col-md-12">
                    <div class="resumeDisplay center-block" ng-bind-html="resume"></div>
                </div>
            </div>
        </uib-tab>
       <uib-tab index="1" heading="People Info" >
        <div class="row no-margin" id="contactInfo">
            <!--
            <div class="col-md-12">
                <h6 class="text-bold">Candidate Brief</h6>
                <p>
                    {{recordDetails.Candidate_Summary_Brief__c}}
                </p>
            </div>
            -->
            <div class="col-md-12">
                <div class="clearfix">
                    <h6 class="pull-left text-bold">Candidate Details</h6>
                    <button class="pull-left btn btn-link btn-sm" ng-click="naveToPage(recordDetails.Id)">View More</button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-2">Email</th>
                        <th class="col-md-2">Phone</th>
                        <th class="col-md-2">Mobile</th>
                        <th>Mailing Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{recordDetails.Name}}</td>
                        <td>{{recordDetails.Email}}</td>
                        <td>{{recordDetails.Phone}}</td>
                        <td>{{recordDetails.MobilePhone}}</td>
                        <td>{{recordDetails.MailingStreet + " "+recordDetails.MailingCity + ( recordDetails.MailingState? "," : "" ) + recordDetails.MailingState + " " + recordDetails.MailingPostalCode + "," + recordDetails.MailingCountry}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <h6 class="text-bold">Activities History</h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">Subject</th>
                       <!-- <th class="col-md-2">Related To</th> -->
                        <th class="col-md-2">Status</th>
                        <th class="col-md-2">Due date</th>
                        <th>Assigned to</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="activity in activitiesHistory ">
                        <td><a href="" ng-click="naveToPage(activity.Id)">{{activity.Subject}}</a></td>
                    <!--    <td>{{activity.RelatedTo}}</td> -->
                        <td>{{activity.Status}}</td>
                        <td>{{activity.ActivityDate |date:"dd/MM/yyyy"}}</td>
                        <td>{{activity.Owner.Name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <h6 class="text-bold">Candidate Management</h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">CM #</th>
                        <th class="col-md-2">Vacancy Name</th>
                        <th class="col-md-2">Client Name</th>
                        <th class="col-md-2">Status</th>
                        <th>Start date</th>
                        <th>End date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in recordManagement">
                        <td><a href="" ng-click="naveToPage(item.Id)">{{item.Name}}</a></td>
                        <td>{{item.Placement__r.Name}}</td>
                        <td>{{item.Company__r.Name}}</td>
                        <td>{{item.Status__c}}</td>
                        <td>{{item.Start_Date__c | date:"dd/MM/yyyy"}}</td>
                        <td>{{item.Start_Date__c | date:"dd/MM/yyyy"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
       </uib-tab>
    </uib-tabset>
</div>
