.resumeDisplay{
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    padding:15px;
    width:100%;
    height: 500px;
    overflow-y: scroll;
    background-color:#F8F8F8;
    border:none;

    & mark{
        background-color: #E6CF54;
    }
}

.recordDetails{
    & >.tab-content >.tab-pane.active {
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-style: none solid solid;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        border-left-color: #ddd;
        background: #f8f8f8;
    }

    & li.uib-tab.nav-item.active a{
        background: #f8f8f8;
    }
}

