.ctc-panel {
  border: none;
  box-shadow: none;
}
.ctc-panel > .panel-heading {
  border-radius: 0;
  background-color: #EEF1F6;
  padding: 0 15px 0 0;
  color: #333333;
}
.ctc-panel > .panel-heading h4 {
  display: inline-block;
  font-weight: 400;
}
.ctc-panel > .panel-heading .glyphicon {
  margin-right: 15px;
  padding: 4px;
  top: 0;
  font-size: 32px;
  color: #FFFFFF;
  background-color: #A7B8D1;
}
.ctc-panel > .panel-body {
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}
