<div class="panel panel-primary ctc-panel">
    <div class="panel-heading clearfix">
        <span class="pull-left glyphicon" data-ng-class="icon"></span>
        <h4 class="pull-left">{{ name || Page.name }}</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" data-ng-model-options="{ allowInvalid: true, getterSetter: true }" data-ng-transclude></div>
        </div>
    </div>
</div>
