.ctc-panel {
    border:none;
    box-shadow: none;


    & > .panel-heading {
        border-radius: 0;
        background-color: #EEF1F6;
        padding: 0 15px 0 0;
        color: #333333;
        h4 {
            display: inline-block;
            font-weight: 400;
        }

        .glyphicon {
            margin-right: 15px;
            padding: 4px;
            top:0;
            font-size: 32px;
            color: #FFFFFF;
            background-color: #A7B8D1;
        }
    }

    & > .panel-body {
        padding-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px;
    }
}
