@font-face {
  font-family: 'PIQC_Set';
  src:  url('fonts/PIQC_Set.eot?cv6n1q');
  src:  url('fonts/PIQC_Set.eot?cv6n1q#iefix') format('embedded-opentype'),
    url('fonts/PIQC_Set.ttf?cv6n1q') format('truetype'),
    url('fonts/PIQC_Set.woff?cv6n1q') format('woff'),
    url('fonts/PIQC_Set.svg?cv6n1q#PIQC_Set') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ctc-icon-"], [class*=" ctc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PIQC_Set' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ctc-icon-favourite:before {
  content: "\ea03";
}
.ctc-icon-favourite2:before {
  content: "\ea04";
}
.ctc-icon-property-star4:before {
  content: "\ea05";
}
.ctc-icon-ic_filter:before {
  content: "\ea02";
}
.ctc-icon-property-star:before {
  content: "\e9ff";
}
.ctc-icon-property-star2:before {
  content: "\ea00";
}
.ctc-icon-property-star3:before {
  content: "\ea01";
}
.ctc-icon-add4:before {
  content: "\e9fc";
}
.ctc-icon-delete4:before {
  content: "\e9fd";
}
.ctc-icon-deselect4:before {
  content: "\e9fe";
}
.ctc-icon-deselect:before {
  content: "\e9f9";
}
.ctc-icon-deselect2:before {
  content: "\e9fa";
}
.ctc-icon-deselect3:before {
  content: "\e9fb";
}
.ctc-icon-mail3:before {
  content: "\e900";
}
.ctc-icon-abn:before {
  content: "\e901";
}
.ctc-icon-abn2:before {
  content: "\e902";
}
.ctc-icon-abn3:before {
  content: "\e903";
}
.ctc-icon-add:before {
  content: "\e904";
}
.ctc-icon-add2:before {
  content: "\e905";
}
.ctc-icon-add3:before {
  content: "\e906";
}
.ctc-icon-advert:before {
  content: "\e907";
}
.ctc-icon-advert2:before {
  content: "\e908";
}
.ctc-icon-advert3:before {
  content: "\e909";
}
.ctc-icon-agent:before {
  content: "\e90a";
}
.ctc-icon-agent2:before {
  content: "\e90b";
}
.ctc-icon-agent3:before {
  content: "\e90c";
}
.ctc-icon-arrow-bottom:before {
  content: "\e90d";
}
.ctc-icon-arrow-left:before {
  content: "\e90e";
}
.ctc-icon-arrow-right:before {
  content: "\e90f";
}
.ctc-icon-arrow-top:before {
  content: "\e910";
}
.ctc-icon-attachment:before {
  content: "\e911";
}
.ctc-icon-attachment2:before {
  content: "\e912";
}
.ctc-icon-attachment3:before {
  content: "\e913";
}
.ctc-icon-auction:before {
  content: "\e914";
}
.ctc-icon-auction2:before {
  content: "\e915";
}
.ctc-icon-auction3:before {
  content: "\e916";
}
.ctc-icon-auctiondate:before {
  content: "\e917";
}
.ctc-icon-auctiondate2:before {
  content: "\e918";
}
.ctc-icon-auctiondate3:before {
  content: "\e919";
}
.ctc-icon-backspace:before {
  content: "\e91a";
}
.ctc-icon-backspace2:before {
  content: "\e91b";
}
.ctc-icon-backspace3:before {
  content: "\e91c";
}
.ctc-icon-baths:before {
  content: "\e91d";
}
.ctc-icon-baths2:before {
  content: "\e91e";
}
.ctc-icon-baths3:before {
  content: "\e91f";
}
.ctc-icon-beds:before {
  content: "\e920";
}
.ctc-icon-beds2:before {
  content: "\e921";
}
.ctc-icon-beds3:before {
  content: "\e922";
}
.ctc-icon-bin:before {
  content: "\e923";
}
.ctc-icon-bin2:before {
  content: "\e924";
}
.ctc-icon-bin3:before {
  content: "\e925";
}
.ctc-icon-birthday:before {
  content: "\e926";
}
.ctc-icon-birthday2:before {
  content: "\e927";
}
.ctc-icon-birthday3:before {
  content: "\e928";
}
.ctc-icon-broadcast:before {
  content: "\e929";
}
.ctc-icon-broadcast2:before {
  content: "\e92a";
}
.ctc-icon-broadcast3:before {
  content: "\e92b";
}
.ctc-icon-calendar:before {
  content: "\e92c";
}
.ctc-icon-calendar2:before {
  content: "\e92d";
}
.ctc-icon-calendar3:before {
  content: "\e92e";
}
.ctc-icon-calllist:before {
  content: "\e92f";
}
.ctc-icon-calllist2:before {
  content: "\e930";
}
.ctc-icon-calllist3:before {
  content: "\e931";
}
.ctc-icon-candidate-tick:before {
  content: "\e932";
}
.ctc-icon-candidate-tick2:before {
  content: "\e933";
}
.ctc-icon-candidate-tick3:before {
  content: "\e934";
}
.ctc-icon-cars:before {
  content: "\e935";
}
.ctc-icon-cars2:before {
  content: "\e936";
}
.ctc-icon-cars3:before {
  content: "\e937";
}
.ctc-icon-client-history:before {
  content: "\e938";
}
.ctc-icon-client-history2:before {
  content: "\e939";
}
.ctc-icon-client-history3:before {
  content: "\e93a";
}
.ctc-icon-client-inspections:before {
  content: "\e93b";
}
.ctc-icon-client-inspections2:before {
  content: "\e93c";
}
.ctc-icon-client-inspections3:before {
  content: "\e93d";
}
.ctc-icon-client-manage:before {
  content: "\e93e";
}
.ctc-icon-client-manage2:before {
  content: "\e93f";
}
.ctc-icon-client-manage3:before {
  content: "\e940";
}
.ctc-icon-client:before {
  content: "\e941";
}
.ctc-icon-client2:before {
  content: "\e942";
}
.ctc-icon-client3:before {
  content: "\e943";
}
.ctc-icon-clients3:before {
  content: "\e944";
}
.ctc-icon-commercial:before {
  content: "\e945";
}
.ctc-icon-commercial2:before {
  content: "\e946";
}
.ctc-icon-commercial3:before {
  content: "\e947";
}
.ctc-icon-company:before {
  content: "\e948";
}
.ctc-icon-company2:before {
  content: "\e949";
}
.ctc-icon-company3:before {
  content: "\e94a";
}
.ctc-icon-companyposition:before {
  content: "\e94b";
}
.ctc-icon-companyposition2:before {
  content: "\e94c";
}
.ctc-icon-companyposition3:before {
  content: "\e94d";
}
.ctc-icon-contact-yes:before {
  content: "\e94e";
}
.ctc-icon-contact-yes2:before {
  content: "\e94f";
}
.ctc-icon-contact-yes3:before {
  content: "\e950";
}
.ctc-icon-contact:before {
  content: "\e951";
}
.ctc-icon-contact2:before {
  content: "\e952";
}
.ctc-icon-contact3:before {
  content: "\e953";
}
.ctc-icon-delete-profile:before {
  content: "\e954";
}
.ctc-icon-delete-profile2:before {
  content: "\e955";
}
.ctc-icon-delete-profile3:before {
  content: "\e956";
}
.ctc-icon-delete:before {
  content: "\e957";
}
.ctc-icon-delete2:before {
  content: "\e958";
}
.ctc-icon-delete3:before {
  content: "\e959";
}
.ctc-icon-dom-calendar:before {
  content: "\e95a";
}
.ctc-icon-dom-calendar2:before {
  content: "\e95b";
}
.ctc-icon-dom-calendar3:before {
  content: "\e95c";
}
.ctc-icon-download:before {
  content: "\e95d";
}
.ctc-icon-download2:before {
  content: "\e95e";
}
.ctc-icon-download3:before {
  content: "\e95f";
}
.ctc-icon-edit:before {
  content: "\e960";
}
.ctc-icon-edit2:before {
  content: "\e961";
}
.ctc-icon-edit3:before {
  content: "\e962";
}
.ctc-icon-email:before {
  content: "\e963";
}
.ctc-icon-email2:before {
  content: "\e964";
}
.ctc-icon-email3:before {
  content: "\e965";
}
.ctc-icon-emailsym:before {
  content: "\e966";
}
.ctc-icon-emailsym2:before {
  content: "\e967";
}
.ctc-icon-emailsym3:before {
  content: "\e968";
}
.ctc-icon-event:before {
  content: "\e969";
}
.ctc-icon-event2:before {
  content: "\e96a";
}
.ctc-icon-event3:before {
  content: "\e96b";
}
.ctc-icon-exchanged:before {
  content: "\e96c";
}
.ctc-icon-exchanged2:before {
  content: "\e96d";
}
.ctc-icon-exchanged3:before {
  content: "\e96e";
}
.ctc-icon-filing:before {
  content: "\e96f";
}
.ctc-icon-filing2:before {
  content: "\e970";
}
.ctc-icon-filing3:before {
  content: "\e971";
}
.ctc-icon-form:before {
  content: "\e972";
}
.ctc-icon-form2:before {
  content: "\e973";
}
.ctc-icon-form3:before {
  content: "\e974";
}
.ctc-icon-handshake:before {
  content: "\e975";
}
.ctc-icon-handshake2:before {
  content: "\e976";
}
.ctc-icon-handshake3:before {
  content: "\e977";
}
.ctc-icon-history:before {
  content: "\e978";
}
.ctc-icon-history2:before {
  content: "\e979";
}
.ctc-icon-history3:before {
  content: "\e97a";
}
.ctc-icon-image-file:before {
  content: "\e97b";
}
.ctc-icon-image-file2:before {
  content: "\e97c";
}
.ctc-icon-image-file3:before {
  content: "\e97d";
}
.ctc-icon-inspection-plus:before {
  content: "\e97e";
}
.ctc-icon-inspection-plus2:before {
  content: "\e97f";
}
.ctc-icon-inspection-plus3:before {
  content: "\e980";
}
.ctc-icon-internet:before {
  content: "\e981";
}
.ctc-icon-internet2:before {
  content: "\e982";
}
.ctc-icon-internet3:before {
  content: "\e983";
}
.ctc-icon-layout-2col:before {
  content: "\e984";
}
.ctc-icon-layout-3col:before {
  content: "\e985";
}
.ctc-icon-layout-3colleft:before {
  content: "\e986";
}
.ctc-icon-layout-3colright:before {
  content: "\e987";
}
.ctc-icon-layout-hero:before {
  content: "\e988";
}
.ctc-icon-layout-hero3col:before {
  content: "\e989";
}
.ctc-icon-layout-heroleft:before {
  content: "\e98a";
}
.ctc-icon-layout-heroright:before {
  content: "\e98b";
}
.ctc-icon-Layout-icon:before {
  content: "\e98c";
}
.ctc-icon-layout-left:before {
  content: "\e98d";
}
.ctc-icon-layout-right:before {
  content: "\e98e";
}
.ctc-icon-layout-right3col:before {
  content: "\e98f";
}
.ctc-icon-library:before {
  content: "\e990";
}
.ctc-icon-library2:before {
  content: "\e991";
}
.ctc-icon-library3:before {
  content: "\e992";
}
.ctc-icon-mail:before {
  content: "\e993";
}
.ctc-icon-mail2:before {
  content: "\e994";
}
.ctc-icon-mobile:before {
  content: "\e995";
}
.ctc-icon-mobile2:before {
  content: "\e996";
}
.ctc-icon-mobile3:before {
  content: "\e997";
}
.ctc-icon-myoutboundcall:before {
  content: "\e998";
}
.ctc-icon-myoutboundcall2:before {
  content: "\e999";
}
.ctc-icon-myoutboundcall3:before {
  content: "\e99a";
}
.ctc-icon-nocontact:before {
  content: "\e99b";
}
.ctc-icon-nocontact2:before {
  content: "\e99c";
}
.ctc-icon-nocontact3:before {
  content: "\e99d";
}
.ctc-icon-note:before {
  content: "\e99e";
}
.ctc-icon-note2:before {
  content: "\e99f";
}
.ctc-icon-note3:before {
  content: "\e9a0";
}
.ctc-icon-offers:before {
  content: "\e9a1";
}
.ctc-icon-offers2:before {
  content: "\e9a2";
}
.ctc-icon-offers3:before {
  content: "\e9a3";
}
.ctc-icon-outboundcall:before {
  content: "\e9a4";
}
.ctc-icon-outboundcall2:before {
  content: "\e9a5";
}
.ctc-icon-outboundcall3:before {
  content: "\e9a6";
}
.ctc-icon-patch-map:before {
  content: "\e9a7";
}
.ctc-icon-patch-map2:before {
  content: "\e9a8";
}
.ctc-icon-patch-map3:before {
  content: "\e9a9";
}
.ctc-icon-patch-review:before {
  content: "\e9aa";
}
.ctc-icon-patch-review2:before {
  content: "\e9ab";
}
.ctc-icon-patch-review3:before {
  content: "\e9ac";
}
.ctc-icon-pdf-file:before {
  content: "\e9ad";
}
.ctc-icon-pdf-file2:before {
  content: "\e9ae";
}
.ctc-icon-pdf-file3:before {
  content: "\e9af";
}
.ctc-icon-phone:before {
  content: "\e9b0";
}
.ctc-icon-phone2:before {
  content: "\e9b1";
}
.ctc-icon-phone3:before {
  content: "\e9b2";
}
.ctc-icon-postbox:before {
  content: "\e9b3";
}
.ctc-icon-postbox2:before {
  content: "\e9b4";
}
.ctc-icon-postbox3:before {
  content: "\e9b5";
}
.ctc-icon-price:before {
  content: "\e9b6";
}
.ctc-icon-price2:before {
  content: "\e9b7";
}
.ctc-icon-price3:before {
  content: "\e9b8";
}
.ctc-icon-Print:before {
  content: "\e9b9";
}
.ctc-icon-Print2:before {
  content: "\e9ba";
}
.ctc-icon-Print3:before {
  content: "\e9bb";
}
.ctc-icon-property_criteria:before {
  content: "\e9bc";
}
.ctc-icon-property_criteria2:before {
  content: "\e9bd";
}
.ctc-icon-property_criteria3:before {
  content: "\e9be";
}
.ctc-icon-property-comp:before {
  content: "\e9bf";
}
.ctc-icon-property-comp2:before {
  content: "\e9c0";
}
.ctc-icon-property-comp3:before {
  content: "\e9c1";
}
.ctc-icon-property-history:before {
  content: "\e9c2";
}
.ctc-icon-property-history2:before {
  content: "\e9c3";
}
.ctc-icon-property-history3:before {
  content: "\e9c4";
}
.ctc-icon-property-listing:before {
  content: "\e9c5";
}
.ctc-icon-property-listing2:before {
  content: "\e9c6";
}
.ctc-icon-property-listing3:before {
  content: "\e9c7";
}
.ctc-icon-property-match:before {
  content: "\e9c8";
}
.ctc-icon-property-match2:before {
  content: "\e9c9";
}
.ctc-icon-property-match3:before {
  content: "\e9ca";
}
.ctc-icon-property-sale:before {
  content: "\e9cb";
}
.ctc-icon-property-sale2:before {
  content: "\e9cc";
}
.ctc-icon-property-sale3:before {
  content: "\e9cd";
}
.ctc-icon-property-search:before {
  content: "\e9ce";
}
.ctc-icon-property-search2:before {
  content: "\e9cf";
}
.ctc-icon-property-search3:before {
  content: "\e9d0";
}
.ctc-icon-property-tick:before {
  content: "\e9d1";
}
.ctc-icon-property-tick2:before {
  content: "\e9d2";
}
.ctc-icon-property-tick3:before {
  content: "\e9d3";
}
.ctc-icon-property:before {
  content: "\e9d4";
}
.ctc-icon-property2:before {
  content: "\e9d5";
}
.ctc-icon-property3:before {
  content: "\e9d6";
}
.ctc-icon-questionmark:before {
  content: "\e9d7";
}
.ctc-icon-questionmark2:before {
  content: "\e9d8";
}
.ctc-icon-questionmark3:before {
  content: "\e9d9";
}
.ctc-icon-remove:before {
  content: "\e9da";
}
.ctc-icon-report:before {
  content: "\e9db";
}
.ctc-icon-report2:before {
  content: "\e9dc";
}
.ctc-icon-report3:before {
  content: "\e9dd";
}
.ctc-icon-save:before {
  content: "\e9de";
}
.ctc-icon-save2:before {
  content: "\e9df";
}
.ctc-icon-save3:before {
  content: "\e9e0";
}
.ctc-icon-search:before {
  content: "\e9e1";
}
.ctc-icon-search2:before {
  content: "\e9e2";
}
.ctc-icon-search3:before {
  content: "\e9e3";
}
.ctc-icon-setup:before {
  content: "\e9e4";
}
.ctc-icon-setup2:before {
  content: "\e9e5";
}
.ctc-icon-setup3:before {
  content: "\e9e6";
}
.ctc-icon-sms:before {
  content: "\e9e7";
}
.ctc-icon-sms2:before {
  content: "\e9e8";
}
.ctc-icon-sms3:before {
  content: "\e9e9";
}
.ctc-icon-sold:before {
  content: "\e9ea";
}
.ctc-icon-sold2:before {
  content: "\e9eb";
}
.ctc-icon-sold3:before {
  content: "\e9ec";
}
.ctc-icon-tasklist:before {
  content: "\e9ed";
}
.ctc-icon-tasklist2:before {
  content: "\e9ee";
}
.ctc-icon-tasklist3:before {
  content: "\e9ef";
}
.ctc-icon-touchpoints:before {
  content: "\e9f0";
}
.ctc-icon-touchpoints2:before {
  content: "\e9f1";
}
.ctc-icon-touchpoints3:before {
  content: "\e9f2";
}
.ctc-icon-upload:before {
  content: "\e9f3";
}
.ctc-icon-upload2:before {
  content: "\e9f4";
}
.ctc-icon-upload3:before {
  content: "\e9f5";
}
.ctc-icon-warning:before {
  content: "\e9f6";
}
.ctc-icon-warning2:before {
  content: "\e9f7";
}
.ctc-icon-warning3:before {
  content: "\e9f8";
}
