@import "variables";

@font-face {
  font-family: 'PIQC_Set';
  src:  url('#{$icomoon-font-path}/PIQC_Set.eot?cv6n1q');
  src:  url('#{$icomoon-font-path}/PIQC_Set.eot?cv6n1q#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/PIQC_Set.ttf?cv6n1q') format('truetype'),
    url('#{$icomoon-font-path}/PIQC_Set.woff?cv6n1q') format('woff'),
    url('#{$icomoon-font-path}/PIQC_Set.svg?cv6n1q#PIQC_Set') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ctc-icon-"], [class*=" ctc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PIQC_Set' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ctc-icon-favourite {
  &:before {
    content: $ctc-icon-favourite;
  }
}
.ctc-icon-favourite2 {
  &:before {
    content: $ctc-icon-favourite2;
  }
}
.ctc-icon-property-star4 {
  &:before {
    content: $ctc-icon-property-star4;
  }
}
.ctc-icon-ic_filter {
  &:before {
    content: $ctc-icon-ic_filter;
  }
}
.ctc-icon-property-star {
  &:before {
    content: $ctc-icon-property-star;
  }
}
.ctc-icon-property-star2 {
  &:before {
    content: $ctc-icon-property-star2;
  }
}
.ctc-icon-property-star3 {
  &:before {
    content: $ctc-icon-property-star3;
  }
}
.ctc-icon-add4 {
  &:before {
    content: $ctc-icon-add4;
  }
}
.ctc-icon-delete4 {
  &:before {
    content: $ctc-icon-delete4;
  }
}
.ctc-icon-deselect4 {
  &:before {
    content: $ctc-icon-deselect4;
  }
}
.ctc-icon-deselect {
  &:before {
    content: $ctc-icon-deselect;
  }
}
.ctc-icon-deselect2 {
  &:before {
    content: $ctc-icon-deselect2;
  }
}
.ctc-icon-deselect3 {
  &:before {
    content: $ctc-icon-deselect3;
  }
}
.ctc-icon-mail3 {
  &:before {
    content: $ctc-icon-mail3;
  }
}
.ctc-icon-abn {
  &:before {
    content: $ctc-icon-abn;
  }
}
.ctc-icon-abn2 {
  &:before {
    content: $ctc-icon-abn2;
  }
}
.ctc-icon-abn3 {
  &:before {
    content: $ctc-icon-abn3;
  }
}
.ctc-icon-add {
  &:before {
    content: $ctc-icon-add;
  }
}
.ctc-icon-add2 {
  &:before {
    content: $ctc-icon-add2;
  }
}
.ctc-icon-add3 {
  &:before {
    content: $ctc-icon-add3;
  }
}
.ctc-icon-advert {
  &:before {
    content: $ctc-icon-advert;
  }
}
.ctc-icon-advert2 {
  &:before {
    content: $ctc-icon-advert2;
  }
}
.ctc-icon-advert3 {
  &:before {
    content: $ctc-icon-advert3;
  }
}
.ctc-icon-agent {
  &:before {
    content: $ctc-icon-agent;
  }
}
.ctc-icon-agent2 {
  &:before {
    content: $ctc-icon-agent2;
  }
}
.ctc-icon-agent3 {
  &:before {
    content: $ctc-icon-agent3;
  }
}
.ctc-icon-arrow-bottom {
  &:before {
    content: $ctc-icon-arrow-bottom;
  }
}
.ctc-icon-arrow-left {
  &:before {
    content: $ctc-icon-arrow-left;
  }
}
.ctc-icon-arrow-right {
  &:before {
    content: $ctc-icon-arrow-right;
  }
}
.ctc-icon-arrow-top {
  &:before {
    content: $ctc-icon-arrow-top;
  }
}
.ctc-icon-attachment {
  &:before {
    content: $ctc-icon-attachment;
  }
}
.ctc-icon-attachment2 {
  &:before {
    content: $ctc-icon-attachment2;
  }
}
.ctc-icon-attachment3 {
  &:before {
    content: $ctc-icon-attachment3;
  }
}
.ctc-icon-auction {
  &:before {
    content: $ctc-icon-auction;
  }
}
.ctc-icon-auction2 {
  &:before {
    content: $ctc-icon-auction2;
  }
}
.ctc-icon-auction3 {
  &:before {
    content: $ctc-icon-auction3;
  }
}
.ctc-icon-auctiondate {
  &:before {
    content: $ctc-icon-auctiondate;
  }
}
.ctc-icon-auctiondate2 {
  &:before {
    content: $ctc-icon-auctiondate2;
  }
}
.ctc-icon-auctiondate3 {
  &:before {
    content: $ctc-icon-auctiondate3;
  }
}
.ctc-icon-backspace {
  &:before {
    content: $ctc-icon-backspace;
  }
}
.ctc-icon-backspace2 {
  &:before {
    content: $ctc-icon-backspace2;
  }
}
.ctc-icon-backspace3 {
  &:before {
    content: $ctc-icon-backspace3;
  }
}
.ctc-icon-baths {
  &:before {
    content: $ctc-icon-baths;
  }
}
.ctc-icon-baths2 {
  &:before {
    content: $ctc-icon-baths2;
  }
}
.ctc-icon-baths3 {
  &:before {
    content: $ctc-icon-baths3;
  }
}
.ctc-icon-beds {
  &:before {
    content: $ctc-icon-beds;
  }
}
.ctc-icon-beds2 {
  &:before {
    content: $ctc-icon-beds2;
  }
}
.ctc-icon-beds3 {
  &:before {
    content: $ctc-icon-beds3;
  }
}
.ctc-icon-bin {
  &:before {
    content: $ctc-icon-bin;
  }
}
.ctc-icon-bin2 {
  &:before {
    content: $ctc-icon-bin2;
  }
}
.ctc-icon-bin3 {
  &:before {
    content: $ctc-icon-bin3;
  }
}
.ctc-icon-birthday {
  &:before {
    content: $ctc-icon-birthday;
  }
}
.ctc-icon-birthday2 {
  &:before {
    content: $ctc-icon-birthday2;
  }
}
.ctc-icon-birthday3 {
  &:before {
    content: $ctc-icon-birthday3;
  }
}
.ctc-icon-broadcast {
  &:before {
    content: $ctc-icon-broadcast;
  }
}
.ctc-icon-broadcast2 {
  &:before {
    content: $ctc-icon-broadcast2;
  }
}
.ctc-icon-broadcast3 {
  &:before {
    content: $ctc-icon-broadcast3;
  }
}
.ctc-icon-calendar {
  &:before {
    content: $ctc-icon-calendar;
  }
}
.ctc-icon-calendar2 {
  &:before {
    content: $ctc-icon-calendar2;
  }
}
.ctc-icon-calendar3 {
  &:before {
    content: $ctc-icon-calendar3;
  }
}
.ctc-icon-calllist {
  &:before {
    content: $ctc-icon-calllist;
  }
}
.ctc-icon-calllist2 {
  &:before {
    content: $ctc-icon-calllist2;
  }
}
.ctc-icon-calllist3 {
  &:before {
    content: $ctc-icon-calllist3;
  }
}
.ctc-icon-candidate-tick {
  &:before {
    content: $ctc-icon-candidate-tick;
  }
}
.ctc-icon-candidate-tick2 {
  &:before {
    content: $ctc-icon-candidate-tick2;
  }
}
.ctc-icon-candidate-tick3 {
  &:before {
    content: $ctc-icon-candidate-tick3;
  }
}
.ctc-icon-cars {
  &:before {
    content: $ctc-icon-cars;
  }
}
.ctc-icon-cars2 {
  &:before {
    content: $ctc-icon-cars2;
  }
}
.ctc-icon-cars3 {
  &:before {
    content: $ctc-icon-cars3;
  }
}
.ctc-icon-client-history {
  &:before {
    content: $ctc-icon-client-history;
  }
}
.ctc-icon-client-history2 {
  &:before {
    content: $ctc-icon-client-history2;
  }
}
.ctc-icon-client-history3 {
  &:before {
    content: $ctc-icon-client-history3;
  }
}
.ctc-icon-client-inspections {
  &:before {
    content: $ctc-icon-client-inspections;
  }
}
.ctc-icon-client-inspections2 {
  &:before {
    content: $ctc-icon-client-inspections2;
  }
}
.ctc-icon-client-inspections3 {
  &:before {
    content: $ctc-icon-client-inspections3;
  }
}
.ctc-icon-client-manage {
  &:before {
    content: $ctc-icon-client-manage;
  }
}
.ctc-icon-client-manage2 {
  &:before {
    content: $ctc-icon-client-manage2;
  }
}
.ctc-icon-client-manage3 {
  &:before {
    content: $ctc-icon-client-manage3;
  }
}
.ctc-icon-client {
  &:before {
    content: $ctc-icon-client;
  }
}
.ctc-icon-client2 {
  &:before {
    content: $ctc-icon-client2;
  }
}
.ctc-icon-client3 {
  &:before {
    content: $ctc-icon-client3;
  }
}
.ctc-icon-clients3 {
  &:before {
    content: $ctc-icon-clients3;
  }
}
.ctc-icon-commercial {
  &:before {
    content: $ctc-icon-commercial;
  }
}
.ctc-icon-commercial2 {
  &:before {
    content: $ctc-icon-commercial2;
  }
}
.ctc-icon-commercial3 {
  &:before {
    content: $ctc-icon-commercial3;
  }
}
.ctc-icon-company {
  &:before {
    content: $ctc-icon-company;
  }
}
.ctc-icon-company2 {
  &:before {
    content: $ctc-icon-company2;
  }
}
.ctc-icon-company3 {
  &:before {
    content: $ctc-icon-company3;
  }
}
.ctc-icon-companyposition {
  &:before {
    content: $ctc-icon-companyposition;
  }
}
.ctc-icon-companyposition2 {
  &:before {
    content: $ctc-icon-companyposition2;
  }
}
.ctc-icon-companyposition3 {
  &:before {
    content: $ctc-icon-companyposition3;
  }
}
.ctc-icon-contact-yes {
  &:before {
    content: $ctc-icon-contact-yes;
  }
}
.ctc-icon-contact-yes2 {
  &:before {
    content: $ctc-icon-contact-yes2;
  }
}
.ctc-icon-contact-yes3 {
  &:before {
    content: $ctc-icon-contact-yes3;
  }
}
.ctc-icon-contact {
  &:before {
    content: $ctc-icon-contact;
  }
}
.ctc-icon-contact2 {
  &:before {
    content: $ctc-icon-contact2;
  }
}
.ctc-icon-contact3 {
  &:before {
    content: $ctc-icon-contact3;
  }
}
.ctc-icon-delete-profile {
  &:before {
    content: $ctc-icon-delete-profile;
  }
}
.ctc-icon-delete-profile2 {
  &:before {
    content: $ctc-icon-delete-profile2;
  }
}
.ctc-icon-delete-profile3 {
  &:before {
    content: $ctc-icon-delete-profile3;
  }
}
.ctc-icon-delete {
  &:before {
    content: $ctc-icon-delete;
  }
}
.ctc-icon-delete2 {
  &:before {
    content: $ctc-icon-delete2;
  }
}
.ctc-icon-delete3 {
  &:before {
    content: $ctc-icon-delete3;
  }
}
.ctc-icon-dom-calendar {
  &:before {
    content: $ctc-icon-dom-calendar;
  }
}
.ctc-icon-dom-calendar2 {
  &:before {
    content: $ctc-icon-dom-calendar2;
  }
}
.ctc-icon-dom-calendar3 {
  &:before {
    content: $ctc-icon-dom-calendar3;
  }
}
.ctc-icon-download {
  &:before {
    content: $ctc-icon-download;
  }
}
.ctc-icon-download2 {
  &:before {
    content: $ctc-icon-download2;
  }
}
.ctc-icon-download3 {
  &:before {
    content: $ctc-icon-download3;
  }
}
.ctc-icon-edit {
  &:before {
    content: $ctc-icon-edit;
  }
}
.ctc-icon-edit2 {
  &:before {
    content: $ctc-icon-edit2;
  }
}
.ctc-icon-edit3 {
  &:before {
    content: $ctc-icon-edit3;
  }
}
.ctc-icon-email {
  &:before {
    content: $ctc-icon-email;
  }
}
.ctc-icon-email2 {
  &:before {
    content: $ctc-icon-email2;
  }
}
.ctc-icon-email3 {
  &:before {
    content: $ctc-icon-email3;
  }
}
.ctc-icon-emailsym {
  &:before {
    content: $ctc-icon-emailsym;
  }
}
.ctc-icon-emailsym2 {
  &:before {
    content: $ctc-icon-emailsym2;
  }
}
.ctc-icon-emailsym3 {
  &:before {
    content: $ctc-icon-emailsym3;
  }
}
.ctc-icon-event {
  &:before {
    content: $ctc-icon-event;
  }
}
.ctc-icon-event2 {
  &:before {
    content: $ctc-icon-event2;
  }
}
.ctc-icon-event3 {
  &:before {
    content: $ctc-icon-event3;
  }
}
.ctc-icon-exchanged {
  &:before {
    content: $ctc-icon-exchanged;
  }
}
.ctc-icon-exchanged2 {
  &:before {
    content: $ctc-icon-exchanged2;
  }
}
.ctc-icon-exchanged3 {
  &:before {
    content: $ctc-icon-exchanged3;
  }
}
.ctc-icon-filing {
  &:before {
    content: $ctc-icon-filing;
  }
}
.ctc-icon-filing2 {
  &:before {
    content: $ctc-icon-filing2;
  }
}
.ctc-icon-filing3 {
  &:before {
    content: $ctc-icon-filing3;
  }
}
.ctc-icon-form {
  &:before {
    content: $ctc-icon-form;
  }
}
.ctc-icon-form2 {
  &:before {
    content: $ctc-icon-form2;
  }
}
.ctc-icon-form3 {
  &:before {
    content: $ctc-icon-form3;
  }
}
.ctc-icon-handshake {
  &:before {
    content: $ctc-icon-handshake;
  }
}
.ctc-icon-handshake2 {
  &:before {
    content: $ctc-icon-handshake2;
  }
}
.ctc-icon-handshake3 {
  &:before {
    content: $ctc-icon-handshake3;
  }
}
.ctc-icon-history {
  &:before {
    content: $ctc-icon-history;
  }
}
.ctc-icon-history2 {
  &:before {
    content: $ctc-icon-history2;
  }
}
.ctc-icon-history3 {
  &:before {
    content: $ctc-icon-history3;
  }
}
.ctc-icon-image-file {
  &:before {
    content: $ctc-icon-image-file;
  }
}
.ctc-icon-image-file2 {
  &:before {
    content: $ctc-icon-image-file2;
  }
}
.ctc-icon-image-file3 {
  &:before {
    content: $ctc-icon-image-file3;
  }
}
.ctc-icon-inspection-plus {
  &:before {
    content: $ctc-icon-inspection-plus;
  }
}
.ctc-icon-inspection-plus2 {
  &:before {
    content: $ctc-icon-inspection-plus2;
  }
}
.ctc-icon-inspection-plus3 {
  &:before {
    content: $ctc-icon-inspection-plus3;
  }
}
.ctc-icon-internet {
  &:before {
    content: $ctc-icon-internet;
  }
}
.ctc-icon-internet2 {
  &:before {
    content: $ctc-icon-internet2;
  }
}
.ctc-icon-internet3 {
  &:before {
    content: $ctc-icon-internet3;
  }
}
.ctc-icon-layout-2col {
  &:before {
    content: $ctc-icon-layout-2col;
  }
}
.ctc-icon-layout-3col {
  &:before {
    content: $ctc-icon-layout-3col;
  }
}
.ctc-icon-layout-3colleft {
  &:before {
    content: $ctc-icon-layout-3colleft;
  }
}
.ctc-icon-layout-3colright {
  &:before {
    content: $ctc-icon-layout-3colright;
  }
}
.ctc-icon-layout-hero {
  &:before {
    content: $ctc-icon-layout-hero;
  }
}
.ctc-icon-layout-hero3col {
  &:before {
    content: $ctc-icon-layout-hero3col;
  }
}
.ctc-icon-layout-heroleft {
  &:before {
    content: $ctc-icon-layout-heroleft;
  }
}
.ctc-icon-layout-heroright {
  &:before {
    content: $ctc-icon-layout-heroright;
  }
}
.ctc-icon-Layout-icon {
  &:before {
    content: $ctc-icon-Layout-icon;
  }
}
.ctc-icon-layout-left {
  &:before {
    content: $ctc-icon-layout-left;
  }
}
.ctc-icon-layout-right {
  &:before {
    content: $ctc-icon-layout-right;
  }
}
.ctc-icon-layout-right3col {
  &:before {
    content: $ctc-icon-layout-right3col;
  }
}
.ctc-icon-library {
  &:before {
    content: $ctc-icon-library;
  }
}
.ctc-icon-library2 {
  &:before {
    content: $ctc-icon-library2;
  }
}
.ctc-icon-library3 {
  &:before {
    content: $ctc-icon-library3;
  }
}
.ctc-icon-mail {
  &:before {
    content: $ctc-icon-mail;
  }
}
.ctc-icon-mail2 {
  &:before {
    content: $ctc-icon-mail2;
  }
}
.ctc-icon-mobile {
  &:before {
    content: $ctc-icon-mobile;
  }
}
.ctc-icon-mobile2 {
  &:before {
    content: $ctc-icon-mobile2;
  }
}
.ctc-icon-mobile3 {
  &:before {
    content: $ctc-icon-mobile3;
  }
}
.ctc-icon-myoutboundcall {
  &:before {
    content: $ctc-icon-myoutboundcall;
  }
}
.ctc-icon-myoutboundcall2 {
  &:before {
    content: $ctc-icon-myoutboundcall2;
  }
}
.ctc-icon-myoutboundcall3 {
  &:before {
    content: $ctc-icon-myoutboundcall3;
  }
}
.ctc-icon-nocontact {
  &:before {
    content: $ctc-icon-nocontact;
  }
}
.ctc-icon-nocontact2 {
  &:before {
    content: $ctc-icon-nocontact2;
  }
}
.ctc-icon-nocontact3 {
  &:before {
    content: $ctc-icon-nocontact3;
  }
}
.ctc-icon-note {
  &:before {
    content: $ctc-icon-note;
  }
}
.ctc-icon-note2 {
  &:before {
    content: $ctc-icon-note2;
  }
}
.ctc-icon-note3 {
  &:before {
    content: $ctc-icon-note3;
  }
}
.ctc-icon-offers {
  &:before {
    content: $ctc-icon-offers;
  }
}
.ctc-icon-offers2 {
  &:before {
    content: $ctc-icon-offers2;
  }
}
.ctc-icon-offers3 {
  &:before {
    content: $ctc-icon-offers3;
  }
}
.ctc-icon-outboundcall {
  &:before {
    content: $ctc-icon-outboundcall;
  }
}
.ctc-icon-outboundcall2 {
  &:before {
    content: $ctc-icon-outboundcall2;
  }
}
.ctc-icon-outboundcall3 {
  &:before {
    content: $ctc-icon-outboundcall3;
  }
}
.ctc-icon-patch-map {
  &:before {
    content: $ctc-icon-patch-map;
  }
}
.ctc-icon-patch-map2 {
  &:before {
    content: $ctc-icon-patch-map2;
  }
}
.ctc-icon-patch-map3 {
  &:before {
    content: $ctc-icon-patch-map3;
  }
}
.ctc-icon-patch-review {
  &:before {
    content: $ctc-icon-patch-review;
  }
}
.ctc-icon-patch-review2 {
  &:before {
    content: $ctc-icon-patch-review2;
  }
}
.ctc-icon-patch-review3 {
  &:before {
    content: $ctc-icon-patch-review3;
  }
}
.ctc-icon-pdf-file {
  &:before {
    content: $ctc-icon-pdf-file;
  }
}
.ctc-icon-pdf-file2 {
  &:before {
    content: $ctc-icon-pdf-file2;
  }
}
.ctc-icon-pdf-file3 {
  &:before {
    content: $ctc-icon-pdf-file3;
  }
}
.ctc-icon-phone {
  &:before {
    content: $ctc-icon-phone;
  }
}
.ctc-icon-phone2 {
  &:before {
    content: $ctc-icon-phone2;
  }
}
.ctc-icon-phone3 {
  &:before {
    content: $ctc-icon-phone3;
  }
}
.ctc-icon-postbox {
  &:before {
    content: $ctc-icon-postbox;
  }
}
.ctc-icon-postbox2 {
  &:before {
    content: $ctc-icon-postbox2;
  }
}
.ctc-icon-postbox3 {
  &:before {
    content: $ctc-icon-postbox3;
  }
}
.ctc-icon-price {
  &:before {
    content: $ctc-icon-price;
  }
}
.ctc-icon-price2 {
  &:before {
    content: $ctc-icon-price2;
  }
}
.ctc-icon-price3 {
  &:before {
    content: $ctc-icon-price3;
  }
}
.ctc-icon-Print {
  &:before {
    content: $ctc-icon-Print;
  }
}
.ctc-icon-Print2 {
  &:before {
    content: $ctc-icon-Print2;
  }
}
.ctc-icon-Print3 {
  &:before {
    content: $ctc-icon-Print3;
  }
}
.ctc-icon-property_criteria {
  &:before {
    content: $ctc-icon-property_criteria;
  }
}
.ctc-icon-property_criteria2 {
  &:before {
    content: $ctc-icon-property_criteria2;
  }
}
.ctc-icon-property_criteria3 {
  &:before {
    content: $ctc-icon-property_criteria3;
  }
}
.ctc-icon-property-comp {
  &:before {
    content: $ctc-icon-property-comp;
  }
}
.ctc-icon-property-comp2 {
  &:before {
    content: $ctc-icon-property-comp2;
  }
}
.ctc-icon-property-comp3 {
  &:before {
    content: $ctc-icon-property-comp3;
  }
}
.ctc-icon-property-history {
  &:before {
    content: $ctc-icon-property-history;
  }
}
.ctc-icon-property-history2 {
  &:before {
    content: $ctc-icon-property-history2;
  }
}
.ctc-icon-property-history3 {
  &:before {
    content: $ctc-icon-property-history3;
  }
}
.ctc-icon-property-listing {
  &:before {
    content: $ctc-icon-property-listing;
  }
}
.ctc-icon-property-listing2 {
  &:before {
    content: $ctc-icon-property-listing2;
  }
}
.ctc-icon-property-listing3 {
  &:before {
    content: $ctc-icon-property-listing3;
  }
}
.ctc-icon-property-match {
  &:before {
    content: $ctc-icon-property-match;
  }
}
.ctc-icon-property-match2 {
  &:before {
    content: $ctc-icon-property-match2;
  }
}
.ctc-icon-property-match3 {
  &:before {
    content: $ctc-icon-property-match3;
  }
}
.ctc-icon-property-sale {
  &:before {
    content: $ctc-icon-property-sale;
  }
}
.ctc-icon-property-sale2 {
  &:before {
    content: $ctc-icon-property-sale2;
  }
}
.ctc-icon-property-sale3 {
  &:before {
    content: $ctc-icon-property-sale3;
  }
}
.ctc-icon-property-search {
  &:before {
    content: $ctc-icon-property-search;
  }
}
.ctc-icon-property-search2 {
  &:before {
    content: $ctc-icon-property-search2;
  }
}
.ctc-icon-property-search3 {
  &:before {
    content: $ctc-icon-property-search3;
  }
}
.ctc-icon-property-tick {
  &:before {
    content: $ctc-icon-property-tick;
  }
}
.ctc-icon-property-tick2 {
  &:before {
    content: $ctc-icon-property-tick2;
  }
}
.ctc-icon-property-tick3 {
  &:before {
    content: $ctc-icon-property-tick3;
  }
}
.ctc-icon-property {
  &:before {
    content: $ctc-icon-property;
  }
}
.ctc-icon-property2 {
  &:before {
    content: $ctc-icon-property2;
  }
}
.ctc-icon-property3 {
  &:before {
    content: $ctc-icon-property3;
  }
}
.ctc-icon-questionmark {
  &:before {
    content: $ctc-icon-questionmark;
  }
}
.ctc-icon-questionmark2 {
  &:before {
    content: $ctc-icon-questionmark2;
  }
}
.ctc-icon-questionmark3 {
  &:before {
    content: $ctc-icon-questionmark3;
  }
}
.ctc-icon-remove {
  &:before {
    content: $ctc-icon-remove;
  }
}
.ctc-icon-report {
  &:before {
    content: $ctc-icon-report;
  }
}
.ctc-icon-report2 {
  &:before {
    content: $ctc-icon-report2;
  }
}
.ctc-icon-report3 {
  &:before {
    content: $ctc-icon-report3;
  }
}
.ctc-icon-save {
  &:before {
    content: $ctc-icon-save;
  }
}
.ctc-icon-save2 {
  &:before {
    content: $ctc-icon-save2;
  }
}
.ctc-icon-save3 {
  &:before {
    content: $ctc-icon-save3;
  }
}
.ctc-icon-search {
  &:before {
    content: $ctc-icon-search;
  }
}
.ctc-icon-search2 {
  &:before {
    content: $ctc-icon-search2;
  }
}
.ctc-icon-search3 {
  &:before {
    content: $ctc-icon-search3;
  }
}
.ctc-icon-setup {
  &:before {
    content: $ctc-icon-setup;
  }
}
.ctc-icon-setup2 {
  &:before {
    content: $ctc-icon-setup2;
  }
}
.ctc-icon-setup3 {
  &:before {
    content: $ctc-icon-setup3;
  }
}
.ctc-icon-sms {
  &:before {
    content: $ctc-icon-sms;
  }
}
.ctc-icon-sms2 {
  &:before {
    content: $ctc-icon-sms2;
  }
}
.ctc-icon-sms3 {
  &:before {
    content: $ctc-icon-sms3;
  }
}
.ctc-icon-sold {
  &:before {
    content: $ctc-icon-sold;
  }
}
.ctc-icon-sold2 {
  &:before {
    content: $ctc-icon-sold2;
  }
}
.ctc-icon-sold3 {
  &:before {
    content: $ctc-icon-sold3;
  }
}
.ctc-icon-tasklist {
  &:before {
    content: $ctc-icon-tasklist;
  }
}
.ctc-icon-tasklist2 {
  &:before {
    content: $ctc-icon-tasklist2;
  }
}
.ctc-icon-tasklist3 {
  &:before {
    content: $ctc-icon-tasklist3;
  }
}
.ctc-icon-touchpoints {
  &:before {
    content: $ctc-icon-touchpoints;
  }
}
.ctc-icon-touchpoints2 {
  &:before {
    content: $ctc-icon-touchpoints2;
  }
}
.ctc-icon-touchpoints3 {
  &:before {
    content: $ctc-icon-touchpoints3;
  }
}
.ctc-icon-upload {
  &:before {
    content: $ctc-icon-upload;
  }
}
.ctc-icon-upload2 {
  &:before {
    content: $ctc-icon-upload2;
  }
}
.ctc-icon-upload3 {
  &:before {
    content: $ctc-icon-upload3;
  }
}
.ctc-icon-warning {
  &:before {
    content: $ctc-icon-warning;
  }
}
.ctc-icon-warning2 {
  &:before {
    content: $ctc-icon-warning2;
  }
}
.ctc-icon-warning3 {
  &:before {
    content: $ctc-icon-warning3;
  }
}

