$icomoon-font-path: "fonts" !default;

$ctc-icon-favourite: "\ea03";
$ctc-icon-favourite2: "\ea04";
$ctc-icon-property-star4: "\ea05";
$ctc-icon-ic_filter: "\ea02";
$ctc-icon-property-star: "\e9ff";
$ctc-icon-property-star2: "\ea00";
$ctc-icon-property-star3: "\ea01";
$ctc-icon-add4: "\e9fc";
$ctc-icon-delete4: "\e9fd";
$ctc-icon-deselect4: "\e9fe";
$ctc-icon-deselect: "\e9f9";
$ctc-icon-deselect2: "\e9fa";
$ctc-icon-deselect3: "\e9fb";
$ctc-icon-mail3: "\e900";
$ctc-icon-abn: "\e901";
$ctc-icon-abn2: "\e902";
$ctc-icon-abn3: "\e903";
$ctc-icon-add: "\e904";
$ctc-icon-add2: "\e905";
$ctc-icon-add3: "\e906";
$ctc-icon-advert: "\e907";
$ctc-icon-advert2: "\e908";
$ctc-icon-advert3: "\e909";
$ctc-icon-agent: "\e90a";
$ctc-icon-agent2: "\e90b";
$ctc-icon-agent3: "\e90c";
$ctc-icon-arrow-bottom: "\e90d";
$ctc-icon-arrow-left: "\e90e";
$ctc-icon-arrow-right: "\e90f";
$ctc-icon-arrow-top: "\e910";
$ctc-icon-attachment: "\e911";
$ctc-icon-attachment2: "\e912";
$ctc-icon-attachment3: "\e913";
$ctc-icon-auction: "\e914";
$ctc-icon-auction2: "\e915";
$ctc-icon-auction3: "\e916";
$ctc-icon-auctiondate: "\e917";
$ctc-icon-auctiondate2: "\e918";
$ctc-icon-auctiondate3: "\e919";
$ctc-icon-backspace: "\e91a";
$ctc-icon-backspace2: "\e91b";
$ctc-icon-backspace3: "\e91c";
$ctc-icon-baths: "\e91d";
$ctc-icon-baths2: "\e91e";
$ctc-icon-baths3: "\e91f";
$ctc-icon-beds: "\e920";
$ctc-icon-beds2: "\e921";
$ctc-icon-beds3: "\e922";
$ctc-icon-bin: "\e923";
$ctc-icon-bin2: "\e924";
$ctc-icon-bin3: "\e925";
$ctc-icon-birthday: "\e926";
$ctc-icon-birthday2: "\e927";
$ctc-icon-birthday3: "\e928";
$ctc-icon-broadcast: "\e929";
$ctc-icon-broadcast2: "\e92a";
$ctc-icon-broadcast3: "\e92b";
$ctc-icon-calendar: "\e92c";
$ctc-icon-calendar2: "\e92d";
$ctc-icon-calendar3: "\e92e";
$ctc-icon-calllist: "\e92f";
$ctc-icon-calllist2: "\e930";
$ctc-icon-calllist3: "\e931";
$ctc-icon-candidate-tick: "\e932";
$ctc-icon-candidate-tick2: "\e933";
$ctc-icon-candidate-tick3: "\e934";
$ctc-icon-cars: "\e935";
$ctc-icon-cars2: "\e936";
$ctc-icon-cars3: "\e937";
$ctc-icon-client-history: "\e938";
$ctc-icon-client-history2: "\e939";
$ctc-icon-client-history3: "\e93a";
$ctc-icon-client-inspections: "\e93b";
$ctc-icon-client-inspections2: "\e93c";
$ctc-icon-client-inspections3: "\e93d";
$ctc-icon-client-manage: "\e93e";
$ctc-icon-client-manage2: "\e93f";
$ctc-icon-client-manage3: "\e940";
$ctc-icon-client: "\e941";
$ctc-icon-client2: "\e942";
$ctc-icon-client3: "\e943";
$ctc-icon-clients3: "\e944";
$ctc-icon-commercial: "\e945";
$ctc-icon-commercial2: "\e946";
$ctc-icon-commercial3: "\e947";
$ctc-icon-company: "\e948";
$ctc-icon-company2: "\e949";
$ctc-icon-company3: "\e94a";
$ctc-icon-companyposition: "\e94b";
$ctc-icon-companyposition2: "\e94c";
$ctc-icon-companyposition3: "\e94d";
$ctc-icon-contact-yes: "\e94e";
$ctc-icon-contact-yes2: "\e94f";
$ctc-icon-contact-yes3: "\e950";
$ctc-icon-contact: "\e951";
$ctc-icon-contact2: "\e952";
$ctc-icon-contact3: "\e953";
$ctc-icon-delete-profile: "\e954";
$ctc-icon-delete-profile2: "\e955";
$ctc-icon-delete-profile3: "\e956";
$ctc-icon-delete: "\e957";
$ctc-icon-delete2: "\e958";
$ctc-icon-delete3: "\e959";
$ctc-icon-dom-calendar: "\e95a";
$ctc-icon-dom-calendar2: "\e95b";
$ctc-icon-dom-calendar3: "\e95c";
$ctc-icon-download: "\e95d";
$ctc-icon-download2: "\e95e";
$ctc-icon-download3: "\e95f";
$ctc-icon-edit: "\e960";
$ctc-icon-edit2: "\e961";
$ctc-icon-edit3: "\e962";
$ctc-icon-email: "\e963";
$ctc-icon-email2: "\e964";
$ctc-icon-email3: "\e965";
$ctc-icon-emailsym: "\e966";
$ctc-icon-emailsym2: "\e967";
$ctc-icon-emailsym3: "\e968";
$ctc-icon-event: "\e969";
$ctc-icon-event2: "\e96a";
$ctc-icon-event3: "\e96b";
$ctc-icon-exchanged: "\e96c";
$ctc-icon-exchanged2: "\e96d";
$ctc-icon-exchanged3: "\e96e";
$ctc-icon-filing: "\e96f";
$ctc-icon-filing2: "\e970";
$ctc-icon-filing3: "\e971";
$ctc-icon-form: "\e972";
$ctc-icon-form2: "\e973";
$ctc-icon-form3: "\e974";
$ctc-icon-handshake: "\e975";
$ctc-icon-handshake2: "\e976";
$ctc-icon-handshake3: "\e977";
$ctc-icon-history: "\e978";
$ctc-icon-history2: "\e979";
$ctc-icon-history3: "\e97a";
$ctc-icon-image-file: "\e97b";
$ctc-icon-image-file2: "\e97c";
$ctc-icon-image-file3: "\e97d";
$ctc-icon-inspection-plus: "\e97e";
$ctc-icon-inspection-plus2: "\e97f";
$ctc-icon-inspection-plus3: "\e980";
$ctc-icon-internet: "\e981";
$ctc-icon-internet2: "\e982";
$ctc-icon-internet3: "\e983";
$ctc-icon-layout-2col: "\e984";
$ctc-icon-layout-3col: "\e985";
$ctc-icon-layout-3colleft: "\e986";
$ctc-icon-layout-3colright: "\e987";
$ctc-icon-layout-hero: "\e988";
$ctc-icon-layout-hero3col: "\e989";
$ctc-icon-layout-heroleft: "\e98a";
$ctc-icon-layout-heroright: "\e98b";
$ctc-icon-Layout-icon: "\e98c";
$ctc-icon-layout-left: "\e98d";
$ctc-icon-layout-right: "\e98e";
$ctc-icon-layout-right3col: "\e98f";
$ctc-icon-library: "\e990";
$ctc-icon-library2: "\e991";
$ctc-icon-library3: "\e992";
$ctc-icon-mail: "\e993";
$ctc-icon-mail2: "\e994";
$ctc-icon-mobile: "\e995";
$ctc-icon-mobile2: "\e996";
$ctc-icon-mobile3: "\e997";
$ctc-icon-myoutboundcall: "\e998";
$ctc-icon-myoutboundcall2: "\e999";
$ctc-icon-myoutboundcall3: "\e99a";
$ctc-icon-nocontact: "\e99b";
$ctc-icon-nocontact2: "\e99c";
$ctc-icon-nocontact3: "\e99d";
$ctc-icon-note: "\e99e";
$ctc-icon-note2: "\e99f";
$ctc-icon-note3: "\e9a0";
$ctc-icon-offers: "\e9a1";
$ctc-icon-offers2: "\e9a2";
$ctc-icon-offers3: "\e9a3";
$ctc-icon-outboundcall: "\e9a4";
$ctc-icon-outboundcall2: "\e9a5";
$ctc-icon-outboundcall3: "\e9a6";
$ctc-icon-patch-map: "\e9a7";
$ctc-icon-patch-map2: "\e9a8";
$ctc-icon-patch-map3: "\e9a9";
$ctc-icon-patch-review: "\e9aa";
$ctc-icon-patch-review2: "\e9ab";
$ctc-icon-patch-review3: "\e9ac";
$ctc-icon-pdf-file: "\e9ad";
$ctc-icon-pdf-file2: "\e9ae";
$ctc-icon-pdf-file3: "\e9af";
$ctc-icon-phone: "\e9b0";
$ctc-icon-phone2: "\e9b1";
$ctc-icon-phone3: "\e9b2";
$ctc-icon-postbox: "\e9b3";
$ctc-icon-postbox2: "\e9b4";
$ctc-icon-postbox3: "\e9b5";
$ctc-icon-price: "\e9b6";
$ctc-icon-price2: "\e9b7";
$ctc-icon-price3: "\e9b8";
$ctc-icon-Print: "\e9b9";
$ctc-icon-Print2: "\e9ba";
$ctc-icon-Print3: "\e9bb";
$ctc-icon-property_criteria: "\e9bc";
$ctc-icon-property_criteria2: "\e9bd";
$ctc-icon-property_criteria3: "\e9be";
$ctc-icon-property-comp: "\e9bf";
$ctc-icon-property-comp2: "\e9c0";
$ctc-icon-property-comp3: "\e9c1";
$ctc-icon-property-history: "\e9c2";
$ctc-icon-property-history2: "\e9c3";
$ctc-icon-property-history3: "\e9c4";
$ctc-icon-property-listing: "\e9c5";
$ctc-icon-property-listing2: "\e9c6";
$ctc-icon-property-listing3: "\e9c7";
$ctc-icon-property-match: "\e9c8";
$ctc-icon-property-match2: "\e9c9";
$ctc-icon-property-match3: "\e9ca";
$ctc-icon-property-sale: "\e9cb";
$ctc-icon-property-sale2: "\e9cc";
$ctc-icon-property-sale3: "\e9cd";
$ctc-icon-property-search: "\e9ce";
$ctc-icon-property-search2: "\e9cf";
$ctc-icon-property-search3: "\e9d0";
$ctc-icon-property-tick: "\e9d1";
$ctc-icon-property-tick2: "\e9d2";
$ctc-icon-property-tick3: "\e9d3";
$ctc-icon-property: "\e9d4";
$ctc-icon-property2: "\e9d5";
$ctc-icon-property3: "\e9d6";
$ctc-icon-questionmark: "\e9d7";
$ctc-icon-questionmark2: "\e9d8";
$ctc-icon-questionmark3: "\e9d9";
$ctc-icon-remove: "\e9da";
$ctc-icon-report: "\e9db";
$ctc-icon-report2: "\e9dc";
$ctc-icon-report3: "\e9dd";
$ctc-icon-save: "\e9de";
$ctc-icon-save2: "\e9df";
$ctc-icon-save3: "\e9e0";
$ctc-icon-search: "\e9e1";
$ctc-icon-search2: "\e9e2";
$ctc-icon-search3: "\e9e3";
$ctc-icon-setup: "\e9e4";
$ctc-icon-setup2: "\e9e5";
$ctc-icon-setup3: "\e9e6";
$ctc-icon-sms: "\e9e7";
$ctc-icon-sms2: "\e9e8";
$ctc-icon-sms3: "\e9e9";
$ctc-icon-sold: "\e9ea";
$ctc-icon-sold2: "\e9eb";
$ctc-icon-sold3: "\e9ec";
$ctc-icon-tasklist: "\e9ed";
$ctc-icon-tasklist2: "\e9ee";
$ctc-icon-tasklist3: "\e9ef";
$ctc-icon-touchpoints: "\e9f0";
$ctc-icon-touchpoints2: "\e9f1";
$ctc-icon-touchpoints3: "\e9f2";
$ctc-icon-upload: "\e9f3";
$ctc-icon-upload2: "\e9f4";
$ctc-icon-upload3: "\e9f5";
$ctc-icon-warning: "\e9f6";
$ctc-icon-warning2: "\e9f7";
$ctc-icon-warning3: "\e9f8";

