<nav class="navbar navbar-dark bg-primary navbar-static-top" ng-if="isLightningEnabled">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand no-padding-left no-padding-top"  ng-disabled="true">
                <img src="{{logoURL}}" />
            </a>
        </div>
        <div class="navbar-right">
            <h4 class="navbar-text">{{concatTitleDescription()}}</h4>
            <p class="navbar-brand no-margin-bottom">
                <button title="{{ctcReturnAlt? ctcReturnAlt:'Exit'}}" class="glyphicon glyphicon-remove ctc-action-btn no-padding-top" data-ng-click="returnPage()"></button>
            </p>
        </div>
    </div>
</nav>
