
<form autocomplete="off" name="RPDataError" title="{{dialogTitle}}" data-ctc-modal="acknowledgeRPSessionAlert()"  data-save-button-text="reload" conformation-dialog="true" novalidate="novalidate">

    <div class="form-horizontal" style="margin:20px 40px;">
        <div class="row">
            <div class="form-group clearfix">
                <div class="info">RP Data error, this error may be caused by session expire. Reload the page to login.</div>
            </div>
        </div>

    </div>

</form>
