/** selectableList styling**/
selectable-list {
    .selectableList{
        list-style-type: none;
        margin: 5px;
        padding: 5px;
        width: 95%;
        height:210px;
        overflow-y:scroll;
        border:1px solid lightgrey;

        > li {
            margin: 2px;
            padding: 0.4em;
        }
        & .ui-selected {
            background: #0069d9;
            color: #ffffff;
        }
        & .ui-selecting {
            background: #108dd9;
        }
    }
}
