<div ng-if="$ctrl.showMissingFieldsAlert">
    <div class="pull-right">
        <button class="ctc-action-btn" ng-click="($ctrl.showMissingFieldsAlert = !$ctrl.showMissingFieldsAlert)"><i class="ctc-icon-remove ctc-xs-icon"></i> </button>
    </div>
    <div  class="alert alert-warning" role="alert">
        <p>
        Some fields in your saved search are no longer showing.
        Updating the saved search will remove these fields.
        </p>
       <p>
           Fields no longer showing:
        <span ng-repeat="item in $ctrl.missingFields">{{item.field}} <i ng-if="!$last">, </i></span>
       </p>
    </div>
</div>
