<div class="modal-header">
    <button class="pull-right close ctc-action-btn glyphicon glyphicon-remove" ng-click="$dismiss()"></button>
    <h3 class="modal-title">Save Search</h3>

</div>
<div class="modal-body">
 <form name="saveSearchTemplateForm" class="form-inline">
     <div class="form-group" ng-class="{'has-error': saveSearchTemplateForm.$invalid}">
         <label class="control-label">Name</label>
         <input class="form-control" name="templateName" ng-model="searchTemplate.Name" ng-change="changeName(saveSearchTemplateForm.templateName, searchTemplate, templateList )">
         <span id="templateNameHelpBlock" class="help-block" ng-show="saveSearchTemplateForm.$invalid">Name already exist in the saved search list.</span>
     </div>

 </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close(searchTemplate)" data-ng-disabled="saveSearchTemplateForm.$invalid">Save</button>
    <button class="btn btn-cancel" ng-click="$dismiss()">Cancel</button>
</div>
