.searchForm{
    .dividerSection {
        border-top: 1px solid #dddddd;
        padding-top: 10px;
        height: 28px;
        line-height: 28px;
        & label{
            line-height: inherit;
            height: inherit;
        }
        & span{
            height: inherit;
            float: right;
            font-size: inherit;
        }

    }

    #criteriaFields{
        height:400px;
        overflow-y:auto;
        overflow-x:hidden;
    }

    & .fieldName{
        height: auto;
        white-space: pre-wrap;
        min-height: 34px;
    }

}

.inputWithClearBtn{
    position: relative;
    & .clearBtn{
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 20px;
        color: #777;
        background: #fff;

    }
}
