<busy-loading-view></busy-loading-view>
<div class="row">
<div class="col-md-3">
<vacancy-detail ng-if="vacancyId" vacancy-id="vacancyId"></vacancy-detail>
<search-template
    on-delete="deleteSavedSearch"
    on-select="selectSavedSearch"
    source-lists="savedSearchList"
    pre-selected-item="selectedSearchTemplate.Id">
</search-template>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="ctc-icon-search ctc-md-icon vertical-align-middle"></span>
                <span class="vertical-align-middle">Search Builder</span>
                <span class="pull-right">
                    <button title="Update Search" class="ctc-action-btn btn btn-link vertical-align-middle" ng-click="updateSearchTemplate()" ng-show="(draftSearchTemplateFalg && selectedSearchTemplate.Id !== -1)">
                        <span class=" ctc-sm-icon glyphicon glyphicon-repeat vertical-align-middle"></span>
                        <span class="vertical-align-middle">Update Search</span>
                    </button>
                    <button title="Save Search" class="ctc-action-btn btn btn-link vertical-align-middle no-padding" data-ng-click="newSearchTemplate()" >
                        <span class="ctc-icon-save3  ctc-md-icon vertical-align-middle"></span>
                        <span class="vertical-align-middle">Save Search</span>
                    </button>
                    <a href="https://s3-ap-southeast-2.amazonaws.com/ctcpeoplehelper/Help_Guide_for_People_Search.pdf" target="_blank" title="Help Guide" class="ctc-icon-questionmark ctc-lg-icon ctc-action-btn btn btn-link vertical-align-middle no-padding"></a>
                </span>


            </h3>
        </div>
        <div class="panel-body">
            <missing-fields template-fields="templateFields" criteria-fields="fieldsList"></missing-fields>
            <form name="searchForm" class="form-horizontal searchForm" ng-submit="stopSubmit($event)">

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="keywordField" class="control-label">Resume Keyword Search</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="inputWithClearBtn">
                            <input type="text" class="form-control" id="keywordField" name="keywordField" placeholder="Keywords" ng-model="searchKeywordString">
                            <span ng-show="searchKeywordString.length > 0" class="clearBtn ctc-icon-remove ctc-action-btn" ng-click="(searchKeywordString = '')"></span>
                        </div>
                    </div>
                </div>
                <!--- dynamic fields -->
                <div class="form-group">
                    <div class="col-md-12 dividerSection">
                        <label>Candidate Record Search</label>
                        <span class="btn btn-link ctc-action-btn btn-sm" ng-click="isCollapsedCriteriaSection = !isCollapsedCriteriaSection"><span ng-if="isCollapsedCriteriaSection">Show Search Criteria</span> <span ng-if="!isCollapsedCriteriaSection">Hide Search Criteria</span></span>
                    </div>
                </div>
                <div uib-collapse="isCollapsedCriteriaSection">
                    <div id="criteriaFields" >
                        <div class="form-group" ng-repeat="criteria in searchCriteriaList track by $index">
                            <div class="col-md-3">
                                <span ng-model="criteria.fieldObject.label" class="form-control fieldName" disabled="disabled" >{{criteria.fieldObject.label}}</span>
                               <!-- active when dynamic field available
                                <select type="text" id="fieldName" name="fieldName" class="form-control"
                                        ng-class="{'fieldName':(criteria.fieldObject.label.length > 25)}"
                                        ng-disabled="true"
                                        ng-model="criteria.fieldObject"
                                        ng-options="field as field.label for field in fieldsList"
                                        ng-change="changeFieldType(criteria)">
                                    <option value="">select Field</option>
                                </select>
                                -->
                            </div>
                            <input-template field-type="{{criteria.type}}"></input-template>
                        </div>
                    </div>
                </div>
                <div id="skillsSearchSection" ng-if="isSkillsSearchEnableFlag">
                <div class="form-group">
                    <div class="col-md-12 dividerSection">
                        <label>Skills Search </label>
                        <span class="btn btn-link ctc-action-btn btn-sm" ng-click="toggleCollapsedSkillSection()"><span ng-if="isCollapsedSkillSection">Show Skills Search</span> <span ng-if="!isCollapsedSkillSection">Hide Skills Search</span></span>
                    </div>
                </div>
                <div uib-collapse="isCollapsedSkillSection">
                   <skill-search skills-criteria="searchSkillsCriteria"
                                 skills-list="skillsList"
                                 on-update-skills-criteria="updateSkillsCriteria(skillQuery)"></skill-search>
                </div>
                <input type="text" class="invisible" ng-model="searchSkillsCriteria.query" name="skillQuery">
                </div>
            </form>
        </div>
        <div class="panel-footer center-block text-center">
            <button type="button" class="btn btn-default btn-success"  ng-click="submitSearchQuery(searchForm, $event)" data-ng-disabled="searchForm.$invalid">Search</button>
            <button type="button" class="btn btn-default btn-primary" ng-click="selectDefaultSearchTemplate()">Clear Search</button>
        </div>
    </div>

</div>
</div>
