.THIS {
    border-bottom: solid 1px #DDDDDD;
}

.THIS a{
    display:block;
    padding:20px;
    color:inherit;
}

.THIS a:active{
    background-color:#E8F4FB;
}

.THIS .cm-item{
	padding: 10px;
	color:inherit;

}

.THIS .cm-item:hover{
	background-color: white;
}

.THIS .cm-item:focus{
	background-color: white;
}

.THIS .selected{
	background-color: white;
}