<div class="filesUploader">
    <div class="upload-zone center-block text-center">
        <p> <span class="btn btn-link"> Drag and Drop files or click to browse</span></p>
        <p ng-if="acceptedFileType">Accepted file format: {{acceptedFileType.join(', ')}}</p>
        <p>(Max size 3MB per file)</p>
        <input type="file" ng-model="inputModel"  name="{{inputName}}" class="upload-input"  accept="{{acceptedFileType.join(',')}}" max-size="3">
    </div>
    <div ng-if="inputCtrl.$error.accept" class="notifications alert alert-danger">Invalid file format, please upload a file with following format: {{acceptedFileType.join(',')}} </div>
    <div ng-if="inputCtrl.$error.maxSize" class="notifications alert alert-danger">The file size should be smaller than 3MB.</div>
    <div class="files-list">
        <ul class="list-group">
            <li ng-repeat="file in files" class="list-group-item">
                {{file.name}}
            </li>
        </ul>
    </div>
</div>
