/*** ctcFilesUploaderDirective styles  ****/
file-input{
    .upload-zone{
        border: dashed 1px #1c94c4;
        min-height:80px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        position: relative;
        & input[type="file"] {
            position: absolute;
            top: 0;
            left:0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            opacity: 0;
            filter: alpha(opacity=0);
            color: #ffffff;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        & .upload-btn {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }
    }


    .files-list{
        display: block;
        margin-top:10px ;
    }
}

.filesUploader {

    >div:nth-child(2) {
        margin-top: 20px;
    }
}