<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <base href="/">


    <!-- bower:css -->
    <!-- endbower -->

    <link href="static/ctcPropertyGlyphicon/style.css" type="text/css" rel="stylesheet">
    <script src="static/phoneNumberFormater.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTA-F0hq7J01nkYE1mgu7j2ynIxJ9sb0U"></script>

    <!-- inject:css -->
    <!-- endinject -->

    <!-- bower:js -->
    <!-- endbower -->


    <!-- inject:js -->
    <!-- endinject -->

    <!-- build:remove:prod -->
    <script src="static/VisualForce/VFRemote.min.js"></script>
    <script src="static/VisualForce/RemoteActions.js"></script>
    <script src="//localhost:35729/livereload.js?snipver=1"></script>
    <!-- /build -->
</head>

<body data-ng-app="CTC.People.UploadActivityFiles" class="ctc-application" >
<ctc-header data-header-title="Upload Activity Files" ctc-return="{{returnActivityId}}" ctc-return-alt="Exit People Search"></ctc-header>
<div class="container">
    <upload-activity-files></upload-activity-files>
</div>
</body>
</html>
