<busy-loading-view></busy-loading-view>
<div class="notificationSection alert"  role="alert" ng-class="$ctrl.notification.cssClass">
    <ng-include src="$ctrl.notification.contents" autoscroll="$ctrl.notification.autoscroll"></ng-include>
</div>

<div class="panel panel-default" ng-if="$ctrl.showSkillGroup &&  $ctrl.isSkillParsingEnabled">
    <div class="panel-heading clearfix">
        <div class="panel-title">
            <span class="ctc-md-icon vertical-align-middle ctc-icon-candidate-tick"></span>
            <span class="vertical-align-middle">Select Skill Group</span>
        </div>
    </div>
    <div class="panel-body">
        <multi-select-picklist left-list="$ctrl.skillGroups" right-list="$ctrl.selectedSkills" display-label="skillGroupName" left-list-label="Available Skill Groups" right-list-label="Selected Skill Groups"></multi-select-picklist>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="panel-title">
            <span class="ctc-icon-upload ctc-md-icon vertical-align-middle"></span>
            <span class="vertical-align-middle">Select Resume to Upload </span>
        </div>
    </div>
    <div class="panel-body">
        <form enctype="multipart/form-data" id="importCandidate" name="importCandidate" action="{{$ctrl.formUrl}}" method="post" class="importCandidateForm">
            <input value="{{$ctrl.sfData.bucketName}}" name="bucketName" class="hidden"/>
            <input value="{{$ctrl.sfData.urlprefix}}" name="urlprefix" class="hidden"/>
            <input value="{{$ctrl.sfData.orgId}}" name="orgId" class="hidden"/>
            <input value="{{$ctrl.selectedSkillGroups}}" name="skillGroups" class="hidden"/>
            <input value="{{$ctrl.sfData.userId}}" name="userId" class="hidden"/>
            <file-input name="resume" ng-model="$ctrl.resumeFile" on-upload="$ctrl.onFileUploaded(files)" accepted-file-type="$ctrl.supportedFileType" valid-input="importCandidate.resume.$valid" accept="{{$ctrl.supportedFileType}}" max-size="3"></file-input>
        </form>
    </div>
    <div class="panel-footer center-block text-center">
        <button class="btn btn-default" ng-click="$ctrl.exitForm()">Exit</button>
        <button class="btn btn-success" ng-click="$ctrl.importCandidateDetails(importCandidate)" ng-disabled="importCandidate.$invalid ||  $ctrl.uploadFiles.length < 1">Import Candidate</button>
    </div>
</div>
