Import-Candidate{
    font-size: 12px !important;
    & .table {
        & td, th{
            font-size: 12px;
            & .form-group{
                margin-bottom: 0px;
            }
        }
    }
    & .notificationSection{
        min-height: 50px;
        & div.notificationMessage{
            margin-left: auto;
            margin-right: auto;
            display: table;
            & ul{
                margin: 0px;
                padding: 0px;
                list-style: inside;
            }
        }
    }

    & .panel-footer {
        & .btn{
            margin-right: 10px;
        }
    }
}
