<div>
    <ul>
        <li>This function will automatically create a Candidate Record using the resume.</li>
        <li>Through the parsing function, First Name, Last Name, Email, Mobile, Address and resume content will be updated in the record.</li>
        <li>Image or scanned files will not work.</li>
    </ul>
</div>
