<div>
    <b>Warning!</b> the candidate already exists in your system.
    <p>No record is created, however, the resume has been updated for this candidate.</p>
    <div class="center-block">
        <button class="btn btn-primary" ng-click="$ctrl.navToCandidate()">View Candidate Details</button>
    </div>
</div>
