/*** ctcFilesUploaderDirective styles  ****/
ctc-files-uploader{
    .upload-zone{
        border: dashed 1px #1c94c4;
        min-height:80px;
        padding-top: 30px;
        padding-bottom: 30px;
        cursor: pointer;
        position: relative;
        & input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            opacity: 0;
            filter: alpha(opacity=0);
            color: #ffffff;
            width: 0;
            height: 0;
        }
        & .upload-btn {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }
    }


    .files-list{
        display: block;
        margin-top:10px ;
    }
}
