<div class="filesUploader">
    <div class="upload-zone center-block text-center">
        <p> <span class="btn btn-link"> Drag and Drop files or click to browse</span></p>

        <input type="file"  name="{{inputName}}" class="upload-input">

        <p ng-if="acceptedFileType">Accepted file format: {{acceptedFileType}}</p>
        <p ng-if="maxFileSize && !warningMessage">Max file size: {{(maxFileSize/1000) + "MB"}}</p>
        <p ng-if="warningMessage">{{warningMessage}}</p>
    </div>
    <div ng-if="uploader.invalidFileType" class="notifications alert alert-danger">Invalid file format, please upload a file with following format {{acceptedFileType}} </div>
    <div ng-if="uploader.invalidFileSize" class="notifications alert alert-danger">Invalid file size, The file size should be smaller than {{(maxFileSize/1000) + "MB"}}</div>
    <div ng-if="showList" class="files-list">
        <ul class="list-group">
            <li ng-repeat="file in uploader.files" class="list-group-item">
                {{file.name}}
            </li>
        </ul>
    </div>
</div>
