upload-documents{
    .filesGird{
        font-size: 12px;
        & .inputCol{
            padding-right:8%;
        }
        & .row{
            padding-bottom: 5px;
            padding-top: 5px;
            border-top: 1px solid #ddd;
        }
        & div[class^="col-"]{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        & .header {
            border-top: 0px;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        & > .row:nth-child(even){
            background-color: #f9f9f9;
        }
    }

   & .requiredInput{
        position: relative;
        &:after{
            content: "*";
            color: #d43f3a;
            position: absolute;
            top:0;
            padding-left: 3px;
        }
    }
     & .panel-footer > button{
         margin-right: 10px;
     }

}
