<div>
    <div class="notificationSection alert"  role="alert" ng-class="$ctrl.notification.cssClass" >
        <ng-include src="$ctrl.notification.contentsUrl" autoscroll="true" ng-if="$ctrl.notification.contentsUrl"></ng-include>
        <div class="notificationMessage" ng-bind-html="$ctrl.notification.contents" ng-if="$ctrl.notification.contents"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <span class="ctc-icon-upload vertical-align-middle ctc-md-icon"></span>
                <span class="vertical-align-middle">Upload Documents</span>
            </div>
        </div>
        <div class="panel-body">

                <div class="col-md-12">
                    <ctc-files-uploader on-upload="$ctrl.onFilesUploaded(files)"  multiple="true" input-name="fileUploader" show-list warning-message="Maximum 5 files per upload (max size for resume is 3MB)"></ctc-files-uploader>
                </div>

                <div class="col-md-12 filesGird" ng-show="$ctrl.fileList.length > 0">
                    <div class="row header">
                        <div class="col-sm-5">Document Name</div>
                        <div class="col-sm-5">Document Type </div>
                        <div class="col-sm-2">Action</div>
                    </div>
                    <div class="row" ng-repeat="doc in $ctrl.fileList">
                        <form name="docuemntForm_{{$index}}">
                            <div class="col-sm-5">{{doc.fileData.name}}</div>
                            <div class="col-sm-5 inputCol"><select class="form-control" ng-model="doc.documentType" ng-options="key as key for (key, value ) in $ctrl.documentType" ng-change="$ctrl.onDocumentTypeChange(doc)"><option value="">Select Document type</option></select> </div>
                            <div class="col-sm-2"><button ng-click="$ctrl.removeFile(doc)" class="btn btn-danger btn-sm">Remove</button></div>
                            <div class="col-sm-12" ng-show="doc.invalidResumeFormat">
                                <div class="text-danger">Invalid resume file format, please upload a file with following format {{$ctrl.supportedFileType.join(',')}}</div>
                            </div>
                            <div class="col-sm-12" ng-show="doc.inValidResumeSize">
                                <div class="text-danger">Invalid resume file size, The resume file size should be smaller than 3MB</div>
                            </div>
                            <div class="col-sm-12" ng-if="(doc.documentType == $ctrl.resumeType) && $ctrl.showSkillGroup">
                                <div class="col-sm-12" ng-click="$ctrl.showSkillSection =! $ctrl.showSkillSection"><span class="pull-right btn btn-link btn-xs">{{$ctrl.showSkillSection?"Hide Skill Groups ":"Show Skill Groups "}}</span> </div>
                                <multi-select-picklist ng-show="$ctrl.showSkillSection" left-list="doc.resumeSkillGroups.skillGroups" right-list="doc.resumeSkillGroups.selectedSkillGroups" display-label="skillGroupName" left-list-label="Available Skill Groups" right-list-label="Selected Skill Groups"></multi-select-picklist>
                            </div>
                            <div class="col-sm-12 no-padding-left no-padding-right" ng-if="doc.additionalFields.length >0">
                                <input-template ng-repeat="field  in doc.additionalFields" field="field" field-type="{{field.typeApex}}"></input-template>
                            </div>
                            <div class="col-sm-12" ng-show="(doc.uploadStatus.complete === true) && (doc.uploadStatus.success === false)">
                                <div class="alert alert-danger">Upload Unsuccessful. Unable to process the request. Please try again later.</div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>

        <div class="panel-footer text-center">
            <button class="btn btn-default" ng-click="$ctrl.exitForm()">Exit</button>
            <button ng-if="$ctrl.fileList.length >0" ng-click="$ctrl.removeAllFiles()" class="btn btn-sm btn-danger">Remove All</button>
            <button class="btn btn-success" ng-click="$ctrl.submitDocuments()" data-ng-disabled=" $ctrl.fileList.length < 1">Upload</button>
        </div>
    </div>
</div>
