<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="ctc-icon-client-inspections ctc-md-icon vertical-align-middle"></span>
            <span class="vertical-align-middle">Vacancy Detail</span>
            <span class="btn btn-sm glyphicon pull-right"
                ng-class="{'glyphicon-minus':!isCollapsedVacancyDetail, 'glyphicon-plus':isCollapsedVacancyDetail}"
                type="button"
                ng-click="isCollapsedVacancyDetail = !isCollapsedVacancyDetail">
            </span>
        </h4>
    </div>

    <div class="panel-body" uib-collapse="isCollapsedVacancyDetail">
        <div>
            <label>Vacancy Name</label>
            <p>{{vacancyDetail.Name}}</p>
        </div>

        <div >
            <label>Client Name</label>
            <p>{{vacancyDetail.Company__r.Name}}</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Stage</label>
            </div>
            <div class="col-md-6">{{vacancyDetail.Stage__c}}</div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Start Date</label>
            </div>
            <div class="col-md-6">{{vacancyDetail.Start_Date__c | date:"dd/MM/yyyy"}}</div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>End Date</label>
            </div>
            <div class="col-md-6">{{vacancyDetail.End_Date__c | date:"dd/MM/yyyy"}}</div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Record Type</label>
            </div>
            <div class="col-md-6">{{vacancyDetail.RecordType.Name}}</div>
        </div>

    </div>
</div>
