<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="ctc-icon-search ctc-md-icon vertical-align-middle"></span>
            <span class="btn btn-sm glyphicon pull-right"
                  ng-class="{'glyphicon-minus':!isCollapsedTemplateSearch, 'glyphicon-plus':isCollapsedTemplateSearch}"
                  type="button"
                  ng-click="isCollapsedTemplateSearch = !isCollapsedTemplateSearch">
            </span>
            <span class="vertical-align-middle">My Saved Search</span>

        </h3>
    </div>

    <ul class="list-group listFixedHeight" uib-collapse="isCollapsedTemplateSearch">
        <li class="list-group-item" ng-repeat="listItem in sourceLists">
            <span style="padding-right: 5px;">
                <input type="radio" name="selectedItem" ng-model="$parent.selectedItem" ng-value="listItem.Id" ng-change="selectItem(listItem)"/>
            </span>
            <button ng-if="(listItem.Id !== -1)" class="pull-right ctc-action-btn glyphicon glyphicon-remove" ng-click="deleteItem(listItem)"></button>
            <span>{{listItem.Name}}</span>
            <span class="text-info" ng-if="listItem.draft"> (Draft) <button class="ctc-action-btn glyphicon glyphicon-refresh" ng-click="selectItem(listItem)"></button></span>
        </li>
    </ul>

</div>
