.importResult{
    & .panel-body{
        padding: 0;
    }
    & .alert{
        padding:20px;
        margin-bottom: 0px;
        border-radius: 0px;
        display:block;
        & div.notificationMessage{
            margin-left: auto;
            margin-right: auto;
            display: table;
        }
    }
    & .panel-footer a{
        margin-right: 15px;
    }
}
