<div class="ctc-md-preloader-container" ng-show="$busy.busyFlag()">
    <div class="ctc-md-preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
