<apex:page standardController="Contact" extensions="AddCandidatestoVacancyController" tabStyle="Contact" recordSetVar="candidates" >       
    <script>
    	function uploadids(){
    		var isready=true;
    		var vacancyJsonIds=JSON.stringify($j(".PageBordervacancy").scope().allrecordsmap);
    		var contactJsonIds=JSON.stringify($j(".PageBordercontact").scope().allrecordsmap);
    		if(vacancyJsonIds=="{}" || vacancyJsonIds.indexOf("true")==-1){
    			isready=false;
    			errormessageforNoVacancy();
    			
    		}else{
	    		if(contactJsonIds=="{}" ||contactJsonIds.indexOf("true")==-1){
	    			isready=false;
	    			errormessageforNoContact();
	    		}
    		}
    		if(isready){
    			updatetovacancy(contactJsonIds,vacancyJsonIds);
    		}
    		
    	}
    	var compcontactjsonstr='{!JSENCODE(contJsonStr)}';
    	jQuery( document ).ready(function() {
    		
    		if( compcontactjsonstr!=undefined && compcontactjsonstr!=''){
    			$j(".PageBordercontact").scope().allrecordsmap=JSON.parse(compcontactjsonstr);
    			updateCheckboxForCurrentPage('contact');
    		}
    	});
    </script>
    <apex:form >   
    <div class="ng-app"> 	
    	<!--<apex:actionFunction action="{!backPage}" name="backtopage" />-->
    	<apex:actionFunction action="{!onsearch}" name="onSearch" oncomplete="diSelectAll('vacancy')" rerender="vacancy,sendMailMsg" status="ajaxStatus" />
    	<apex:actionFunction action="{!errormessageforNoVacancy}" name="errormessageforNoVacancy" rerender="sendMailMsg" status="ajaxStatus" />
    	<apex:actionFunction action="{!errormessageforNoContact}" name="errormessageforNoContact" rerender="sendMailMsg" status="ajaxStatus" />
    	<apex:actionFunction action="{!insertdata}" name="updatetovacancy" rerender="sendMailMsg" status="ajaxStatus"> 
    		<apex:param name="contactjson" assignTo="{!jsoncontactstr}" value="" />
    		<apex:param name="vacancyjson" assignTo="{!jsonvacancystr}" value="" />
    	</apex:actionFunction>
    	<apex:outputLink value="{!backPage}">
   		<apex:image url="{!URLFOR($Resource.Backbutton)}" width="70" height="40"  />﻿ 
   		<!--<apex:image url="{!URLFOR($Resource.Backbutton)}" width="70" height="40" onclick="backtopage()" />﻿ -->
   		</apex:outputLink>
   		<div class="PageBordercontact ng-scope" ng-controller="PageBorderController" ng-init="initForObjects()">     
   		<apex:outputPanel id="contact" rendered="{!nocandidateselected}" >
   			<apex:sectionHeader title="Candidates:" />   		
    		<c:PagenitorBorder records="{!cands}" columnnames="{!contactcolumns}" variablenames="contact" defaultpage="10" />
    	</apex:outputPanel>
    	</div>
    	
    	<apex:sectionHeader title="Vacancy:" rendered="{!nocandidateselected}" />    	
    	<apex:panelGrid columns="3" id="search" rendered="{!nocandidateselected}" >
    		 <apex:outputtext value="Search:" />
    		 <apex:inputText value="{!clauseforvacancy}"   id="searchname"/>
    		 <input type="button" value="search" onclick="onSearch();"  /> 
    	</apex:panelGrid>
    	<div class="PageBordervacancy ng-scope" ng-controller="PageBorderController" ng-init="initForObjects()">         
    	<apex:outputPanel id="vacancy" rendered="{!nocandidateselected}" >
	    	<c:PagenitorBorder records="{!vacancies}" columnnames="{!vacancycolumns}" variablenames="vacancy" defaultpage="10" />
	    </apex:outputPanel>
	    </div> 
    	
    	<apex:outputPanel id="sendMailMsg" >
    		<apex:pageMessages />
	   </apex:outputPanel>
	   <apex:outputPanel rendered="{!nocandidateselected}" >
	    	<input type="button" name="Add Candidates to Vacancy" value="Add Candidates to Vacancy" id="requiredLoaderBG" onclick="uploadids()" />
	    </apex:outputPanel>	
	    </div>
	    </apex:form>
</apex:page>