<apex:page >
<style>

        .subactiveTab {background-color: #5CACEE; color:white; background-image:none; font-weight:bold;}

        .subinactiveTab { background-color: lightgrey; color:black; background-image:none}

    </style>
    <apex:tabPanel switchType="client" selectedTab="tab1" id="TabPanel" tabClass="subactiveTab" inactiveTabClass="subinactiveTab" >
    	<apex:tab label="Astute Payroll Account Assignment" name="tab1" id="tabOne">
            <apex:include pageName="AstutePayrollAccountAdmin"/>
        </apex:tab>
    </apex:tabPanel>
</apex:page>