<apex:page standardController="StyleCategory__c" extensions="AstuteAccSettingController">
    <apex:includeScript value="{!$Resource.jquery172}" />
    <apex:includeScript value="{!$Resource.validate}" />
    <script>
        
        $(document).ready(function(){
            
            $(".submit").click(function(){
                $("#finish_area").show();
                if(validate()===false){
                    return false;
                }
                $("#warning_message").hide();
                $("#success_message").show();
                saveAcc();
                return true;
            });
            
            $(".cancel").click(function(){
                cancel();
                return true;
            });
            
            
            function validate(){
                var result = true;
                var $required = $(".required");
                if($required !==null && $required.length > 0){
                    $required.each(function(){
                        var value = $(this).val();
                        if(value === null || (typeof value ==="string" && $.trim(value+'')==="")){
                            var label = $(this).parents("td.data2Col:first").prev().find("label").text();
                            $("#warning_message").text(label+" is required");
                            result = false;
                            return false;
                        }
                    });
                }
                return result;
            }
        });
    </script>
    
    <apex:form styleClass="mainForm">
        <apex:actionFunction name="saveAcc" action="{!save}" reRender="finishArea" status="finishStatus" />
        <apex:actionFunction name="cancel" action="{!cancel}"/>
        <apex:outputPanel >

             <apex:pageBlock title="Set Up AstutePayroll Account" mode="edit">
                            <apex:pageBlockButtons >
                                <input type="button" class="submit" value="SAVE"/>
                                <input type="button" class="cancel" value="CANCEL"/>
                            </apex:pageBlockButtons>
                            <apex:pageBlockSection columns="1">

                                <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="UserName"/>
                                    <apex:outputPanel >
                                        <div class = "requiredInput">
                                            <div class = "requiredBlock"></div>
                                            <apex:inputText value="{!userName}" size="50" styleClass="required"/>
                                        </div>
                                    </apex:outputPanel>
                                </apex:pageBlockSectionItem>

                                <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="API Key"/>
                                    <apex:outputPanel >
                                        <div class = "requiredInput">
                                            <div class = "requiredBlock"></div>
                                            <apex:inputSecret value="{!apiKey}" size="50"  styleClass="required"/>
                                        </div>
                                    </apex:outputPanel>
                                </apex:pageBlockSectionItem>
                               
                                <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Password"/>
                                    <apex:outputPanel >
                                        <div class = "requiredInput">
                                            <div class = "requiredBlock"></div>
                                            <apex:inputSecret value="{!password}" size="50" styleClass="required"/>
                                        </div>
                                        
                                    </apex:outputPanel>
                                </apex:pageBlockSectionItem>
                                
                                <apex:pageBlockSectionItem >
                                    <apex:outputLabel value=""/>
                                    <apex:outputPanel >
                                                <div id="finish_area" style="display:none">
                                                
                                                        <div id="warning_message" style="color:red; font-size:1.0em"></div>
                                                   
                                                    <div id="success_message" style="display:none">
                                                        <apex:outputPanel id="finishArea">
                                                            <apex:actionStatus id="finishStatus">
                                                                <apex:facet name="start">
                                                                    <apex:outputPanel >
                                                                     
                                                                            <apex:image url="{!$Resource.LoadingGif}"/>
                                                                   
                                                                    </apex:outputPanel>
                                                                </apex:facet>
                                                                
                                                                <apex:facet name="stop">
                                                                 
                                                                      Account has been saved successfully!
                                                                      <br/>
                                                                    <apex:outputLink value="{!URLFOR($Action.StyleCategory__c.View, styleCategoryId)}">Click this back to the record</apex:outputLink>
                                                                </apex:facet>
                                                            </apex:actionStatus>
                                                        </apex:outputPanel>
                                                  </div>
                                               </div>
                                    </apex:outputPanel>
                                </apex:pageBlockSectionItem>
                               
                            </apex:pageBlockSection>
                </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>
</apex:page>