<apex:page Controller="BulkEmailCandidateList" action="{!init}" sidebar="false"  tabStyle="Placement__c">
	<apex:includeScript value="{!$Resource.jquery172}" />
	<apex:includeScript value="{!$Resource.ctcStdJSLib_js}"/>
	<apex:includeScript value="{!$Resource.utils_js}"/>
	
    <!-- Added by Raymond START-->
        <apex:includeScript value="{!URLFOR($Resource.ckeditor,'ckeditor/ckeditor.js')}"/>
    <apex:styleSheet value="{!URLFOR($Resource.ctcStyle,'ctcStyle/css/ctcgeneral.css')}" />
    <apex:styleSheet value="{!URLFOR($Resource.ctcStyle,'ctcStyle/css/sendresume.css')}" />
    <!--<apex:styleSheet value="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"/>-->
    <!-- <apex:styleSheet value="https://fonts.googleapis.com/css?family=Cantarell:400,700" /> -->
    <apex:stylesheet value="{!$Resource.Cantarell}"/>
    <!-- Added by Raymond END-->
    
  <apex:form >
      <apex:outputPanel style="display:block;height:30px;font-size:20px;font-weight:bold;">
            <!--<apex:commandLink action="{!backToPreviouspage}" value="{!commandlinkvalue}"></apex:commandLink>-->
            <apex:outputlink value="{!returnurl}">{!commandlinkvalue}</apex:outputlink>
            
            <br/>
      </apex:outputPanel>
      
      <apex:sectionHeader title="Bulk Email" subtitle="Candidate List">
        <!-- <apex:image value="{!URLFOR($Resource.ctcStyle,'ctcStyle/images/logo.png')}" styleClass="ctc-logo"/> -->
      </apex:sectionHeader>
      <apex:outputPanel id="sendMailMsg">
            <apex:pageMessages rendered="{!msgSignalhasmessage}" escape="false"/>
      </apex:outputPanel>
      
      <apex:pageBlock id="searchResult">
      	<script>
          		/**
          			Everytime when this pageblock is rerendered, following block of
          			code will be reloaded and executed.
          			
          			Following code will remove event handler of ouputField to prevent
          			hover windows poping up and alter link open behavior to allow new page to be open
          			in a new tab
          		*/
          		$(document).ready(function(){
          			PC.sfpatches.removeStdSFHover("resultOutputField");
          			PC.sfpatches.addOpenInNewTabFeature("resultOutputField");
          		})            		
          </script>
          <apex:panelGrid columns="2" styleClass="paginator">
              <apex:outputText >Totally {!candidateIdListSize} candidates selected</apex:outputText>
          </apex:panelGrid> 
          <apex:pageblockTable value="{!ContactShowupList}" var="cand">
            <apex:column >
                  <apex:facet name="header">Action</apex:facet>
                  <apex:inputCheckbox value="{!cand.selected}" rendered="true"></apex:inputCheckbox>
            </apex:column>
            <apex:column headerValue="Name">
                    <a href = "javascript:PeopleCloud.utils.openWindowForSObject('{!cand.ContactID}','_blank');" >{!candidateWithExtraFieldsList[cand.ContactID].Name} </a>
                  <!--<apex:outputlink value="{!URLFOR($Action.Contact.View,cand.ContactID)}" target="_blank">{!candidateWithExtraFieldsList[cand.ContactID].Name}</apex:outputlink>-->
            </apex:column>
            <apex:repeat var="header" value="{!columnComponents}">
                <apex:column headerValue="{!header.label}" styleClass="empty-column-content">
                    
                    <apex:outputField value="{!candidateWithExtraFieldsList[cand.ContactID][header.apiname]}" id="resultOutputField"  title="{!candidateWithExtraFieldsList[cand.ContactID][header.apiname]}"/>
                </apex:column>
            </apex:repeat>
          </apex:pageblockTable>
          <apex:actionStatus id="pagingStatus">
              <apex:facet name="start">
                  <b>Loading</b>
                  <img src="{!$Resource.LoadingFB}" width="16" height="11" />
              </apex:facet>
              <apex:facet name="stop">
              </apex:facet>
          </apex:actionStatus>
          
          <apex:panelGrid columns="5" styleClass="paginator">
              <apex:commandButton value="First" action="{!firstPageOfCands}"   status="pagingStatus" rerender="searchResult"     disabled="{!!hasPrevPageOfCands}" />
              <apex:commandButton value="Previous" action="{!prevPageOfCands}" status="pagingStatus" rerender="searchResult"     disabled="{!!hasPrevPageOfCands}" />
              <apex:commandButton value="Next" action="{!nextPageOfCands}"     status="pagingStatus" rerender="searchResult"     disabled="{!!hasNextPageOfCands}" />
              <apex:commandButton value="Last" action="{!lastPageOfCands}"     status="pagingStatus" rerender="searchResult"     disabled="{!!hasNextPageOfCands}" />
              <apex:outputText >(displaying {!(pageNumber * size)+1-size}-{!IF((pageNumber * size)>noOfRecords, noOfRecords,(pageNumber * size))} of {!noOfRecords} records )</apex:outputText>
          </apex:panelGrid> 
          
          <apex:panelGrid columns="2" styleClass="paginator">
              <apex:outputText >Totally {!candidateIdListSize} candidates selected</apex:outputText>
          </apex:panelGrid> 
          
          <apex:pageBlockButtons >
          <apex:commandbutton value="Select Email Template" action="{!editEmailTemplate}"/>
          </apex:pageBlockButtons>                 
      </apex:pageBlock>
  </apex:form>
</apex:page>