<apex:page contentType="text/javascript" cache="false" expires="0">
   var catarray = new Array();
   var locarray = new Array();
   var LocCatArray = new Array();
   var postingcount = 0 ;
   
   $j = jQuery.noConflict();
   $j(document).ready(function(){
       //get json string from back-end
       var searchAreasJson = $j(".searchAreasJson").text();
       if(searchAreasJson==false){
       		return false;
       }
       var c1industriesJSon = $j(".c1industryJSon").text();
       var catOccsJson = $j(".catOccJson").text();
       
       //generate json object
       var searchAreasObjArray = eval("("+searchAreasJson+")");
       var c1industriesObjArray = eval("("+c1industriesJSon+")");
       var catOccsObjArray = eval("("+catOccsJson+")");
       
       //populate the search area
       var searchAreaOptions = "";
       for(var i=0; i< searchAreasObjArray.length; i++){
           var aid = searchAreasObjArray[i].aid;
           var name = searchAreasObjArray[i].name;
           searchAreaOptions += "<option value=\""+aid+"\">"+name+"</option>";
       }
       $j("#c1SearchAreaSelect").append(searchAreaOptions);
       
       //populate the industry
       var industryOptions =""; 
       for(var i=0; i< c1industriesObjArray.length; i++){
           var iid = c1industriesObjArray[i].iid;
           var name = c1industriesObjArray[i].name;
           industryOptions += "<option value=\""+iid+"\">"+name+"</option>";
       }
       $j("#c1IndustrySelect").append(industryOptions);
       
       
       //populat the cat
       for(var i=0; i< catOccsObjArray.length; i++){
           $j("#c1CatSelect").append("<option value=\""+catOccsObjArray[i].cid+"\">"+catOccsObjArray[i].cname+"</option>");          
        }
        
       // initial the occ
       for(var j=0; j< catOccsObjArray[0].occs.length ; j++){
           $j("#c1OccSelect").append("<option value=\""+catOccsObjArray[0].occs[j].oid+"\">"+catOccsObjArray[0].occs[j].oname+"</option>");
       }
        // populate occ according to cat
       $j("#c1CatSelect").change(function(){
           $j("#c1OccSelect").empty();
           var occArray = catOccsObjArray[this.selectedIndex].occs;            
           for(var j=0; j<(occArray.length); j++){
               $j("#c1OccSelect").append("<option value=\""+occArray[j].oid+"\">"+occArray[j].oname+"</option>");            
           }
        });
        
        $j("#c1OccSelect").change(function(){
            if($j(this).val().length==3){
                $j("#c1OccSelect option").not(":selected").attr("disabled", "disabled");                
            }
            if($j(this).val().length==2){
                $j("#c1OccSelect option").not(":selected").removeAttr("disabled");
            }
            if($j(this).val().length==1){
                $j("#c1OccSelect option").not(":selected").removeAttr("disabled");
            }
            if($j(this).val().length>3){
                alert("no more than 3 occupations");
                $j("#c1OccSelect option").removeAttr("selected");
            }
        });

       var cat_array = [];
       var occ_array = [];
       var area_array=[];
       var industry_array=[];
       
       var cat_label_array = [];
       var occ_label_array = [];
       var area_label_array = [];
       var industry_label_array = [];
       
       $j("#saveButtonC1").live("click",function(){

            var c1Content = getjobContentC1(jobContentC1IdString);
            //$j(".jobContentC1Class").val(c1Content);
            
            //UPDATES FOR CKEDITOR
            var c1Footer = getjobContentC1(onlineFooterC1IdString);
            //$j(".onlineFooterC1Class").val(c1Footer);
                   
            if(!validateC1()){
                return false;
            }
            
            if($j("#c1OccSelect").val()!=null){
            	var occ_number = $j("#c1OccSelect").val().length;
            }
            else{
            	return false;
            }
            for(var i=0; i < occ_number; i++){
                area_array.push($j("#c1SearchAreaSelect").val());
                area_label_array.push($j("#c1SearchAreaSelect option:selected").text());
                industry_array.push($j("#c1IndustrySelect").val());
                industry_label_array.push($j("#c1IndustrySelect option:selected").text());
                cat_array.push($j("#c1CatSelect").val());
                cat_label_array.push($j("#c1CatSelect option:selected").text());
                occ_array.push($j("#c1OccSelect").val()[i]);
                occ_label_array.push($j("#c1OccSelect option:selected").filter(":eq("+i+")").text());
            }
            
            var area_string = area_array.join("|||");
            var industry_string = industry_array.join("|||");
            var cat_string = cat_array.join("|||");
            var occ_string = occ_array.join("|||");
            
            var area_label_string = area_label_array.join(";");
            var industry_label_string = industry_label_array.join(";");
            var cat_label_string = cat_label_array.join(";");
            var occ_label_string = occ_label_array.join(";");
            
            
            $j(hiddenSearchAreaString).val(area_string);
            $j(hiddenIndustryString).val(industry_string);
            $j(hiddenCatString).val(cat_string);
            $j(hiddenOccString).val(occ_string);
            
            $j(hiddenSearchAreaLabelString).val(area_label_string);
            $j(hiddenIndustryLabelString).val(industry_label_string);
            $j(hiddenCatLabelString).val(cat_label_string);
            $j(hiddenOccLabelString).val(occ_label_string);
        
            area_array = [];
            industry_array = [];
            cat_array = [];
            occ_array = [];
            
            area_label_array = [];
            industry_label_array = [];
            cat_label_array = [];
            occ_label_array = [];
            
            area_string = '';
            industry_string = '';
            cat_string = '';
            occ_string = '';
            
            area_label_string = '';
            industry_label_string = '';
            cat_label_string = '';
            occ_label_string = '';
           
            if($j(".educationSelect :selected").val() == "none"){
                $j(hiddenEducationLabelString).val(null);
            }else{
             $j(hiddenEducationLabelString).val($j(".educationSelect :selected").text()); 
            }
            if($j(".workTypeSelect :selected").val() == "none"){
                $j(hiddenWorkTypeLabelString).val(null);
            }else{
                 $j(hiddenWorkTypeLabelString).val($j(".workTypeSelect :selected").text()); 
             }
            if($j(".workStatusSelect :selected").val() == "none"){
                $j(hiddenWorkStatusLabelString).val(null);
            }else{
              $j(hiddenWorkStatusLabelString).val($j(".workStatusSelect :selected").text());
            }
            if($j(".stateSelect :selected").val() == "none"){
                $j(hiddenStateLabelString).val(null);
            }else{
             $j(hiddenStateLabelString).val($j(".stateSelect :selected").text());
            }
            if($j(".workExperienceSelect :selected").val() == "none"){
                $j(hiddenWorkExperienceLabelString).val(null);
            }else{
               $j(hiddenWorkExperienceLabelString).val($j(".workExperienceSelect :selected").text());
            }
            
            if($j(".compensationTypeSelect :selected").val() == "none"){
                $j(hiddenSalarytypeString).val(null);
            }else{
               $j(hiddenSalarytypeString).val($j(".compensationTypeSelect :selected").text());
            }
            
            if(!$j(hiddenSearchAreaLabelString).val()){
              alert("please choose the Search Area, Industry, Category and Occupation");
              return false;
            }
           
           $j("#saveButtonC1").attr("disabled","disabled");
  		   $j("#postConfirmDlg").dialog({
							resizable: false,
							height:200,
							modal: true,
							autoOpen: false,
							buttons: {
								"Just Save": function() {
									$j(this).dialog("close");
			        		   		saveJobC1();
								},
								"Save & Post": function() {
									$j(this).dialog("close");
									saveAndPostC1();
								}
							},
							close: function(event,ui){
								$j("#saveButtonC1").removeAttr("disabled");
							}
						});
			$j("#postConfirmDlg").dialog("open");
				
		});
       
       $j(".c1RequiredMark").wrap("<div class=\"requiredInput\"></div>").before("<div class=\"requiredBlock\"></div>");
	});
    
    function afterSave(){
         $j("#saveButtonC1").removeAttr("disabled");
         CareerOne.loadPhyAddressAutoComplete();
    }
       
    function getjobContentC1(idString){
        if(typeof FCKeditorAPI  != 'undefined'){
    		var oEditor = FCKeditorAPI.GetInstance(idString);
        	return oEditor.GetXHTML(true);
    	}else if(typeof CKEDITOR  != 'undefined'){
    	     //UPDATES FOR CKEDITOR
	        var oEditor = CKEDITOR.instances[idString];
	       	var data =  oEditor.getData();
	       
	        $j("[id='"+idString+"']").val(data);
	        return data;
    	}
    }
       
      function validateC1(){
        var validateResult = true;
        /*$j(".c1Required").each(function(){          
            if(!$j(this).val()){
                validateResult = false;
                var temp = getC1Id($j(this).attr("id"));
                alert(temp+ " is required");
                return false;
            }
        });*/
        validResult = $j("[id$='theformC1']").valid();
        return validateResult
    }   
    
    function getC1Id(itemId){
        var index = itemId.lastIndexOf(":");    
        if(index==-1){
            return itemId.slice(2);
        }else{
            return itemId.slice(index+3);       
        }
    }
    
    function afterPost(){
         $j("#saveButtonC1").removeAttr("disabled");
		 CareerOne.loadPhyAddressAutoComplete();
    }

    
    function getTableColumnValue(the_table, rownum, colnum){
        try{
        var therow = the_table.rows[rownum];
        var thecell = therow.cells[colnum];
        //alert(thecell.childNodes[0].childNodes[0].nodeValue);
        var thecontent = thecell.childNodes[0].childNodes[0].nodeValue;
        //alert(thecontent);
        
        return thecontent;
        }
        catch(e)
        {
            alert(e.message);
        }
        return null;
    }

    function checkPostingNum(){
        var temp_arr = new Array();
        
        var thetable = document.getElementById("opts");
        var cellvalue1;
        var cellvalue2;
        var combine;
        var flag = false;
        //alert("length =" + thetable.rows.length);
        for(var nn = 0 ; nn < thetable.rows.length ; nn++ )
        {   combine = '';
            cellvalue1 = null;
            cellvalue2 = null;
            flag = false;
            cellvalue1 = getTableColumnValue(thetable,nn,0); //search area
            cellvalue2 = getTableColumnValue(thetable,nn,2); //classification
            
            if(cellvalue1 != null && cellvalue1 != "undefined" && cellvalue2 != null && cellvalue2 != "undefined")
            {
                combine = cellvalue1 +"|||"+ cellvalue2 ;
                
                for(var i = 0 ; i < temp_arr.length ; i++ )
                {
                    if(temp_arr[i] == combine)
                    {
                        flag = true;
                        break;
                        
                    }
                
                }
                if(!flag)
                {temp_arr.push(combine);}
                //alert(flag);
            }
        
        }
        return temp_arr.length;
    
    }
function checkNewClassification(sid,cid){
   
    if(sid != null && sid != 'undefined' && sid != '' && cid != null && cid != 'undefined' && cid != '')
    {   var isnew = true;
        var combine = sid + "__" + cid;
        for(var pp = 0; pp < LocCatArray.length ; pp++ )
        {
                    
             if(LocCatArray[pp] == combine)
             {
                isnew = false;
                break;
             }
        }
        return isnew;
    }
    else
    {
        alert("Error: please contact your admin!");
        return null;
    }
}
function removeClassification(thepairid)
{   var theindex ; 
    if(thepairid != null && thepairid != '')
    {
        for(var ppp = 0; ppp < LocCatArray.length ; ppp++ )
        {
                    
             if(LocCatArray[ppp] == thepairid)
             {
                theindex = ppp;
                break;
             }
        }
        if(theindex != null)
        {
            LocCatArray.splice(theindex,1); // remove the classification 
        
        }
    }
    
}
</apex:page>