<apex:page Controller="ApplicationForm"  action="{!InitSelection}">
<apex:includeScript value="{!$Resource.utils_js}"/>
<style>
    .EditA {text-decoration:none;}
    .EditA:link,
    .EditA:visited {
      border-top: 1px solid #cecece;
      border-bottom: 1px solid #4a4a4a;
      border-left: 1px solid #cecece;
      border-right: 1px solid #4a4a4a;
      color: green;
    }
    .EditA:hover {
      border-bottom: 1px solid #cecece;
      border-top: 1px solid #4a4a4a;
      border-right: 1px solid #cecece;
      border-left: 1px solid #4a4a4a;

      text-decoration:none;
      width:100%;
      color:blue;
      cursor:pointer;
    }
    .GoClass {text-decoration:none; color:green;}
    .GoClass:hover {
      width:100%;
      color:blue;
      cursor:pointer;
    }
</style>
  <div style="overflow:auto;">
  <apex:outputPanel id="outer">  
  <apex:form >
  
  
  <div id="availableCatDiv" >
      <div>
      <table>
      <tr><td>
      <apex:image url="{!$Resource.noticeicon}" />
      </td><td>
      <p style="font-size:8pt;font-family:'Comic Sans MS', cursive;">
      If a category is INACTIVE, that will be NOT shown in the dropdown of application form style selection on Ad posting page.<br/>
      Please press 'this style' link to check each category style below.</p>
      </td></tr></table>
      </div>
  <apex:outputPanel id="availableCatPanel">
  <apex:pageBlock title="Application Form Styles">
  <apex:pageBlockSection collapsible="true" columns="1">

    <apex:outputPanel >
    <apex:pageBlockTable value="{!scs}" var="s" >
         <apex:column >
            <apex:facet name="header">
            Active 
            </apex:facet>
            <apex:outputPanel >
                <apex:outputPanel rendered="{!s.Active__c}">
                    <img src="/img/checkbox_checked.gif" />  
                </apex:outputPanel>
            &nbsp;
            </apex:outputPanel>
                               
        </apex:column>
        <apex:column >
            <apex:facet name="header">
            Style Name
            </apex:facet>                      
            <apex:outputPanel >
            <b><apex:outputText value="{!s.Name}" /></b>
            </apex:outputPanel>
            
        </apex:column>
        <apex:column >
            <apex:facet name="header">
            Header Document
            </apex:facet>                       
            <apex:outputPanel >
            <apex:outputText value="{!s.Header_File__c}" />&nbsp;
            </apex:outputPanel>            
        </apex:column>
        <apex:column >
            <apex:facet name="header">
            Footer Document
            </apex:facet>                       
            <apex:outputPanel >
            <apex:outputText value="{!s.Footer_File__c}" />&nbsp;
            </apex:outputPanel>            
        </apex:column>
        <apex:column >
            <apex:facet name="header">
            Fields Selection Document
            </apex:facet>                       
            <apex:outputPanel >
            <apex:outputText value="{!s.Div_Html_File__c}" />&nbsp;
            </apex:outputPanel>            
        </apex:column>
        <apex:column >
            <apex:facet name="header">
            Preview
            </apex:facet>                       
            <apex:outputPanel >
            <a href="javascript: PeopleCloud.utils.openWindow('/apex/{!NameSpacePrefix}ViewStyle?id={!s.id}'),'_blank');"  class="EditA">&nbsp;This Style&nbsp;</a>
            </apex:outputPanel>            
        </apex:column>
        <apex:column >
            <apex:facet name="header">
            Action
            </apex:facet>                       
            <apex:outputPanel >
            
            <apex:commandLink reRender="resultPanel" action="{!getAllFields}" onclick="EditFormStart();" status="resultstatus" id="editlink" styleClass="EditA">
            &nbsp;Edit&nbsp;
            <apex:param name="mode" value="false"/>
            <apex:param name="sname" value="{!s.name}"/>
            <apex:param name="sid" value="{!s.Id}"/>
            </apex:commandLink>
            <font color="#A2B5CD">&nbsp;|&nbsp;</font>
            <apex:commandLink action="{!doActivate}" reRender="availableCatPanel" styleClass="EditA">
            <apex:outputPanel >
            <apex:outputText rendered="{!s.Active__c}">&nbsp;Deactivate&nbsp;</apex:outputText>
            <apex:outputText rendered="{!NOT(s.Active__c)}">&nbsp;Activate&nbsp;</apex:outputText>
            </apex:outputPanel>
            <apex:param name="theid" value="{!s.Id}"/>
            </apex:commandLink>
            
            
            </apex:outputPanel>            
        </apex:column>
        
    </apex:pageBlockTable>
    </apex:outputPanel>

    </apex:pageBlockSection>
   <!-- <apex:pageBlockButtons location="bottom">
        <apex:commandButton value="New Aplication Form Style" action="{!newCategory}" rendered="{!show_new_btn}" 
        oncomplete="document.getElementById('FormStyleDiv').style.display='block';document.getElementById('HtmlConfigDiv').style.display='block'; return true;" id="Newbtn" reRender="resultPanel" status="resultstatus"/>
        <script>var newbtn = document.getElementById("{!$Component.Newbtn}");</script>
        <apex:commandButton value="Update" action="{!doupdate}" reRender="availableCatPanel,updateres"/>
    </apex:pageBlockButtons>-->
  </apex:pageBlock>
  <apex:outputPanel id="updateres">
  <apex:outputText >{!updateinfo}</apex:outputText>
  </apex:outputPanel>
  <div >
      <span style="font-size:8pt;font-family:'Comic Sans MS', cursive;color:green;" >
      <apex:commandLink action="{!newCategory}" reRender="resultPanel" status="resultstatus" value="Configure New Aplication Form Style" onclick="document.getElementById('FormStyleDiv').style.display='block';" oncomplete="createNewStart();" styleClass="GoClass">
      
      </apex:commandLink>
      <img src="{!$Resource.clickicon}" width="30px" height="24px" title="Create a new online application form" style="vertical-align:middle;"/> 
      <br/>

      </span>&nbsp;&nbsp;
      <!--<a href="#steps" onclick="createNewStart();">
      <img src="{!$Resource.clickicon}" width="30px" height="24px" title="Create a new online application form" style="vertical-align:middle;"/> 
      </a>-->
      
  </div>
  </apex:outputPanel>
  </div>
  

  <div id="finishmsgDiv">
  </div>
  <!-----------------Start FormStyleDiv------------------------>
  <a name="steps"></a>
  <div id="FormStyleDiv" style="display:none;">



    <apex:outputPanel id="resultPanel">
      <apex:actionstatus id="resultstatus">
        <apex:facet name="start">
            <apex:outputPanel >
                <center>
                <apex:image url="{!$Resource.LoadingGif}" /> 
                </center>
            </apex:outputPanel>                       
            
        </apex:facet>
        <apex:facet name="stop">
        
         <apex:outputPanel id="Step1Panel">
          <apex:outputPanel id="InformationPanel" rendered="{!is_New}">
              
               <table id="tablenew" style="display:block;">
               <tr>
                <td>
                  <apex:image url="{!$Resource.noticeicon}" />
                </td>
                <td>
                
                  <span style="font-size:9pt;color:#3CB371;font-family:'Comic Sans MS', cursive;" >
                  <b>Creating New Style</b> &nbsp;&nbsp; </span>  <br/>
                     <!-- 
                  Step 1: select fields which will display on application form for candidate to fill in details.  
                  <br/>
                  <b>Note:</b> &nbsp;&nbsp;There are two fields which will be required on Application from -- <font color="red">"Email"</font> and <font color="red">"Last Name"</font>. System will add those into layout automatically.<br/> -->
                  There are 3 steps which lead you to the configuration of new application form.<br/>
                  <div style="background-color:#EAEAEA;" width="100%">
                  Step 1: Field Selection. All selected fields will appear on the online application form. Candidates submit resume online with all those information.
                  <br/>
                  Step 2: Upload Header and Footer. Both of them provide unique branding style for your company. 
                  <br/>
                  Step 3: Name the new application form. 
                  </div>
                </td>
              </tr>

            </table>
              
          </apex:outputPanel>
          <apex:outputPanel id="InformationPanel2" rendered="{!NOT(is_New)}">
            <table id="tableedit" style="display:block;">
              <tr>
                <td>
                  <apex:image url="{!$Resource.noticeicon}" />
                </td>
                <td>
                <span style="font-size:9pt;color:#3CB371;font-family:'Comic Sans MS', cursive;" >
                <b>Editing Style :&nbsp;&nbsp; {!styleName}</b></span> <br/>
                <div style="background-color:#EAEAEA;width:500px;">
                Step 1: <a href="#steps" onclick="displayandscroll('1');">Change fields selection</a>  <br/>
                Step 2: <a href="#steps" onclick="displayandscroll('2');" >Change files - Application form Header and / or Footer.</a><br/>
                Step 3: <a href="#steps" onclick="displayandscroll('3');" >Change form name.</a>
                </div> 
                </td>
              </tr>

            </table>

          </apex:outputPanel>
  
          <apex:outputPanel id="messagepanel">
            <font color="red">{!errmsg}</font>
          </apex:outputPanel>
          <a name="step1"></a>
          <div id="HtmlConfigDiv" style="display:none;">
            <br/>
            <p>
            <apex:outputPanel rendered="{!NOT(is_New)}">
                
            Step 1: Please select or unselect fields below and then press 'Next' button.
            
            
            </apex:outputPanel>
            <apex:outputPanel rendered="{!is_New}">
            
            Step 1: select fields which will display on application form for candidate to fill in details.  
                  <br/>
                  <b>Note:</b> &nbsp;&nbsp;There are two fields which will be required on Application from -- <font color="red">"Email"</font> and <font color="red">"Last Name"</font>. System will add those into layout automatically.<br/>
            </apex:outputPanel>
            </p>
            <!-----------------------------Display all contact fields in a table below for selection----------------------------------->
            
            <apex:outputPanel id="avalaiblePanel" >
              <apex:pageBlock >
                  <apex:pageBlockTable value="{!availableFields}" var="c">
                  <apex:column >

                    <apex:facet name="header">
                    Select
                    </apex:facet>            
                    <apex:outputPanel rendered="{!OR(c.FieldApi='LastName',c.FieldApi='Email')}">
                    <img src="/img/checkbox_checked.gif" />  
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!NOT(OR(c.FieldApi='LastName',c.FieldApi='Email'))}">
                    <apex:inputCheckbox value="{!c.selected}" id="thecheckbox"/>&nbsp;&nbsp;
                    </apex:outputPanel>
                    
                  </apex:column>

                  <apex:column >
                    
                    <apex:facet name="header">
                     SF.com Field Name
                    </apex:facet>
                    {!c.FieldLabel}&nbsp;
                  </apex:column>
                  
                  <apex:column >
                    
                    <apex:facet name="header">
                     SF.com Field Api
                    </apex:facet>
                    {!c.FieldApi}&nbsp;
                  </apex:column>
                  <apex:column >
                    
                    <apex:facet name="header">
                     SF.com Field Type
                    </apex:facet>
                    {!c.FieldType}&nbsp;
                  </apex:column>
                  <apex:column >
                    
                    <apex:facet name="header">
                     Is Custom Field
                    </apex:facet>
                    <apex:outputPanel rendered="{!c.IsCustom}">
                    <img src="/img/checkbox_checked.gif" />
                    </apex:outputPanel>
                    &nbsp;
                    
                  </apex:column>
                  <apex:column >
                    
                    <apex:facet name="header">
                     Is Nillable Field
                    </apex:facet>
                    <apex:outputPanel rendered="{!c.IsNillable}">
                    <img src="/img/checkbox_checked.gif" />          
                    </apex:outputPanel>
                    &nbsp;
                    
                  </apex:column>
                  <apex:column width="20%">
                    
                    <apex:facet name="header">
                     inline Help 
                    </apex:facet>
                    {!c.InlineHelp}&nbsp;
                  </apex:column>
                  </apex:pageBlockTable>
                <apex:pageBlockButtons location="top">
                    <apex:commandButton action="{!next}" value="Next" rerender="resultPanel" oncomplete="nextstep('2');"/>
                </apex:pageBlockButtons>
              
              </apex:pageBlock>
          
          </apex:outputPanel>
          </div>
          <!-----------------------------Display all contact fields in a table above for selection----------------------------------->
          <br/>
          <div id="nextDiv" style="display:none;">
          <apex:outputPanel id="NextPanel" >
            <apex:pageBlock >
                <apex:outputText >
                1) If that field is required on web application form, please tick the checkbox for "is Required".
                <br/> 
                2) Online Label is the label for each field which will display on the web application form. You may like to change it.<br/>
                3) Sequence is used to sort those fields. <br/>
                4) Please press "Preview" button to view your selections. 
                </apex:outputText>
                <apex:pageBlockTable value="{!resultFields}" var="r">
                    <apex:column >
                    <apex:facet name="header">
                    is Required?
                    </apex:facet>         
                    <apex:outputPanel rendered="{!r.isRequired}">
                    <img src="/img/checkbox_checked.gif" />  
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!NOT(r.isRequired)}">
                    <apex:inputCheckbox value="{!r.isRequired}" id="thecheckbox2"/>&nbsp;&nbsp;
                    </apex:outputPanel>
                    </apex:column>
                    <apex:column >
                    <apex:facet name="header">
                     SF.com Field Name
                    </apex:facet>
                    {!r.FieldLabel}
                    </apex:column>
                    <apex:column >
                    <apex:facet name="header">
                     Online Label
                    </apex:facet>
                    <apex:inputText value="{!r.online_label}" maxlength="80" />
                    </apex:column>
                    <apex:column >           
                    <apex:facet name="header">
                     SF.com Field Type
                    </apex:facet>
                    {!r.FieldType}
                    </apex:column>
                    <apex:column >           
                    <apex:facet name="header">
                     SF.com Precision
                    </apex:facet>
                    {!r.Precision}
                    </apex:column>
                    <apex:column >           
                    <apex:facet name="header">
                    Sequence
                    </apex:facet>
                    <apex:selectList value="{!r.position_index}" size="1" >
                        <apex:selectOptions value="{!options}" />
                    </apex:selectList>
                    </apex:column>
                </apex:pageBlockTable>
                <apex:pageBlockButtons >
                <apex:commandButton action="{!preview}" value="Preview" rerender="PreviewPanel"/>
                </apex:pageBlockButtons>
            </apex:pageBlock>
          </apex:outputPanel>
          </div>
          <a name="preview"></a>
          <div id="previewDiv" style="display:none;">
          <apex:outputPanel id="PreviewPanel" >
            
            <apex:outputPanel rendered="{!show_preview}">
                <apex:pageBlock title="Preview field selection">
                <apex:messages />
                <apex:outputText >Please check information below carefully. Once you press submit button, those fields will appear on the online application form for Company:&nbsp;<b>{!$Organization.Name}</b>
                </apex:outputText>
                <center>
                <div style="background-color:#FFFFF0;" width="80%"><apex:outputText value="{!htmltable}" escape="false"/></div>
                
                </center>
                </apex:pageBlock>
            
                
                <center>
                    <br/>
                    <apex:outputText >Your field selection will be saved in a Html document once you submit it successfuly.<br/></apex:outputText>
                    <apex:outputPanel rendered="{!is_New}">
                        <table>
                        <tr><th>File Name</th><td><apex:inputText maxlength="80" value="{!filename}" /></td></tr>
                        <tr><th>Folder</th><td><apex:selectList value="{!selectedFolder}" size="1">
                            <apex:selectOptions value="{!Folders}"/>
                        </apex:selectList></td></tr>
                        <tr><td colspan="2" align="middle"><apex:commandButton value="Submit" action="{!submit}" rerender="filePanel" oncomplete="nextstep('3');" /></td></tr>
                        </table>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!NOT(is_New)}">
                        <apex:commandButton value="Submit" action="{!submit}" rerender="filePanel" oncomplete="nextstep('3');" />
                    </apex:outputPanel>
                </center>
            </apex:outputPanel>
          </apex:outputPanel>
          </div>
          <apex:outputPanel id="filePanel" >
              <center><font color="red">{!errmsg}</font>

              
              </center>
              <!----------------------Next button to the file upload page--------------------------->
              <div id="step2btn" style="text-align:right;display:none;" >
              <center><span style="font-size:8pt;color:blue;font-family:'Comic Sans MS', cursive;"><apex:outputText escape="false" value="{!msg}"></apex:outputText></span></center>
              <!------done: if finish, visible for Edit mode only and no need to fill in the form name.--------->
                  <apex:outputPanel rendered="{!NOT(is_New)}">
                    <apex:commandButton value="Done" action="{!done}" reRender="viewlayout" status="viewStatus" oncomplete="displayandscroll('4');"/>
                  </apex:outputPanel>
                  <input type="button" value="Next" onclick="nextstep('4');" id="thebtn" class="btn"/>
              </div>
          </apex:outputPanel>
          
          <!-----------------------Start Upload files-------------------------------->
           <a name="step2"></a>
            <p>

            <div id="FileuploadDiv" style="display:none;">
            
            <iframe src="/apex/fileupload?sname={!styleName}" WIDTH="100%" HEIGHT="300" frameborder="no" scrolling="auto"/>
            </div>

            </p>     
            <!-----------------------End Upload files-------------------------------->
          </apex:outputPanel>
          </apex:facet>
        </apex:actionstatus>
      
      </apex:outputPanel>
      <apex:actionFunction action="{!doAdd}" name="refreshPanel" rerender="TheLastPanel" oncomplete="document.getElementById('categoryNameDiv').style.display= 'block';"/>
      <apex:actionFunction action="{!doAdd}" name="refreshPanel2" rerender="TheLastPanel" />
          <apex:outputPanel id="TheLastPanel" >
      <div id="categoryNameDiv" style="display:none;">
          <apex:outputPanel id="FormNamePanel">
          <p>
          Step 3: Form Name. Application Form Name will appear in the form selection dropdown when doing Ad posting. Please input the name which is easily recognized by users. <br/> 
           <span style="font-size:8pt;font-family:'Comic Sans MS', cursive;color:green;" >Please press "Done" button, otherwise this application form configuration will not be saved and ready to use. </span></p>
          
          <apex:pageBlock title="Application Form Name">   
              
              <apex:outputPanel >
                  <apex:outputLabel >Form Name:&nbsp; </apex:outputLabel>
                  <apex:inputText maxlength="80" value="{!categoryName}" id="categoryname"/>
                  <script>var catNameobj = document.getElementById("{!$Component.categoryname}");</script>
              </apex:outputPanel>
              
              <apex:outputPanel >
                  <div id="confirmDiv" > </div>       
              </apex:outputPanel>
             

            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Done" action="{!done}" reRender="viewlayout,availableCatPanel" status="viewStatus" oncomplete="displayandscroll('4');"/>
            </apex:pageBlockButtons>
            
          </apex:pageBlock>
          </apex:outputPanel>
          <apex:outputPanel id="viewlayout">
          <script>var catName = "{!JSINHTMLENCODE(categoryname)}"</script>
          <apex:actionStatus startText=" (loading...)" id="viewStatus">
              <apex:facet name="stop">
                <apex:outputPanel rendered="{!show_result}">
                The application form has been configured successfully. <br/>
                Please view it by the link below, which will be open in a new window or tab.&nbsp;&nbsp;
                <a href="{!viewurl}" target="_blank"><font color="green">View application form!</font></a>
                </apex:outputPanel>
              </apex:facet>
           </apex:actionStatus>
            
          </apex:outputPanel>
      </div>  
  </apex:outputPanel>    
   
    
    <!-----------------End styleForm------------------------>
    
    <!-----------------End FormStyleDiv------------------------>
   </div>
     <apex:inputHidden value="{!headerid}" id="headerhidden"/>
     <script>var headerhiddenobj = document.getElementById("{!$Component.headerhidden}");</script>
     <apex:inputHidden value="{!footerid}" id="footerhidden"/>
     <script>var footerhiddenobj = document.getElementById("{!$Component.footerhidden}");</script>
    </apex:form>
  </apex:outputPanel>
  


  

 
 
  </div>
  <script>
    window.onload = function(){
        //alert(headerhiddenobj.id);
    }
    function nextstep(step_num){
        if(step_num == "2")
        {
            document.getElementById('HtmlConfigDiv').style.display = 'none';
            document.getElementById('previewDiv').style.display = 'block';
            document.getElementById('nextDiv').style.display = 'block';
            document.getElementById('step2btn').style.display='none';

            return true;
        }
        if(step_num == "3")
        {
            document.getElementById('thebtn').disabled = false;
            document.getElementById('thebtn').setAttribute("className","btn") ;
            document.getElementById('step2btn').style.display='block';

            return true;
        }
        if(step_num == "4")
        {
            document.getElementById('HtmlConfigDiv').style.display = 'none';
            document.getElementById('previewDiv').style.display = 'none';
            document.getElementById('nextDiv').style.display = 'none';

            document.getElementById('step2btn').style.display='none';
            document.getElementById('categoryNameDiv').style.display ='none';
            document.getElementById('FileuploadDiv').style.display = 'block';
            document.getElementById('FileuploadDiv').scrollIntoView(true); 

            refreshPanel2();
            
            return true;
        }
        if(catNameobj.value == null || catNameobj.value == '')
        {
            alert("Category Name can not be empty!");
            return false;
        }
        else
        {
        document.getElementById('FormStyleDiv').style.display = 'block';
        document.getElementById('categoryNameDiv').style.display ='none';
        document.getElementById('thebtn').disabled = true;
        document.getElementById('thebtn').setAttribute("className","btnDisabled");

        }
        return true ;
    }
    function displayandscroll(where){
        if(where == '1')
        {
            document.getElementById('HtmlConfigDiv').style.display='block';
            document.getElementById('FileuploadDiv').style.display='none';
            document.getElementById('categoryNameDiv').style.display= 'none';
            document.getElementById('step2btn').style.display='none';
            

        }
        if(where == '2')
        {
            document.getElementById('FileuploadDiv').style.display='block';
            document.getElementById('HtmlConfigDiv').style.display='none';
            document.getElementById('categoryNameDiv').style.display= 'none';
            document.getElementById('previewDiv').style.display = 'none';
            document.getElementById('nextDiv').style.display = 'none';
            document.getElementById('step2btn').style.display= 'none';
        
        }
        if(where == '3')
        {
            document.getElementById('categoryNameDiv').style.display= 'block';
            document.getElementById('FileuploadDiv').style.display='none';
            document.getElementById('HtmlConfigDiv').style.display='none';
            document.getElementById('step2btn').style.display= 'none';
            document.getElementById('previewDiv').style.display = 'none';
            document.getElementById('nextDiv').style.display = 'none';
            //refreshPanel();
        }
        if(where == '4')
        {
            document.getElementById('availableCatDiv').scrollIntoView(false);
            document.getElementById('categoryNameDiv').style.display= 'none';
            document.getElementById('FileuploadDiv').style.display='none';
            document.getElementById('HtmlConfigDiv').style.display='none';
            document.getElementById('step2btn').style.display= 'none';
            document.getElementById('previewDiv').style.display = 'none';
            document.getElementById('nextDiv').style.display = 'none';
            document.getElementById('FormStyleDiv').style.display = 'none';
    
            document.getElementById('finishmsgDiv').innerHTML = '<p><center><span style="font-size:9pt;font-family:\'Comic Sans MS\', cursive;color:blue;" >Style: <b>'+catName+'</b> has been configured successfully.</span></center></p>';
            
            //refreshPanel();
        }
    
    }
    function pageScroll(thescrollto) {
        window.scroll(0,thescrollto); // horizontal and vertical scroll increments
         
        //var scrolldelay = setTimeout('pageScroll()',100); // scrolls every 100 milliseconds
    }
    function createNewStart(){
        
        document.getElementById('FormStyleDiv').style.display = 'block';
        document.getElementById('HtmlConfigDiv').style.display = 'block';
        document.getElementById('previewDiv').style.display = 'none';
        document.getElementById('nextDiv').style.display = 'none';
        //alert(document.getElementById('FormStyleDiv').style.display);
        //alert(document.getElementById('HtmlConfigDiv').style.display);
        document.getElementById('step2btn').style.display = 'none';
        //createNew();
    
    }
    function EditFormStart(){
    
        document.getElementById('FileuploadDiv').style.display = 'none';
        document.getElementById('FormStyleDiv').style.display = 'block';
        document.getElementById('categoryNameDiv').style.display ='none';
        document.getElementById('step2btn').style.display='none';
        
        document.getElementById('HtmlConfigDiv').scrollIntoView(false);
    }
  </script>

  </apex:page>