<apex:page controller="ClientRosterController" extensions="ClientExtensionGlobal,RosterExtensionGlobal" docType="html-5.0" applyHtmlTag="false" standardStyleSheets="false" showHeader="false">
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <base href="{!URLFOR($Resource.ctcPeopleResourcePack, '/')}" />
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/bootstrap/dist/css/bootstrap.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/bootstrap-material-design/dist/css/ripples.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/bootstrap-material-design/dist/css/material.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/bootstrap-material-design/dist/css/roboto.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/components/common/module.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/components/forms/module.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/components/people/module.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/static/ctcPeopleGlyphicon/style.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/fullcalendar/fullcalendar.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/kendo-ui-core/styles/kendo.mobile.all.min.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/kendo-ui-core/styles/kendo.rtl.min.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/kendo-ui-core/styles/kendo.material.min.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/kendo-ui-core/styles/kendo.common-material.min.css')}"></apex:styleSheet>
        <apex:styleSheet value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/kendo-ui-core/styles/kendo.default.min.css')}"></apex:styleSheet>
    </head>

    <body data-ng-app="CTC.Apps.People">
        <div id="content" class="container">
            <div class="row">
                <div data-ctc-app="ClientRosterManagement">
                    <div data-ctc-status="true"></div>
                    <div data-ctc-header="Client Roster"></div>
                    <div data-ctc-wizard="true">
                        <div data-ctc-panel="Client Roster" data-ctc-icon="ctc-icon-client_C">
                            <div data-ctc-pep-client-roster="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/jquery/dist/jquery.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/jquery-ui/jquery-ui.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/bootstrap/dist/js/bootstrap.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/angular/angular.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/angular-messages/angular-messages.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/moment/moment.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/bootstrap-material-design/dist/js/material.min.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/bootstrap-material-design/dist/js/ripples.min.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/angular-bootstrap/ui-bootstrap.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/angular-bootstrap/ui-bootstrap-tpls.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/fullcalendar/fullcalendar.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/kendo-ui-core/js/kendo.ui.core.min.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/kendo-ui-core/js/kendo.angular.min.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/nouislider/distribute/jquery.nouislider.all.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/lib/angular-nouislider/src/nouislider.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/components/common/module.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/components/forms/module.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/components/people/module.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ctcPeopleResourcePack, '/components/services/module.js')}"></apex:includeScript>
        <script>
            angular.module("CTC.Apps.People", ["CTC.Components.People","CTC.Components.Common"]);
            
            //load ctc people logo to the wizard
            setTimeout(function(){ 
                loadLogo();
            }, 1000);
            
            function loadLogo(){
                 var ctcPepLogoLink = "{!$Resource.ctcPepLogo}";
                 var logoElement = document.getElementById('ctcPepLogo');
                 if(document.getElementById('ctcPepLogo') !== undefined && document.getElementById('ctcPepLogo') !== null){
                    document.getElementById('ctcPepLogo').setAttribute('src',ctcPepLogoLink); 
                 }else{
                    setTimeout(function(){ 
                        loadLogo();
                    }, 1000);
                 }
            }
            kendo.culture().calendar.firstDay = 1;
        </script>
    </body>
    </html>
</apex:page>