<apex:page controller="CTCAdminController" action="{!init}">

    <!-- Define Tab panel .css styles -->

    <style>
.activeTab {
    background-color: #236F00;
    color: white;
    background-image: none;
    font-weight: bold;
}

.inactiveTab {
    background-color: lightgrey;
    color: black;
    background-image: none
}
</style>
<script type="text/javascript">
    function goToPage(pageName){
        sforce.one.navigateToURL("/apex/"+pageName);
    }
</script>

    <apex:outputPanel >
            <apex:pageBlock >
                <br/>
                <apex:outputLink onclick="goToPage('SearchSelectionAdmin')">Search Admin</apex:outputLink><br/><br/>
                <apex:outputLink onclick="goToPage('S3Admin')" >Amazon S3 Admin</apex:outputLink><br/><br/>
                <!--<apex:outputLink value="{! $Page.S2SAdmin}" target="_blank">S2S Admin</apex:outputLink><br/><br/>-->
                <apex:outputLink onclick="goToPage('UserAccessControl')" >User Access Admin</apex:outputLink><br/><br/>
                <apex:outputLink onclick="goToPage('TriggerAdmin')" >CTC Trigger Admin</apex:outputLink><br/><br/>
                <apex:outputLink onclick="goToPage('PostingJobAdmin')" >Job Posting Admin</apex:outputLink><br/><br/>
                <apex:outputLink onclick="goToPage('LinkedInCSAAdmin')" >LinkedIn CSA Admin</apex:outputLink><br/><br/> 
                <!-- <apex:outputLink value="{! $Page.DaxtraCredentialAdmin}" target="_blank">Daxtra Search Admin</apex:outputLink><br/><br/> -->
                <apex:outputLink onclick="goToPage('SQSCredentialAdmin')" >SQS Credential Admin</apex:outputLink><br/><br/>
                <apex:outputLink onclick="goToPage('DefaultSkillGroupPage')" >Default Skill Group</apex:outputLink><br/><br/>
                <apex:outputLink value="https://cpews.clicktocloud.com/OAuthSFDC/Authorisation" >Authorisation</apex:outputLink><br/><br/>
                <apex:outputLink onclick="goToPage('AppsAuth')" >Oauth Setup</apex:outputLink><br/><br/>
            </apex:pageBlock>
    </apex:outputPanel>
  
</apex:page>