<apex:page >
	<apex:pageBlock >
		<div>
			<table width="100%">
				<tr>
					<td align="center"><font size="2"><b>ClicktoCloud.com
								PeopleCloud</b></font></td>
				</tr>

				<!--<tr><td>
  ClicktoCloud | People Cloud for AppExchange is an exciting application for recruitment industry 
  which provides users with placement and candidate management system. 
  </td>
  </tr>-->

				<tr>
					<td align="center">Version: Platform Basics 2.0 <br />
						Copyright @ 2009 ClicktoCloud.com. All rights reserved.
					</td>
				</tr>

			</table>
		</div>
	</apex:pageBlock>

</apex:page>