<apex:page Controller="CustomLookup" tabStyle="User" sidebar="false" id="pageId" showHeader="false">
<apex:includeScript value="{!$Resource.jquery}"></apex:includeScript>
<script>
           function fillIn(){                
                var phoneNumbers = jQuery('input[id$=csvIdvaluesId]').val();            
                var phoneName = jQuery('input[id$=csvNameId]').val(); 
                         
                var winMain1 = window.opener;
                if (null == winMain1){
                     winMain1=window.parent.opener;
                }                
                var elem = winMain1.document.getElementById('RecordIdFieldId'+"{!JSENCODE(idrecorder)}");            
                var elemName = winMain1.document.getElementById('RecordNameFieldId'+"{!JSENCODE(idrecorder)}");  
                elem.value = phoneNumbers ;//document.getElementById('mainPageId:mainFormId:csvIdvaluesId').value;    
                elemName.value = phoneName ;//document.getElementById('mainPageId:mainFormId:csvNameId').value;            
            }
            function onClose(){
              var winMain=window.opener;
              if (null==winMain)
              {
                 winMain=window.parent.opener;
              }
              winMain.closeLookupPopup();
           }          
           //To select All
           function selectAll(src){           
               if(src.checked){ 
                   jQuery('.case').attr('checked', true);
               }else{
                   jQuery('.case').removeAttr("checked");
               }
               fillIn();
           }
           
        </script>
<style>
    .outerdiv {
        background-repeat: repeat-x;
        background-position: left top;
        background: white url(/img/alohaSkin/lookup_bg.png) repeat-x;
        padding-left: 10px;
        height: 100%;
    }
     
    .innerdiv {
        background-image: url(/img/sprites/master.png);
        background-position: 0px -1202px;
        width: 32px;
        height: 32px;
    }  
    .requiredLoaderBG{
        background-color: rgb(71,71,71);
        opacity:0.7;
        filter:alpha(opacity=70);
        background-image:url('{!$Resource.ajaxLoadGif}');
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
    }
</style>
	<apex:form id="mainFormId">
		
        <div class="outerdiv">
            <input type="button" value="Close Window" style="float:right;" onclick="onClose();"/>
            <div class="innerdiv"></div>
                <div style="float: left; width: 50px; margin-top: -20px; margin-left: 40px">
                    <h1>Lookup</h1>
                </div>
                <apex:pageMessages id="msgId"/>                
            <div class="pbBody">                   
                <table class="list" border="0" id="tblData" cellspacing="0" cellpadding="0" style="border: #DDD 1px solid;width:50%;">
                    <tr class="headerRow" >
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            <b>Name</b>
                        </th>
                        <th>
                        	<b></b>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <b>Search:</b>
                        </td>
                        <td>
                            <apex:inputText value="{!searchByName}"  id="searchname"/>                       
                        </td> 
                        <td>
                        	<input type="button" value="search" onclick="onSearch();" />
                        </td>                                                                           
                    </tr>
                </table>
            </div>
            <div class="pbBody">
                <h2 style="padding-bottom: 5px; padding-top: 5px;">Select the
                    picklist values to add below.</h2>
            </div>      
            <apex:pageblock >
                <apex:outputPanel id="tblId">
                    <apex:pageBlockSection columns="1">
                         <apex:pageBlockTable value="{!listOfLookupsElement}" var="e">
                             <apex:column width="2%">
                                 <apex:facet name="header">
                                     <apex:inputCheckbox value="{!isAllSelectCheckBox}" >
                                         <!-- <apex:actionSupport action="{!onSelectAll}" event="onclick" reRender="msgId,csvIdvaluesId,csvNameId" oncomplete="selectAll(this);" status="ajaxStatus"/> -->
                                     </apex:inputCheckbox>
                                 </apex:facet>
                                 <apex:inputCheckbox value="{!e.isChecked}" id="checkBoxId" styleClass="case">
                                      <apex:actionSupport event="onclick" action="{!onCheck}" reRender="searchname,msgId,csvIdvaluesId,csvNameId" oncomplete="fillIn();" status="ajaxStatus"/> 
                                 </apex:inputCheckbox>
                             </apex:column>
                             <apex:column headerValue="Name" width="99%">
                                 <apex:outputLabel value="{!e.sObjectNameField}" for="checkBoxId"/>
                             </apex:column>                             
                             <apex:column width="1%" style="display:none">
                                 <apex:outputLabel value="{!e.sObjectfield}"/>
                             </apex:column>
                         </apex:pageBlockTable>
                    </apex:pageBlockSection>
                </apex:outputPanel>
            </apex:pageblock>
            <input type="button" value="Close Window" style="float:right;" onclick="onClose();"/>
            <apex:actionFunction name="onSearch" action="{!onSearch}" rerender="tblId,csvIdvaluesId,csvNameId" status="ajaxStatus"/>
        </div>
        <apex:inputHidden value="{!IdPassToTextBox}" id="csvIdvaluesId"/>
        <apex:inputHidden value="{!NamesPassToHdn}" id="csvNameId"/>        
		<apex:actionstatus startStyleClass="requiredLoaderBG" id="ajaxStatus" />  
		<apex:actionFunction name="next" action="{!onNext}" rerender="tblId,buttons" status="ajaxStatus"/>
		<apex:actionFunction name="previous" action="{!onPrevious}" rerender="buttons,tblId,csvIdvaluesId,csvNameId" status="ajaxStatus"/>
		<apex:panelGrid columns="4" id="buttons">
		<apex:outputpanel rendered="{!hasnext}">
			<input type="button" onclick="next()" value="Next" />
		</apex:outputpanel>
		<apex:outputpanel rendered="{!haspre}" >			
			<input type="button" onclick="previous()" value="Previous"/>
		</apex:outputpanel>
		</apex:panelGrid>
	</apex:form>
</apex:page>