<apex:page Controller="BulkEmailCandidateList" sidebar="false"
    action="{!initEditEmailTemplateFunction}" tabStyle="Placement__c">

    <apex:styleSheet value="{!$Resource.quickSendResume_css}" />

    <!-- Added by Raymond START-->
    <apex:includeScript value="{!URLFOR($Resource.ckeditor,'ckeditor/ckeditor.js')}"/>
    <apex:styleSheet value="{!URLFOR($Resource.ctcStyle,'ctcStyle/css/ctcgeneral.css')}" />
    <apex:styleSheet value="{!URLFOR($Resource.ctcStyle,'ctcStyle/css/sendresume.css')}" />
    <!--<apex:styleSheet value="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"/>-->
    <!-- <apex:styleSheet value="https://fonts.googleapis.com/css?family=Cantarell:400,700" /> -->
    <apex:stylesheet value="{!$Resource.Cantarell}"/>
    <!-- Added by Raymond END-->

    <apex:includeScript value="{!$Resource.jquery172}"></apex:includeScript>
    <apex:includeScript value="{!$Resource.bulkemail}" />
    <apex:includeScript value="{!URLFOR($Resource.jqueryui,'/jquery-ui/jquery-ui.js')}" />
    <apex:styleSheet value="{!URLFOR($Resource.jqueryui,'/jquery-ui/css/redmond/jquery-ui-1.8.13.custom.css')}" />
    <apex:styleSheet value="{!URLFOR($Resource.JqueryTreeView,'Jquerytreeview/jquery.treeview.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.JqueryTreeView,'Jquerytreeview/jquery.treeview.js')}" />
    <style type="text/css">
        div#statusInfo, div#loadingInfo{
            font-size:1.4em;
            font-weight:400;
            text-align:center;
            font-family: 'Droid Sans', sans-serif;
        }
        div#statusInfo{
            color: #0C6FA8;
        }
    </style>

    <script type="text/javascript">
        
        $j = jQuery.noConflict();
        $j(function(){
            var editorNo = 0;
            var noOfEditorsOnAPage = 1;
            CKEDITOR.on('instanceReady', function(e) {
                    if(editorNo>=noOfEditorsOnAPage){return;}else{editorNo++;}
                    var target = e.editor.config.bodyId;
                    var name = e.editor.name;
                    e.editor.destroy();
        
                    CKEDITOR.editorConfig = function( config ) { 
                        config.disableNativeSpellChecker = false;
                        config.removePlugins='liststyle,tabletools,scayt,menubutton,contextmenu';
                        //config.extraPlugins ='pastebase64';
                    }
                    
                    CKEDITOR.replace(name, {
                         toolbar: [
                             { name: 'clipboard',   items : [ 'Undo','Redo' ] },
                             { name: 'basicstyles', items : [ 'Bold','Italic','-','RemoveFormat' ] },
                             { name: 'insert', items: [ 'Image', 'Table'] },
                             { name: 'paragraph',   items : [ 'NumberedList','BulletedList','-','Outdent','-','JustifyLeft','JustifyCenter','JustifyBlock' ] },
                                        '/',
                        ],
                                height : 277,
                            
                            },
                                {bodyId : target}
                    );
            });
        });
    </script>
    <apex:form >
    <apex:outputPanel style="display:block;height:30px;font-size:20px;font-weight:bold;">
            <apex:commandLink action="{!gobackBulkEmailCandidateList}"> &lt;&lt;&lt;Back To Candidate List Page</apex:commandLink><br/>
    </apex:outputPanel>
    <apex:sectionHeader title="Bulk Email" subtitle="Email Template">
       <!--  <apex:image value="{!URLFOR($Resource.ctcStyle,'ctcStyle/images/logo.png')}" styleClass="ctc-logo"/> -->
    </apex:sectionHeader>
        <apex:actionFunction name="addLocalDocs" action="{!addlocaldocs}"
            rerender="attachment,sendMailMsg" status="localdocsLoading">
            <apex:param name="addlocalDocsParam1" assignTo="{!docsId}" value="" />
            <apex:param name="addlocalDocsParam2"
                assignTo="{!erroroptInlocalDocString}" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="createDocuments"
            action="{!createDocuments}"
            oncomplete="createEmailPlayload();" />
            
         <apex:actionFunction name="createEmailPlayload"
            action="{!createEmailPlayload}"
            oncomplete="return confirmSendCustomTempMail(event);"
            status="sendMailStatusCustomTemp" />
          
        <apex:actionFunction name="sendBulkEmail" action="{!sendBulkEmail}" />        
        <apex:outputPanel id="sendMailMsg">
            <apex:pageMessages rendered="{!msgSignalhasmessage}" />
        </apex:outputPanel>
        
        
        
        <apex:pageBlock >
            <apex:PageBlockButtons >
                <apex:commandbutton value="Back to Candidate List Page" action="{!gobackBulkEmailCandidateList}" />                  
                <apex:actionStatus id="sendMailStatusCustomTemp">
                        <apex:facet name="start">
                            <b>Sending</b>
                            <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                        </apex:facet>
                        <apex:facet name="stop">
                            <input type="button" id="sendCustomTempButton" value="Send Mail"
                                class="btn" />
                        </apex:facet>
                </apex:actionStatus>
                <apex:commandButton value="Reset Email Content" action="{!resetEmailContent}" styleClass="btn"/>
            </apex:PageBlockButtons>  
             
             
          <div id="loadingInfo"  style="display:none">
              <apex:image url="{!$Resource.LoadingGif}" styleClass="loadingGif"/> <br/>
              <div id="statusInfo">Sending emails, please wait ...</div>
          </div>
             
             
        <!-----------    edit email template section --------------->
            <apex:PageBlockSection id="emailtemplate" title="Email template" columns="1">
                <apex:PageBlockSection columns="1">
                    <apex:panelGrid columns="2" styleClass="emailEditor">
                        <apex:pageblockSectionItem >
                            <apex:outputPanel layout="block" style="overflow:auto;width:100%;height:305px">
                                <div id="sidetreecontrol">
                                    <a href="?#">Collapse All</a> | <a href="?#">Expand All</a>
                                </div>
                                <ul id="tree" class="sendResumeTreeView">
                                    <apex:repeat value="{!newSendResTem}" var="parent">
                                        <li><strong><apex:outputtext value="{!parent.emailWrapperfolder.folderName}" />
                                        </strong>
                                            <ul>
                                                <apex:repeat value="{!parent.emailTemplateFolder}" var="child">
                                                    <li><span class="formattextcon"> <apex:commandLink value="{!child.Name}" action="{!previewTemp}">
                                                                <apex:param assignTo="{!selectedTempId}" value="{!child.id}" name="emailTempId" />
                                                                <apex:param assignTo="{!selectedTempName}" value="{!child.Name}" name="emailTempName" />
                                                            </apex:commandLink>
                                                    </span>
                                                    </li>
                                                </apex:repeat>
                                            </ul>
                                        </li>
                                    </apex:repeat>
                                </ul>
                            </apex:outputPanel>
                        </apex:pageblockSectionItem>
                        <apex:pageblockSectionItem >
                            <apex:actionStatus id="templateLoading">
                                <apex:facet name="start">
                                    <div style="width: 100%; height: 300px">
                                        <div style="display: table-cell; vertical-align: middle;">
                                            <img src="{!$Resource.LoadingGif}" style="margin-left: auto; margin-right: auto; display: block; width: 32px;" />
                                        </div>
                                    </div>
                                </apex:facet>
                                <apex:facet name="stop">
                                    <apex:outputPanel id="templateContent">
                                     <div style="width: 100%; font-weight:bold; height:30px" align="Left" >
                                            Subject:&nbsp;  <apex:inputtext value="{!customEmailSubject}" style="width:600px; font-weight:bold;" id="customSubject"/>
                                        </div>
                                        <div style="width: 100%; height: 300px">
                                            <apex:inputTextArea value="{!customEmailContent}"
                                                id="customRichTextEmailContent" richText="false" styleClass="ckeditor" rows="15" />
                                            <apex:inputHidden value="{!customEmailContent}"
                                                id="customEmailContentHidden" />
                                        </div>
                                    </apex:outputPanel>
                                </apex:facet>
                            </apex:actionStatus>
                        </apex:pageblockSectionItem>
                    </apex:panelGrid>
                </apex:PageBlockSection>
            </apex:PageBlockSection>               
            
            <!----    Default attachments from email template    -------->
              
            <apex:pageBlockSection id="attachment" title="Attachment" columns="1">              
                <legend>
                    <font color="darkblue"><b>Attachments from Email Template</b></font>
                </legend>
                <apex:pageBlockTable value="{!attachmentsFromEmailTemplate}"
                    var="att" rendered="{!isAttachmentsFromEmailTemplateEmpty}">
                    <apex:facet name="footer">No Attachments from this Email Template</apex:facet>
                </apex:pageblocktable>
                <apex:pageBlockTable value="{!attachmentsFromEmailTemplate}"
                    var="att" rendered="{!!isAttachmentsFromEmailTemplateEmpty}">
                    <apex:column >
                        <apex:facet name="header">Action</apex:facet>
                        <apex:actionStatus id="PerviewDocStatus">
                            <apex:facet name="start">
                                <b>Previewing</b>
                                <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                            </apex:facet>
                            <apex:facet name="stop">
                                <apex:outputLink value="{!URLFOR($Action.Attachment.Download, att.id)}"
                                    target="_blank"> Preview
                                        </apex:outputLink>
                            </apex:facet>
                        </apex:actionStatus>
                    </apex:column>
                    <apex:column value="{!att.Name}">
                        <apex:facet name="header">Attachment Name</apex:facet>
                    </apex:column>
                    <apex:column value="{!selectedTempName}">
                        <apex:facet name="header">Email Template Name</apex:facet>
                    </apex:column>
                </apex:pageBlockTable>
                <!----    Attachment from network section ------>
                <legend>
                        <font color="darkblue"><b>Documents from Network</b></font>
                </legend>
                <apex:pageblocktable value="{!optInlocalDocList}" var="optinloc"
                    rendered="{!isLocalDocListEmpty}">
                    <apex:facet name="footer">No Local Document is uploaded</apex:facet>
                </apex:pageblocktable>
                <apex:pageblocktable value="{!optInlocalDocList}" var="optinloc"
                    rendered="{!!isLocalDocListEmpty}">
                    <apex:column >
                        <apex:facet name="header">Action</apex:facet>
                        <apex:actionStatus id="delDocStatus">
                            <apex:facet name="start">
                                <b>Deleting</b>
                                <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                            </apex:facet>
                            <apex:facet name="stop">
                                <apex:commandLink value="Del" action="{!removeDummyDoc}"
                                    rerender="attachment" status="delDocStatus">
                                    <apex:param assignTo="{!dellocalDocId}"
                                        value="{!optinloc.locdoc.Id}" name="dellocalDocId" />
                                </apex:commandLink>
                            </apex:facet>
                        </apex:actionStatus>
                                ||
                                <apex:actionStatus id="PerviewDocStatus">
                            <apex:facet name="start">
                                <b>Previewing</b>
                                <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                            </apex:facet>
                            <apex:facet name="stop">
                                <apex:outputLink value="{!URLFOR($Action.Document.Download, optinloc.locdoc.id)}"
                                    target="_blank"> Preview
                                        </apex:outputLink>
                            </apex:facet>
                        </apex:actionStatus>
                    </apex:column>
                    <apex:column value="{!optinloc.locdoc.Name}">
                        <apex:facet name="header">Document Name</apex:facet>
                    </apex:column>
                </apex:pageblocktable>
                </apex:pageBlockSection>
            <fieldset>
                <legend>
                    <font color="darkblue">Upload Attachments from Network</font>
                </legend>                   
                <c:UploadDocuments uploaddoc="addLocalDocs"></c:UploadDocuments>
            </fieldset>
        	<apex:pageBlockSection >
				<apex:inputcheckbox value="{!logactive}"  label="Log Activity" />
			</apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    <div id="sendMailConfirmDlg" title="Send Out Bulk Email?" style="display: None;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span> Bulk Email will be sent to nominated contacts.
        </p>
    </div>
</apex:page>