<!--  **************************************
 *                                         *
 * Deprecated Page, 13/06/2017 Ralph       *
 *                                         *
 ******************************************* -->
<!-- <apex:page standardController="Placement_Candidate__c" extensions="EnhancedMassRatingController" action="{!Init}"
recordSetVar="candidates"
tabStyle="Placement_Candidate__c" id="thepage"  showHeader="false">

<script src="/soap/ajax/29.0/connection.js" type="text/javascript"></script>
<script src="/soap/ajax/29.0/apex.js" type="text/javascript"></script>

<apex:includeScript value="{!$Resource.jquery172}"></apex:includeScript>
<apex:includeScript value="{!$Resource.jqueryblockui}"/>
<apex:includeScript value="{!URLFOR($Resource.jqueryui,'/jquery-ui/jquery-ui.js')}"/>
<apex:includeScript value="{!$Resource.enhancedMassRating_js}"></apex:includeScript>
<apex:includeScript value="{!$Resource.errorMsg4JSFunction_js}"></apex:includeScript>

<apex:stylesheet value="{!URLFOR($Resource.bootstrap301,'/bootstrap301/css/bootstrap.css')}"/>
<apex:styleSheet value="{!URLFOR($Resource.jqueryui,'/jquery-ui/css/redmond/jquery-ui-1.8.13.custom.css')}"/>

<style>
#divContainer{position:absolute;z-index:20; width:600px; height:300px; overflow:hidden; top:30; left:10; clip:rect(0 600 300 0); visibility:hidden} 
#divContent{position:absolute;z-index:20; top:0; left:0} 
span.highlighted { 
    font-weight: bold;
}
#commandlink{
    font-size:14px;
}


/* background-color for hovered table row*/
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #EFEFEF;
}
/* background-color of row where detail section reside shouldn't change when hover'*/
.table-hover > tbody > tr.detailSectionRow:hover > td,
.table-hover > tbody > tr.detailSectionRow:hover > th {
  background-color: #F9F9F9;
}


.detailSection{
    font-family: Arial, Helvetica, sans-serif
}

.loadingImg {
    background-image: url({!$Resource.LoadingGif});
    background-position: center center;
    background-repeat: no-repeat;
    height:600px;
    width:100%;
}

body{
    padding: 15px;
}

a {
    color: black;
    text-decoration: underline;
}

.searchBubblePointer{
    border-left: 5px solid transparent;
    border-bottom: 8px solid rgba(255, 240, 120, 0.7);
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    z-index: 2;
    position: absolute;
}

.searchBubbleInnard{
    background: rgba(255, 240, 120, 0.9);
    z-index: 1;
    position: absolute;
    margin-top: 7px;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: default;
    pointer-events: none;
    box-shadow: 2px 2px 10px grey;
    -moz-box-shadow: 2px 2px 10px grey;
    -webkit-box-shadow: 2px 2px 10px grey;
}

.glyphicon.glyphicon-chevron-up{
	color : red;
}

.glyphicon-chevron-down{
	color : red;
}

</style>
   
    <div id="pageLoadingSection" style="margin: auto;position: relative;top: 300px;width:220px;">
        <span style="display: block;margin: auto;width: 60px;">Loading...</span>
        <apex:image url="{!$Resource.LoadingBar}" />
    </div>

    <apex:form id="theform" style="display:none;">
        <div id="screenCandidateSearchConfigSection">
            <a href="#" id="screenCandidateSearchConfigLink" style="float:right;">Configure Screen Candidate Columns</a>
            <div id="searchCandidateSearchConfigForm" style="display:none">
                <apex:iframe src="{!namespace}GoogleSearchColumnConfig?obj=Placement_Candidate__c&confirmPopup=true" height="290px" width="490px" id="screenCandidateConlumnConfigIframe"/>
            </div>
        </div>
        <apex:outputPanel id="hiddenContactMapJSON">
            <input type="hidden" id="contactMapJSON" value="{!contactMapJSON}"/>
            <apex:inputhidden id="enableSOSL" value="{!enableSOSLSearch}"/>
            <apex:inputhidden id="enableSCNote" value="{!enableSCNote}"/>
            <apex:inputhidden id="columnejsonnotexist" value="{!columnejsonnotexist}"/>
            <apex:inputhidden id="sortingOrder" value="{!sortingOrder}"/>
            <apex:inputhidden id="sortBycolumnApiNamehidden" value="{!sortBycolumnApiName}"/>
            <apex:inputhidden id="enableSCRating" value="{!enableSCRating}"/>
            <apex:inputhidden id="enableSCProgress" value="{!enableSCProgress}"/>
        </apex:outputPanel>
        <div id="commandlink" style="font-size:18px;font-weight:bold">
        <apex:commandLink styleClass="includeInPageUnloadConfirm" action="{!goBack}" value="{!commandlinkvalue}"></apex:commandLink>
    </div>
    <apex:actionRegion >
        <apex:actionfunction name="searchkeywordsbysosl" status="searching" action="{!searchkeywords}" rerender="hiddenContactMapJSON, thetablePanel, sendMailMsg" oncomplete="PC.EnhancedMassRating.afterSearchComplete();">
            <apex:param name="keywords" assignTo="{!keywords}" value=""/>
        </apex:actionfunction>
        <apex:actionfunction name="updateColumnAndQueryCriteriaActionFunction" action="{!updateColumnAndQueryCriteriaActionFunction}" rerender="hiddenContactMapJSON, thetablePanel, sendMailMsg" oncomplete="PC.EnhancedMassRating.afterSearchComplete();"/>
        
    </apex:actionRegion>
    <apex:actionfunction name="sortcolumn" action="{!sortColumn}" rerender="thetablePanel, hiddenContactMapJSON, sendMailMsg" oncomplete="PC.EnhancedMassRating.afterSearchComplete();">
            <apex:param name="sortBycolumnApiName" assignTo="{!sortBycolumnApiName}" value=""/>
         </apex:actionfunction>
    <apex:outputPanel id="sendMailMsg">
        <apex:pageMessages rendered="{!msgSignalhasmessage}"/>
    </apex:outputPanel>      
    <table width="50%" align="center">
        <tr>
            <td align="center" height="25px">
                <apex:actionStatus id="autoSaving">
                    <apex:facet name="start">
                        <img src="{!$Resource.LoadingGif}" width="20" height="20" style="vertical-align:middle"/> Auto saving...
                    </apex:facet>
                    <apex:facet name="stop">
                    </apex:facet>
                </apex:actionStatus>
                        <apex:actionStatus id="pageLoading">
                    <apex:facet name="start">
                        <img src="{!$Resource.LoadingGif}" width="20" height="20" style="vertical-align:middle"/> Saving changes and loading page...
                    </apex:facet>
                    <apex:facet name="stop">
                    </apex:facet>
                </apex:actionStatus>          
            </td>
        </tr>
    </table>
    <apex:pageBlock title="Screen Candidate" mode="edit" id="theMasterBlock" >
        <apex:pageBlockButtons location="top">
            <apex:actionStatus id="massupdatestatus">
                <apex:facet name="start">
                    <b>Loading</b>
                    <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                 </apex:facet>
                <apex:facet name="stop">
                    <apex:commandButton styleClass="excludeFromPageUnloadConfirm" value="Mass Update" action="{!massupdate}" reRender="thetablePanel, hiddenContactMapJSON" status="massupdatestatus" oncomplete="populaterating();PC.EnhancedMassRating.init();PC.EnhancedMassRating.searchAndHighlight();PC.EnhancedMassRating.afterResultTableRerender();displayarrowbysortcolumn();"/>
                </apex:facet>
            </apex:actionStatus>
            <apex:actionStatus id="massupdatereturnstatus">
                <apex:facet name="start">
                    <b>Loading</b>
                    <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                </apex:facet>
                <apex:facet name="stop">
                    <apex:commandButton styleClass="excludeFromPageUnloadConfirm" value="Mass Update & return" action="{!massUpdateAndReturn}" reRender="thetablePanel, hiddenContactMapJSON" status="massupdatereturnstatus" oncomplete="populaterating();PC.EnhancedMassRating.init();PC.EnhancedMassRating.searchAndHighlight();PC.EnhancedMassRating.afterResultTableRerender();displayarrowbysortcolumn();"/>
                </apex:facet>
            </apex:actionStatus>
            
            <apex:commandButton styleClass="includeInPageUnloadConfirm" value="Cancel" action="{!cancel}"/>
            <apex:commandButton styleClass="includeInPageUnloadConfirm" value="Add to Other Vacancy" action="{!addToAnotherVacancy}" status="addto"/>
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection columns="1" >
        <div style="height:50px">
            <div id="searchPanel" class="staticSearchPanel">
                <b>Keywords:</b>&nbsp;<input type="text" value="" id="keywords" name="keywords" style="width:300px;" />
                <div style="display:inline-block;width:30px;height:25px;vertical-align:middle"><img  id="searchingIcon" src="{!$Resource.LoadingGif}" width="20" height="20" style="display:none"/></div>                   
                <span id="inputWarningMsg" class="inputWarningMsg"></span>
            </div>
        </div>    
        </apex:pageBlockSection>
    </apex:pageBlock>
    

    <apex:outputPanel id="thetablePanel" style="display:block">
        <apex:outputText id="idListOfRecentPageRecords" value="{!idListOfRecentPageRecords}" style="display:none"/>
        <apex:actionFunction name="nextPage"  action="{!next}" status="pageLoading"  reRender="thetablePanel,hiddenContactMapJSON" oncomplete="populaterating();PC.EnhancedMassRating.init();PC.EnhancedMassRating.searchAndHighlight();displayarrowbysortcolumn();"/>
        <apex:actionFunction name="previousPage" action="{!previous}" status="pageLoading"  reRender="thetablePanel,hiddenContactMapJSON" oncomplete="populaterating();PC.EnhancedMassRating.init();PC.EnhancedMassRating.searchAndHighlight();displayarrowbysortcolumn();"/>
        <div class="panel panel-default">
            <div class="panel-body">
  
                <table width="50%" align="center">
                    <tr>
                        <td width="20%" align="left">
                            <apex:outputPanel rendered="{!thecontrollers.HasPrevious}">
                                <button type="button" name="previousPage" class="btn btn-default excludeFromPageUnloadConfirm"><span class="glyphicon glyphicon-chevron-left"></span>Previous</button>
                            </apex:outputPanel>
                        </td>
                        <td width="60%" align="center">
                            <apex:outputText style="font-size:18px" value="Page: {!thecontrollers.PageNumber}/{!totalPage}"/>&nbsp;
                        </td>
                        <td width="20%" align="right">
                            <apex:outputPanel rendered="{!thecontrollers.HasNext}">
                                <button type="button" name="nextPage" class="btn btn-default excludeFromPageUnloadConfirm">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
                            </apex:outputPanel> 
                        </td>
                    </tr>
                </table>
                            
            </div>  
       
                <apex:actionRegion >
                    <table class="table table-striped table-condensed table-hover" id="resulttablewithcolumn" style="font-size:12px">
                        <colgroup span="{!numberOfDisplayColumns}"></colgroup>
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="selectAllCheckBox" id="selectAllCheckBox"/></th>
                                <th id="col_0" width="50px" class="headerpointer">Action</th>
                                <th id="Name" class="headerpointer" onclick="PC.EnhancedMassRating.hideCandidateInfo();sortcolumn('Name')" onmouseover="" style="cursor: pointer;">Application
                                    <span class="glyphicon glyphicon-chevron-up sortarrown" id="NameASC" style="display:none" ></span>
                                    <span class="glyphicon glyphicon-chevron-down sortarrown" id="NameDESC" style="display:none" ></span>
                                </th>
                                <th id="Candidate__r.Name" class="headerpointer" onclick="PC.EnhancedMassRating.hideCandidateInfo();sortcolumn('Candidate__r.Name')" onmouseover="" style="cursor: pointer;">Candidate
                                    <span class="glyphicon glyphicon-chevron-up sortarrown" id="Candidate__r.NameASC" style="display:none" ></span>
                                    <span class="glyphicon glyphicon-chevron-down sortarrown" id="Candidate__r.NameDESC" style="display:none" ></span>
                                </th>
                                <th id="Status__c" class="headerpointer" onclick="PC.EnhancedMassRating.hideCandidateInfo();sortcolumn('Status__c')" onmouseover="" style="cursor: pointer;">Status
                                    <span class="glyphicon glyphicon-chevron-up sortarrown" id="Status__cASC" style="display:none" ></span>
                                    <span class="glyphicon glyphicon-chevron-down sortarrown" id="Status__cDESC" style="display:none" ></span>
                                </th>
                                <th id="Candidate_Status__c" class="headerpointer columnjsonexist enableSCProgress" onclick="PC.EnhancedMassRating.hideCandidateInfo();sortcolumn('Candidate_Status__c')" onmouseover="" style="cursor: pointer;display:none;">Candidate Progress
                                    <span class="glyphicon glyphicon-chevron-up sortarrown" id="Candidate_Status__cASC" style="display:none" ></span>
                                    <span class="glyphicon glyphicon-chevron-down sortarrown" id="Candidate_Status__cDESC" style="display:none" ></span>
                                </th>
                                <th id="Candidate_Source1__c" class="headerpointer columnjsonexist" onclick="PC.EnhancedMassRating.hideCandidateInfo();sortcolumn('Candidate_Source1__c')" onmouseover="" style="cursor: pointer;display:none;">Source
                                    <span class="glyphicon glyphicon-chevron-up sortarrown" id="Candidate_Source1__cASC" style="display:none" ></span>
                                    <span class="glyphicon glyphicon-chevron-down sortarrown" id="Candidate_Source1__cDESC" style="display:none" ></span>
                                </th>
                                <th id="Recruiter_Notes__c" class="headerpointer columnjsonexist scnoterating" style="display:none;">Recruiter Notes
                                    <span class="glyphicon glyphicon-chevron-up sortarrown" id="Recruiter_Notes__cASC" style="display:none" ></span>
                                    <span class="glyphicon glyphicon-chevron-down sortarrown" id="Recruiter_Notes__cDESC" style="display:none" ></span>
                                </th>
                                <th id="Rating__c" class="headerpointer columnjsonexist enableSCRating" onclick="PC.EnhancedMassRating.hideCandidateInfo();sortcolumn('Rating__c')" onmouseover="" style="cursor: pointer;display:none;">Star Rating
                                    <span class="glyphicon glyphicon-chevron-up sortarrown" id="Rating__cASC" style="display:none" ></span>
                                    <span class="glyphicon glyphicon-chevron-down sortarrown" id="Rating__cDESC" style="display:none" ></span>
                                </th>
                                <apex:repeat var="header" value="{!scdisplaycolumn}" rendered="{!columnejsonnotexist}">
                                    <th class="headerpointer" id="{!header.Field_api_name}" onclick="PC.EnhancedMassRating.hideCandidateInfo();sortcolumn('{!header.Field_api_name}')" onmouseover="" style="cursor: pointer;">{!header.ColumnName}
                                        <span class="glyphicon glyphicon-chevron-up sortarrown" id="{!header.Field_api_name}ASC" style="display:none" ></span>
                                        <span class="glyphicon glyphicon-chevron-down sortarrown" id="{!header.Field_api_name}DESC" style="display:none" ></span>
                                    </th>
                                </apex:repeat>
                            </tr>
                        </thead>
                        <tbody>                     
                            <apex:repeat value="{!vcwfs}" var="opp">
                                <tr>
                                    <td><apex:inputCheckbox value="{!checkthisrecords[opp.id]}" id="selectedContact" rendered="true"></apex:inputCheckbox></td>
                                    <td>
                                        <button name="showCandidateDetail" value='{"cmId":"{!opp.id}","candId":"{!opp.Candidate__r.Id}"}' class="expansionButton" id="{!opp.id}">
                                            <span class="ui-icon ui-icon-plusthick" title="Expand to see candidate detail information."></span>
                                            <span class="ui-icon ui-icon-minusthick" title="Hide candidate detail section." style="display:none"></span>
                                        </button>
                                        <a id="button-anchor-{!opp.id}"></a>
                                    </td>
                                    <td>
                                        <div id="num_{!JSINHTMLENCODE(opp.Id)}" >
                                            <a href="/{!opp.Id}" target="_blank">
                                                <apex:outputField value="{!opp.Name}"/>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="name_{!JSINHTMLENCODE(opp.Id)}" >
                                            <apex:commandLink value="{!opp.Candidate__r.Name}" action="{!redirectToCand}" target="_blank">
                                                <apex:param assignTo="{!candId}" value="{!opp.Candidate__r.Id}" name="candId"/>
                                            </apex:commandLink>
                                            <div id="searchBubble_{!opp.Candidate__r.Id}"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="status_{!JSINHTMLENCODE(opp.Id)}" >
                                            <apex:inputField value="{!opp.Status__c}"/>
                                        </div>
                                    </td>
                                    <td class="columnjsonexist enableSCProgress" style="display:none;">
                                        <div id="progress_{!JSINHTMLENCODE(opp.Id)}" >
                                            <apex:inputField value="{!opp.Candidate_Status__c}" rendered="{!!columnejsonnotexist || enableSCProgress}"/>
                                        </div>
                                    </td>
                                    <td class="columnjsonexist" style="display:none;">
                                        <div id="source_{!JSINHTMLENCODE(opp.Id)}">
                                            <apex:outputField value="{!opp.Candidate_Source1__c}" rendered="{!!columnejsonnotexist}"/>
                                        </div>
                                    </td>
                                    <td class="columnjsonexist scnoterating" style="display:none;">
                                         <div id="source_{!JSINHTMLENCODE(opp.Id)}">
                                            <apex:inputField value="{!opp.Recruiter_Notes__c}" rendered="{!!columnejsonnotexist || enableSCNote}"/>
                                        </div>
                                    </td>
                                    <td class="columnjsonexist enableSCRating" style="display:none;">
                                        <div id="theimgdiv_{!JSINHTMLENCODE(opp.Id)}">
                                            <apex:inputHidden id="therating" value="{!opp.Rating__c}" rendered="{!!columnejsonnotexist || enableSCRating}"/>
                                            <img src="{!$Resource.SmallGreystar}" style="cursor: pointer;" id="greystar1_{!opp.Id}" onclick="changecolor(this.id,'1', true, '{!opp.Id}');"/> 
                                            <img src="{!$Resource.SmallGreystar}" style="cursor: pointer;" id="greystar2_{!opp.Id}" onclick="changecolor(this.id,'2', true, '{!opp.Id}');"/>
                                            <img src="{!$Resource.SmallGreystar}" style="cursor: pointer;" id="greystar3_{!opp.Id}" onclick="changecolor(this.id,'3', true, '{!opp.Id}');"/> 
                                            <img src="{!$Resource.SmallGreystar}" style="cursor: pointer;" id="greystar4_{!opp.Id}" onclick="changecolor(this.id,'4', true, '{!opp.Id}');"/> 
                                            <img src="{!$Resource.SmallGreystar}" style="cursor: pointer;" id="greystar5_{!opp.Id}" onclick="changecolor(this.id,'5', true, '{!opp.Id}');"/>
                                        </div>
                                    </td>
                                    <apex:repeat var="header" value="{!scdisplaycolumn}" rendered="{!columnejsonnotexist}">
                                        <td>
                                           <apex:outputField value="{!opp[header.Field_api_name]}" id="resultOutputField"/>
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                            <tr>
                                <td colspan="{!numberOfDisplayColumns}">
                
                                    <table width="50%" align="center">
                                        <tr>
                                            <td width="20%" align="left">
                                                <apex:outputPanel rendered="{!thecontrollers.HasPrevious}">
                                                    <button type="button" name="previousPage" class="btn btn-default excludeFromPageUnloadConfirm"><span class="glyphicon glyphicon-chevron-left"></span>Previous</button>
                                                </apex:outputPanel>
                                            </td>
                                            <td width="60%" align="center">
                                                <apex:outputText style="font-size:18px" value="Page: {!thecontrollers.PageNumber}/{!totalPage}"/>&nbsp;
                                            </td>
                                            <td width="20%" align="right">
                                                <apex:outputPanel rendered="{!thecontrollers.HasNext}">
                                                    <button type="button" name="nextPage" class="btn btn-default excludeFromPageUnloadConfirm">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
                                                </apex:outputPanel> 
                                            </td>
                                        </tr>
                                    </table>
              
                                </td>
                            </tr>                           
                        </tbody>                    
                    </table> 
                </apex:actionRegion>
       
            <div class="panel-footer">
                <table style="width:100%">
                    <tr>
                        <td style="width:30.5%"></td>
                        <td>
                     
                            <apex:actionStatus id="massupdatestatus">
                                <apex:facet name="start">
                                    <b>Loading</b>
                                    <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                                </apex:facet>
                                <apex:facet name="stop">
                                    <apex:commandButton styleClass="excludeFromPageUnloadConfirm" style="margin-right: 5px;" value="Mass Update" action="{!massupdate}" reRender="thetablePanel, hiddenContactMapJSON" status="massupdatestatus" oncomplete="populaterating();PC.EnhancedMassRating.init();PC.EnhancedMassRating.searchAndHighlight();PC.EnhancedMassRating.afterResultTableRerender();"/>
                                </apex:facet>
                            </apex:actionStatus>
                            <apex:actionStatus id="massupdatereturnstatus">
                                <apex:facet name="start">
                                    <b>Loading</b>
                                    <img src="{!$Resource.LoadingFB}" width="16" height="11" />
                                </apex:facet>
                                <apex:facet name="stop">
                                    <apex:commandButton styleClass="excludeFromPageUnloadConfirm" style="margin-right: 5px;" value="Mass Update & return" action="{!massUpdateAndReturn}" reRender="thetablePanel, hiddenContactMapJSON" status="massupdatereturnstatus" oncomplete="populaterating();PC.EnhancedMassRating.init();PC.EnhancedMassRating.searchAndHighlight();PC.EnhancedMassRating.afterResultTableRerender();"/>
                                </apex:facet>
                            </apex:actionStatus>
                            <apex:commandButton styleClass="includeInPageUnloadConfirm" style="margin-right: 5px;" value="Cancel" action="{!cancel}"/>
                            <apex:commandButton styleClass="includeInPageUnloadConfirm" value="Add to Other Vacancy" action="{!addToAnotherVacancy}" status="addto"/>
                                  
                        </td>
                    </tr>
                </table>  
            </div>
        </div>        
    </apex:outputPanel>

 
    <div class="detailSection" id="tabs-placeholder" style="display:none" >
        <a id="tabs-anchor-placeholder" style="display:none"></a> 
        <ul>
            <li><a href="#tabs-placeholder-1">Resume</a></li>
            <li><a href="#tabs-placeholder-2">Candidate Info</a></li>
        </ul>
        <div id="tabs-placeholder-1">
            <div id="divCVblock-placeholder" style="overflow:auto; border:1px solid #000000;min-height:600px;padding:15px">
                <div id="cvLink-placeholder" style="font-style:italic;font-weight:bold;"></div><br/> 
                <div id="cvDiv-placeholder" class="cvPanel">
                    <p>Sorry, we may have troubles in loading this candidate's resume or the resume content of this candidate is blank.</p>
                </div>  
            </div>
        </div>
        <div id="tabs-placeholder-2">
            <div id="peopleDetail-placeholder" style="overflow:auto; border:1px solid #000000;min-height:600px;padding:15px">
                <div class="loadingImg"></div>
            </div>
        </div>
    </div>          

    <apex:actionRegion >
        <apex:inputHidden value="{!candidateIdToRerenderSection}" id="candidateIdToRerenderSection"></apex:inputHidden>
        <apex:inputHidden value="{!cmIdToAppendDetailSection}" id="cmIdToAppendDetailSection"></apex:inputHidden>
        <apex:actionFunction action="{!rerenderCandidateInfo}" name="rerenderCandidateInfo" rerender="candidateInfo" oncomplete="PC.EnhancedMassRating.onCandidateInfoRenderComplete('{!cmIdToAppendDetailSection}')"></apex:actionFunction>
    </apex:actionRegion>
    <div id="candidateInfoRerenderArea">
        <apex:outputPanel id="candidateInfo">
            <div style="display: none" id="candidateInfoFrame">
                <apex:detail subject="{!candidateIdToRerenderSection}" relatedList="true" title="false" inlineEdit="True"/>
            </div>
        </apex:outputPanel>
    </div>
   
    
    <div id="Layer1" style="position:absolute; width:0px; height:0px; z-index:1; left: 400px; top: 10px;" onmouseover="KeepPopup();document.body.style.cursor = 'default';">
    <table id="poptable" style="visibility:hidden;border-collapse:collapse;width:609px;border-width:2px;border-style:solid;border-color:#00B2EE;">
        <tr>
           <td bgcolor="#B2DFEE" valign="bottom" width="55%">
            <div id="conName"> </div>
           </td>
           
           <td bgcolor="#B2DFEE" align="right" width="30%">

            <img id="imgDownControl" WIDTH="20" HEIGHT="20" src="{!$Resource.downarrow}" onMouseOver="this.style.cursor='pointer';scrollStart('Down', 'divContainer','divDownControl');" onMouseOut="this.style.cursor = 'default';scrollEnd();" title="Auto Scroll Down"/></td>
           <td bgcolor="#B2DFEE" align="middle" width="10%">
          
            <img id="imgUpControl" WIDTH="20" HEIGHT="20" src="{!$Resource.uparrow}" onMouseOver="this.style.cursor='pointer';scrollStart('Up', 'divContainer','divUpControl');" onMouseOut="this.style.cursor = 'default';scrollEnd();" title="Auto Scroll Up"/> 
           </td>
           <td bgcolor="#B2DFEE" align="left" width="5%">
          
             <img id="imgCloseControl" WIDTH="18" HEIGHT="18" src="{!$Resource.closeicon}" onMouseOver="this.style.cursor='pointer';" onclick="closepopup();"  title="Close Pop Up"/> 
           </td>
        </tr>
        <tr><td colspan="4">   
           <div id="divContainer" style="overflow:auto; border:2px solid #00B2EE;background-color:#ffffff;"> 
             <div id="divContent" style="visibility:hidden;">
               <p>Resume</p>
             </div>
           </div>
        </td></tr>
    </table>       
    </div>
    <apex:actionFunction name="updateSelectedContact" action="{!updateSelectedId}" rerender="People">
    <apex:param name="firstParam" assignTo="{!selectedId}" value="" />
    </apex:actionFunction>
</apex:form>
<script>
// ------------- Added by Raymond START---------------
PC.namespace = "{!namespace}"
// ------------- Added by Raymond END---------------

var has_rating;

addLoadEvent(loadingwindow);

function loadingwindow(){
    init();

}
function addLoadEvent(func) {  
    var oldonload = window.onload; 
    if (typeof window.onload != 'function') { 
        window.onload = func;
    } 
    else {
        window.onload = function() { 
            if (oldonload) {
                oldonload();  
            }
            func();  
        }
    } 
 }   

function init() {
    //document.getElementById('theIframe').src = "http://www.salesforce.com";
    sforce.connection.defaultNamespace = PC.namespace;
    sforce.connection.sessionId = '{!$Api.Session_ID}';
    bw = new verifyCompatibleBrowser() ;
    InitialiseScrollableArea();
    var divs = document.getElementsByTagName("Div");
    for(var i = 0; i < divs.length; i++)
    {
        if(divs[i].id.search("theimgdiv") != -1)
        {
                var recordid = divs[i].id.substring(10, divs[i].id.length + 1);
                //alert(recordid);
                //alert(divs[i].firstChild.value);
                dorating(divs[i].firstChild.value,recordid);
        }
    
    }
 }
function populaterating(){

    var divs = document.getElementsByTagName("Div");
    for(var i = 0; i < divs.length; i++)
    {
        if(divs[i].id.search("theimgdiv") != -1)
        {
            var recordid = divs[i].id.substring(10, divs[i].id.length + 1);
            
            dorating(divs[i].firstChild.value,recordid);
        }
    
    }
}
function dorating(thevalue,theid){

    switch(thevalue)
    {
        case "1": has_rating = true; prepopulate(1, theid);break;
        case "2": has_rating = true; prepopulate(2, theid);break;
        case "3": has_rating = true; prepopulate(3, theid);break;
        case "4": has_rating = true; prepopulate(4, theid);break;
        case "5": has_rating = true; prepopulate(5, theid);break;
        case "" : has_rating = false; break;
        case null : has_rating = false; break;
        default: break;
    
    }

}
function prepopulate(num, recordid){
 
    for(var i=1 ; i<= num; i++)
    {
        document.getElementById("greystar" + i + "_" + recordid).src = "{!$Resource.SmallGoldStar}";
    }
    for(var j=num+1 ; j<= 5; j++)
    {
        document.getElementById("greystar" + j + "_" + recordid).src = "{!$Resource.smallgreystar}";
    
    }
 }

function changecolor(imgobjid, num, flag, cid){
    if(imgobjid == null)
    {
        return;
    }
    document.getElementById("greystar5_"+cid).src = "{!$Resource.smallgreystar}";
    document.getElementById("greystar4_"+cid).src = "{!$Resource.smallgreystar}";
    document.getElementById("greystar3_"+cid).src = "{!$Resource.smallgreystar}";
    document.getElementById("greystar2_"+cid).src = "{!$Resource.smallgreystar}";
    document.getElementById("greystar1_"+cid).src = "{!$Resource.smallgreystar}";  
    
    var imgobj = document.getElementById(imgobjid);
    if(imgobj != null)
    {
        //alert(imgobj.parentNode.firstChild.value);
        imgobj.parentNode.firstChild.value = num;
        // Alert user unsaved changes before leaving current page
        window.onbeforeunload = PC.EnhancedMassRating.alertUnsavedChangedOnCM;
    }
    if(num == '1')
    {
        document.getElementById("greystar1_"+ cid).src = "{!$Resource.SmallGoldStar}";  
        flag1 = flag;
    }
    if(num == '2')
    {
        document.getElementById("greystar1_" + cid).src = "{!$Resource.SmallGoldStar}";  
        document.getElementById("greystar2_" + cid).src = "{!$Resource.SmallGoldStar}";
        flag2 = flag;
    }
    if(num == '3')
    {
        document.getElementById("greystar1_" + cid).src = "{!$Resource.SmallGoldStar}";  
        document.getElementById("greystar2_" + cid).src = "{!$Resource.SmallGoldStar}";
        document.getElementById("greystar3_" + cid).src = "{!$Resource.SmallGoldStar}";
        flag3 = flag;
    }
    if(num == '4')
    {
        document.getElementById("greystar1_" + cid).src = "{!$Resource.SmallGoldStar}";  
        document.getElementById("greystar2_" + cid).src = "{!$Resource.SmallGoldStar}";
        document.getElementById("greystar3_" + cid).src = "{!$Resource.SmallGoldStar}";
        document.getElementById("greystar4_" + cid).src = "{!$Resource.SmallGoldStar}";
        flag4 = flag;
    }
    if(num == '5')
    {
        document.getElementById("greystar1_" + cid).src = "{!$Resource.SmallGoldStar}";  
        document.getElementById("greystar2_" + cid).src = "{!$Resource.SmallGoldStar}";
        document.getElementById("greystar3_" + cid).src = "{!$Resource.SmallGoldStar}";
        document.getElementById("greystar4_" + cid).src = "{!$Resource.SmallGoldStar}";
        document.getElementById("greystar5_" + cid).src = "{!$Resource.SmallGoldStar}";
        flag5 = flag;
    }


}
//****************** hover stuff*********************
var ourInterval;
var origColor = "#F3F9F1";
var overColor = "#36FF00";
var scrollSpeed = 90;
var scrollHeight = 5;
MM_reloadPage(true);
window.moveTo (0,0);
window.resizeTo(screen.width,screen.height);
function verifyCompatibleBrowser(){ 
   this.ver=navigator.appVersion ;
   this.dom=document.getElementById?1:0 ;
   this.ie5=(this.ver.indexOf("MSIE 5")>-1 && this.dom)?1:0; 
   this.ie4=(document.all && !this.dom)?1:0; 
   this.ns5=(this.dom && parseInt(this.ver) >= 5) ?1:0; //** ie5 or higher version

   this.ns4=(document.layers && !this.dom)?1:0; 
   this.bw=(this.ie5 || this.ie4 || this.ns4 || this.ns5) ;
   return this ;
} 
var bw ;
function ConstructObject(obj,nest){ 
   nest=(!nest) ? '':'document.'+nest+'.' ;
   this.el=bw.dom?document.getElementById(obj):bw.ie4?document.all[obj]:bw.ns4?eval(nest+'document.'+obj):0; 
   this.css=bw.dom?document.getElementById(obj).style:bw.ie4?document.all[obj].style:bw.ns4?eval(nest+'document.'+obj):0; 
   this.scrollHeight=bw.ns4?this.css.document.height:this.el.offsetHeight; 
   this.clipHeight=bw.ns4?this.css.clip.height:this.el.offsetHeight; 
   //this.up=MoveAreaUp;
   //this.down=MoveAreaDown; 
   this.MoveArea=MoveArea; 
   this.x; 
   this.y; 
   this.obj = obj + "Object" ;
   eval(this.obj + "=this") ;
   return this ;
   
} 
function MoveArea(x,y){ 
   this.x=x;
   this.y=y; 
   this.css.left=this.x + "px";
   this.css.top=this.y + "px"; 
} 

var initialised; 
function InitialiseScrollableArea(){ 
   objContainer=new ConstructObject('divContainer') ;
   objScroller=new ConstructObject('divContent','divContainer') ;
   objScroller.MoveArea(0,0) ;
   objContainer.css.visibility='hidden'; 
   //document.getElementById("Layer1").style.visibility = "hidden"; 
   initialised=true; 
} 
function scrollStart(direction, divID, controlId){
    //CHANGE THE BACKGROUND COLOR OF THE TD THE MOUSE IS OVER
    //document.getElementById(controlId).style.backgroundColor = overColor;
    // REPEATED CALL EITHER scrollUp OR scrollDown
    ourInterval = setInterval("scroll"+direction+"('"+divID+"')", scrollSpeed);
}
function scrollEnd(){
    // OUR MOUSE IS OUT, SO RETURN TD TO ORIGINAL COLOR
    //document.getElementById(which).style.backgroundColor = origColor;
    // STOP CALLING THE SCROLL FUNCTION
    clearInterval(ourInterval);
}
function scrollUp(which){
    // SET THE SCROLL TOP
    document.getElementById(which).scrollTop = document.getElementById(which).scrollTop - scrollHeight;
}
function scrollDown(which){
    // SET THE SCROLL TOP
    document.getElementById(which).scrollTop = document.getElementById(which).scrollTop + scrollHeight;
}
function closepopup(){
    document.getElementById("poptable").style.visibility = 'hidden';
    document.getElementById("divContent").style.visibility = 'hidden';
    document.getElementById("divContainer").style.visibility = 'hidden';

}
function ShowPopup(hoveritem) 
{ 
    //document.getElementById("divContent").innerHTML = ''; //** reset the scroll bar
    hp = document.getElementById("Layer1"); 
    var container = document.getElementById("divContainer"); 
    container.scrollTop = 0;
    var curTop = 0;
    var curLeft = 0;

    if(hoveritem.offsetParent) {    
        do {      
        curLeft = curLeft + hoveritem.offsetLeft;      
        curTop = curTop + hoveritem.offsetTop;
        } 
        while(hoveritem = hoveritem.offsetParent)
        
    }
    //alert(curLeft);
    //alert(curTop);
    hp.style.top = curTop - 95 + 'px'; 
    hp.style.left = curLeft + 10 + 'px'; 
    document.getElementById("divContent").style.visibility='visible';
    document.getElementById("poptable").style.visibility='visible';
    hp.style.visibility = "visible"; 
    container.style.visibility='visible';
    
} 
function HidePopup(){
    hp = document.getElementById("Layer1"); 
    hp.style.visibility = "hidden"; 
    objContainer.css.visibility="hidden";

}
function KeepPopup(){
    
    hp = document.getElementById("Layer1"); 
    hp.style.visibility = "visible"; 
    objContainer.css.visibility="visible";


}
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
 if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
   document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
 else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
var currentid ;
function ReplaceASII(hoveritemid,CONID){
    
    try{
    var hoveritem = document.getElementById(hoveritemid);
    
    currentid = hoveritemid;
    document.getElementById("cvDiv").innerHTML = '<font size="4" color="green">Loading Resume. Please wait......</font>';
    
    CV_Link = '';
    var querystr = "select Id,FirstName,LastName, Resume__c " ;
    querystr += ",(Select Id, OwnerId, CreatedDate, Link_to_File__c,Link_to_File_Sec__c From Web_Documents__r where Type__c='resume' order by CreatedDate DESC) ";
    querystr += "from Contact where Id='"+CONID+"'";
    var result = sforce.connection.query(querystr, {onSuccess : success, onFailure : failure});
    
    }
    catch(e)
    {
        var err ='If you see that message, please contact your system admin. \n';
        alert(err+e);
    }
}

/* depercared function
function highlightText(cvtxt,termid,reg,rep){
    var rephtml = "<span class=\"highlighted term"+ termid +"\">"+rep+"</span>";
    var tempcv = cvtxt.replace(reg,rephtml);
    return tempcv;

}*/
var ishover = true;
var orginalCV = '';

var CV_Link ;
function success(result) {
   
    var keywordstr = document.getElementById("keywords").value;
    var cv ='';
    var searchTerms = keywordstr.split(';'); 
    var keynum = 0;
    if(searchTerms.length > 5)
    {
        keynum = 5;
    }
    else
    {
        keynum = searchTerms.length;
    }
    var regex ; 
    
    var records = result.getArray("records");
    if(records.length > 0)
    {
        orginalCV = records[0].Resume__c;
        document.getElementById("conName").innerHTML = "Resume of Candidate: <b>"+records[0].Name +"</b>";
        if(records[0].Web_Documents__r != null)
        {
            var CV_result = records[0].Web_Documents__r;
            var cvrecords = CV_result.getArray("records");
            
            if(cvrecords.length >0)
            {
                    
                    CV_Link = cvrecords[0].Link_to_File_Sec__c; //** html 
            }
        
        }
        toHighlight();//
        if(ishover)
        {
            ShowPopup(document.getElementById(currentid));
        }
        else
        {
            closepopup();
        }


    }
    document.getElementById(currentid).style.cursor = 'default';
}

function failure(error) {
    if(console && console.log)
        console.log(error.stack);
    alert('If you see that message, please contact your system admin. \nThere is some query error.\n'+error);
}
function toHighlight(){
    var temp = '';
    var infotemp ='';
    if(orginalCV != '' && orginalCV != null && orginalCV != 'null')
    {
        temp = orginalCV ;
        //alert(temp);
        var keywordstr = document.getElementById("keywords").value;
        var searchTerms = keywordstr.split(';'); 
        var keynum = 0;
        if(searchTerms.length > 5)
        {
            keynum = 5;
        }
        else
        {
            keynum = searchTerms.length;
        }
        var regex ; 
        temp = temp.replace(/\n/g,"<br/>");
                
        for(var i =0 ; i<keynum ; i++)
        {
            if(searchTerms[i] != null && searchTerms[i] != '' && searchTerms[i] != 'null' )
            {
                regex = new RegExp(searchTerms[i],"ig");  
                temp = highlightText(temp,i,regex,searchTerms[i]);
                infotemp = infotemp + getlegentInfo(i,searchTerms[i]) + '&nbsp;';
            }
            
        }
    }
    else
    {
         temp = "Currently candidate's resume text is blank. <br/>Please check make sure his/her resume file has been uploaded successfully.";
    }
    document.getElementById("cvDiv").innerHTML = "CV Link: "+ CV_Link + "<br/><br/>" + temp ;
    document.getElementById("legendinfor").innerHTML =  infotemp;
    document.getElementById("divContent").innerHTML = "CV Link: "+ CV_Link + "<br/><br/>" + temp ;

}
function highlightText(cvtxt,termid,reg,rep){
    var rephtml = "<span class=\"highlighted term"+ termid +"\">"+rep+"</span>";
    var tempcv = cvtxt.replace(reg,rephtml);
    return tempcv;

}
function getlegentInfo(termid,rep){
    var legendhtml = "<span class=\"highlighted term"+ termid +"\">"+rep+"</span>";
    
    return legendhtml;

}
function changestyle(colId,conid){
    var is_hover = false;
    document.getElementById("theframediv").style.display ="none";
    try{
        current_colid = colId;
        resetColcolor(old_colid);
        
        var pre = colId.substring(0,colId.indexOf("col")); //** i_id0:i_id2:0:
        var idarray = colId.split(':');
        current_id = idarray[idarray.length -2]; //0
        
        for(i =0 ; i <= 6 ; i++)
        {
            objid = pre + 'col_' + i;
            
            obj = document.getElementById(objid);
            changeColStyle(obj,'#FFEC8B');
        }
            
        old_colid = current_colid;
        if(conid != null && conid != '')
        {
            ishover = false;
            ReplaceASII(colId,conid);
        }
        opendetail(conid);
        
    }
    catch(e)
    {
        alert(e.message);
    }
}

function changeColStyle(obj , thecolor){
    
    obj.style.backgroundColor = '#FFEC8B'; //'#6495ED';

}
function resetColcolor(colid){
    if(colid != null && colid !='')
    {
        var pre = colid.substring(0,colid.indexOf("col"));
        var objid;    
        for(i =0 ; i <= 6 ; i++)
        {
            objid = pre + 'col_' + i;
            
            document.getElementById(objid).style.backgroundColor = 'white'; 
        }
    }     

}
var next_id;
var current_id ;
var current_colid;
var old_colid;
var curobj ;
function nextCanidate(){
    next_id = parseInt(current_id, 10) + 1;
    curobj = null;
    if(next_id<result.length)
    {
        resetColcolor(col_pre+current_id+':col_1');
        curobj = document.getElementById(col_pre+next_id+':col_1');
        
    }
    else
    {
        resetColcolor(col_pre + current_id+':col_1');
        curobj = document.getElementById(col_pre+ '0:col_1');
        
    }
    if(curobj)
    {
        curobj.ondblclick();
    }

}
function preCanidate(){
    next_id = parseInt(current_id, 10) - 1;
    curobj = null;
    if(next_id<0)
    {
        resetColcolor(col_pre+ '0:col_1');
        
        curobj = document.getElementById(col_pre+(result.length -1)+':col_1');
    }
    else
    {
        resetColcolor(col_pre+current_id+':col_1');
        
        curobj = document.getElementById(col_pre +next_id+':col_1');
    }
    if(curobj)
    {
        curobj.ondblclick();
    }

}

function KeyCheck(e)
{
   der = 0;
   var KeyID = (window.event) ? event.keyCode : e.keyCode;
   switch(KeyID)
   {
      
      case 37:
      der = -1;
      break;        
      case 39:
      der = 1;
      break;
    }
    if(der == 1)
    {
        nextCanidate();
    
    }
    else if(der == -1)
    {
    
        preCanidate();
    }
    
}
function checkDetail(conid){
    updateSelectedContact(conid);
}
</script> -->
<apex:page >
</apex:page>