<apex:page standardController="Placement_Candidate__c"
	extensions="ExtractData4SRController" recordSetVar="cons" action="{!inits}">
	<apex:form >
			<apex:outputPanel id="sendMailMsg" rendered="{!msgSignalhasmessage}">
				<apex:pageMessages />
				<apex:outputText value="Please select at least one Candidate Management from Vacancy,  please click "/>
				<!--<apex:commandlink action="{!returntoPreviousPage}" value="Here"/>-->
				<apex:outputLink value="{!retURL}">Here</apex:outputLink>
				<apex:outputText value=" to return the Vacancy! "/> 
			</apex:outputPanel>		
		</apex:form>
</apex:page>