<apex:page standardController="Placement_Candidate__c"
	extensions="ExtractData4SRController" action="{!SMSinits}">
	<apex:form >
	<apex:outputPanel id="sendMailMsg">
		<apex:pageMessages rendered="{!msgSignalhasmessage}"/>
		<apex:outputText value="Please select the candidate from Candidate Management record,  please click "/>
				<!-- <apex:commandlink action="{!returntoPreviousPage}" value="Here"/> -->
				<apex:outputLink value="{!retURL}">Here</apex:outputLink>
	</apex:outputPanel>
	</apex:form>
</apex:page>