<apex:page standardController="Contact"
	extensions="ExtractData4SBEController" recordSetVar="cons"
	action="{!inits}">
	<apex:form >
			<apex:outputPanel id="sendMailMsg" rendered="{!msgSignalhasmessage}">
				<apex:pageMessages />
				<apex:outputText value="Please click "/>
				<apex:outputlink value="{!retURL}" >Here</apex:outputlink>
				<!--<apex:commandlink action="{!returntoPreviousPage}" value="Here"/>-->
				<apex:outputText value=" to return the Contact View! "/>
			</apex:outputPanel>		
		</apex:form>
</apex:page>