<!--  **************************************
 *                                         *
 * Deprecated Page, 02/05/2017 Ralph       *
 *                                         *
 ******************************************* -->
<apex:page >
<!-- <apex:page Controller="GoogleSearch2" action="{!googleSearchPreviousMethodInit}" showHeader="false" sideBar="false" standardStylesheets="false" cache="false" docType="html-5.0">
    <script src="/soap/ajax/25.0/connection.js" type="text/javascript"></script>
    <script>
        var PC = PC || {},
            /* search mode and criteria constant are used in saved search and availability search*/
            AVAILABILITY_SEARCH_MODE = "availabilitysearchmode", 
            AVAILABILITY_CRITERIA = "availabilitycriteria",
            EVENT_POPULATE_SELECTED_EVENTS = "populateSelectedEvents",
            GSA_DATE_FORMAT = "YYYY-MM-DD"
        
        PC.savedSearches = PC.savedSearches || {};
        PC.savedSearches.namespace = "{!namespace}";
        PC.savedSearches.remote = PC.savedSearches.remote || {};
        PC.savedSearches.remote.retrieveSavedSearchesJSON = {!$RemoteAction.GoogleSearch2.retreiveSavedSearchesJSON}
        PC.savedSearches.remote.delSavedSearch = {!$RemoteAction.GoogleSearch2.delSavedSearch}
        PC.savedSearches.isAvailabilitySearchEnabled = {!customSetting.Enable_Availability_Search__c};
        
        sforce.connection.defaultNamespace = "{!namespace}";
        sforce.connection.sessionId = "{!$Api.Session_ID}";
        
        
        PC.skillSearch = PC.skillSearch || {};
        PC.skillSearch.namespace = '{!namespace}'
        PC.skillSearch.remote = {}
        PC.skillSearch.remote.retrieveSkillGroupsJSON = {!$RemoteAction.GoogleSearch2.retrieveSkillGroupsJSON}
        PC.skillSearch.remote.retrieveAllSkillsJSON = {!$RemoteAction.GoogleSearch2.retrieveAllSkillsJSON}
        /** Add to other vacancies remote javascript definition edited by Alvin 16/05/2014**/
        PC.skillSearch.remote.add2VacancyRemoteAction = {!$RemoteAction.GoogleSearch2.add2VacancyRemoteAction2}
        /**End **/
        
        PC.skillSearch.remote.createCandidatesIdJSON = {!$RemoteAction.GoogleSearch2.createCandidatesIdJSON}
        PC.skillSearch.remote.sendbulksms = {!$RemoteAction.GoogleSearch2.sendbulksms}
        PC.skillSearch.remote.addCandToVacancy={!$RemoteAction.GoogleSearch2.addCandToVacancy}
        PC.skillSearch.remote.sendbulkemail = {!$RemoteAction.GoogleSearch2.sendbulkemail}
        
        // Define ctcDualCalendar namespace and specify template
        PC.ctcDualCalendar = PC.ctcDualCalendar || {}
        PC.ctcDualCalendar.template="{!URLFOR($Resource.ctcAngularTemplate,'/ctcAngularTemplate/ctcDualCalendar/ctcDualCalendar.html')}"
        // Define message box component ctcAlert namespace and specify template
        PC.ctcAlert = PC.ctcAlert || {}
        PC.ctcAlert.template="{!URLFOR($Resource.ctcAngularTemplate,'/ctcAngularTemplate/ctcAlert.html')}"
        
        PC.formatDate = function(date, format){
            var result;
            if(moment){
                result = moment(date).format(format);
            }
            return result;            
        }
        angular.module("googleSearchModule",["skillSearchModule", "ctcWidgetModule"]);
    </script>


    <apex:stylesheet value="{!URLFOR($Resource.fullcalendar164,'/fullcalendar164/fullcalendar.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapformhelpers2,'/bootstrapformhelpers2/css/bootstrap-formhelpers.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootstrap301,'/bootstrap301/css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!$Resource.ctcWidgetLib_css}"/>
    <apex:styleSheet value="{!$Resource.skillsManagement_css}"/>
    <apex:styleSheet value="{!$Resource.googleSearchCSS2}"/>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryui192,'/jquery-ui-1.9.2.custom/css/redmond/jquery-ui-1.9.2.custom.css')}"/>
    <apex:styleSheet value="{!$Resource.savedSearches_css}"/>
    <apex:styleSheet value="{!$Resource.ctccustom_css}"/>
        
    <style>
        /* Change width of calendar to reduce widget size*/
        .dualCalendar {
            width: 300px;
        }
        
        /* 
            JQuery UI Style doesn't work with border-box which is introduced by bootstrap css,
            need to change it to old box model.
        */
        #savedSearchApp *, .ui-widget, .ui-widget *{
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box
        }
        
    </style>
    
    <apex:includeScript value="{!URLFOR($Resource.jslibrary,'/jslibrary/jquery-1.10.2.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jqueryui192,'/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js')}"/>
    <apex:includeScript value="{!$Resource.livequery}"/>
    <apex:includeScript value="{!$Resource.jquerytooltip}"/>
    <apex:includeScript value="{!$Resource.jqueryblockui}"/>
    <apex:includeScript value="{!$Resource.cookie}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrap301,'/bootstrap301/js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrapformhelpers2,'/bootstrapformhelpers2/js/bootstrap-formhelpers.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jslibrary,'/jslibrary/angular-1.0.8.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jslibrary,'/jslibrary/moment-2.4.0.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.fullcalendar164,'/fullcalendar164/fullcalendar.min.js')}"/>
    
    <apex:includeScript value="{!$Resource.ctcAngularModules_js}"/>
    <apex:includeScript value="{!$Resource.gsaUtil}"/>
    <apex:includeScript value="{!$Resource.googleSearchScript2}"/>
    <apex:includeScript value="{!$Resource.googlesearchbulksend}"/>
    <apex:includeScript value="{!$Resource.googlesearchscriptutil}"/>    
    <apex:includeScript value="{!$Resource.googlesearchviewscript}"/>
    <apex:includeScript value="{!$Resource.skillSearchController_js}"></apex:includeScript>
    <apex:includeScript value="{!$Resource.availabilitySearchController_js}"></apex:includeScript>
    <apex:includeScript value="{!$Resource.ctcWidgetLib_js}"></apex:includeScript>
    <apex:includeScript value="{!$Resource.savedSearches_js}"></apex:includeScript>
    <apex:includeScript value="{!$Resource.errorMsg4JSFunction_js}"></apex:includeScript>    
         
 
    <script type="text/javascript">
      	/* Bug Fix: IE9 >>> http://bugs.jquery.com/ticket/13378 */
    	//bug fix for the iframe that cannot support jquery function active = document.activeElement;.  
		jQuery(function () { document.documentElement.focus(); });
        /* update search columns and sf query critera with newly selected columns */
        /* this method is called by the iframe page */
        function updateColumnAndQueryCriteria(){
            setTimeout($j.unblockUI, 1); 
        
            updateColumnAndQueryCriteriaActionFunction();
        }

    
        /***Used to populate date field in Google search ******/
        $j(function() {
            $j( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy',changeMonth: true,
            changeYear: true }); 
            $j( ".datepicker" ).keydown(function(e) {
                e.preventDefault();
                return false;
            });   
        });
        /* hide the 'Show Skill Search' link if skill search is not activated in custom settings*/
        $j(document).ready(function(){
            var activeSkillSearch = {!activeSkillSearch};
            if(!activeSkillSearch){
                $j("#showSkillSearchSwitch").hide();
            }
            //Hide the addvacanywithoutreturn button. add by jack
            var disableAddToVacancyButton = {!showAddToVacancyButton}
            if(!disableAddToVacancyButton){
                $j("input[id$='addVacancyButtonWithoutReturn']").hide();
            }
            
            var disableshowsendbulksms = {!showsendbulksms}
            if(!disableshowsendbulksms){
                $j("input[id$='sendbulksms']").hide();
            }
            
            var disableshowsendbulkemail = {!showsendbulkemail}
            if(!disableshowsendbulkemail){
                $j("input[id$='sendbulkemail']").hide();
            }
            var disableShowAddToOtherVacancies={!showAddToOtherVacanciesButton};
            if(!disableShowAddToOtherVacancies){
                $j("input[id$='add2morevacancy']").hide();
            } 
        })

     
        function setJson(search,uniqueName){
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.GoogleSearch2.saveSearchJsonString}',
                 search, 
                 uniqueName,
                 function(result, event){
                    if(event && event.status){
                        var tempJsonResult = $j.parseJSON($j("<div/>").html(result).text());                    
                        if(tempJsonResult.errorCode=="204"){
                            PC.savedSearches.selectedSavedSearch.Id = tempJsonResult.recordid;
                            $j(".saveSearch").hide();
                            $j(".divSaveButton").attr("style","display:inline-block");
                            updateCriteriaButton = true;
                            checkUpdateButton();
                            if(sendbulksmsflag){
                                SendBulkSMS();
                            }else if(sendbulkemailflag){
                                SendBulkEmail();
                            }
                            saveSearchshowMessage(tempJsonResult);
                        }
                        else if(tempJsonResult.errorCode=="209"){//if save search is for template save search don't show the error message
                            PC.savedSearches.selectedSavedSearch.Id = tempJsonResult.recordid;
                            $j(".saveSearch").hide();
                            $j(".divSaveButton").attr("style","display:inline-block");
                            updateCriteriaButton = true;
                            checkUpdateButton();
                            if(sendbulksmsflag){
                                SendBulkSMS();
                            }else if(sendbulkemailflag){
                                SendBulkEmail();
                            }else if(add2morevacancy){
                                addCandidatesToVacancy();
                            }
                        }
                        
                        $j("#validateMessage").hide();
                        // Reload saved search entries in the console 
                        $j("#savedSearchController").scope().loadSearch();
                    }                    
                    else{
                        PC.savedSearches.handleRemoteJSError(event); 
                    }
                  },                    
                {escape: true}
            );
        }
        
        function validateName(search){
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.GoogleSearch2.validateName}',
                 search,                 
                 function(result, event){
                     if(event && event.status){
                        var tempJsonResult = $j.parseJSON($j("<div/>").html(result).text());
                        if(tempJsonResult.errorCode == "206"){
                            saveSearchCriteriaRecord(search);
                        }
                        else{
                            if(tempJsonResult.errorCode == "120" || tempJsonResult.errorCode == "121"){
                                saveCriteriaButtonClick(false);
                                $j("#validateMessage").html(tempJsonResult.errorMessage);
                                $j("#validateMessage").show();
                            }
                            else{
                                $j("#saveCriteriaButton").click();
                            }
                        }
                    }
                    else{
                        PC.savedSearches.handleRemoteJSError(event); 
                    }
                    /*SendResume.searchContext._response();
                    SendResume.searchContext.__response(eval('('+$j('<div />').html(result).text()+')'));
                    SendResume.searchContext=null;
                    $j(NodeName.children('[id$="loading"]')).hide();*/
                  },                    
                {escape: true}
            );
        }   
        
        function updateReocrdJson(search,recordid){
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.GoogleSearch2.updateSavedSearch}',
                 search, 
                 recordid,
                 function(result, event){
                    if(event && event.status){
                        var tempJsonResult = $j.parseJSON($j("<div/>").html(result).text());    
                        if(tempJsonResult.recordid !="") {              
                            saveSearchshowMessage(tempJsonResult);
                            $j("#validateMessage").hide();
                            // Reload saved search entries in the console 
                            $j("#savedSearchController").scope().loadSearch();  
                        }
                     }
                     else{
                        PC.savedSearches.handleRemoteJSError(event); 
                     }
                 },                    
                {escape: true}
            );
        }
        
        // Used to populate previous searching criterial and results. Added by Alvin
        $j(document).ready(function(){
            var return_criteria='{!multipleCriteriaJson}';
            var allSelectedIdsStrs='{!peopleidsjsonStr}';
            var showavailabilitysearch='{!showAvailabilitySearch}';
            populatePreSearch_wait(return_criteria,allSelectedIdsStrs,showavailabilitysearch) ;
        });
             
   
   
     function MessageController($scope){
        var messageBox = $j("#messageBox");
        $scope.message = {};
        $scope.$on("selectPastDateIsNotAllowed", function(event, args){
            $scope.message.type = "warning";
            $scope.message.title = "Warning.";
            $scope.message.messageDetail = "Past date may not be searchable in availability search.";
            $j(messageBox).fadeIn(500);
        })
        $scope.$on("cleanMessage", function(event, args){
            $j(messageBox).fadeOut(500);
        })
    }
    
   
    </script>
    <div ng-app="googleSearchModule">
    <apex:form target="_parent" styleClass="googleSearchForm" id="searchForm">
        <apex:pageBlock >
            <apex:actionFunction name="gsaSearchFunction" action="{!gsaSearch}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" status="searchStatus" oncomplete="showGSAResult(); highligh();"/>
            <apex:actionFunction name="first" action="{!getFirst}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" status="searchStatus" oncomplete="showGSAResult();"/>
            <apex:actionFunction name="last" action="{!getLast}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" status="searchStatus" oncomplete="showGSAResult();"/>
            <apex:actionFunction name="previous" action="{!getPrevious}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" status="searchStatus" oncomplete="showGSAResult();"/>
            <apex:actionFunction name="next" action="{!getNext}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" status="searchStatus" oncomplete="showGSAResult();"/>
            <apex:actionFunction name="add2Vacancy" action="{!add2Vacancy}" rerender="add2VacancyOut" status="add2VacanyStatus"/>
            <apex:actionFunction name="clearSearch" action="{!clearSearch}" status="searchStatus" rerender="searchForm"/>
            <apex:actionFunction name="changeRecordNumberPerPage" action="{!changeDisplayResultNumber}"  rerender="searchStatus,searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" oncomplete="hideLoadingImage();showGSAResult(); highligh(); showPagenation();showChangeRecordNumberPerPageSection();"/>
            <apex:actionFunction name="updateColumnAndQueryCriteriaActionFunction" action="{!updateColumnAndQueryCriteria}" oncomplete="hideLoadingImage();changeSearchColumnStatus();gsaSearchFunction();"/>
            <apex:actionFunction name="sortSearchResultByColumnActionFunction" action="{!sortSearchResultByColumn}"  rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel,apexHiddenDiv" status="searchStatus" oncomplete="showGSAResult(); ">
                <apex:param name="firstVar" assignTo="{!sortBycolumnApiName}" value="" />
                <apex:param name="secondVar" assignTo="{!sortingOrder}" value="" />
            </apex:actionFunction>
               
            <div id="hiddenDiv">
            <apex:outputPanel id="apexHiddenDiv">
                <apex:outputText value="{!leftJsonString}" styleClass="leftJson"/>
                <apex:outputText value="{!rightJsonString}" styleClass="rightJson"/> -->
                <!--  <apex:outputText value="{!sortedLabelString}" styleClass="sortedLabel"/> -->
                <!--  <apex:outputText value="{!sortedApiString}" styleClass="sortedApi"/>-->
               <!--  <apex:outputText value="{!$Api.Partner_Server_URL_210}" styleClass="endpointURLClass"/>
                <apex:outputText value="{!vid}" id="vid"/>
                 
                <apex:inputText value="{!endpointURL}" styleClass="endpointURL"/>
                <apex:inputText value="{!gsaKeywords}" styleClass="keywordsHidden"/>
                <input type="hidden" class="DatesSearchHidden"/>
                <div id="isChangingSearchColumn" style="display:none">false</div>
                <apex:inputText value="{!gsaSingleCriteria}" styleClass="singleCriteria"/>
                <apex:inputText value="{!gsaMulCriteria}" styleClass="mulCriteria"/>
                <apex:inputText value="{!gsaSkillCriteria}" styleClass="skillCriteria"/>  -->   <!-- newly addded for skill search -->
                <!-- To store gsa query term for searching candidate -->
        <!--         <apex:inputText value="{!gsaAvailabilityCriteria}" styleClass="availabilityCriteria"/> -->
                <!-- To store JSON formatted availability which is selected through calendar UI -->
         <!--        <apex:inputText value="{!availabilityCriteriaJSON}" styleClass="availabilityCriteriaJSON"/>
                <apex:inputText value="{!availabilitySearchMode}" styleClass="availabilitySearchMode"/> -->
     <!--            <apex:inputText value="{!sortBycolumnApiName}" styleClass="sortBycolumnApiName"/>   -->     <!-- define result sorted by selected column -->
               <!--  <apex:inputText value="{!sortingOrder}" styleClass="sortingOrder"/>    -->  <!-- define sorting order, DESC or ASC -->
               <!--  <apex:inputText value="{!showAvailabilitySearch}" styleClass="showAvailabilitySearch"/> -->
               <!--  <apex:inputText value="{!gsaResultSortBy}" styleClass="resultSortBy"/>  -->     <!-- define result sorted by either relevance or date -->
                <!-- <apex:inputText value="{!advanced}" styleClass="advanced" />
                <apex:inputText value="{!singleCriteriaJson}" styleClass="singleCriteriaJson" />
                <apex:inputText value="{!multipleCriteriaJson}" styleClass="multipleCriteriaJson" />
                </apex:outputPanel>
            </div>        -->
            <!-- search area-->
            <!-- <div id="savedSearchValidatedMessage" class="custom-messagebox" style="display:none;"></div>
            <apex:outputPanel styleClass="googleSearchConfigSection" rendered="{!enableColumnview}">
                <a href="#" id="googleSearchConfigLink">Configure Columns</a>
                <div id="googleSearchConfigForm" style="display:none">
            		<apex:iframe src="GoogleSearchColumnConfig?obj=Contact&confirmPopup=false" height="290px" width="490px" id="googleSearchConlumnConfigIframe"/>
                </div>
            </apex:outputPanel>
            <div id="blindSearchBoxSection">
            <table cellpadding="0" cellspacing="5px" width="100%" id="searchTable">
                <tr>
                    <td width="25%">&nbsp;</td>
                    <td width="50%"><h1>Candidate Search</h1></td>
                    <td width="25%">&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td> -->
                    <!-- search box -->
                 <!--    <td valign="bottom" >
                        <span class="ds" id="searchTextSpan">
                            <input type="text" name="search" id="searchText" class="lst form-control" placeholder="Enter keywords to search"/>
                        </span>
                    </td> -->
                    <!-- search links -->
                   <!--  <td align="left" style="padding-left: 10px;">
                        <a href="#" id="showSwitch">CTC People Search</a><br/>
                        <a href="#" id="showSkillSearchSwitch">Show Skill Search</a>
                    </td>
                </tr>
                <tr> -->
               <!--      <td>&nbsp;</td> -->
                    <!-- search buttons -->
<!--                     <td align="center" valign="bottom" style="text-align:center; padding:5px 0px;">
                        <input type="button" value="Search" id="goButton" class="btn btn-primary goButton"/>
                        <input type="button" value="Reset" id="resetButton"  class="btn btn-default resetButton"/>
                        <button name="saveCriteriaButton" id="saveSearch" class="btn btn-default saveSearch">Save Search</button>
                        <div class="btn-group divSaveButton" id="divSaveButton" style="display:none">
                            <button type="button" name="saveCriteriaButton" class="btn btn-default">Update Search</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 34px">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li onclick="saveCriteriaButtonClick(false);"><a>Save as...</a></li>
                            </ul>
                        </div>
                    </td> -->
                    <!-- <td>&nbsp;</td> -->
       <!--          </tr>
            </table> -->
            
            <!-- conditionsSection -->
            <!-- <div style="display:none;min-width:1100px;" id="conditionsSection"> -->
                <!-- People Cloud Search Options -->
                <!-- <div class="searchCriteriaSection">
                    <table width="100%" id="conditionsTable">
                        <colgroup><col class="leftCol"/><col class="rightCol"/></colgroup>
                        <tr id="conditions"><td id="leftSearch"></td><td id="rightSearch"></td></tr>
                    </table> -->
                <!-- </div> --><!-- People Cloud Search Criteria Section -->
                <!--  Availability Search Section -->
               <!--  <apex:outputPanel id="ava" rendered="{!customSetting.Enable_Availability_Search__c}">
                    <div ng-controller="AvailabilitySearchController" class="searchCriteriaSection" id="availabilitySearchSection">
                        <div>
                            <h4>Availability Search</h4>
                            <div style="width:300px;margin:auto;">
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-sm" ng-click="chooseSearchMode('confirmedAvailable')"
                                            ng-class="(searchMode == 'confirmedAvailable' || searchMode == '') &&  'btn-success' || 'btn-default' ">
                                            <input type="radio" name="searchModeOptions"/>
                                            Confirmed Available
                                        </label>
                                        <label class="btn btn-sm"  ng-click="chooseSearchMode('tentativelyAvailable')"
                                            ng-class="searchMode == 'tentativelyAvailable' &&  'btn-primary' || 'btn-default' ">
                                            <input type="radio" name="searchModeOptions"/>
                                            Tentatively Available
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:5px" ng-controller="MessageController">
                            <ctc-alert id="messageBox" message="message.title" message-detail="message.messageDetail" type="message.type" style="display:none;"></ctc-alert>
                        </div>
                        <div style="width:670px; margin: auto;">
                            <ctc-dual-calendar mode="'search'" on-event-select="onSelectEventButtonClick"
                            on-reset-selection-button-click="onResetSelectionButtonClick"
                            on-populate-selected-events="onPopulateSelectedEvents" 
                            selection-style="selectionStyle" height="200"></ctc-dual-calendar>
                        </div>
                    </div>
                </apex:outputPanel> -->
                <!--  Availability Search Section --> 
           <!--  </div> --><!-- conditionsSection -->
            
            <!-- skill search section -->
            <!-- <div id="skillSearch" style="display:none;min-width:1100px;">
                <div class="searchCriteriaSection">
                    <div class="row">
                        <div class="col-md-7 col-xs-7"> -->
                            <!-- Skill group menu -->
                            <!-- <div id="skillgroupmenu" ng-controller="SkillGroupMenuController" ng-init="initForSkillSearch()" class="custom-row">
                                <div><label for="searchOnlyVerifiedSkillCheckbox">Verified skills only ?</label>    &nbsp;&nbsp;&nbsp;<input id="searchOnlyVerifiedSkillCheckbox" type="checkbox" ng-model="verifiedSkillsOnly" ng-change="verifiedSkillsOnlyChange()"/></div> 
                                <div class="custom-row row-title"><label>Please select a skill group</label></div>
                                <select id="skillGroupMenu" ng-options="item.Id as item.Name for item in allSkillGroups" ng-model="selectedSkillGroupId" ng-change="selectionChange()" style="width:300px"></select>
                                <div id="selectedSkillGroup4SaveSearch" style="display:none">{{selectedItems}}</div>
                            </div>           
                     -->
                            <!-- Skills of selected skill group -->
                           <!--  <div id="skillPanel" ng-controller="SkillPanelController" ng-init="initForSkillSearch()">
                                <div>
                                    <label for="searchSkillInput">Search skills</label> <input id="searchSkillInput" ng-model="skillFilter"/>
                                </div>  
                            
                                <div ng-repeat="skillGroup in selectedSkillGroups | filter:{skillsvalues:skillFilter}" class="custom-row">
                                <div class="title"><span>{{ skillGroup.Name }}</span></div>
                                <span class="ctctag editSkills {{ addExtraStyleForSkill(skill) }}" ng-repeat="skill in allSkills | filter:skillGroup.Id | filter:{Name:skillFilter}" ng-click="toggleMark4Skill(skill)">
                                    <span class="tag" >{{ skill.Name }}</span><br/>
                                    <span class="marker ui-icon ui-icon-circle-check"></span>
                                    </span>
                                    <br/>
                                </div>
                                
                                <div ng-repeat="skillGroup in allSkillGroups | filter:filterOutSelectedSkillgroup | filter:{skillsvalues:skillFilter}" class="custom-row" ng-show="skillFilter.length>0">
                                <div class="title"><span>{{ skillGroup.Name }}</span></div>
                                <span class="ctctag editSkills {{ addExtraStyleForSkill(skill) }}" ng-repeat="skill in skillGroup.skills | filter:skillGroup.Id | filter:{Name:skillFilter}" ng-click="toggleMark4Skill(skill)">
                                    <span class="tag" >{{ skill.Name }}</span><br/>
                                    <span class="marker ui-icon ui-icon-circle-check"></span>
                                    </span>
                                    <br/>
                                </div>
                                  
                                <div id="addedSkills4SaveSearch" style="display:none">{{addedSkills}}</div>                        
                            </div>              
                        </div> -->
                        <!-- Display selected skills and operators-->   
                        <!-- <div ng-controller="DisplayAddedSkillsController" ng-init="init()" class="skillCriteria custom-row col-md-4 col-xs-4" style="border-left: 1px solid #ddd;"> 
                            <span ng-show="selectedSkills2Display.length==0" >No skills are selected.</span>
                            <span ng-show="selectedSkills2Display.length>0" > 
                                Search candidates have skills:  
                                <input type="button" ng-click="resetSkills()" value="Reset Skills"/>
                            </span>
                            <br/>   
                            <br/>
                            <span ng-repeat="skill in selectedSkills2Display " ng-init="count=0" class="skillCriteriaItem">
                                <span class="searchOperator" alt="Click to change logic operator" ng-show="$index!=0" ng-click="operatorChange(skill.Id)"><span> {{operatorMap[skill.Id]}}</span></span>
                                <span class="ctctag" >
                                    <span class="tag" title="{{skill[namespace+'Skill_Group__r'].Name}}">{{ skill.Name }}</span>
                                    <a ng-click="deleteSkill(skill)">x</a>
                                </span>
                            </span>
                            <br/>
                            <div id="operatorError" style="dysplay:none">{{valicationErrorMessage}}</div>
                            <div id="skillQueryString" ng-show="false">{{skillQueryString}}</div>
                            <div id="operatorMap4SaveSearch" style="display:none">{{operatorMap}}</div>             
                        </div>               -->
                    <!-- </div> --> <!-- End of row -->
                <!-- </div> --><!-- end of id="skillSearch", end of skill search section --> 
            <!-- </div>
            </div> -->

            
            <!-- start of search result section -->
        <!--     <div id="searchResultPage" style="display:none">    
                <div id="searchResultPageLogo">
                    <center><apex:image url="{!$Resource.CtcGoogleLogo}" style="width:440px;padding:10px;"/></center>
                </div>
                
                 -->
                <!-- buttons in search result area -->
              <!--   <center>
                    <apex:commandButton value="Add to Vacancy and Return" action="{!add2Vacancy}" styleClass="btn btn-default addVacancyButton" rendered="{!showAddToVacancyButton}"/>  --> <!-- this button adds new candidate management and returns to vacancy page -->
                  <!--   <input type="button" class="btn btn-default" value="Add to Vacancy Only" id="addVacancyButtonWithoutReturn" />   -->    <!-- this button adds new candidate management without returning to vacancy page -->
                    <!-- <input type="button" class="btn btn-default" value="Send Bulk SMS" id="sendbulksms"/>
                    <input type="button" class="btn btn-default" value="Send Bulk Email" id="sendbulkemail"/>
                    <input type="button" class="btn btn-default" value="Add to Other Vacancies" id="add2morevacancy" />
                    <input type="button" class="btn btn-danger" value="Back to Search Box" id="back2searchbox" />
                </center>
                
                <center>
                    <img src="{!$Resource.LoadingGif}" style="display: none;" id="loading" align="middle"/>  
                </center> -->
                <!-- search result area -->
               <!--  <apex:outputPanel id="searchResultdetail" style="vertical-align: middle">
                    <br/>
                    <p id="totalResultsP">about <span id="totalResults"></span> results</p>
                    <center>

                    <apex:actionStatus startText="searching...." id="searchStatus" style="text-align:center;">
                         <apex:facet name="start">
                            <apex:image url="{!$Resource.LoadingGif}"/> 
                         </apex:facet>
                        <apex:facet name="stop" > -->
                        <!-- search result from GSA -->
                 <!--            <div id="totalResultsHidden" style="display:none">{!totalResultNumber}</div> -->
                            <!-- <div id="currentPageSelectedId" style="display:none">{!currentPageSelectedId}</div>     -->
                            <!-- <div id="gsaSearchResult" style="display:none">{!gsaSearchResult}</div>                     
                            <div id="gsaSearchContactResult" style="display:none">{!gsaSearchContactResult}</div>
                            <div id="gsaSearchContactResultColumn" style="display:none">{!columnsJSON}</div>    
                            <div id="gsaenableColumnview" style="display:none">{!enableColumnview}</div>
                            {!searchResultInfo} -->
                            <!-- current page search result layout-->
                        <!-- </apex:facet>
                    </apex:actionStatus>
                    </center>
                    <apex:actionStatus startText="requesting...." id="wait" style="text-align:center;"></apex:actionStatus>
                </apex:outputPanel>
                <apex:outputPanel id="searchResult" rendered="{!!enableColumnview}">
                    
                    <div id="searchResultDiv">
                        <table id="selectAllTable" width="80%" style="margin:auto"></table>
                        <table id="resultTable" width="80%" style="margin:auto"></table>
                        <br/> 
                    </div>
                </apex:outputPanel>
                <apex:outputPanel id="searchResultwithcolumn" rendered="{!enableColumnview}">               
                    <div id="resultTablewithcolumn" ng-controller="googlesearchview" ng-init="initgooglesearchview()" class="custom-row">
                        <table class="table table-striped table-condensed table-hover" style="font-size: 12px; width: 90%; margin:auto;" id="resulttablewithcolumn">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAllCheckBox"/></th>
                                    <th id="Name" class="headerpointer" ng-style="ASC" ng-click="sortSearchResultByColumn('Name')">Full Name
                                        <span class="glyphicon glyphicon-chevron-up" id="NameASC" style="display:none" ></span>
                                        <span class="glyphicon glyphicon-chevron-down" id="NameDESC" style="display:none" ></span>
                                    </th>
                                    <th class="availablityfcolumn" style="display:none">Availablity</th>
                                    <th  class="headerpointer" id="{{header.columnlistApiName}}" title="Field Type: {{displayContactFieldType(header)}}" ng-repeat="header in allcolumnlist"  ng-style="DESC" ng-click="sortSearchResultByColumn(header)">
                                        {{ header.columnlistName }}  
                                        <span class="glyphicon glyphicon-chevron-up" id="{{header.columnlistApiName}}ASC" style="display:none" ></span>
                                        <span class="glyphicon glyphicon-chevron-down" id="{{header.columnlistApiName}}DESC" style="display:none" ></span>
                                    </th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr ng-repeat="contact in contactresultlist | filter:selected">
                                    <td><input type="checkbox" name="selectedContact" value="{{contact.tempcontact['Id']}}" ng-model="contact.selected" ng-change="" /></td>
                                    <td>
                                        <apex:outputPanel rendered="{!customSetting.Enable_Availability_Search__c}">
                                            <a href="/apex/PeopleCloud1__AvailabilityManagement?canId={{contact.tempcontact['Id']}}" target="_blank" class="noUnderline">
                                                <span class="glyphicon glyphicon-calendar" style="width:20px;height:20px"></span>
                                            </a> 
                                        </apex:outputPanel>
                                        <a href="/{{contact.tempcontact['Id']}}" id="{{contact.tempcontact['Id']}}" target="_blank">{{contact.tempcontact['Name']}}</a>
                                        <div name="resumeToolTip" class="tooltip" style="display:none"></div>
                                    </td>
                                    <td class="availablityfcolumn" style="display:none">
                                            <span class="availdate"   style="display:inline-block;color:green;font-size:18px;font-weight:bold; padding-RIGHT: 2px;width: 25px;" title="Available dates">{{contact.numberofAvailabledays}}</span>
                                            <span class="unavaildate" style="display:inline-block;color:red;  font-size:18px;font-weight:bold; padding-RIGHT: 2px;width: 25px;" title="Unavailable dates">{{contact.numberofUnavailabledays}}</span>
                                            <span class="tentdate"    style="display:inline-block;color:blue; font-size:18px;font-weight:bold; padding-RIGHT: 2px;width: 25px;" title="Tentative dates">{{contact.numberofTentativedays}}</span>
                                    </td>
                                    <td ng-repeat="header in allcolumnlist">{{displayContactFieldValue(contact.tempcontact,header)}}</td>
                                </tr>
                            </tbody>
                       </table>
                    </div>
                 </apex:outputPanel>
                    <apex:outputPanel id="changeRecordNumberPerPageSectionoutputpanel">
                        <div id="changeRecordNumberPerPageSection" style="display:none">
                            Display 
                            <apex:inputField value="{!up.Number_of_Records_Per_Page__c}" 
                                onchange="showLoadingImage();changeRecordNumberPerPage();getSelectedIds(); hidePagenation();" styleClass="recordNumberPerPageSelector"/>
                            records per page
                        </div>
                        <div id="loadingGif" style="display:none">
                            Loading ...
                            <apex:image url="{!$Resource.LoadingGif}"/> 
                        </div>
                        
                        <center id="paginationSection">
                            <div style="display:none"><apex:inputText value="{!currentPage}" styleClass="currentPage"/></div>
                            <apex:commandLink action="{!goPre}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" 
                                onclick="showLoadingImage();getSelectedIds(); hidePagenation();hideChangeRecordNumberPerPageSection();" oncomplete="hideLoadingImage();showGSAResult(); highligh(); showPagenation();showChangeRecordNumberPerPageSection();"
                                     rendered="{!showPre}" status="searchStatus" style="font-weight:bold;"> Previous </apex:commandLink> &nbsp; &nbsp; &nbsp;
                            <apex:repeat value="{!pageRange}" var="p">
                                <apex:commandLink action="{!goToPage}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" onclick="showLoadingImage();getSelectedIds(); hidePagenation();hideChangeRecordNumberPerPageSection();" oncomplete="hideLoadingImage();showGSAResult(); highligh(); showPagenation();showChangeRecordNumberPerPageSection();" status="searchStatus">
                                    <span class="pageNum">{!p}</span> <apex:param name="currentPage" value="{!p}" assignTo="{!currentPage}" />
                                </apex:commandLink> &nbsp; &nbsp; &nbsp; 
                            </apex:repeat>
                            <apex:commandLink action="{!goNext}" rerender="searchResult,searchResultdetail,changeRecordNumberPerPageSectionoutputpanel" 
                                onclick="showLoadingImage(); getSelectedIds(); hidePagenation();hideChangeRecordNumberPerPageSection();" oncomplete="hideLoadingImage();showGSAResult(); highligh(); showPagenation();showChangeRecordNumberPerPageSection();" 
                                    rendered="{!showNext}" status="searchStatus" style="font-weight:bold;"> Next </apex:commandLink> 
                        </center>
                    </apex:outputPanel> -->
                <!-- end of search result area -->
                <!-- pagination table -->
                
                
                <!-- add to vacancy area -->
                <!-- <apex:outputPanel id="add2VacancyOut">
                    <apex:actionStatus startText="adding...." id="add2VacanyStatus">
                        <apex:facet name="stop">
                            <span class="info">{!add2VInfo}</span>
                        </apex:facet>
                    </apex:actionStatus>
                </apex:outputPanel> -->
                <!-- 
                    <center><input type="button" value="add to vacancy" id="addVacancyButton" style="display:none" class="btn"/></center>
                -->
                <!-- add to vacancy button --> 
                   
           <!--  </div> -->
            <!-- end of search result section -->
        <!--     <table cellpadding="0" cellspacing="5px" width="100%" id="UnderSearchButton" style="display:none">
               <tr>
                    <td>&nbsp;</td> -->
                    <!-- search buttons -->
                    <!-- <td align="center" valign="bottom" style="text-align:center; padding:5px 0px;">
                        <input type="button" value="Search" id="undergoButton" class="btn btn-primary goButton"/>
                        <input type="button" value="Reset" id="underresetButton"  class="btn btn-default resetButton"/>
                        <button name="saveCriteriaButton" id="undersaveSearch" class="btn btn-default saveSearch">Save Search</button>
                        <div class="btn-group divSaveButton" id="underdivSaveButton" style="display:none">
                            <button type="button" name="saveCriteriaButton" class="btn btn-default">Update Search</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 34px">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li onclick="saveCriteriaButtonClick(false);"><a>Save as...</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
             
                      
        </apex:pageBlock>
        
    </apex:form>  -->
    
    <!-- Start of Login Dialog -->  
    <!-- <div id="SearchCriteriaButton" title="Enter the Saved Search name" style="display: None;">
        <input type="text" id="recordname" Title="Enter the Search Name" class="defaultTextActive" value="Enter the Search Name" onclick="inputTextValue()"/><span style="color:red">* Required Field</span><br/>
        <span id="validateMessage" style="display: None">Record Name Duplicate! Please Input another name!</span>        
    </div> -->
    <!-- End of Login Dialog -->
    
     <!-- Start of Update Dialog -->  
  <!--   <div id="updateSearchCriteriaButton" title="Update the Record Name" style="display: None;">
        <span style="color:red">Do you want to update the Record</span>
    </div> -->
     <!-- End of Update Dialog -->
    
    <!-- Start of Delete Dialog -->
    <!-- <div id="dialog-confirm" title="Delete Saved Search?" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>This saved search will be deleted. Are you sure?</p>
    </div> -->
    <!-- End of Delete Dialog -->


<!-- saved search console -->   
<!-- <div id="savedSearchApp">
<div id="savedSearchController" ng-controller="SavedSearchController">
<div id="floatConsole">  
  <div id="saveSearchesConsole" class="ui-widget-content" style="display:inline-block;width:300px">
  <div id="accordion">
    <h3>Saved Searches</h3>
    <div>
      <ol id="personalSavedSearchList" class="selectable">
        <div ng-switch="noPersonalSavedSearches()">
            <li class="ui-widget-content" ng-repeat="search in allSavedSearches.personalSavedSearches">
                 {{search.Name}}
                <img src="{!$Resource.LoadingGif}" class="ui-icon-custom ui-icon-action" style ="display:none;" name="loadingIcon"></img>
                <span class="ui-icon ui-icon-trash ui-icon-action clickable" ng-click="delSavedSearch($event,search)"></span>
                <span class="ui-icon ui-icon-refresh ui-icon-action clickable"  ng-click="runSavedSearch($event,search)"></span>        
            </li>
            <li class="ui-widget-content"  ng-switch-when="true">No Records</li>
        </div>
      </ol>
    </div>
  </div>
</div>
</div> -->
<!-- </div>  --><!-- savedsearch controller end -->
<!-- </div> --><!-- savedsearch app end -->
<!-- saved search console -->
<!-- </div> --> <!-- end of ng-app="skillSearchModule" -->

<!-- <center>
    <p id="google" style="margin:10px">Powered by <img src="{!$Resource.googlelogo}" style="height:24px;vertical-align:middle;"></img> </p>
</center>
 -->
</apex:page>