<!--  **************************************
 *                                         *
 * Deprecated Page, 13/06/2017 Ralph       *
 *                                         *
 ******************************************* -->
<!-- <apex:page standardController="Placement_Candidate__c" extensions="IframeParent" recordSetVar="cans" sidebar="false">
<apex:includeScript value="{!$Resource.jquery}"></apex:includeScript>
<script type="text/javascript">
	function parentiframe(e) {//add iframe
		generateURL(e);
	}
	$(document).ready(function(){	
		$('iframe').load(function() {
	                 this.style.height =        this.contentWindow.document.body.offsetHeight  +120 + 'px';
	                 this.style.width =        this.contentWindow.document.body.offsetWidth + 'px';
	       });
	});
</script>
<apex:form id="test">
	<apex:commandLink action="{!backToVac}"
				value="{!commandlinkvalue}" style="font-size:20px;font-weight:bold;">
				<apex:param assignTo="{!selectlink}" value="{!commandlinkaction}" />
	</apex:commandLink>	
    <br/>
	<apex:actionFunction name="generateURL" action="{!generateURL}" rerender="test" status="generatURL">
            <apex:param name="addurlParam" assignTo="{!jumpUrl}" value="" />
    </apex:actionFunction>      
	<apex:iframe src="{!tempUrl}" id="iframesize"/>
</apex:form> -->
<apex:page >
</apex:page>