<apex:page StandardController="Advertisement__c" extensions="IndeedPostingController" showHeader="true" sidebar="true" action="{!initSelectOption}">
	<apex:includeScript value="{!$Resource.jquery172}" />
	<apex:includeScript value="{!$Resource.jqueryblockui}"/>
	<apex:includescript value="{!$Resource.jqueryvalidationplugin}"/>
	<apex:includeScript value="{!URLFOR($Resource.jqueryui192,'/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js')}"/>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryui192,'/jquery-ui-1.9.2.custom/css/redmond/jquery-ui-1.9.2.custom.css')}"/>
    <apex:includeScript value="{!$Resource.ctcWidgetLib_js}"></apex:includeScript>
    <apex:styleSheet value="{!$Resource.ctccustom_css}"/>
	<apex:includescript value="{!$Resource.LibIndeedPostJS}"/>
	<script type="text/javascript">
		function goToRec(Id){
				sforce.one.navigateToSObject(Id, 'view');
		}
	</script>
	
	<apex:pageBlock rendered="{!OR(isEdit,isClone)}">
		<apex:includeScript value="{!URLFOR($Resource.ckeditor,'ckeditor/ckeditor.js')}"/>
		<apex:includescript value="{!$Resource.ctcCKEDITORConfig_js}"/>
		<script type="text/javascript">
	
			$j=jQuery.noConflict();
			$j(function(){
				 	var editorNo = 0;
			        var noOfEditorsOnAPage=2;
			        var ckeditorList = $j(".ckeditor");
			        if(ckeditorList !== null && ckeditorList !== 'undefined'){
			        	noOfEditorsOnAPage = ckeditorList.length;
			        }
			        

			        CKEDITOR.on('instanceReady', function(e) {
			            if(editorNo>=noOfEditorsOnAPage){return;}else{editorNo++;}
			            var target = e.editor.config.bodyId;
			            var name = e.editor.name;
			            e.editor.destroy();
			    
			            setCKEDITORDefaultConfig();
			            
			            buildDefaultCKEDITOR(name,target);
			            
			        });
			});

			
			
			
		</script>
	</apex:pageBlock>
	
	
	<apex:form id="Indeedpostingform">
		<apex:actionFunction name="indeedsavead" action="{!savead}" rerender="sendMailMsgIndeed"/>
		<apex:actionFunction name="indeedsaveandpostad" action="{!postad}" rerender="sendMailMsgIndeed"/>
	
		
	
		<apex:sectionHeader title="Job Posting" subtitle="Indeed Posting" />
		<div>
			<apex:image value="{!$Resource.indeedPostingCommon}" styleClass="ctc-logo img-responsive" style="width: 200px; float: right;"/>
		</div>
		<div id="indeed_msg" class="custom-messagebox" style="display:none;text-align:center;color:red"></div>
		<div>
	      	<apex:outputPanel id="sendMailMsgIndeed">
				<apex:pageMessages rendered="{!msgSignalhasmessageIndeed}" escape="false"/>
			</apex:outputPanel>
		</div>
		<apex:pageBlock rendered="{!isIndeedAccountEnable}">
			<center>
			 <apex:pageBlockButtons >
		    	<input type="button" value="Save Ad" id="indeedsavead"/>
			    	<input type="button" value="Post Ad" id="indeedsaveandpostad"/>
				</apex:pageBlockButtons>
				<img src="{!$Resource.LoadingGif}" style="display:none" id="indeedloading"/> 
			</center>
		   
			<apex:pageBlockSection title="Advertisement Basic Information" columns="2">
			    <apex:pageBlockSectionItem >
					<apex:outputLabel >Job Title:</apex:outputLabel>
					<apex:outputpanel >
						<div class="requiredInput" id="" >
						<div class="requiredBlock"></div>
							<apex:inputText style="width:300px" maxlength="80" id="Indeedjobtitle" value="{!adTemplate.Job_Title__c}" styleClass="required" title="Title of the job." size="80"></apex:inputText>(Max: 80 characters)
						</div>
					</apex:outputpanel>					
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel >Screening Question</apex:outputLabel>
					<apex:outputpanel >						
						<apex:selectList id="Indeedquestion" value="{!adTemplate.Indeed_Question__c}" size="1" styleClass="">
								<apex:selectOptions value="{!indeedScreeningQuestionOption}" />
						</apex:selectList>
						
					</apex:outputpanel>					
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!enableskillparsing}">
                    <apex:outputLabel >Skill Groups</apex:outputLabel>
                   	<apex:outputPanel >
                   		<div class="requiredInput">
                   			<div class="requiredBlock"></div>
	                   		<apex:selectList id="defaultskillgroups" value="{!defaultskillgroups}" multiselect="true" size="6" styleClass="required">
	                    		<apex:selectOptions value="{!SelectSkillGroupList}"></apex:selectOptions>                
	                    	</apex:selectList>
	                    </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem> 
		    </apex:pageBlockSection>	
		    <apex:pageBlockSection title="Advertisement Description" columns="1">
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="Job Description" />
                    <apex:outputPanel >
                        <div class="requiredInput" id="" >
                        <div class="requiredBlock"></div>
                        	<span><b>Note: If copying from word, please use the 'Remove HTML' button to remove hidden formatting which can cause posting issues.</b></span>
                            <apex:inputTextArea value="{!adTemplate.Job_Content__c}" rows="20" cols="120" id="Indeed_content" richText="false" styleClass="ckeditor required"/>   
                            <input type="button" value="Remove HTML" onclick="GetPlainTexts('Indeed_content')"/>
	                        <input type="button" value="Count Words" onclick="Countword('Indeed_content')"/>
	                        <span id="Indeed_content_countdiv"> </span><span>(Max: 25000 characters)</span>                      
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection title="Indeed Ad Addition Information" columns="2">
			    <apex:pageBlockSectionItem >
					<apex:outputLabel >Job City</apex:outputLabel>
					<apex:outputpanel >
						<apex:inputText id="Indeedjobcity" value="{!adTemplate.City__c}" maxlength="20" title="This is a the job's city (e.g. Sydney). " size="20"></apex:inputText> (Max: 20 characters)
					</apex:outputpanel>					
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem >
					<apex:outputLabel >Job State</apex:outputLabel>
					<apex:outputpanel >
						<apex:inputText id="Indeedjobstate" value="{!adTemplate.State_Label__c}" maxlength="20" title="This is a the job's city (e.g. NSW). " size="20"></apex:inputText> (Max: 20 characters)
					</apex:outputpanel>					
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel >Job Country</apex:outputLabel>
					<apex:outputpanel >
						<div class="requiredInput" id="" >
						<div class="requiredBlock"></div>
							<apex:selectList id="Indeedjobcountry" value="{!adTemplate.Country__c}" size="1" styleClass="required" title="Country of the job's location.(e.g. Australia).">
								<apex:selectOptions value="{!indeedjobcountrySelectOption}" />
							</apex:selectList>
						</div>
					</apex:outputpanel>					
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem id="jobpostalcode">
					<apex:outputLabel >Job Postal Code</apex:outputLabel>
					<apex:outputpanel >
						
						<apex:inputText id="Indeedjobpostcode" value="{!adTemplate.LinkedIn_Postal_Code__c}" styleClass="" maxlength="10" title="Postal code of the job's location." />(Max: 10 characters)
						
					</apex:outputpanel>					
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel >Job Type</apex:outputLabel>
					<apex:outputpanel >
						<apex:selectList id="indeedjobtype" value="{!adTemplate.Job_Type_Text__c}" size="1" styleClass="required" title="Job classification (e.g. full-time, part-time, contract, etc.)">
							<apex:selectOptions value="{!indeedJobTypeSelectOption}" />
						</apex:selectList>
					</apex:outputpanel>					
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
                    <apex:outputLabel value="Job Salary" />
                    <apex:outputPanel >
                    	<apex:inputText value="{!adTemplate.Salary_Description__c}" id="Indeed_Salary"  styleClass="" maxlength="40" title="e.g. $50,000 or $40K-$90K" size="40"/> <b>per year</b> (Max: 40 characters)                           
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Education" />
                    <apex:outputPanel >
                    	<apex:inputText value="{!adTemplate.Education_Level__c}" id="Indeed_Education"  styleClass="" maxlength="30" title="e.g. Bachelors" size="30"/> (Max: 30 characters)                           
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Job Category" />
                    <apex:outputPanel >
                    	<apex:inputText value="{!adTemplate.Industry__c}" id="Indeed_Category"  styleClass="" maxlength="40" title="Sales Management, Executive" size="40"/> (Max: 40 characters)                           
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection title="Indeed Ad Addition Description" columns="1">
			    <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Skills & Experience" />
                    <apex:outputPanel >
                    	<span><b>Note: If copying from word, please use the 'Remove HTML' button to remove hidden formatting which can cause posting issues.</b></span>
                    	<apex:inputTextArea value="{!adTemplate.Skills_Experience__c}" rows="20" cols="120" id="Indeed_skillexperience" richText="false" styleClass="ckeditor"/>
                    	<input type="button" value="Remove HTML" onclick="GetPlainTexts('Indeed_skillexperience')"/>
	                    <input type="button" value="Count Words" onclick="Countword('Indeed_skillexperience')"/>
	                    <span id="Indeed_skillexperience_countdiv"> </span>
	                    <span>(Max: 4000 characters)</span>                       
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection title="Sponsor On Indeed" columns="1">
			<p>
				<span style="color:red; font-size:18px">
					Indeed Sponsored Jobs are featured above search results, increase the number of clicks and applicants you receive
				</span>
			</p>
			<p>
				<b>Choose your Budget</b> - The bigger the budget the more clicks and applicants
			</p>
				<apex:selectRadio value="{!adTemplate.Indeed_Sponsored_amount__c}" id="indeedSponsored" layout="pageDirection">
					<apex:selectOptions value="{!indeedSponsordAmountOption}" />
				</apex:selectRadio>
				<p/>
			</apex:pageBlockSection>                
		</apex:pageBlock>
	</apex:form>
	<div id="IndeedSavead" title="Save Indeed Ad?"
        style="display: None;">
        <p>
            <span class="ui-icon ui-icon-alert"
                style="float: left; margin: 0 7px 20px 0;"></span> Do you want to Save this Indeed Ad as Draft?
        </p>
    </div>
    <div id="IndeedPostAd" title="Post Indeed Ad?"
        style="display: None;">
        <p>
            <span class="ui-icon ui-icon-alert"
                style="float: left; margin: 0 7px 20px 0;"></span> Do you want to Post this Indeed Ad?
        </p>
    </div>
</apex:page>