<!--  **************************************
 *                                         *
 * Deprecated Page, 09/08/2017 Ralph       *
 *                                         *
 ******************************************* -->
<apex:page standardController="Contact" extensions="LinkedInCSAProfileController" sidebar="false" showHeader="false">
    
    <div style="text-align: center">
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">
	    extensions:CORP_RECRUITER@https://www.linkedin.com/scds/common/u/js/extensions/corp_recruiter.js
	    api_key: {!JSENCODE(csa.API_Key__c)}
	    authorize: true
    </script>
    <script>
        function link (customerId, id) {
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.LinkedInCSAProfileController.saveLinkedInId}', 
                    id,
                    '{!Contact.Id}',
                    function(result, event) {
                        //console.log(result);
                    });
        }
    </script>
    <script>
        function unlink (customerId, id) {
            alert('unlink called customerId = ' + customerId + ' linkedIn = ' + id);
        }
    </script> 
    <script type="IN/CorpRecruiterProfile"
	    data-customerId="{!Contact.Id}"
	    data-id="{!Contact.LinkedIn_Member_Id__c}"
	    data-forceUpdate="false"
	    data-firstName="{!Contact.firstname}"
	    data-lastName="{!Contact.lastname}"
	    data-emailAddress="{!Contact.email}"
	    data-companyName=""
	    data-title="{!Contact.title}"
	    data-location=""
	    data-note=""
	    data-url="{!contact_url}"
	    data-width="900"
	    data-confirmUnlink="false"
	    data-disableUnlink="false"
	    data-onUnlink="unlink"
	    data-onLink="link">
    </script>
    </div>

</apex:page>