<apex:page controller="JobboardsController" action="{!quotaChecking}">
    <style>
        
        .span1{
            text-shadow: #6374AB 0px 1px 1px;
            font-size: 8pt;
            color: #FF0000;
            }
        .span2{
            text-shadow: #6374AB 0px 1px 1px;
            font-size: 8pt;
            color: blue; 
            }
        .thsmall{
            font-size: 8pt;
        }
        .thsmall2{
            font-size: 8pt;
            color: navy;
        }
    </style>
 <apex:pageBlock >
 
 <apex:pageBlockSection collapsible="true" columns="1" title="Usage vs. Quota This Month">
     <apex:pageblockSectionItem >
     <apex:outputPanel >
     <table border="0">
     <tr><td width="55%">
     <table border="0" width="100%">
     <tr><th class="thsmall2">Job board</th><th class="thsmall2">Seek.com</th><th class="thsmall2">CareerOne.com</th></tr>
     <tr><th class="thsmall">Quota</th><td>{!seek_quota}</td><td>{!career1_quota}</td></tr>
     <tr><th class="thsmall">Usage</th><td>{!seek_count}</td><td>{!career1_count}</td></tr>
     <tr><th class="thsmall">Remaining</th><td>{!seek_remaining}</td><td>{!career1_remaining}</td></tr>
     </table>
     </td>
     <td>
      <div>
     <span class="span2">Note: If you run out of quota or do not  have the authority to a post job, you will not be able to use this job board.</span> <br/>
     <span class="span1"><b>Warning:</b> Please do NOT post jobs for others. Ad record ownership cannot be transfered and as a result your quota will be deducted if you post for others. </span> 
     </div>
     </td>
     </tr>
     </table>
    
     </apex:outputPanel>
     </apex:pageblockSectionItem>
 </apex:pageBlockSection>
 
 </apex:pageBlock>
 <apex:outputPanel rendered="{!hasError}">
       <apex:pageBlock >
       <apex:messages />
       </apex:pageBlock>
 </apex:outputPanel>
 
 <apex:form >
 <apex:outputPanel rendered="{!NOT(hasError)}"> 
       <apex:pageBlock title="Job Boards" >
       <apex:outputText escape="false">
        Please select the Job Boards you wish to post to from the list below.<br/>
        If you have run out of quota or have not been set up to post Ads on certain job boards, they will not be available for selection in this list.<br/><br/>
       </apex:outputText>
       <apex:pageBlockSection collapsible="true" columns="1" title="Available Job Boards">
       <apex:outputPanel >
           <apex:outputPanel rendered="{!AND(client_has_seek,NOT(seek_quota_exceed))}">
           <apex:inputCheckbox value="{!seek_selected}"  id="seekcheckbox"/>&nbsp;<b>Seek.com</b><br/>
           </apex:outputPanel>
           <apex:outputPanel rendered="{!AND(client_has_c1,NOT(career1_quota_exceed))}" >
           <apex:inputCheckbox value="{!career1_selected}" id="career1checkbox"/>&nbsp;<b>CareerOne.com</b><br/>
           </apex:outputPanel>
           <apex:outputPanel rendered="{!client_has_trademe}" >
           <apex:inputCheckbox value="{!trademe_selected}" id="trademecheckbox"/>&nbsp;<b>TradeMe.nz</b><br/>
           </apex:outputPanel>
           <apex:outputPanel rendered="{!client_has_JXT}" >
           <apex:inputCheckbox value="{!jxt_selected}" id="jxtcheckbox"/>&nbsp;<b>Jxt.com.au</b><br/>
           </apex:outputPanel>
           <apex:outputPanel rendered="{!client_has_JXT_NZ}" >
          	 <apex:inputCheckbox value="{!jxt_nz_selected}" id="jxtnzcheckbox"/>&nbsp;<b>Jobx.co.nz</b><br/>
           </apex:outputPanel>
           <apex:outputPanel rendered="{!client_has_linkedIn}">
          	 <apex:inputCheckbox value="{!linkedin_selected}" id="linkedincheckbox" />&nbsp;<b>Linkedin</b><br/>
           </apex:outputPanel>
            <apex:outputPanel rendered="{!client_has_Indeed}">
             <apex:inputCheckbox value="{!Indeed_selected}" id="Indeedcheckbox" />&nbsp;<b>Indeed</b><br/>
           </apex:outputPanel>
           <apex:outputPanel rendered="{!hasWebSite}">
          	 <apex:inputCheckbox value="{!website_selected}" id="websitecheckbox" />&nbsp;<b>WebSite</b><br/>
           </apex:outputPanel>
      	 </apex:outputPanel> 
       </apex:pageBlockSection>
      <!-- <apex:pageBlockSection collapsible="true" columns="1" title="Post Ads Under the Name of Other User">
                    Under Development!!! Coming Soon..........
       </apex:pageBlockSection>-->
       <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="Next" action="{!gotoJobBoards}" />
       </apex:pageBlockButtons>
       </apex:pageBlock>    
 </apex:outputPanel>
 </apex:form>
</apex:page>