<!-- <apex:page controller="QuickSendResumeController" action="{!step2Init}"  tabStyle="Contact" sidebar="false">
<apex:styleSheet value="{!$Resource.quickSendResume_css}"/>
<apex:includeScript value="{!$Resource.jquery}"/>
<apex:includeScript value="{!$Resource.quickSendResume_js}"/>
<apex:sectionHeader title="Quick Send Resume" subtitle="Step 2 of 3. Choose Recipients"/>
	<apex:outputPanel id="selectRecieptMsg">
		<apex:pageMessages rendered="{!hasMsg}"/>
	</apex:outputPanel>
      <apex:form id="selectCandidateForm">
       		 <apex:actionFunction name="search" action="{!searchAccs}" rerender="searchResult,accDetails" status="sendCompanyStatus"/>
             <apex:pageBlock title="Find Recipients By Their Companies" mode="maindetail">
             	  <apex:pageBlockButtons location="top">
             	  	   <apex:commandButton action="{!goPreviousStep}" value="Previous Step"/>
                       <apex:commandButton action="{!goNextStep}" value="Next Step"/>
                  </apex:pageBlockButtons>
                  <apex:pageBlockSection >  
                  		<apex:pageBlockSectionItem helpText="Search Company You Would Like To Send Resume To By Full/Part Of The Name">
                  				<apex:outputLabel value="Company Name"/>
                  				<apex:outputPanel style="display:block;height:26px">
                           			<apex:inputText value="{!accountName}" onkeypress="return QuickSendResume.onSubmitSearch(event);"/>
                           			<apex:actionStatus id="sendCompanyStatus">
										<apex:facet name="start">
											<b>Searching</b>
											<img src="{!$Resource.LoadingFB}" width="16" height="11"/>
										</apex:facet>
										<apex:facet name="stop">
											<apex:commandButton action="{!searchAccs}" status="sendCompanyStatus" value="Search" rerender="searchResult,accDetails"/>
										</apex:facet>
                           			</apex:actionStatus>
                           		</apex:outputPanel>
                  		</apex:pageBlockSectionItem>
                  </apex:pageBlockSection>
             </apex:pageBlock>
             <apex:panelGrid columns="2" styleclass="searchAndAddPanel">
             <apex:pageBlock title="Search Result"  id="searchResult">
             	  <apex:pageBlockTable value="{!pagedAccSearchResult}" var="acc" rendered="{!isAccSearchResultEmpty}">
             	  		<apex:facet name="footer">No records to display</apex:facet>
             	  </apex:pageBlockTable>
             	  <apex:pageBlockTable value="{!pagedAccSearchResult}" var="acc" rendered="{!!isAccSearchResultEmpty}">
                       <apex:column width="70px">
                       		<apex:facet name="header">Action</apex:facet>
                       		<apex:inputCheckbox value="{!acc.isSelected}" rendered="false"></apex:inputCheckbox>
                       		<apex:outputPanel >
                       			<apex:actionStatus id="selectConStatus">
									<apex:facet name="start">
										<b>Loading</b>
										<img src="{!$Resource.LoadingFB}" width="16" height="11"/>
									</apex:facet>
									<apex:facet name="stop">
                       					<apex:commandLink value="Detail" status="selectConStatus" action="{!refreshAccDetails}" rerender="accDetails,accConList" style="color:blue;">
                            				<apex:param assignTo="{!selectedAccId}" value="{!acc.accRec.Id}" name="selCandId"/>
                       					</apex:commandLink>
                       				</apex:facet>
                       			</apex:actionStatus>
                       		</apex:outputPanel>
                       </apex:column>
                       <apex:column value="{!acc.accRec.Name}">
                            <apex:facet name="header">Name</apex:facet>
                       </apex:column>
                       <apex:facet name="footer">
                       		<apex:panelGrid columns="3" styleClass="paginator">
                       			<apex:commandLink value="Previous Page" action="{!prevPageOfAccs}" status="pagingStatus" rerender="searchResult" rendered="{!hasPrevPageOfAccs}"/>
	                       		<apex:commandLink value="Next Page" action="{!nextPageOfAccs}" status="pagingStatus" rerender="searchResult" rendered="{!hasNextPageOfAccs}"/>
                          	    <apex:actionStatus id="pagingStatus">
    	                   			<apex:facet name="start">
        	               				<img src="{!$Resource.LoadingGif}" width="18px" height="18px"/>
            	           			</apex:facet>
                	       		</apex:actionStatus>
                       		</apex:panelGrid>
                       </apex:facet>                       
                  </apex:pageBlockTable>
             </apex:pageBlock>
             
             <apex:pageBlock title="Recipients" id="recipientList">
             	  <apex:pageBlocktable value="{!optInConList}" var="a" rendered="{!isRecipientListEmpty}" border="1px">
             			<apex:facet name="footer">No search results to display at the moment. Please input keyword then search.</apex:facet>
             	  </apex:pageBlocktable>
                  <apex:pageBlockTable value="{!optInConList}" var="conWrapper" rendered="{!!isRecipientListEmpty}">
                  		<apex:column width="70px">
                  			<apex:facet name="header">Action</apex:facet>
               				<apex:actionStatus id="delConStatus">
								<apex:facet name="start">
									<b>Deleting</b>
									<img src="{!$Resource.LoadingFB}" width="16" height="11"/>
								</apex:facet>
								<apex:facet name="stop">
               						<apex:commandLink value="Del" action="{!removeCon}" status="delConStatus" rerender="recipientList" style="color:blue;">
                           	 			<apex:param assignTo="{!delConId}" value="{!conWrapper.contactRec.Id}" name="delConId"/>
                           			</apex:commandLink>
                           		</apex:facet>
                           	</apex:actionStatus>
                  		</apex:column>
                  		<apex:column value="{!conWrapper.company.accRec.Name}">
                  			<apex:facet name="header">Company Name</apex:facet>
                  		</apex:column>
                  		<apex:column value="{!conWrapper.contactRec.Name}">
                  			<apex:facet name="header">Contact Name</apex:facet>
                  		</apex:column>
                  		<apex:column value="{!conWrapper.contactRec.Email}">
                  			<apex:facet name="header">Email</apex:facet>
                  		</apex:column>
                  </apex:pageBlockTable>
             </apex:pageBlock>
             </apex:panelGrid>
             <apex:outputPanel id="accDetails">
             <apex:pageBlock title="Company Details" rendered="{!isAccSelected}">
                 <apex:pageBlockButtons location="top">
                 	   <apex:actionStatus id="addRecipientsStatus">
							<apex:facet name="start">
								<apex:outputPanel style="display:block;height:26px">
									<b>Adding To Recipients List</b>
									<img src="{!$Resource.LoadingFB}" width="16" height="11"/>
								</apex:outputPanel>
							</apex:facet>
							<apex:facet name="stop">
									<apex:commandButton action="{!add2Recipients}" status="addRecipientsStatus" value="Add To Recipients List" rerender="recipientList,optInErrors"/>
							</apex:facet>
             		   </apex:actionStatus>
                 </apex:pageBlockButtons>
                 <apex:pageBlockSection columns="2">
                       <apex:repeat value="{!$ObjectType.Account.FieldSets.RevMarketCompFieldSet}" var="f">
                            <apex:outputField value="{!selectedAcc.accRec[f]}"/>       
                       </apex:repeat>
                  </apex:pageBlockSection>
                  <apex:pageBlockSection id="accConList" columns="1">
                  		<apex:messages id="optInErrors"/>
                  		<apex:pageBlockTable value="{!selectedAcc.conList}" var="conWrapper" >
                       		<apex:column width="30px">
                            	<apex:facet name="header">Include</apex:facet>
                            	<apex:inputCheckbox value="{!conWrapper.isSelected}"></apex:inputCheckbox>
                       		</apex:column>
                       		<apex:column value="{!conWrapper.contactRec.Name}">
                            	<apex:facet name="header">Contact Name</apex:facet>
                       		</apex:column>
                       		<apex:column value="{!conWrapper.contactRec.Email}">
                            	<apex:facet name="header">Email</apex:facet>
                       		</apex:column>
                  		</apex:pageBlockTable>
                  </apex:pageBlockSection>
             </apex:pageBlock>
             </apex:outputPanel>

     </apex:form> -->
     <apex:page >
</apex:page>