<!--  **************************************
 *                                         *
 * Deprecated Page, 02/05/2017 Ralph       *
 *                                         *
 ******************************************* -->

<!-- <apex:page standardController="Advertisement__c" extensions="SeekDetail"
	action="{!init}">
	<script src="../../soap/ajax/19.0/connection.js" type="text/javascript"></script> 
	
	<apex:includeScript value="{!$Resource.jquery172}" />
	<apex:includeScript value="{!URLFOR($Resource.jqueryui192,'/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js')}"/>
	<apex:includeScript value="{!$Page.seekDetailScript}" />
	<apex:includeScript value="{!$Resource.livequery}" />
	<apex:includeScript value="{!$Page.jsonSeek}" />
	<apex:styleSheet value="{!URLFOR($Resource.jqueryui192,'/jquery-ui-1.9.2.custom/css/redmond/jquery-ui-1.9.2.custom.css')}"/>
	<style type="text/css">
span.costMore {
	color: red;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em
}
</style>


	<apex:form >
		<apex:outputPanel id="jobboardMsg">
	        <apex:pageMessages rendered="{!msgSignalhasmessage}" escape="false"/>
      	</apex:outputPanel>
		<apex:actionFunction name="beforeSeekSubmit" action="{!dopost}" rerender="seekWarningInfo" status="seekSaveStatus" oncomplete="showSeekSubmitButton();" />
		<apex:inputHidden id="seekLocationhidden" value="{!Advertisement__c.SeekLocation__c}" />
		<apex:inputHidden id="seekareahidden" value="{!Advertisement__c.SeekArea__c}" />
		<apex:inputHidden id="seekfunctionhidden" value="{!Advertisement__c.SeekFunction__c}" />
		<apex:inputHidden id="seekskillhidden" value="{!Advertisement__c.SeekSkill__c}" />
		<apex:inputHidden id="seekclasshidden" value="{!Advertisement__c.SeekClassification__c}" />
		<apex:inputHidden id="seeksubclasshidden" value="{!Advertisement__c.SeekSubclassification__c}" />
		<apex:inputHidden id="seekspechidden" value="{!Advertisement__c.SeekSpecialisation__c}" />
		<apex:inputHidden id="seekworktypehidden" value="{!Advertisement__c.WorkType__c}" />

		<div style="display: none">
			<apex:inputField styleClass="seekLocationLabelhidden" value="{!Advertisement__c.Location_Seek_Label__c}" />
			<apex:inputField styleClass="seekareaLabelhidden" value="{!Advertisement__c.Area_Seek_Label__c}" />
			<apex:inputField styleClass="seekfunctionLabelhidden" value="{!Advertisement__c.Function_Seek_Label__c}" />
			<apex:inputField styleClass="seekclassLabelhidden" value="{!Advertisement__c.Classification_Seek_Label__c}" />
			<apex:inputField styleClass="seeksubclassLabelhidden" value="{!Advertisement__c.SubClassification_Seek_Label__c}" />
			<apex:inputField styleClass="seekworktypeLabelhidden" value="{!Advertisement__c.WorkType_Seek_Label__c}" />

			<apex:inputField styleClass="realLocationSeek" value="{!Advertisement__c.RealLocation_Seek__c}" />
			<apex:inputField styleClass="realAreaSeek" value="{!Advertisement__c.RealArea_Seek__c}" />
			<apex:inputfield styleClass="preferEmailAddress" value="{!Advertisement__c.Prefer_Email_Address__c}" />
			<apex:inputText value="{!jobContentSeekTemp}" styleClass="jobContentSeekTempClass" />
			<apex:inputText value="{!jobOnlineFooterTemp}" styleClass="jobOnlineFooterSeekTempClass" />
		</div>

		<apex:inputHidden id="seekApplicationFormStyleNameHidden" value="{!Advertisement__c.Application_Form_Style_Name__c}" />
		<apex:inputHidden id="seekTemplateNameHidden"
			value="{!Advertisement__c.Template_Name__c}" />

		<apex:inputHidden id="seekSalaryType"
			value="{!Advertisement__c.SeekSalaryType__c}" />
		<apex:inputHidden id="seekSalaryMin"
			value="{!Advertisement__c.SeekSalaryMin__c}" />
		<apex:inputHidden id="seekSalaryMax"
			value="{!Advertisement__c.SeekSalaryMax__c}" />
		<apex:inputHidden id="seekSalaryText"
			value="{!Advertisement__c.SeekSalaryText__c}" />
		<apex:inputHidden id="marketSegmentHidden"
			value="{!Advertisement__c.SeekMarketSegment__c}" />

		<script>
			var seekHiddenlocationObj = document
					.getElementById("{!$Component.seekLocationhidden}");
			var seekhiddenareaObj = document
					.getElementById("{!$Component.seekareahidden}");
			var seekhiddenfunctionObj = document
					.getElementById("{!$Component.seekfunctionhidden}");
			var seekhiddenskillObj = document
					.getElementById("{!$Component.seekskillhidden}");
			var seekhiddenclassificationObj = document
					.getElementById("{!$Component.seekclasshidden}");
			var seekhiddensubclassificationObj = document
					.getElementById("{!$Component.seeksubclasshidden}");
			var seekhiddenspecialisationObj = document
					.getElementById("{!$Component.seekspechidden}");
			var seekhiddenworktypeObj = document
					.getElementById("{!$Component.seekworktypehidden}");

			var seekHiddenApplicationName = document
					.getElementById("{!$Component.seekApplicationFormStyleNameHidden}");
			var seekHiddenTemplateName = document
					.getElementById("{!$Component.seekTemplateNameHidden}");

			var hiddenSeekSalaryType = document
					.getElementById("{!$Component.seekSalaryType}");
			var hiddenSeekSalaryMin = document
					.getElementById("{!$Component.seekSalaryMin}");
			var hiddenSeekSalaryMax = document
					.getElementById("{!$Component.seekSalaryMax}");
			var hiddenSeekSalaryText = document
					.getElementById("{!$Component.seekSalaryText}");
			var hiddenMarketSegment = document
					.getElementById("{!$Component.marketSegmentHidden}");
		</script>

		<apex:outputPanel rendered="{!NOT(show_page)}">
			<apex:pageBlock >
		   		{!err_msg}
		    </apex:pageBlock>
		</apex:outputPanel>
		<apex:outputPanel rendered="{!show_page}">
			<apex:pageblock title="Seek.com.au">
				<apex:pageBlockSection title="Basic Information" columns="1"
					collapsible="true">
					<apex:pageBlockSectionItem >
						<apex:outputLabel >Job Reference</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputText maxlength="80" style="width:300px"
								value="{!Advertisement__c.Reference_No__c}" id="seekJobRef"></apex:inputText>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem >
						<apex:outputLabel >Job Title</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputText maxlength="80" style="width:300px"
								value="{!Advertisement__c.Job_Title__c}" id="seekJobTitle"
								styleClass="requiredSeekMark requiredSeek"></apex:inputText>(Max: 80 characters)
            						<script>
										var seekJobtitleObj = document
															.getElementById("{!$Component.seekJobTitle}");
									</script>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem >
						<apex:outputLabel >Salary</apex:outputLabel>
						<apex:outputPanel >
							<table width="60%" border="0">
								<tr>
									<td>
										<fieldset>
											<legend>
												<strong>Invisible Salary For Search</strong>
											</legend>

											<select name="seekSalaryType" size="1" id="seekSalaryType"
												class="requiredSeekMark requiredSeek">
												<option value="AnnualPackage" id="seekYearPack">Annual
													salary package</option>
												<option value="AnnualCommission" id="seekYearCom">Annual
													base salary plus commission</option>
												<option value="CommissionOnly" id="SeekCom">Commission
													only</option>
												<option value="HourlyRate" id="seekHourly">Hourly
													rate</option>
											</select><br />
											<div id="minMaxSal">
												<select name="mix" size="1" id="minSelectSeek"></select>
												<select name="max" size="1" id="maxSelectSeek"></select> <br />
											</div>
										</fieldset></td>
								</tr>
								<tr>
									<td>
										<fieldset>
											<legend>
												<strong>Visible Salary (Displayed on Ad)</strong>
											</legend>
											<input type="text" name="visibleSalarySeek"
												id="visibleSalarySeek" maxlength="50" /><span id="clear"><a
												href="#">clear</a>
											</span><br /> <span>e.g. $55-60K + super and bonus(Max 50
												characters)</span>
											<dir id="test"></dir>
										</fieldset></td>
								</tr>

							</table>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

	       			<apex:pageBlockSectionItem rendered="{!enableskillparsing}">
	                    <apex:outputLabel >Skill Groups</apex:outputLabel>
	                   	<apex:outputPanel >
	                   		<div>Please Use <font color="red"><b>Ctrl/Command</b></font> Key to Select Multiple Items in List</div>
	                   		<div class="requiredInput">
	                   			<div class="requiredBlock"></div>
		                   		<apex:selectList id="seekdefaultskillgroups" value="{!defaultskillgroups}" multiselect="true" size="6" styleClass="requiredSeekMark requiredSeek">
		                    		<apex:selectOptions value="{!SelectSkillGroupList}"></apex:selectOptions>                
		                    	</apex:selectList>
		                    </div>
	                    </apex:outputPanel>
	                </apex:pageBlockSectionItem> 

					<apex:pageBlockSectionItem >
						<apex:outputLabel >Search Result Title</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputText value="{!Advertisement__c.Online_Search_Title__c}"
								maxlength="80" style="width:300px" id="seekSearchTitle"
								styleClass="requiredSeekMark requiredSeek" />(Max: 80 characters)
        <script>
									var seekSearchTitleObj = document
											.getElementById("{!$Component.seekSearchTitle}");
								</script>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem >
						<apex:outputLabel >Search Online Summary</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputText value="{!Advertisement__c.Online_Summary__c}"
								id="seekSearchOnlineSummary" maxlength="150" style="width:340px"
								styleClass="requiredSeekMark requiredSeek" />(Max: 150 characters)
        </apex:outputPanel>
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem >
						<apex:outputLabel >Residency Required</apex:outputLabel>
						<apex:inputCheckbox value="{!Advertisement__c.Residency_Required__c}" />
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem >
						<apex:outputLabel >Bullet 1</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputText value="{!Advertisement__c.Bullet_1__c}"
								id="seekBullet1" maxlength="70" style="width:300px"
								styleClass="blt1Seek" />(Max: 70 characters)
        </apex:outputPanel>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel >Bullet 2</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputText value="{!Advertisement__c.Bullet_2__c}"
								id="seekBullet2" maxlength="70" style="width:300px"
								styleClass="blt2Seek" />(Max: 70 characters)
        </apex:outputPanel>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel >Bullet 3</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputText value="{!Advertisement__c.Bullet_3__c}"
								id="seekBullet3" maxlength="70" style="width:300px"
								styleClass="blt3Seek" />(Max: 70 characters)
        </apex:outputPanel>
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem >
						<apex:outputLabel >Job Ad Content</apex:outputLabel>
						<apex:outputPanel >
							<div class="requiredInput">
								<div class="requiredBlock"></div>
								<apex:inputTextarea value="{!Advertisement__c.Job_Content__c}"
									richText="true" rows="15" id="seekJobContent" />
								<script>
									var seekJobContentIdString = "{!$Component.seekJobContent}";
								</script>
								<script>
									var seekJobContent = document
											.getElementById("{!$Component.seekJobContent}");
								</script>
							</div>
							<input type="button" value="Remove HTML"
								onclick="GetPlainText('{!$Component.seekJobContent}','countdiv3')" />
							<input type="button" value="Count Words"
								onclick="Countwords('{!$Component.seekJobContent}','countdiv3')" />
							<span id="countdiv3"></span>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel >Job Online Footer</apex:outputLabel>
						<apex:outputPanel >

							<apex:inputTextarea value="{!Advertisement__c.Online_Footer__c}"
								richText="true" rows="9" id="seekJobfooter" />
							<script>
								var seekJobOnlineFooterIdString = "{!$Component.seekJobfooter}";
							</script>
							<script>
								var seekJobfooterObj = document
										.getElementById("{!$Component.seekJobfooter}");
							</script>

						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel >Template</apex:outputLabel>
						<apex:outputPanel >
							<apex:selectList value="{!Advertisement__c.Template__c}" size="1" id="seektemplate"
								styleClass="requiredSeekMark seekTemplate">
								<apex:selectOptions value="{!templateOptions}" />
							</apex:selectList>
						</apex:outputPanel>

					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel >Application Form Style</apex:outputLabel>
						<apex:outputPanel >
							<apex:selectList value="{!Advertisement__c.Application_Form_Style__c}" size="1" id="seekapplicationform"
								styleClass="requiredSeekMark seekApplicationFormStyle requiredSeek">
								<apex:selectOptions value="{!styleOptions}" />
							</apex:selectList>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem rendered="{!enablePostingAdWithEmail}">
						<apex:outputLabel >Prefer Email Address</apex:outputLabel>
						<apex:outputPanel >
							<apex:inputfield value="{!Advertisement__c.Prefer_Email_Address__c}" styleClass="requiredSeekMark emailAddress"></apex:inputfield>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem rendered="{!seekScreenOn}">
						<apex:outputLabel >SEEK Screen</apex:outputLabel>
						<apex:outputPanel >
							<apex:selectList value="{!Advertisement__c.SeekScreen__c}" id="seekscreen"
								size="1" styleClass="requiredSeekMark seekApplicationFormStyle requiredSeek">
								<apex:selectOptions value="{!SeekScreenOptions}" />
							</apex:selectList>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

				</apex:pageBlockSection>

				<apex:pageBlockSection columns="1" collapsible="true"
					title="Select a Zone">
					<apex:outputPanel >
						<div id="segmentSeek">
							<input type="radio" name="zoneradio" id="general"
								checked="checked" value="main" title="General Positions" /><b>General
								Positions</b><br />
							

							<input type="radio" name="zoneradio" id="graduate"
								value="main campus" title="Graduate/Entry Level" /><b>Graduate/Entry
								Level</b> -- Advertising a graduate or entry level role? Post your
							job in General Positions and Graduate/Entry Level Industry Page
							at <b>no extra cost</b>.<br />
						</div>
					</apex:outputPanel>
				</apex:pageBlockSection>
				<apex:pageBlockSection columns="1" collapsible="true"
					title="Search Classification">
					<apex:pageBlockSectionItem >
						<apex:outputPanel >
							<div>
								<div id="loadingdivSeek">
									<center>
										<b><font size="2pt">Loading.........</font>
										</b>
									</center>
								</div>
								<div id="classification">
									<table width="550px" border="0" id="marketSegmentSeek"></table>
								</div>
							</div>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

				</apex:pageBlockSection>

				<apex:pageBlockSection columns="1" collapsible="true"
					title="Ad. Style">
					<apex:pageBlockSectionItem >
						<apex:outputPanel >

							<apex:inputCheckbox value="{!Advertisement__c.isStandOut__c}"
								id="thestandout" />
							<script>
								var standoutObj = document
										.getElementById("{!$Component.thestandout}");
							</script>
							<apex:outputText >Make your Ad stand out!</apex:outputText>
							<br />
							<I>Enhance your short description with a logo(if existing in
								seek.com), additional selling points and a border. That causes
								extra cost. Please check company's policy first.</I>
							<br />
							<div id="searchbulletDivSeek" style="display: none;">
								<center>
									<table width="60%"
										style="border-style: outset; border-width: 1px;">
										<tr>
											<td>Selling Point 1</td>
											<td><apex:inputText value="{!Advertisement__c.Search_Bullet_Point_1__c}"
													maxlength="75" style="width:250px" styleClass="sp1Seek" />(Max:
												75 characters)</td>
										</tr>
										<tr>
											<td>Selling Point 2</td>
											<td><apex:inputText value="{!Advertisement__c.Search_Bullet_Point_2__c}"
													maxlength="75" style="width:250px" styleClass="sp2Seek" />(Max:
												75 characters)</td>
										</tr>
										<tr>
											<td>Selling Point 3</td>
											<td><apex:inputText value="{!Advertisement__c.Search_Bullet_Point_3__c}"
													maxlength="75" style="width:250px" styleClass="sp3Seek" />(Max:
												75 characters)</td>
										</tr>
									</table>
								</center>
							</div>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

				</apex:pageBlockSection>
				<apex:pageBlockSection columns="1" collapsible="true" title="Video">
					<apex:inputField value="{!Advertisement__c.Video_ID__c}" />
				</apex:pageBlockSection>
				<apex:pageBlockSection columns="1" collapsible="true" title="Other"
					rendered="{!org_level_seekAPI}">
					<apex:inputField value="{!Advertisement__c.Seek_Default_Application_Form__c}" />
				</apex:pageBlockSection>

				<center>
					<input type="button" value="Submit" id="seekSubmit" class="btn" />
					<apex:outputPanel id="seekWarningInfo">
						<apex:actionStatus startText="requesting....." id="seekSaveStatus">
							<apex:facet name="stop">
								<apex:outputPanel >
									<br />
									<font color="blue">{!seekSaveInfo}</font>
									<apex:outputPanel rendered="{!AND(remaining_quota_enough, reminingquota > 0)}"
										style="color:blue;font-weight:bold;">
										<br />You have {!reminingquota} quota remaining.
						            <br />If you want to post MORE Ads by different Locations or Categories here, please change the related information, and "Submit" again.     
						            </apex:outputPanel>
									<apex:outputPanel rendered="{!reminingquota <= 0}"
										style="color:red;">
										<br />You have 0 quota remaining for Seek.com.
						            <br />No more Ad will be posted online.      
						            </apex:outputPanel>
								</apex:outputPanel>
							</apex:facet>
						</apex:actionStatus>
						<div>
							<apex:inputHidden id="quotavalid"
								value="{!remaining_quota_enough}" />
							<apex:inputHidden id="remainingquota" value="{!reminingquota}" />
							<script>var quota_valid = document.getElementById("{!$Component.quotavalid}")</script>
							<script>var remaining = document.getElementById("{!$Component.remainingquota}")</script>
						</div>
					</apex:outputPanel>
				</center>
			</apex:pageblock>
		</apex:outputPanel>
	</apex:form> -->
	<apex:page >
</apex:page>