<!--  **************************************
 *                                         *
 * Deprecated Page, 02/05/2017 Ralph       *
 *                                         *
 ******************************************* -->

<!-- apex:page standardController="Placement_Candidate__c" extensions="ShowAllCandidateManagement_new" sidebar="false"  standardStylesheets="false" showHeader="false" recordSetVar="candidates" -->
    <!-- Added by Raymond START-->
	<!--     apex:styleSheet value="{!URLFOR($Resource.ctcStyle,'ctcStyle/css/ctcgeneral.css')}"/>
    <apex:stylesheet value="{!$Resource.Cantarell}"/> -->
    <!-- Added by Raymond END-->
    <!-- apex:includeScript value="{!$Resource.jquery}"></apex:includeScript>
     <script type="text/javascript">       
       function goup(){
        if(($("input[id$='triggerParentPage']").val()) == "true"){
                window.parent.parentiframe($("input[id$='returnUrl']").val());
            }
       }
       
        function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");           
            for(var i=0; i<inputElem.length; i++)
            {    
                 if(inputElem[i].id.indexOf("checkedone")!=-1)                          
                 inputElem[i].checked = cb.checked;
            }
        }  
    </script>
    <style>
        #commandlink{
            font-size:14px;
            font-weight: bold;
            text-decoration: none;
        }
        body{
            background:url({!URLFOR($Resource.ctcStyle,'ctcStyle/images/cloud.png')}) no-repeat center top #CCEBFD;;
        }
        
        table.list td.dataCell {
            padding: 10px 8px;
        }           
    </style>  
    <apex:form id="theform">         
        <apex:outputPanel id="sendMailMsg">
        	<apex:inputhidden id="triggerParentPage" value="{!triggerParentPage}"/>
        	<apex:inputhidden id="returnUrl" value="{!returnUrl}"/>  
            <apex:pageMessages rendered="{!msgSignalhasmessage}"/>
        </apex:outputPanel>    
        <div align="right" id="commandlink">
        <apex:panelGrid columns="4">
            <apex:commandLink action="{!first}">First Page</apex:commandlink>
            <apex:commandLink action="{!previous}" rendered="{!hasPrevious}">|| Previous Page</apex:commandlink>
            <apex:commandLink action="{!next}" rendered="{!hasNext}">|| Next Page</apex:commandlink>
            <apex:commandLink action="{!last}">|| Last Page</apex:commandlink> 
        </apex:panelGrid>
        <apex:outputText style="font-size:14px" value="Page: {!thecontrollers.PageNumber}/{!totalPage}"/>
        </div>            
        <apex:pageBlock id="theblock">        
          <h2>Show ALL Candidate Managements</h2>
            <div align="center">
                 <apex:actionStatus id="counterStatus">
                    <apex:facet name="start">
                        <apex:outputPanel >
                        <apex:commandButton id="ScreenCandidate" value="Screen Candidate" action="{!screenCandidate}" disabled="true"/>
                        <apex:commandButton id="massUpadeStatus" value="Mass Update" action="{!massUpdateStatus}" disabled="true"/>
                        <apex:commandButton id="SendEmail" value="Send Resume" action="{!sendemail}" disabled="true"/>
                        <apex:commandButton id="SendSMS" value="Send Bulk SMS" action="{!sendsms}" rendered="{!enableBulkSendSMS}" disabled="true"/>
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:outputPanel >
                        <apex:commandButton id="ScreenCandidateDisabled" value="Screen Candidate" action="{!screenCandidate}"  rerender="sendMailMsg"  oncomplete="goup()" disabled="false"/>
                        <apex:commandButton id="massUpadeStatusDisabled" value="Mass Update" action="{!massUpdateStatus}" rerender="sendMailMsg"  oncomplete="goup()" disabled="false"/>
                        <apex:commandButton id="SendEmailDisabled" value="Send Resume" action="{!sendemail}" rerender="sendMailMsg"  oncomplete="goup()" disabled="false"/>
                        <apex:commandButton id="SendSMSDisabled" value="Send Bulk SMS" action="{!sendsms}" rendered="{!enableBulkSendSMS}" rerender="sendMailMsg" oncomplete="goup()" disabled="false"/>
                        </apex:outputPanel>
                    </apex:facet>
                 </apex:actionStatus>
                
            </div>
            <div align="right">
            <b>Sort By: </b>
            <apex:selectList value="{!currentSelectCrieria}" size="1">
                <apex:selectOptions value="{!SortCriteria}"/>
                <apex:actionSupport event="onchange" action="{!getSelectCrieria}" rerender="theRepeat"/>
            </apex:selectList>
            <apex:selectList value="{!currentAscSelectCrietria}" size="1">
                <apex:selectOptions value="{!SortAsc}"/>
                <apex:actionSupport event="onchange" action="{!getSelectCrieria}" rerender="theRepeat"/>
            </apex:selectList>
        </div>
           
            <apex:pageBlockTable value="{!isselectedCanManWrapper}" var="string" id="theRepeat">
            
              <apex:column >
                 
                <apex:facet name="header">
                    <apex:inputCheckbox onclick="checkAll(this);"/>
                </apex:facet>
                <apex:inputCheckbox value="{!string.selected}" id="checkedone" >
                </apex:inputCheckbox>
              </apex:column>
              <apex:column >
                <apex:facet name="header">Action
                </apex:facet>
                <apex:outputLink value="{!URLFOR($Action.Placement_Candidate__c.Edit,string.canMan_all.id,[retURL='/apex/PeopleCloud1__IframeParentStandard?id='+vacId+'&cp='+pagenumber+'&asc='+currentAscSelectCrietria+'&sc='+currentSelectCrieria])}" target="_parent">Edit</apex:outputLink> |
                <apex:outputLink value="{!URLFOR($Action.Placement_Candidate__c.Delete,string.canMan_all.id, [retURL='/apex/PeopleCloud1__ShowAllCandidateManagement_new?id='+vacId+'&cp='+pagenumber+'&asc='+currentAscSelectCrietria+'&sc='+currentSelectCrieria])}" onclick="return window.confirm('Are you sure?');">Del</apex:outputLink>
              </apex:column>
              <apex:column > 
                <apex:facet name="header">Candidate Management
                </apex:facet>
                <apex:outputlink value="{!URLFOR($Action.Placement_Candidate__c.View,string.canMan_all.id)}" target="_blank">{!string.canMan_all.name}</apex:outputlink>
              </apex:column>              
              <apex:column value="{!string.canMan_all.Status__c}" />
              <apex:column value="{!string.canMan_all.Candidate_Status__c}"/>
              <apex:column value="{!string.canMan_all.Candidate__r.Name}"/>
              <apex:column value="{!string.canMan_all.Recruiter_Notes__c}"/>
              <apex:column value="{!string.canMan_all.Candidate_Source1__c}"/>
            </apex:pageBlockTable>            
        </apex:pageBlock>
    </apex:form>     -->
<apex:page >
</apex:page>