<apex:page controller="UploadDocumentsController" sidebar="false"  standardStylesheets="true" showHeader="false">
<apex:styleSheet value="{!$Resource.uploadDocuments_css}" /> 

<apex:includeScript value="{!$Resource.jquery172}"/>
<apex:includeScript value="{!$Resource.utils_js}"/>
<apex:includeScript value="{!$Resource.uploadDocuments_js}"></apex:includeScript>

<style type="text/css">
.css_btn_colorBlue_class{
    background: #0096C2;
    color: #fff;
}
.css_btn_default_class{
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
}
.css_btn_class {
        font-size:12px;
        font-family:Arial;
        font-weight:normal;
        padding:4px 16px;
        text-decoration:none;
        border-radius:3px;
        border: 1px solid #b5b5b5;
        border-bottom-color: #7f7f7f;
    }
.requiredInput {
    background-color: #C00;
    position: absolute;
    left: -4px;
    width: 3px;
    top: 1px;
    bottom: 1px;
}
</style>
<form enctype="multipart/form-data" method="POST" action="{!serviceEndPoint}/EnhancedPeopleCloud/FileUploadAction" id="SRUploadDocumentForm">
<apex:outputText value="{!nsPrefix}" styleClass="nsPrefix" style="display:none;"></apex:outputText>
<apex:outputText value="{!allFieldsString}" styleClass="allFieldsString" style="display:none;"></apex:outputText>
<apex:outputText value="{!typeOptionToList}" styleClass="typeOptionToList" style="display:none;"></apex:outputText>
<apex:outputText value="{!retURLNotEncoded}" styleClass="retURLNotEncoded" style="display:none;"></apex:outputText>
        <div id="noteMessage">
            <span>* Please note that resumes uploaded from this page are not parsed.</span>
        </div>
        <br/>
<apex:form >    
        <div>
            <input type="hidden" id="endpoint" value="{!serviceEndPoint}"/>
            <apex:outputPanel id="sendMailMsg">
                <apex:pageMessages rendered="{!showErrorMessage}"/>
            </apex:outputPanel>
        </div>
        <div id="mainDiv" >  
            <div id="docDiv0">               
                <apex:pageBlock title="Document">
                    <div class="fieldsDiv">
                        <apex:pageBlockSection columns="1">
                            <apex:pageBlockSectionItem >
                                Document <font style="color: #c00; background:#c00;">I</font>  
                                <!--   <input type="file" name="file" id="file0" />-->
                                 <apex:inputFile value="" id="file0" styleclass="uploadFile"/>   
                            </apex:pageBlockSectionItem> 
                             <apex:pageBlockSectionItem >
                                Document Type  <font style="color: #c00; background:#c00;">I</font>
                                    <apex:selectList onchange="hideElementOrNot(this)" value="{!docTypeSelected}" label="Document_Type__c" styleClass="Document_Type__c" multiselect="false" size="1"> 
                                        <apex:selectOptions value="{!docTypeOptions}"/>
                                    </apex:selectList>
                            </apex:pageBlockSectionItem>

                            <apex:repeat value="{!finalFieldsList}" var="f" >                                
                                <apex:pageBlockSectionItem >
                                    {!f.label} <font class="RequiredFlag" style="color: #c00; background:#c00;">I</font>
                                    <apex:inputField value="{!webdocObject[f.fieldpath]}" styleClass="{!f.fieldpath}" label="{!f.fieldpath}"/> 
                                </apex:pageBlockSectionItem>
                            </apex:repeat>                            
                        </apex:pageBlockSection>
                    </div>
                    <div>
                        <button id="removeLink0" class="css_btn_class css_btn_default_class" type="button" >Delete</button>
                    </div>
                </apex:pageBlock>
                <br/>
            </div>
        </div>      
    
    
    <div class="errorMessageDoc"></div><br/>   
    <div id="loadingInfo"  style="display:none; background-image:url('{!$Resource.ajaxLoadGif}')" styleClass="loadingInfo">
        <span>Uploading, please wait ...</span>
    </div>
      
    <div id="sfinfo" style="display:none">
     	<input type="text" name="userId" id="suserid" value="{!$User.Id}"/><br/>
        <input type="text" name="orgId" id="sforgid" value="{!orgId}"/><br/>
        <input type="text" name="srcId" id="srcId" value="{!srcId}"/><br/>
        <input type="text" name="lookupField" value="{!lookupField}"/><br/>
        <input type="text" name="bucketName" id="sfbucketname" value="{!bucketName}"/><br/>
        <input type="text" name="nsPrefix" id="sfnsprefix" value="{!nsPrefix}"/><br/>
<!--         <input type="text" name="sessionId" id="sessionId" value="{!sessionId}"/><br/> -->
        <input type="text" name="encodedUrl" id="encodedUrl"/><br/>
        <input type="text" name="serverUrl" value="{!$Api.Partner_Server_URL_280}"/><br/>
    </div>
    
    
    <div id="btns">
        <button type="button" class="css_btn_class css_btn_default_class" onclick="addMoreDocument()">Add More Documents</button>
        <input type="button" name="submit" value="Upload Documents" class="css_btn_class css_btn_default_class" id="uploadDocumentButton01" />
        <button type="button" class="css_btn_class css_btn_default_class" onclick="parent.closeUploadDocuments();">Cancel</button>
    </div>
</apex:form>    
</form>

</apex:page>