<apex:page standardController="Advertisement__c"
	extensions="TradeMeEdit">
	<apex:includeScript value="{!$Resource.jquery172}" />
	<apex:includeScript value="{!$Resource.nobleCount}" />
	<apex:includeScript value="{!$Resource.validate}" />
	<apex:includeScript value="{!$Resource.trademeJson}" />
	<apex:includeScript value="{!$Resource.trademeInit}" />
	<apex:includeScript value="{!$Resource.trademeEditScript}" />
	<style type="text/css">
		div#hiddeninfo {
			display: none;
		}
		
		div#trademe_info {
			color: red;
			font-weight: bold;
			font-size: 150%;
		}
		
		.warning {
			color: blue;
		}
		
		label.error {
			color: red;
			font-weight: bold;
		}
		
		.go_red {
			color: red;
		}
		
		.go_green {
			color: green;
		}
	</style>
	<apex:outputPanel id="jobboardMsg">
		<apex:pageMessages rendered="{!trademeMsgSignalhasmessage}" escape="false" />
	</apex:outputPanel>
	<apex:outputPanel rendered="{!show_page}">
	<apex:form styleClass="trademe_postform">
		<apex:pageBlock >
			<div id="hiddeninfo">
				<apex:outputLabel for="trademe_listingID" value="Listing ID" />
				<apex:inputField value="{!Advertisement__c.ListingID__c}"
					id="trademe_listingID" />
				<apex:outputLabel for="traeme_providerCode" value="Provider ID" />
				<apex:inputField value="{!Advertisement__c.Provider_Code__c}"
					id="traeme_providerCode" />
				<apex:outputLabel for="trademe_salarymin" value="Salary Min" />
				<apex:inputField value="{!Advertisement__c.SeekSalaryMin__c}"
					styleClass="trademe_salarymin" />
				<apex:outputLabel for="trademe_salarymax" value="Salary Max" />
				<apex:inputField value="{!Advertisement__c.SeekSalaryMax__c}"
					styleClass="trademe_salarymax" />
				<apex:outputLabel for="trademe_district" value="District" />
				<apex:inputField value="{!Advertisement__c.Search_Areas__c}"
					styleClass="trademe_district" />
				<apex:outputLabel for="trademe_subClass" value="SubClassification" />
				<apex:inputField value="{!Advertisement__c.SeekSubclassification__c}"
					styleClass="trademe_subClass" />
				<apex:outputLabel for="trademe_companyCode" value="Company Code" />
				<apex:inputField value="{!Advertisement__c.Company_Name__c}"
					id="trademe_companyCode" />
				<apex:inputField value="{!Advertisement__c.photos__c}"
					styleClass="trademe_photos__c" />

				<apex:outputLabel for="trademe_subClassLabel"
					value="Subclassification Label" />
				<apex:inputField value="{!Advertisement__c.SubClassification_Seek_Label__c}"
					id="trademe_subClassLabel" styleClass="trademe_subClassLabel" />
				<apex:outputLabel for="trademe__regionLabel" value="Region Label" />
				<apex:inputField value="{!Advertisement__c.Location_Seek_Label__c}"
					id="trademe__regionLabel" styleClass="trademe__regionLabel" />
				<apex:outputLabel for="trademe_districtSelectLabel"
					value="District Label" />
				<apex:inputField value="{!Advertisement__c.SearchArea_Label_String__c}"
					id="trademe_districtSelectLabel"
					styleClass="trademe_districtSelectLabel" />

				<apex:outputLabel for="trademe_workTypeLabel" value="WorkType Label" />
				<apex:inputField value="{!Advertisement__c.WorkType_Label__c}"
					id="trademe_workTypeLabel" styleClass="trademe_workTypeLabel" />
				<apex:outputLabel for="trademe_PermanentOrContractLabel"
					value="Permanent or Contract Label" />
				<apex:inputField value="{!Advertisement__c.Permanent_or_ContractLabel__c}"
					id="trademe_PermanentOrContractLabel"
					styleClass="trademe_PermanentOrContractLabel" />
				<apex:outputLabel for="trademe_payTypeLabel" value="Pay Type Label" />
				<apex:inputField value="{!Advertisement__c.Pay_Type_Label__c}"
					id="trademe_payTypeLabel" styleClass="trademe_payTypeLabel" />
				<apex:inputField value="{!Advertisement__c.Status__c}"
					id="trademe_Status" />
			</div>
			<apex:pageBlockSection columns="1">
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_officeCode" value="Office Code" />
					<apex:selectList value="{!Advertisement__c.Office_Code__c}"
						multiselect="false" id="trademe_officeCode" size="1">
						<apex:selectOptions value="{!items}" />
					</apex:selectList>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_RefNo" value="Reference No." />
					<apex:outputPanel >
						<apex:inputText value="{!Advertisement__c.Reference_No__c}"
							id="trademe_RefNo" styleClass="trademe_RefNo" />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_jobTitle" value="Job Title" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:inputText value="{!Advertisement__c.Job_Title__c}"
								id="trademe_jobTitle" styleClass="trademe_jobTitle required" />
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_employerName" value="Employer Name" />
					<apex:inputText value="{!Advertisement__c.Employer_Name__c}"
						id="trademe_employerName" styleClass="trademe_employerName" />
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_contactName" value="Contact Name" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:inputText value="{!Advertisement__c.Contact_Name__c}"
								styleClass="required" id="trademe_contactName" maxlength="50" />
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_worktype" value="Work Type" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList size="1" value="{!Advertisement__c.WorkType__c}"
								id="trademe_worktype" styleClass="trademe_worktype">
								<apex:selectOption itemValue="FT" itemLabel="Full time" />
								<apex:selectOption itemValue="PT" itemLabel="Part time" />
							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_pc" value="Permanent or Contract" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList size="1"
								value="{!Advertisement__c.Permanent_or_Contact__c}"
								id="trademe_pc" styleClass="trademe_pc">
								<apex:selectOption itemValue="P" itemLabel="Permanent" />
								<apex:selectOption itemValue="CT" itemLabel="Contract/Temporary" />
							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<!-- Skill parsing multi picklist component. Author by Jack -->
              	<apex:inputhidden value="{!Advertisement__c.Skill_Group_Criteria__c}"/>
       			<apex:pageBlockSectionItem rendered="{!enableskillparsing}">
                    <apex:outputLabel >Skill Groups</apex:outputLabel>
                   	<apex:outputPanel >
                   		<div class="requiredInput">
                   			<div class="requiredBlock"></div>
	                   		<apex:selectList id="defaultskillgroups" value="{!defaultskillgroups}" multiselect="true" size="6" styleClass="rademe_jobTitle required">
	                    		<apex:selectOptions value="{!SelectSkillGroupList}"></apex:selectOptions>                
	                    	</apex:selectList>
	                    </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem> 
                <!-- End Skill parsing multi picklist component -->   
                <apex:pageBlockSectionItem >
					<apex:outputLabel >Online Application Form</apex:outputLabel>
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList value="{!Advertisement__c.Application_Form_Style__c}" size="1">
								<apex:selectOptions value="{!styleOptions}" />
							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_contractType" value="Pay Type" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList size="1" value="{!Advertisement__c.Pay_Type__c}"
								id="trademe_contractType" styleClass="trademe_contractType">
								<apex:selectOption itemValue="S" itemLabel="Salary" />
								<apex:selectOption itemValue="H" itemLabel="Hourly" />
							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<label for="trademe_salaryminSelect">Approximate Pay Range
						Low</label>
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<select id="trademe_salaryminSelect"
								name="trademe_salaryminSelection"></select>
						</div>
					</apex:outputPanel>

				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<label for="trademe_salarymaxSelect">Approximate Pay Range
						Max</label>
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<select id="trademe_salarymaxSelect"
								name="trademe_salarymaxSelect"></select>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:inputField id="trademe_payAndBenefits"
					value="{!Advertisement__c.SeekSalaryText__c}" />

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe__region" value="Region" />
					<apex:selectList size="1"
						value="{!Advertisement__c.SeekLocation__c}" id="trademe__region"
						styleClass="trademe__region">
						<apex:selectOption itemValue="1" itemLabel="Auckland" />
						<apex:selectOption itemValue="2" itemLabel="Bay Of Plenty" />
						<apex:selectOption itemValue="3" itemLabel="Canterbury" />
						<apex:selectOption itemValue="4" itemLabel="Gisborne" />
						<apex:selectOption itemValue="5" itemLabel="Hawkes Bay" />
						<apex:selectOption itemValue="6" itemLabel="Manawatu / Wanganui" />
						<apex:selectOption itemValue="7" itemLabel="Marlborough" />
						<apex:selectOption itemValue="8" itemLabel="Nelson / Tasman" />
						<apex:selectOption itemValue="9" itemLabel="Northland" />
						<apex:selectOption itemValue="10" itemLabel="Otago" />
						<apex:selectOption itemValue="11" itemLabel="Southland" />
						<apex:selectOption itemValue="12" itemLabel="Taranaki" />
						<apex:selectOption itemValue="14" itemLabel="Waikato" />
						<apex:selectOption itemValue="15" itemLabel="Wellington" />
						<apex:selectOption itemValue="16" itemLabel="West Coast" />
					</apex:selectList>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<label for="trademe_districtSelect">District</label>
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<select id="trademe_districtSelect" name="trademe_districtSelect"></select>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_UnitNumber" value="Unit Number" />
					<apex:outputPanel >
						<apex:inputText value="{!Advertisement__c.UnitNumber__c}"
							id="trademe_UnitNumber" styleClass="trademe_UnitNumber"
							onkeyup="textCounter('{!$Component.trademe_UnitNumber}');"
							onkeydown="textCounter('{!$Component.trademe_UnitNumber}');" />
						<span class="warning"> Please input no more than 4
							chapters.</span>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_StreetNumber" value="Street Number" />
					<apex:outputPanel >
						<apex:inputText value="{!Advertisement__c.StreetNumber__c}"
							id="trademe_StreetNumber" styleClass="trademe_StreetNumber"
							onkeyup="textCounter('{!$Component.trademe_StreetNumber}');"
							onkeydown="textCounter('{!$Component.trademe_StreetNumber}');" />
						<span class="warning"> Please input no more than 4
							chapters.</span>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_StreetName" value="Street Name" />
					<apex:outputPanel >
						<apex:inputTextarea cols="100"
							value="{!Advertisement__c.StreetName__c}" id="trademe_StreetName"
							styleClass="trademe_StreetName" />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_class" value="Classification" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList size="1"
								value="{!Advertisement__c.SeekClassification__c}"
								id="trademe_class" styleClass="trademe_class">
								<apex:selectOption itemValue="Accounting" itemLabel="Accounting" />
								<apex:selectOption itemValue="Agriculture"
									itemLabel="Agriculture, fishing & forestry" />
								<apex:selectOption itemValue="Automotive"
									itemLabel="Automotive" />
								<apex:selectOption itemValue="Banking"
									itemLabel="Banking, finance & insurance" />
								<apex:selectOption itemValue="Construction"
									itemLabel="Construction & architecture" />
								<apex:selectOption itemValue="Customer"
									itemLabel="Customer Service" />
								<apex:selectOption itemValue="Education" itemLabel="Education" />
								<apex:selectOption itemValue="Engineering"
									itemLabel="Engineering" />
								<apex:selectOption itemValue="239"
									itemLabel="Executive & general management" />
								<apex:selectOption itemValue="Government"
									itemLabel="Government & council" />
								<apex:selectOption itemValue="Healthcare" itemLabel="Healthcare" />
								<apex:selectOption itemValue="Hospitality"
									itemLabel="Hospitality & tourism" />
								<apex:selectOption itemValue="HR" itemLabel="HR & Recruitment" />
								<apex:selectOption itemValue="IT" itemLabel="IT" />
								<apex:selectOption itemValue="Legal" itemLabel="Legal" />
								<apex:selectOption itemValue="Manufacturing"
									itemLabel="Manufacturing & operations" />
								<apex:selectOption itemValue="Marketing"
									itemLabel="Marketing, media & communications" />
								<apex:selectOption itemValue="Office"
									itemLabel="Office & administration" />
								<apex:selectOption itemValue="Property" itemLabel="Property" />
								<apex:selectOption itemValue="Retail" itemLabel="Retail" />
								<apex:selectOption itemValue="Sales" itemLabel="Sales" />
								<apex:selectOption itemValue="160"
									itemLabel="Science & technology" />
								<apex:selectOption itemValue="Trades"
									itemLabel="Trades & services" />
								<apex:selectOption itemValue="Transport"
									itemLabel="Transport & logistics" />
								<apex:selectOption itemValue="179" itemLabel="Other" />
							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<label for="trademe_subClassSelect">SubClassification</label>
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<select name="trademe_subClassSelect" id="trademe_subClassSelect"></select>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection columns="1">

				<!-- Add the require validation for Phone1Prefix. --by Alvin -->
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_Phone1Prefix" value="Phone1 Prefix" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList size="1"
								value="{!Advertisement__c.Phone1_Prefix__c}"
								id="trademe_Phone1Prefix"
								styleClass="trademe_Phone1Prefix required">
								<apex:selectOption itemValue="" itemLabel="--none--" />
								<apex:selectOption itemValue="03" itemLabel="03" />
								<apex:selectOption itemValue="04" itemLabel="04" />
								<apex:selectOption itemValue="06" itemLabel="06" />
								<apex:selectOption itemValue="07" itemLabel="07" />
								<apex:selectOption itemValue="09" itemLabel="09" />
								<apex:selectOption itemValue="021" itemLabel="021" />
								<apex:selectOption itemValue="025" itemLabel="025" />
								<apex:selectOption itemValue="027" itemLabel="027" />
								<apex:selectOption itemValue="029" itemLabel="029" />
								<apex:selectOption itemValue="0800" itemLabel="0800" />
								<apex:selectOption itemValue="0508" itemLabel="0508" />
							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<!-- Add the require validation for Phone1Phonenumber 1. --by Alvin -->
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_phone1Number" value="Phone1 No." />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:inputText value="{!Advertisement__c.Phone1_Number__c}"
								id="trademe_phone1Number"
								styleClass=" trademe_phone1Number number required" />
							<span class="warning"> Please input wholly numeric phone
								number, with no brackets, dashes or spaces.</span>
							<script>var trademe_phone1NumberId = "{!$Component.trademe_phone1Number}";</script>

						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_Phone2Prefix" value="Phone2 Prefix" />
					<apex:selectList size="1"
						value="{!Advertisement__c.Phone2_Prefix__c}"
						id="trademe_Phone2Prefix" styleClass="trademe_Phone2Prefix">
						<apex:selectOption itemValue="" itemLabel="--none--" />
						<apex:selectOption itemValue="03" itemLabel="03" />
						<apex:selectOption itemValue="04" itemLabel="04" />
						<apex:selectOption itemValue="06" itemLabel="06" />
						<apex:selectOption itemValue="07" itemLabel="07" />
						<apex:selectOption itemValue="09" itemLabel="09" />
						<apex:selectOption itemValue="021" itemLabel="021" />
						<apex:selectOption itemValue="025" itemLabel="025" />
						<apex:selectOption itemValue="027" itemLabel="027" />
						<apex:selectOption itemValue="029" itemLabel="029" />
						<apex:selectOption itemValue="0800" itemLabel="0800" />
						<apex:selectOption itemValue="0508" itemLabel="0508" />
					</apex:selectList>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_phone2Number" value="Phone2 No." />
					<apex:outputPanel >
						<apex:inputText value="{!Advertisement__c.Phone2_Number__c}"
							id="trademe_phone2Number"
							styleClass="trademe_phone2Number number" />
						<span class="warning"> Please input wholly numeric phone
							number, with no brackets, dashes or spaces.</span>
						<script>var trademe_phone2NumberId = "{!$Component.trademe_phone2Number}";</script>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<!-- Add the require validation for Email. --by Alvin -->
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="Email" value="Email " />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:inputText value="{!Advertisement__c.Email__c}"
								id="trademe_email" styleClass="email required " />
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

			</apex:pageBlockSection>
			<apex:pageBlockSection columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_postalAddress"
						value="Postal Address" />
					<apex:inputText value="{!Advertisement__c.Postal_Address__c}"
						id="trademe_postalAddress" styleClass="trademe_postalAddress" />
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_requiresWorkPermit"
						value="Requires Work Permit" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList size="1"
								value="{!Advertisement__c.Requires_Work_Permit__c}"
								id="trademe_requiresWorkPermit"
								styleClass="trademe_requiresWorkPermit">
								<apex:selectOption itemValue="Y" itemLabel="YES" />
								<apex:selectOption itemValue="N" itemLabel="NO" />
							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_featured" value="Featured" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:selectList size="1" value="{!Advertisement__c.Featured__c}"
								id="trademe_featured" styleClass="trademe_featured">
								<apex:selectOption itemValue="N" itemLabel="NO" />
								<apex:selectOption itemValue="Y" itemLabel="YES" />

							</apex:selectList>
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_branding" value="Branding" />
					<apex:selectList size="1" value="{!Advertisement__c.Branding__c}"
						id="trademe_branding" styleClass="trademe_branding">
						<apex:selectOption itemValue="N" itemLabel="NO" />
						<apex:selectOption itemValue="Y" itemLabel="YES" />
					</apex:selectList>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_GM" value="General management" />
					<apex:selectList size="1"
						value="{!Advertisement__c.GeneralManagement__c}" id="trademe_GM"
						styleClass="trademe_GM">
						<apex:selectOption itemValue="N" itemLabel="NO" />
						<apex:selectOption itemValue="Y" itemLabel="YES" />
					</apex:selectList>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="tradme_shortDescriptio"
						value="short Desciption" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:inputTextArea value="{!Advertisement__c.Short_Description__c}" cols="100"
								id="tradme_shortDescription"
								styleClass="required tradme_shortDescription" />
						</div>
						<br />
						<span id="trademe_shortDescriptionCounter"></span>
                characters remaining remaining
                <br />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_jobdescription"
						value="Position Details" />
					<apex:outputPanel >
						<div class="requiredInput">
							<div class="requiredBlock"></div>
							<apex:inputTextArea value="{!Advertisement__c.Job_Content__c}"
								richText="false" rows="20" cols="120"
								id="trademe_jobdescription"
								styleClass="required trademe_jobdescription" />
							<br /> <span id="tradme__jobDescriptionCount"></span> characters
							remaining remaining <br />
						</div>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_footer" value="How to apply" />
					<apex:outputPanel >
						<apex:inputTextArea value="{!Advertisement__c.Online_Footer__c}"
							richText="false" rows="10" cols="120" id="trademe_footer"
							styleClass="trademe_footer" />
						<br />
						<span id="trademe_footerCounter"></span>
                    characters remaining remaining
                    <br />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_options" value="Options" />
					<apex:outputPanel >
						<apex:inputTextArea value="{!Advertisement__c.Options__c}"
							richText="false" rows="10" cols="120" id="trademe_options"
							styleClass="trademe_options" />
						<br />
						<span id="trademe_optionsCounter"></span>
                    characters remaining remaining
                    <br />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputLabel for="trademe_photos" value="Photos" />
					<apex:outputPanel >
						<apex:selectList value="{!photourls}" multiselect="true" size="5"
							style="width:30em" styleClass="trademe_photosSelect">
							<apex:selectOptions value="{!photoItems}" />
						</apex:selectList>
						<p>
							<span class="warning">Please choose at most 20 photos</span>
						</p>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>


			</apex:pageBlockSection>
			<apex:pageBlockButtons location="bottom">
				<div id="trademe_info"></div>
				<apex:commandButton value="save" action="{!post}"
					onclick="return trademe_beforeSubmit();" />
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
	</apex:outputPanel>
</apex:page>