<apex:page standardcontroller="Web_Document__c" extensions="ViewDocExt" action="{!init}">
	<apex:form >
		<apex:pageBlock >
			<apex:outputPanel id="sendMailMsg">
        		<apex:pageMessages rendered="{!msgSignalhasmessage}"/>
    		</apex:outputPanel>
		</apex:pageBlock>
	</apex:form>
	<script > 
		window.onload = new function(){
			setTimeout('window.parent.close()', 10000) ;
		}
	</script> 
</apex:page>