<div class="row">
    <div class="col-sm-5">
        <label>{{$ctrl.leftListLabel}}</label>
    <selectable-list source-list="$ctrl.leftList" selected-list="$ctrl.leftList_selected" display-label="{{$ctrl.displayLabel}}"></selectable-list>
    </div>
    <div class="buttonSection col-sm-2">
        <button class="btn btn-default" ng-click="$ctrl.moveSelected($ctrl.leftList_selected,$ctrl.leftList, $ctrl.rightList )"><i class="ctc-icon-arrow-right"></i> </button>
        <button class="btn btn-default" ng-click="$ctrl.moveSelected($ctrl.rightList_selected,$ctrl.rightList, $ctrl.leftList )"><i class="ctc-icon-arrow-left"></i> </button>
    </div>
    <div class="col-sm-5">
        <label>{{$ctrl.rightListLabel}}</label>
        <selectable-list source-list="$ctrl.rightList" selected-list="$ctrl.rightList_selected" display-label="{{$ctrl.displayLabel}}"></selectable-list>
    </div>

</div>
