multi-select-picklist{
    .buttonSection{
        padding-top: 70px ;
        & button{
            padding: 4px 10px 2px 10px;
            margin-bottom:15px;
            display:block;
            margin-left: auto;
            margin-right: auto;
            & >i{
                font-size: 24px;
            }
        }
    }
}
