/*****
* contains common used styles by CTC
************/

/*** list of color matching Bootstrap colors ***/
@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
/**************
base style
**/
body{
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10px;
    background-color:rgba(51, 122, 183, 0.15);
}

/* overwrite default bootstrap size */
td, th{
    font-size: 11px;
}

/* ctc action button remove all styling for icon  */

.ctc-action-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    text-decoration: none !important;
    &.ctc-action-btn-success {
        color: #4caf50;
    }
    &.ctc-action-btn-danger {
        color: #ff0000;
    }
    &:focus{
        outline: none;
    }
}

/**** default icons size through out the application ***************************/
.ctc-xlg-icon {
    font-size: 42px !important;
}

.ctc-lg-icon {
    font-size: 38px !important;
}

.ctc-md-icon {
    font-size: 32px !important;
}

.ctc-sm-icon {
    font-size: 28px !important;
}

.ctc-xs-icon {
    font-size: 16px !important;
}
/**** add color to icons  ********************/

.ctc-icon-color(@colorName){
    @colorRef: "brand-@{colorName}";
    .ctc-@{colorName}-icon {
        color:@@colorRef;
        padding: 0 !important;
    }
}

.ctc-icon-color(info);
.ctc-icon-color(success);
.ctc-icon-color(danger);

/**** add line to element ************/

.border-line(@side) {
    .border-line-@{side} {
        border-@{side}: 1px solid darkgrey;
    }
}

.border-line(top);
.border-line(bottom);

/*** shared style to remove padding and margin from bootstrap grid  */
.no-padding(@side) {
    & when (@side = all) {
        .no-padding {
            padding: 0 !important;
        }
    }
    & when not (@side = all) {
        .no-padding-@{side} {
            padding-@{side}: 0 !important;
        }
    }
}

.no-margin(@side) {
    & when (@side = all) {
        .no-margin {
            margin: 0 !important;
        }
    }
    & when not (@side = all) {
        .no-margin-@{side} {
            margin-@{side}: 0 !important;
        }
    }
}

.no-padding(left);
.no-padding(right);
.no-padding(top);
.no-padding(bottom);
.no-padding(all);

.no-margin(top);
.no-margin(bottom);
.no-margin(left);
.no-margin(right);
.no-margin(all);


/* styling ctc toggle button */

.ctc-toggle-btn {
    content: "";
    display: inline-block;
    width: 40px;
    height: 15px;
    padding: 8px !important;
    background-color: #ffffff !important;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: background .3s ease;
    vertical-align: middle;
}

/* remove the default outline from bootstrap */
.ctc-toggle-btn:focus, .ctc-toggle-btn:active, .ctc-toggle-btn:hover {
    outline: none !important;
}

.ctc-toggle-btn:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
    left: -15px;
    top: -10px;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.ctc-toggle-btn:after, .ctc-toggle-btn:before {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* use the bootstrap active class to change on/of */
.ctc-toggle-btn.active:after {
    left: 15px;
}

/*** end ctc toggle button ****/

/* styling ctc toggle button 2  */

.ctc-toggle-btn2 {
    position: relative;
    font-family: inherit;
    content: "";
    display: inline-block;
    width: 45px;
    height: 15px;
    padding: 8px !important;
    background-color: #ffffff !important;
    border: solid 1px #777;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: background .3s ease;
    vertical-align: middle;
    &:focus,
    &:active,
    &:hover {
        /* remove the default outline from bootstrap */
        outline: none !important;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #777;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
        left: -15px;
        top: -10px;
        transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    &.active:after {
        left: 15px;
        background-color: #4caf50;
    }

    &:before {
        webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 9px;
        position: absolute;
        top: 2px;
        left: auto;
        right: 6px;
        content: "Off";

    }
    &.active:before {
        content: 'On';
        right: auto;
        left: 6px;

    }

}

/*** end ctc toggle button 2****/

.vertical-align-middle {
    vertical-align: middle !important;
}

td{
    &.checkboxCell{
        width:10px;
    }
}

.text-bold{
    font-weight: bold;
}


/****
Table with fixed height:
used to set the table with scrollable tboday
 => used in conjunction with bootstrap
 => all column <td> required to have a col-*-* class as a grid structure
 => required to set the tbody height manually use max-height to avoid the empty table body
****/
/*
Force table width to 100%
*/
table.table-fixedheader {
    width: 100%;
    /* required to maintain the content inside the td allocated size */
    table-layout: fixed;
    word-wrap: break-word;
}


/*
Set table elements to block mode.  (Normally they are inline).
This allows a responsive table, such as one where columns can be stacked
if the display is narrow.
*/
table.table-fixedheader,
table.table-fixedheader>thead,
table.table-fixedheader>tbody,
table.table-fixedheader>thead>tr,
table.table-fixedheader>tbody>tr,
table.table-fixedheader>thead>tr>th,
table.table-fixedheader>tbody>td {
    display: block;
}


table.table-fixedheader>thead>tr:after,
table.table-fixedheader>tbody>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

/*
When scrolling the table, actually it is only the tbody portion of the
table that scrolls (not the entire table: we want the thead to remain
fixed).  We must specify an explicit height for the tbody.  We include
100px as a default, but it can be overridden elsewhere.

Also, we force the scrollbar to always be displayed so that the usable
width for the table contents doesn't change (such as becoming narrower
when a scrollbar is visible and wider when it is not).
*/
table.table-fixedheader>tbody {
    overflow-y: scroll;
    /* height: 100px; */ /* add hieght manualy to the tbody **/
}

/*
We really don't want to scroll the thead contents, but we want to force
a scrollbar to be displayed anyway so that the usable width of the thead
will exactly match the tbody.
*/
table.table-fixedheader>thead {
    overflow-y: scroll;
     border-bottom: 2px solid #ddd;
}

/**
* remove bootstrap border to avoid un even border alignments if one cell is higher then other
**/
table.table-fixedheader>thead>tr>th {
    border-bottom: none !important;
}


/*
For browsers that support it (webkit), we set the background color of
the unneeded scrollbar in the thead to make it invisible.  (Setting
visiblity: hidden defeats the purpose, as this alters the usable width
of the thead.)
*/
table.table-fixedheader>thead::-webkit-scrollbar{
    background-color: inherit;
}

/*
We want to set <th> and <td> elements to float left.
We also must explicitly set the width for each column (both for the <th>
and the <td>).  We set to 20% here a default placeholder, but it can be
overridden elsewhere.
*/
table.table-fixedheader>thead>tr>th,
table.table-fixedheader>tbody>tr>td {

    float: left;
}


/* Notification for global messages using angular-ui-notifications */

.ui-notification {
    border-radius: 4px;
}

.ui-notification > .message {
    text-align: center;
    font-size: 18px;
}