/*****
a style sheet to overwrite the bootstrap classes
****/

.panel-heading{
    padding-left: 10px;
    padding-right: 10px;
}
.panel-title{
    font-size:14px;
}

.btn-link[disabled] {
    color: gray !important;
}

.form-control{
    font-size: 12px;
}
