
@lineHight:32px;
@menuBackgroundColor:#EEF1F6;
@menuIconColor:#A7B8D1;
@menuIconColorActive:#4F6A92;

.li-style(){
	box-sizing: border-box;
		color: @menuIconColorActive;
		direction: ltr;
		display: block;
		font-family: lato, sans-serif;
		font-size: 13px;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		position: relative;
		text-align: left;
		width: calc(100% - 4px);
		margin: 1px 2px;

}

.a-style(){
	display: block;
    position: relative;
    padding: 0px;
    text-decoration: none;
    background-color: @menuBackgroundColor;
    text-align: center;
}


.ctc-side-navigation{
	position: fixed;
	width: 70px;
	height: 100%;
	padding-top: 50px;
	background-color:@menuBackgroundColor;
	z-index: 1;

	&+.activeArea{
		margin-left: 80px; /*offset requier for the menu to avoide overlap */
	}

	ul{
		list-style:none;
		display:block;
		padding: 0;
		margin: 0;
	}
	ul>li{
		.li-style;
		a{
			.a-style;
			&.activeLink{
				span.menu-icon{
					color:@menuIconColorActive;
				}
			}
		}
		span{
			color:@menuIconColor;
			&.menu-icon{
				font-size: @lineHight;
			}
			&.menu-text{
				display:none;
				position: absolute;
				top: 0px;
				left: 100%;
				white-space: nowrap;
				padding: 1px 10px;
				line-height: @lineHight;
				background-color: @menuBackgroundColor;
				z-index: 1;
				color: @menuIconColorActive;

				}
			}
		&:hover{

			span.menu-text{
				display:inline-block;
			}
		}

	}
}
