.ctc-side-navigation {
  position: fixed;
  width: 70px;
  height: 100%;
  padding-top: 50px;
  background-color: #EEF1F6;
  z-index: 1;
}
.ctc-side-navigation + .activeArea {
  margin-left: 80px;
  /*offset requier for the menu to avoide overlap */
}
.ctc-side-navigation ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.ctc-side-navigation ul > li {
  box-sizing: border-box;
  color: #4F6A92;
  direction: ltr;
  display: block;
  font-family: lato, sans-serif;
  font-size: 13px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  position: relative;
  text-align: left;
  width: calc(96%);
  margin: 1px 2px;
}
.ctc-side-navigation ul > li a {
  display: block;
  position: relative;
  padding: 0px;
  text-decoration: none;
  background-color: #EEF1F6;
  text-align: center;
}
.ctc-side-navigation ul > li a.activeLink span.menu-icon {
  color: #4F6A92;
}
.ctc-side-navigation ul > li span {
  color: #A7B8D1;
}
.ctc-side-navigation ul > li span.menu-icon {
  font-size: 32px;
}
.ctc-side-navigation ul > li span.menu-text {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  white-space: nowrap;
  padding: 1px 10px;
  line-height: 32px;
  background-color: #EEF1F6;
  z-index: 1;
  color: #4F6A92;
}
.ctc-side-navigation ul > li:hover span.menu-text {
  display: inline-block;
}
