<nav class="ctc-side-navigation">
	<ul>
		<li ng-repeat="menuItem in menuItems">

			<a ng-if="menuItem.url" ui-sref="{{menuItem.url}}" ui-sref-active="activeLink">
				<span class="menu-icon glyphicon" ng-class="menuItem.icon"></span>
				<span class="menu-text">{{menuItem.title}}</span>
			</a>
			<a ng-if="menuItem.linkAction" ng-click="menuItem.linkAction">
				<span class="menu-icon glyphicon" ng-class="menuItem.icon"></span>
				<span class="menu-text">{{menuItem.title}}</span>
			</a>

		</li>
	</ul>
</nav>