.candidatePanel {
    .actions {
        display: none;
    }

    padding-right: 0px;


    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 11px;
        li {
            padding: 0;
            margin: 0;
            
            span:nth-child(1) {
                font-size: 23px;
            }

            span {
                vertical-align: middle;
            }

    
        }
    }

    .ctc-icon-download {
        margin-left: 10px;
        font-size: 18px;
        vertical-align: middle;
    }

    .resume-link {
        margin-left: 15px;
        margin-right: 10px;
    }

    .ctc-icon-edit {
        font-size: 35px;  
    }

    .ctc-icon-edit:hover {
        cursor: pointer;
    }

    .table {
        background-color: white;
    }
}


.resumeDisplay{
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    padding:15px;
    width:100%;
    height: 100%;
    min-height: 300px;
    overflow-y: scroll;
    background-color:#F8F8F8;
    border:none;

    & mark{
        background-color: #E6CF54;
    }
}

.infoDisplay{

    height: 100%;
    min-height: 300px;
    display: block;
    overflow-x: scroll;

}

.recordDetails{
    & >.tab-content >.tab-pane.active {
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-style: none solid solid;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        border-left-color: #ddd;
        background: #f8f8f8;
    }

    & li.uib-tab.nav-item.active a{
        background: #f8f8f8;
    }

    .records-25-with-notes {
        max-height: 2300px;
    }

    .records-50-with-notes {
        max-height: 4550px;
    }

    .records-100-with-notes {
        max-height: 9050px;
    }

    .records-25-without-notes {
        max-height: 1312px;
    }

    .records-50-without-notes {
        max-height: 2587px;
    }

    .records-100-without-notes {
        max-height: 5137px;
    }
}

#resumeSection {
    & > div:nth-child(1) {
       margin-top: 15px;
   }
}
