<div class="col-md-12 candidatePanel">
    <!--<busy-loading-view></busy-loading-view>-->
    <div class="pull-right actions">
        <button title="Log A Call" class="ctc-icon-mobile btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="logContactCall(targetRecord)"></button>
        <button title="Send an Email" class="ctc-icon-email btn-link ctc-sm-icon ctc-action-btn no-padding" ng-if="isBulkEmailEnabled"  ng-click="sendContactEmail(targetRecord)"></button>
        <button title="Send an Email" class="ctc-icon-email btn-link ctc-sm-icon ctc-action-btn no-padding" ng-if="!isBulkEmailEnabled"  ng-click="emailDisableNotification()"></button>
        <button title="Add to Shortlist" class="ctc-icon-favourite btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="addToShortlist(targetRecord)" ng-if="!targetRecord.Shortlist__c"></button>
        <button title="remove from Shortlist" class="ctc-icon-favourite2 btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="removeFromShortlist(targetRecord)" ng-if="targetRecord.Shortlist__c"></button>
        <!--<button title="Hide Details" class="ctc-icon-arrow-right btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="hideDetails()"></button>-->
    </div>

    <uib-tabset active="0" class="recordDetails" >
        <uib-tab index="0" heading="Resume">
            <div class="row no-margin" id="resumeSection">
                <div class="col-md-12" ng-if="targetRecord.MatchResult.snippets">
                    <h6 class="">Found Snippets</h6>
                    <ul>
                        <li ng-repeat="snippet in targetRecord.MatchResult.snippets track by $index" ng-bind-html="snippet"> </li>
                    </ul>

                </div>
                <div ng-show="recordDetails.Web_Documents__r">
                    <span class="resume-link">Link to the resume:</span>
                    <a ng-click="downloadResume(recordDetails)">{{recordDetails.Web_Documents__r[0].Name}}<i class="button ctc-icon-download"></i></a>
                </div>
                <div>
                    <div 
                        class="resumeDisplay center-block" 
                        ng-class="{'records-25-with-notes': itemsPerPage === 25 && isScreenCandidateNoteEnabled, 'records-50-with-notes': itemsPerPage === 50 && isScreenCandidateNoteEnabled, 'records-100-with-notes': itemsPerPage === 100 && isScreenCandidateNoteEnabled,'records-25-without-notes': itemsPerPage === 25 && !isScreenCandidateNoteEnabled, 'records-50-without-notes': itemsPerPage === 50 && !isScreenCandidateNoteEnabled, 'records-100-without-notes': itemsPerPage === 100 && !isScreenCandidateNoteEnabled }" 
                        ng-bind-html="trustAsHtml(targetRecord.Candidate__r.displayResume)"></div>
                </div>
            </div>
        </uib-tab>
       <uib-tab index="1" heading="Candidate Info" >
        <div class="row no-margin infoDisplay" id="contactInfo">

            <div class="col-md-12">
                <div class="clearfix">
                    <h6 class="pull-left text-bold">Candidate Details</h6>
                    <!--<a class="pull-left btn btn-link btn-sm" ng-href="/{{recordDetails.Id}}" target="_blank" ng-click="naveToPage(recordDetails.Id)">View More</a>-->
                    <a class="pull-left btn btn-link btn-sm"  target="_blank" ng-href="{{naveToPage(recordDetails.Id)}}">View More</a>
                    <i class="ctc-icon-edit pull-right" ng-click="$modals['Update Candidate Details'].show();"></i>
                </div>
                <!--<table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-2">Email</th>
                        <th class="col-md-2">Phone</th>
                        <th class="col-md-2">Mobile</th>
                        <th>Mailing Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a  target="_blank" ng-click="naveToPage(recordDetails.Id)">{{recordDetails.Name}}</a>
                        </td>
                        <td>{{recordDetails.Email}}</td>
                        <td>{{recordDetails.Phone}}</td>
                        <td>{{recordDetails.MobilePhone}}</td>
                        <td>{{recordDetails.MailingStreet + " "+recordDetails.MailingCity + ( recordDetails.MailingState? "," : "" ) + recordDetails.MailingState + " " + recordDetails.MailingPostalCode + "," + recordDetails.MailingCountry}}</td>
                    </tr>
                    </tbody>
                </table>-->
                <ul>
                    <li>
                        <span class="ctc-icon-client" title="Name"></span>
                        <span> <a  target="_blank" ng-href="{{naveToPage(recordDetails.Id)}}">{{recordDetails.FirstName}} {{recordDetails.LastName}}</a></span>
                    </li>
                    <li>
                        <span class="ctc-icon-email" title="Email"></span>
                        <span> {{recordDetails.Email}}</span>
                    </li>
                    <li>
                        <span class="ctc-icon-phone" title="Phone"></span>
                        <span> {{recordDetails.Phone}}</span>
                    </li>
                    <li>
                        <span class="ctc-icon-mobile" title="Mobile"></span>
                        <span> {{recordDetails.MobilePhone}}</span>
                    </li>
                    <li>
                        <span class="ctc-icon-postbox" title="Mailing Address"></span>
                        <span ng-if="recordDetails.MailingCity || recordDetails.MailingStreet || recordDetails.MailingState"> {{recordDetails.MailingStreet + " "+recordDetails.MailingCity + ( recordDetails.MailingState? "," : "" ) + recordDetails.MailingState + " " + recordDetails.MailingPostalCode + "," + recordDetails.MailingCountry}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h6 class="text-bold">Activities History</h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">Subject</th>
                       <!-- <th class="col-md-2">Related To</th> -->
                        <th class="col-md-2">Status</th>
                        <th class="col-md-2">Due date</th>
                        <th>Assigned to</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="activity in activitiesHistory ">
                        <!--<td><a ng-href="/{{activity.Id}}" target="_blank" ng-click="naveToPage(activity.Id)">{{activity.Subject}}</a></td>-->
                        <td><a target="_blank" ng-href="{{naveToPage(activity.Id)}}">{{activity.Subject}}</a></td>
                    <!--    <td>{{activity.RelatedTo}}</td> -->
                        <td>{{activity.Status}}</td>
                        <td>{{activity.ActivityDate |date:"dd/MM/yyyy"}}</td>
                        <td>{{activity.Owner.Name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <h6 class="text-bold">Candidate Management</h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-2">CM #</th>
                        <th class="col-md-2">Vacancy Name</th>
                        <th class="col-md-2">Client Name</th>
                        <th class="col-md-2">Status</th>
                        <th>Start date</th>
                        <th>End date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in recordManagement">
                        <!--<td><a ng-href="/{{item.Id}}" target="_blank" ng-click="naveToPage(item.Id)">{{item.Name}}</a></td>-->
                        <td><a  target="_blank" ng-href="{{naveToPage(item.Id)}}">{{item.Name}}</a></td>
                        <td>
                            <a  target="_blank" ng-href="{{naveToPage(item.Placement__r.Id)}}">{{item.Placement__r.Name}}</a>
                        </td>
                        <td>{{item.Company__r.Name}}</td>
                        <td>{{item.Status__c}}</td>
                        <td>{{item.Start_Date__c | date:"dd/MM/yyyy"}}</td>
                        <td>{{item.Start_Date__c | date:"dd/MM/yyyy"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
       </uib-tab>
    </uib-tabset>
</div>


<form 
    autocomplete="off"
    name="updateCandidateDetails"
    title="Update Candidate Details"
    ctc-modal="saveCandidateDetails(recordDetails)"
    on-modal-cancel="resetCandidateDetails()"
    save-button-text="Save" novalidate="novalidate">

   <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control" ng-model="recordDetails.FirstName" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': updateCandidateDetails.$submitted && updateCandidateDetails.lastName.$error.required}">
                <label class="control-label">Last Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="lastName" 
                    ng-model="recordDetails.LastName" 
                    required/>
                <span class="text-danger" ng-show="updateCandidateDetails.$submitted && updateCandidateDetails.lastName.$error.required">Last Name is required</span>
            </div>
        </div>
    </div>

   <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" class="form-control" ng-model="recordDetails.Email" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Phone</label>
                <input type="text" class="form-control"  ng-model="recordDetails.Phone" />
            </div>
        </div>
    </div>
   <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Mobile</label>
                <input type="text" class="form-control" ng-model="recordDetails.MobilePhone" />
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Street Address</label>
                <input type="text" class="form-control"  ng-model="recordDetails.MailingStreet" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Suburb/City</label>
                <input type="text" class="form-control"  ng-model="recordDetails.MailingCity" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">State</label>
                <input type="text" class="form-control"  ng-model="recordDetails.MailingState" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Postcode</label>
                <input type="text" class="form-control"  ng-model="recordDetails.MailingPostalCode" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Country</label>
                <input type="text" class="form-control"  ng-model="recordDetails.MailingCountry" />
            </div>
        </div>
    </div>

</form>
