<apex:component >
<apex:styleSheet value="{!URLFOR($Resource.jqueryui,'/jquery-ui/css/redmond/jquery-ui-1.8.13.custom.css')}"/>
<apex:includeScript value="{!$Resource.jquery}"></apex:includeScript>
<apex:includeScript value="{!$Resource.GetRecordIDs}"></apex:includeScript>	
<script>
	var {!variables}=new GetRecordIDs();
	{!variables}.initiate();
	if(typeof(comp{!variables})!=undefined){
		{!variables}.totalidjson=comp{!variables}.allrecordsmap;
		
	}
</script>
  <apex:attribute name="values" description="This is the list for the Sobject." type="Sobject[]"  required="true" />  
  <apex:attribute name="columnames"  description="this is used to generate the object according to objectname" type="Datatransferclass[]" required="true" />
  <apex:attribute name="variables" description="This is the list for the javascript" type="String" required="true" />
  <apex:pageBlock >
  <apex:pageBlockTable value="{!values}" var="sob" styleClass="tableClass">
  <apex:column >
  	<apex:facet name="header"><input type="checkbox" id="{!variables}totalidvalue" onclick="{!variables}.clickcheckall(this)" /></apex:facet>
  	<input type="checkbox" id="{!variables}{!sob['id']}"  value="{!sob['id']}" onclick="{!variables}.clickcheckboxes(this)"/>
  	<a href="/{!sob['id']}" target="_blank">
  		<span class="ui-icon ui-icon-circle-zoomin" style="display:inline-block"></span>
  	</a>
  </apex:column>	  
	  <apex:repeat value="{!columnames}" var="field" >	
			<apex:column > 
			    <apex:facet name="header">{!field.labelname}</apex:facet>
				<apex:outputField value="{!sob[field.apiname]}"/>
	
			</apex:column>
	</apex:repeat>
	 
	<apex:column > 		  	
		  	<div id="idadsfadsf" style="display:none">
		  		<input type="text" />
	  		</div>
	</apex:column>	
		
  </apex:pageBlockTable>
  </apex:pageBlock>
  
  
</apex:component>