<div class="col-md-3">
    <select type="text" id="{{criteria.field}}_operator" name="{{criteria.field}}_operator" class="form-control"
            ng-model="criteria.operator"
            ng-options="operator.value as operator.label for operator in criteria.fieldObject.typeObject.operators">
        <option value="">Select Operator</option>
    </select>
</div>
<div class="col-md-6"  ng-class="{'has-error': searchForm.{{criteria.field}}_value.$invalid}">
    <input type="number" id="{{criteria.field}}_value" name="{{criteria.field}}_value" class="form-control" ng-model="criteria.values" />
</div>
