<div class="col-md-3">
    <select type="text" id="{{criteria.field}}_operator" name="{{criteria.field}}_operator" class="form-control"
            ng-model="criteria.operator"
            ng-options="operator.value as operator.label for operator in criteria.fieldObject.typeObject.operators">
        <option value="">Select Operator</option>
    </select>
</div>
<div class="col-md-6">
    <select type="text" id="{{criteria.field}}_value" name="{{criteria.field}}_value" class="form-control"
            ng-model="criteria.values"
            ng-options="option.value as option.label for option in criteria.fieldObject.picklistValues"
            multiple="true">
        <option value="">Select Value</option>
    </select>
</div>
