<div class="col-md-3">
    <select type="text" id="{{criteria.field}}_operator" name="{{criteria.field}}_operator" class="form-control"
            ng-model="criteria.operator"
            ng-options="operator.value as operator.label for operator in criteria.fieldObject.typeObject.operators" data-ng-disabled="true">
        <option value="">Select Operator</option>
    </select>
</div>
<div class="col-md-6 form-inline">
    <label class="form-control">
        <input  type="radio" id="{{criteria.field}}_value" name="{{criteria.field}}_value" ng-model="criteria.values" ng-value="true">
        Yes
    </label>
    <label class="form-control">
        <input type="radio" id="{{criteria.field}}_value" name="{{criteria.field}}_value" ng-model="criteria.values" ng-value="false">
        No
    </label>
    <label class="form-control">
        <input type="radio" id="{{criteria.field}}_value" name="{{criteria.field}}_value" ng-model="criteria.values" ng-value="null">
        None
    </label>
</div>
