<div class="col-md-3">
    <select type="text" id="{{criteria.field}}_operator" name="{{criteria.field}}_operator" class="form-control"
            ng-model="criteria.operator"
            ng-options="operator.value as operator.label for operator in criteria.fieldObject.typeObject.operators">
        <option value="">Select Operator</option>
    </select>
</div>
<div class="col-md-6">
    <div class="input-group">
        <input type="text" class="form-control" id="{{criteria.field}}_value" name="{{criteria.field}}_value"
               uib-datepicker-popup="{{dateFormat}}"
               ng-model="criteria.values"
               is-open="datePickerFlag"
               datepicker-options="dateOptions"
               alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datePickerFlag = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </div>
</div>
