<div class="col-md-3">
    <select type="text" id="{{criteria.field}}_operator" name="{{criteria.field}}_operator" class="form-control"
            ng-model="criteria.operator"
            ng-options="operator.value as operator.label for operator in criteria.fieldObject.typeObject.operators">
        <option value="">Select Operator</option>
    </select>
</div>
<div class="col-md-6">
    <div class="col-md-6 no-padding-left">
        <div class="input-group" ng-class="{'has-error': searchForm.{{criteria.field}}_value_1.$invalid}">
            <input type="text" class="form-control" id="{{criteria.field}}_value_1" name="{{criteria.field}}_value_1"
                   uib-datepicker-popup="{{dateFormat}}"
                   data-ng-model="criteria.values.fromDate"
                   is-open="fromDatePickerFlag"
                   datepicker-options="dateOptions"
                   alt-input-formats="altInputFormats"
                   date-lower-than="{{criteria.values.toDate | date:'dd/MM/yyyy'}}"
                   date-required-by="{{criteria.values.toDate | date:'dd/MM/yyyy'}}"
                 />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="fromDatePickerFlag = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>

    </div>
    <div class="col-md-6 no-padding-right">
        <div class="input-group" ng-class="{'has-error': searchForm.{{criteria.field}}_value_2.$invalid}">
            <input type="text" class="form-control" id="{{criteria.field}}_value_2" name="{{criteria.field}}_value_2"
                   uib-datepicker-popup="{{dateFormat}}"
                   data-ng-model="criteria.values.toDate"
                   is-open="toDatePickerFlag"
                   datepicker-options="dateOptions"
                   alt-input-formats="altInputFormats"
                   date-required-by="{{criteria.values.fromDate | date:'dd/MM/yyyy'}}"
                   date-greater-than="{{criteria.values.fromDate | date:'dd/MM/yyyy'}}"
                   />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="toDatePickerFlag = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>

    </div>
    <p class="text-danger no-margin" data-ng-show="searchForm.{{criteria.field}}_value_1.$dirty && (searchForm.{{criteria.field}}_value_1.$error.date || searchForm.{{criteria.field}}_value_2.$error.date)">Date format is incorrect.</p>
    <p class="text-danger no-margin" data-ng-show="searchForm.{{criteria.field}}_value_2.$dirty && (searchForm.{{criteria.field}}_value_1.$error.requiredBy || searchForm.{{criteria.field}}_value_2.$error.requiredBy) ">Both Date field is required.</p>
    <p class="text-danger no-margin" data-ng-show="searchForm.{{criteria.field}}_value_1.$dirty && searchForm.$error.endDateRequiredError">End Date is required.</p>
    <p class="text-danger no-margin" data-ng-show="(searchForm.{{criteria.field}}_value_1.$error.dateLowerThan || searchForm.{{criteria.field}}_value_2.$error.dateGreaterThan)">Start Date can not be greater than end date.</p>
</div>
