<div class="notificationMessage">
    <h5><b>Warning!</b> </h5>
    <p>Only one document can be submitted as type Resume per upload request.</p>
    <p>Please update your Document Type selections before uploading.</p>
</div>
