<div class="notificationMessage">
    <ul>
        <li>For the document types of 'Resume' or 'CV', the parsing function will update the resume content, skills, employment and education history depending on your settings.</li>
        <li>Selected documents will be uploaded against the related records with the chosen document type.</li>
        <li>Once the selected documents are successfully uploaded, the documents in the activity record will be deleted.</li>
    </ul>
</div>
