<busy-loading-view></busy-loading-view>
<div class="notificationSection alert"  role="alert" ng-class="$ctrl.notification.cssClass" >
    <ng-include src="$ctrl.notification.contentsUrl" autoscroll="true" ng-if="$ctrl.notification.contentsUrl"></ng-include>
    <div class="notificationMessage" ng-bind-html="$ctrl.notification.contents" ng-if="$ctrl.notification.contents"></div>
</div>

<div class="navigation">
    <ul class="breadcrumb">
        <li ng-if="$ctrl.activityInfo.Id"><a ng-href="{{$ctrl.naveToPage($ctrl.activityInfo.Id)}}" uib-tooltip="Back to Task">Task</a></li>
        <li ng-if="$ctrl.activityInfo.WhoId"><a ng-href="{{$ctrl.naveToPage($ctrl.activityInfo.Who.Id)}}" uib-tooltip="Back to Contact">{{$ctrl.activityInfo.Who.Name}}</a> </li>
        <li ng-if="$ctrl.activityInfo.WhatId"><a ng-href="{{$ctrl.naveToPage($ctrl.activityInfo.What.Id)}}" uib-tooltip="Back to Vacancy">{{$ctrl.activityInfo.What.Name}}</a> </li>
    </ul>
</div>
<div class="panel panel-default" ng-if="$ctrl.showSkillGroup && $ctrl.isSkillParsingEnable">
    <div class="panel-heading clearfix">
        <div class="panel-title">
            <span class="ctc-md-icon vertical-align-middle ctc-icon-candidate-tick"></span>
            <span class="vertical-align-middle">Select Skill Group</span>
        </div>

    </div>
    <div class="panel-body">
        <multi-select-picklist left-list="$ctrl.skillGroups" right-list="$ctrl.selectedSkills" display-label="skillGroupName" left-list-label="Available Skill Groups" right-list-label="Selected Skill Groups"></multi-select-picklist>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="panel-title">
            <span class="ctc-icon-upload ctc-md-icon vertical-align-middle"></span>
            <span class="vertical-align-middle">Select Document to Upload </span>
        </div>

    </div>
    <div class="panel-body">
      <table class="table table-striped">
          <thead>
          <tr>
              <th class="col-md-5">Attachment Name</th>
              <th class="col-md-4">Document Type</th>
              <th class="col-md-3 text-center"><input type="checkbox" name="selectAll" ng-model="$ctrl.selectAll" ng-click="$ctrl.updateSelectAll()"/> Check to Upload </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="docRecord in $ctrl.activityDocList">
              <td>{{docRecord.resourceName}}</td>
              <td>
                  <div class="form-group" ng-class="{'has-error':((docRecord.docType.length < 1 ) && docRecord.isSelected && $ctrl.checkBefore)}">
                      <select class="form-control" ng-model="docRecord.docType" ng-options="typeOption for typeOption in $ctrl.docTypePicklist">
                          <option value="">Select Document Type</option>
                      </select>
                      <span class="help-block">Document type is required.</span>
                  </div>

              </td>
              <td class="text-center">
                  <input type="checkbox" ng-model="docRecord.isSelected" />
              </td>
          </tr>
          </tbody>
      </table>
    </div>
    <div class="panel-footer center-block text-center">
        <button class="btn btn-default" ng-click="$ctrl.exitForm()">Exit</button>
        <button class="btn btn-success" ng-click="$ctrl.uploadDocuments()">Upload Document</button>
    </div>
</div>
