<div class="notificationMessage">
  <h5><b>Warning!</b> </h5>
    <ul>
        <li>Unable to process uploading.</li>
        <li>Please select at least one document.</li>
        <li>Choose a document type for the highlighted document.</li>
    </ul>
</div>
