@verified-bg-color : #a5d24a;
@verified-border-color: #a5d24a;
@unVerified-bg-color : #f1eba2;
@unVerified-border-color:#b9b25f;
skills-found {
    > div {
        border: 1px solid #d5d5d5;
        max-height: 300px;
        min-height:100px;
        overflow-y: scroll;
        margin-bottom: 20px;
    }
    & ul {
        padding: 5px;
        margin-bottom: 0;
        list-style: none;

        & li {
            > span {
                display: block;
                margin: 5px;
            }
            & .skills {
                & span {
                    padding: 5px;
                    margin: 3px 2px;
                    background-color: @unVerified-bg-color;
                    display: inline-block;
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    border-radius:4px;
                    border:1px solid @unVerified-border-color;
                    cursor: pointer;
                    min-width: 100px;
                }
            }
        }
    }
    &.verifiedSkills {
        & .skills span{
            background-color: @verified-bg-color;
            border-color: @verified-border-color;
        }

    }
}

skills-selected {
    > div {
        border: 1px solid #d5d5d5;
        max-height: 300px;
        min-height:100px;
        overflow-y: scroll;
        margin-bottom:20px;

    }
    & ul {
        padding: 5px;
        margin-bottom: 0;
        list-style: none;

        & li {
            display: inline-block;
            margin: 3px 3px;
            padding: 2px;
            height: 24px;
            overflow: hidden;
            &:first-child{
                margin-left: 40px;
            }


            & > span {
                padding: 3px 5px;
                background-color: @unVerified-bg-color;
                display: inline-block;
                border-top: 1px solid @unVerified-border-color;
                border-bottom: 1px solid @unVerified-border-color;
            }

            & > span:first-child {
                background-color: #ffffff;
                margin-right: 2px;
                padding-left: 3px;
                padding-right: 3px;
                border: 1px solid #dddddd;
                cursor: pointer;
                width: 30px;
                text-align: center;
            }
            &:first-child > span:first-child {
                display: none;
            }

            & > span:nth-child(2) {
                cursor: move;
                min-width:100px;
                margin-right: -1px;
                -webkit-border-radius:4px 0px 0px 4px;
                -moz-border-radius:4px 0px 0px 4px;
                border-radius:4px 0px 0px 4px;
            }

            & > span:last-child {
                padding-left: 2px;
                padding-right: 2px;
                margin-left: -3px;
                -webkit-border-radius:0px 4px 4px 0px;
                -moz-border-radius:0px 4px 4px 0px;
                border-radius:0px 4px 4px 0px;
            }

        }


        & .ui-sortable-helper {
            width: 150px;
            height: 1.5em;
            line-height: 1.3em;
        }
    }

    &.verifiedSkills {
        & ul li > span:not(.operatorBtn){
            background-color: @verified-bg-color;
            border-color: @verified-border-color;
        }

    }

    /**/
}

