<div>
    <ul ctc-sortable-list sortable-record="$ctrl.skillsQuery" on-reorder="$ctrl.updateOrder()" >
        <li ng-repeat="option in $ctrl.skillsQuery">
            <span ng-click="$ctrl.toggleOperator(option)" class="operatorBtn">{{option.operator}}</span>
            <span>{{option.skill.skillName}}</span>
            <span ng-click="$ctrl.removeSkill(option)"><i class="ctc-icon-remove ctc-action-btn"></i></span>
        </li>
    </ul>
</div>
