<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            <label><input type="checkbox" ng-model="$ctrl.skillsCriteria.verifiedSkills"
                          ng-change="$ctrl.updateVerifiedValue()"> Candidates with verified skills only</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="$ctrl.skillKeyword"
                       placeholder="Enter a skill or skill Group" ng-change="$ctrl.searchSkills()">
              <span class="input-group-btn">
                  <span class="btn btn-default" type="button"
                          ng-click="($ctrl.skillKeyword = ''); $ctrl.searchSkills();"><i class="ctc-icon-remove"></i>
                  </span>
              </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label>Skills Found</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <skills-found skills-list="$ctrl.skillsFound" on-select="$ctrl.addSkill(skill)" ng-class="{'verifiedSkills':$ctrl.skillsCriteria.verifiedSkills}"></skills-found>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label>Skills Selected</label>
        </div>
        <div class="col-md-6">
            <input type="button" value="Clear Selected" class="pull-right btn btn-primary btn-sm" ng-click="$ctrl.clearSelectedSkills()"></input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <skills-selected skills-list="$ctrl.skillsSelected" on-skill-removed="$ctrl.removeSkill(skill)"
                             on-skill-update="$ctrl.updateSkill(skill, operator)"
                             on-skills-reorder="$ctrl.reOrderSelectedSkills(list)"
                             ng-class="{'verifiedSkills':$ctrl.skillsCriteria.verifiedSkills}" ></skills-selected>
        </div>
    </div>
</div>
