<div>
    <ul>
        <li ng-repeat="(group, skills) in $ctrl.skillsSet">
            <span>{{group}}</span>
            <div class="skills">
                <span ng-repeat="skill in skills" ng-click="$ctrl.selectSkill(skill)">{{skill.skillName}}</span>
            </div>
        </li>
    </ul>
</div>
