<div class="modal-header">
    <h3 class="modal-title">Add Vacancy Confirmation</h3>
</div>
<div class="modal-body">
    <p>Selected Candidate has been added successfully to the Vacancy.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">Go to Vacancy</button>
    <button class="btn btn-cancel" type="button" ng-click="$dismiss()">Back to Results</button>
</div>
