<div class="row">
    <div class="col-md-12">
        <table class="table resultGrid table-fixedheader ">
            <thead>
            <tr>
                <th class="vertical-align-middle" ng-class="{'col-sm-2':showScoreField, 'col-sm-3':!showScoreField}">

                    <div class="vertical-align-middle">
                        <span style="margin-right: 5px">
                            <input  class="no-margin" type="checkbox" ng-model="selectAll" ng-change="checkAll((searchResult |orderBy: orderPredictor.column : orderPredictor.reverse).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)))">
                        </span>
                        <span ng-click="updateOrderBy('Contact.Name')">Name <i class="glyphicon " ng-class="setOrderByClass('Contact.Name', orderPredictor )" ></i></span>
                    </div>
                </th>
                <th ng-if="showScoreField" class="col-sm-1">
                    <span  ng-click="updateOrderBy('MatchResult.score')">Score <i class="glyphicon " ng-class="setOrderByClass('MatchResult.score', orderPredictor )" ></i></span>
                </th>
                <th ng-repeat="column in displayColumn" class="vertical-align-middle" ng-class="setColumnClass($index, displayColumn);">
                    <span ng-click="updateOrderBy('Contact.'+column.Field_api_name)" >{{column.ColumnName}} <i class="glyphicon " ng-class="setOrderByClass('Contact.'+column.Field_api_name, orderPredictor )" ></i></span>
                </th>
                <th class="col-sm-1 no-padding-left no-padding-right">Actions</th>
            </tr>
            </thead>
            <tbody ctc-group-display-manager close-others="true" single-open="true">
            <tr ng-repeat-start="record in (searchResult |orderBy: orderPredictor.column : orderPredictor.reverse).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
                ng-init="(record.detailFlag=false)"
                highlight-record
                ref-value="record.Contact.Id"
                ref-lists="vacancyAndRelatedCandidates">
                <td class="vertical-align-middle" ng-class="{'col-sm-2':showScoreField, 'col-sm-3':!showScoreField}">
                    <div class=" nameCell vertical-align-middle">
                        <span class="checkboxCell"><span><input type="checkbox" ng-model="record.selected" ng-change="changeRecordSelection(record)"></span></span>
                        <span class="textCell"><a ng-href="{{naveToPage(record.Contact.Id)}}" target="_blank">{{record.Contact.Name}}</a></span>
                        <span class="expandCell"><button title="Resume & Details" class="ctc-action-btn ctc-md-icon btn-link" ng-class="{'ctc-icon-delete':record.detailFlag, 'ctc-icon-add':!record.detailFlag}" ng-click="(record.detailFlag =!record.detailFlag)"></button></span>
                    </div>
                   </td>
                <td ng-if="showScoreField" class="col-sm-1 vertical-align-middle">{{record.MatchResult.score}}</td>
                <td class="vertical-align-middle"  ng-repeat="column in displayColumn" ng-class="setColumnClass($index, displayColumn);" >{{ displayRecordValue(record , column);}}</td>
                <!-- TODO: cater for fields that is not in contact -->
                <td class="col-sm-1 no-padding-left no-padding-right actionCell vertical-align-middle">
                    <button title="Log A Call" class="ctc-icon-mobile btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="logContactCall(record)"></button>
                    <button title="Send an Email" class="ctc-icon-email btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="sendContactEmail(record)" ng-hide="!isBulkEmailEnabled"></button>
                </td>
            </tr>
            <tr ng-repeat-end ctc-display-manager="record.detailFlag" >
                <td colspan="{{(displayColumn.length + 3) }}">
                    <contact-detail target-record="record" render-flag="record.detailFlag" search-keyword="keywordSearch"></contact-detail>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

