.displayInlineBlock {
    display:inline-block;
}

.btn-circle {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    line-height: 1px;
    padding-left: 1px;
    padding-right: 0;
    border: 0;
    padding-top: 1px;
}
.btn-circle:active,
.btn-circle:focus
 {
    outline: none !important;
}

.topPanel {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
}
.topPanelBody {
    line-height: 52px;
}
.topPanelLabel {
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.buttonMargin {
    margin-left: 15px;
    margin-right: 5px;
}

.highlightColor {
    background-color: #d8fbc9
}

.panelFlexbox {
    display: flex;
    justify-content: center;
}

.panelFlexboxItem {
    align-self: center;
}

.maxWarning {
    font-size: 11px;
}

/****** grid styling ******/

.resultGrid{
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 10px;
    & > tbody{
        max-height: 700px;
    }
}

.nameCell{
    position: relative;

    & .checkboxCell{
        position: absolute;
        top:50%;
        & span{
            margin-top: -8px;
            display: block;
        }
    }
    & .textCell{
        display: block;
        vertical-align: middle;
        margin-right: 35px;
        margin-left: 20px;
    }
    & .expandCell{
        position: absolute;
        top:50%;
        right:0px;
        & button {
            margin-top: -16px;
        }
    }
}




.fixedVacancyTableHeight{
    max-height: 300px;
}
