<div class="col-md-3 no-padding-left no-padding-right">
    <vacancy-detail ng-if="vacancyId" vacancy-id="vacancyId"></vacancy-detail>
    <short-list></short-list>
    <search-summary></search-summary>
</div>
<div class="col-md-9">
    <div class="panel panel-default topPanel">
        <div class="panel-body no-padding-top no-padding-bottom topPanelBody">
            <div class="pull-left" ng-show="vacancyId">
                <span class="label highlightColor topPanelLabel">&nbsp;</span>
                <span>Candidate has already been selected for this Vacancy</span>
            </div>
            <div class="pull-right">
                <button class="ctc-action-btn btn btn-link vertical-align-middle" data-ng-click="selectAllResult()" >
                    <span class="ctc-icon-candidate-tick ctc-lg-icon vertical-align-middle"></span>
                    <span class="vertical-align-middle">Select All</span>
                </button>
                <button class="ctc-action-btn btn btn-link vertical-align-middle" data-ng-click="deselectAllResult()" >
                    <span class="ctc-icon-deselect4 ctc-md-icon vertical-align-middle"></span>
                    <span class="vertical-align-middle">Deselect All</span>
                </button>
                <!--
                <button class="ctc-action-btn btn btn-link vertical-align-middle" data-ng-click="sendAllSms(searchResult)" >
                    <span class="ctc-icon-sms3  ctc-md-icon vertical-align-middle"></span>
                    <span class="vertical-align-middle">SMS All</span>
                </button>
                -->
               <button class="ctc-action-btn btn btn-link vertical-align-middle" data-ng-click="sendAllEmail(searchResult)" ng-hide="!isBulkEmailEnabled">
                   <span class="ctc-icon-email3 ctc-md-icon vertical-align-middle"></span>
                   <span class="vertical-align-middle">Email All</span>
               </button>
                <a href="https://s3-ap-southeast-2.amazonaws.com/ctcpeoplehelper/Help_Guide_for_People_Search.pdf" target="_blank" title="Help Guide" class="ctc-icon-questionmark ctc-lg-icon ctc-action-btn btn btn-link vertical-align-middle no-padding"></a>

           </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row panelFlexbox">
                <div class="col-md-4 panelFlexboxItem">
                <h3 class="panel-title displayInlineBlock">Results Found: {{searchResult.length}} <p ng-show="searchResult.length >= 5000" class="no-margin-bottom maxWarning text-danger">  Maximum 5,000 results shown</p> </h3>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm" ng-model="itemsPerPage" ng-options="option.value as option.label for option in itemsPerPageOptions"></select>
                </div>
                <div class="col-md-5 no-padding-right no-padding-left">
                    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="no-margin-top no-margin-bottom pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"  items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                </div>
                <p class="col-md-2 panelFlexboxItem no-margin">
                    <a href="#" ng-click="$event.preventDefault(); showConfig = !showConfig;">Customise Columns</a>
                </p>
            </div>
        </div>
        <div class="panel-body" ng-show="showConfig">
            <column-config display-column="displayColumn" field-list="columnFieldList" on-update="updateDisplayColumn"></column-config>
        </div>
        <result-grid></result-grid>
    </div>
</div>
<busy-loading-view></busy-loading-view>
