<div class="panel">
    <form name="configColumnForm" class="form-horizontal">

        <div class="form-group" ng-repeat="column in configColumnList track by $index">
            <label for="column_{{$index +1}}" class="col-md-2 control-label">Column {{$index +1}}</label>
            <div class="col-md-6">
                <select type="text" id="column_{{$index +1}}" name="column_{{$index +1}}" class="form-control"
                        ng-model="configColumnList[$index]"
                        ng-options="colOption as colOption.ColumnName for colOption in fieldList track by colOption.Field_api_name">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-md-10">
                <button class="btn btn-sm btn-default" ng-click="updateColumn(configColumnList)">Update</button>
            </div>
        </div>
    </form>
</div>
