.shortList {
    .table th, .table td {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tableFixedHeight tbody {
       height: 200px !important;
       overflow-y: auto;
   }
    .tableFixedHeight thead, .tableFixedHeight tbody, .tableFixedHeight tr, .tableFixedHeight td, .tableFixedHeight th {
       display: block;
   }

   .btn-circle {
     width: 24px;
     height: 24px;
     border-radius: 15px;
     line-height: 1px;
     padding-left: 1px;
     padding-right: 0;
     border: 0;
     padding-top: 1px;
    }

    .shortListTitle {
        line-height: 37px;
    }



}

.listFixedHeight{
    height:300px !important;
    overflow-y: auto;
}
