<div class="panel panel-default shortList">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="ctc-icon-tasklist ctc-md-icon vertical-align-middle"></span>
            <span class="btn btn-sm glyphicon  pull-right" ng-class="{'glyphicon-minus':!isCollapsedShortList, 'glyphicon-plus':isCollapsedShortList}" type="button" ng-click="isCollapsedShortList = !isCollapsedShortList"></span>
            <span class="vertical-align-middle">Selected Candidates</span>
        </h3>
    </div>

    <div uib-collapse="isCollapsedShortList">
        <table class="table tableFixedHeight">
            <thead>
                <tr>
                    <th class="shortListTitle">
                        <span>Name</span>
                        <button  title="Send SMS" class=" btn-link ctc-action-btn ctc-md-icon ctc-icon-sms3  vertical-align-middle pull-right"  data-ng-click="sendShortListSms(shortList)" ng-hide="exceedCandidateLimit || !isBulkSMSEnabled"></button>
                        <button title="Send Email" type="button" class="btn-link ctc-action-btn ctc-icon-email3  ctc-md-icon vertical-align-middle pull-right"  data-ng-click="sendShortListEmail(shortList)" ng-hide="!isBulkEmailEnabled"></button>
                        <button title="Deselect All" class="btn-link ctc-action-btn ctc-md-icon ctc-icon-deselect4 vertical-align-middle pull-right" data-ng-click="deselectAllResult()" ></button>
                        <p class="text-danger no-margin" style="line-height:15px;font-weight:normal;" data-ng-show="exceedCandidateLimit ">SMS disabled. Select a maximum of 100 candidates.</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in shortList">
                    <td >
                        <span>{{item.Name}}</span>
                        <button class="pull-right ctc-action-btn glyphicon glyphicon-remove" ng-click="removeFromShortList(item)"></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="panel-footer text-center" uib-collapse="isCollapsedShortList">
        <div><p ng-show=" shortList.length >1">Number of selected candidates {{shortList.length}}</p></div>
        <button ng-disabled="!vacancyId || shortList.length <1" class="btn btn-success btn-sm" ng-click="addShortListToVacancy(vacancyId)">Add to Vacancy</button>
        <button ng-disabled="shortList.length <1" class="btn btn-primary btn-sm" ng-click="findOtherVacancy()">Other Vacancy</button>
    </div>
</div>
