<div class="ctc-md-preloader-container" data-ng-show="$busy.block()">
    <div class="ctc-md-preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
