/*
    Preloader animation. This create an animation in which 4
    colored circles transform into 1 square
*/
.ctc-md-preloader-container {
  z-index: 10000;
  /* to set the loader over all other element **/
  height: 100%;
  width: 100%;
  background: rgba(225, 225, 225, 0.6);
  position: fixed;
  top: 0;
  left: 0;
}
.ctc-md-preloader-container .ctc-md-preloader {
  left: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 300px;
}
.ctc-md-preloader-container .ctc-md-preloader span {
  display: block;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: #9b59b6;
  position: absolute;
}
.ctc-md-preloader-container .ctc-md-preloader span:nth-child(1) {
  -webkit-animation: ctc-md-preloader_1 1.5s infinite ease-in-out;
  -moz-animation: ctc-md-preloader_1 1.5s infinite ease-in-out;
  -o-animation: ctc-md-preloader_1 1.5s infinite ease-in-out;
  animation: ctc-md-preloader_1 1.5s infinite ease-in-out;
}
.ctc-md-preloader-container .ctc-md-preloader span:nth-child(2) {
  left: 20px;
  -webkit-animation: ctc-md-preloader_2 1.5s infinite ease-in-out;
  -moz-animation: ctc-md-preloader_2 1.5s infinite ease-in-out;
  -o-animation: ctc-md-preloader_2 1.5s infinite ease-in-out;
  animation: ctc-md-preloader_2 1.5s infinite ease-in-out;
}
.ctc-md-preloader-container .ctc-md-preloader span:nth-child(3) {
  top: 0;
  -webkit-animation: ctc-md-preloader_3 1.5s infinite ease-in-out;
  -moz-animation: ctc-md-preloader_3 1.5s infinite ease-in-out;
  -o-animation: ctc-md-preloader_3 1.5s infinite ease-in-out;
  animation: ctc-md-preloader_3 1.5s infinite ease-in-out;
}
.ctc-md-preloader-container .ctc-md-preloader span:nth-child(4) {
  top: 0;
  left: 20px;
  -webkit-animation: ctc-md-preloader_4 1.5s infinite ease-in-out;
  -moz-animation: ctc-md-preloader_4 1.5s infinite ease-in-out;
  -o-animation: ctc-md-preloader_4 1.5s infinite ease-in-out;
  animation: ctc-md-preloader_4 1.5s infinite ease-in-out;
}
/* -webkit- */
@-webkit-keyframes ctc-md-preloader_1 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 20px;
    background: #3498db;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes ctc-md-preloader_2 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 20px;
    background: #f1c40f;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes ctc-md-preloader_3 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 20px;
    background: #2ecc71;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes ctc-md-preloader_4 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 20px;
    background: #e74c3c;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
/* -moz- */
@-moz-keyframes ctc-md-preloader_1 {
  0% {
    -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -moz-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 20px;
    background: #3498db;
  }
  80% {
    -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-moz-keyframes ctc-md-preloader_2 {
  0% {
    -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -moz-transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 20px;
    background: #f1c40f;
  }
  80% {
    -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@-moz-keyframes ctc-md-preloader_3 {
  0% {
    -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -moz-transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 20px;
    background: #2ecc71;
  }
  80% {
    -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-moz-keyframes ctc-md-preloader_4 {
  0% {
    -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -moz-transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 20px;
    background: #e74c3c;
  }
  80% {
    -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
/* -o- */
@-o-keyframes ctc-md-preloader_1 {
  0% {
    -o-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -o-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 20px;
    background: #3498db;
  }
  80% {
    -o-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -o-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-o-keyframes ctc-md-preloader_2 {
  0% {
    -o-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -o-transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 20px;
    background: #f1c40f;
  }
  80% {
    -o-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -o-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@-o-keyframes ctc-md-preloader_3 {
  0% {
    -o-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -o-transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 20px;
    background: #2ecc71;
  }
  80% {
    -o-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -o-transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-o-keyframes ctc-md-preloader_4 {
  0% {
    -o-transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -o-transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 20px;
    background: #e74c3c;
  }
  80% {
    -o-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -o-transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
/* keyframe */
@keyframes ctc-md-preloader_1 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 20px;
    background: #3498db;
  }
  80% {
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@keyframes ctc-md-preloader_2 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 20px;
    background: #f1c40f;
  }
  80% {
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@keyframes ctc-md-preloader_3 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 20px;
    background: #2ecc71;
  }
  80% {
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@keyframes ctc-md-preloader_4 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 20px;
    background: #e74c3c;
  }
  80% {
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
