<div class="modal-header">
    <button class="pull-right close ctc-action-btn glyphicon glyphicon-remove" ng-click="$dismiss()"></button>
    <h3 class="modal-title">Add to Other Vacancy</h3>

</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3 no-padding-right">
            <div class="panel panel-default shortList">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="ctc-icon-tasklist ctc-md-icon vertical-align-middle"></span>
                        <span class="vertical-align-middle">Selected Candidates</span>
                    </h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item" style="padding-bottom: 5px;">
                        <span style="padding-right: 5px;">
                            <input type="checkbox" ng-model="selectAllCandidate" ng-change="checkAll(selectAllCandidate, shortList)">
                        </span>
                        <label>Name</label>
                    </div>
                </div>
                <ul class="list-group listFixedHeight" id="shortList">
                    <li class="list-group-item" ng-repeat="item in shortList">
                        <span style="padding-right: 5px;"><input type="checkbox" ng-model="item.selected" ng-change="changeShortlistItemSelection(item)"></span>
                        <span>{{item.Name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline " role="search" name="searchVacancy">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="vacancyName" name="vacancyName" placeholder="Vacancy Name" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm" ng-click=" addSuccessFlag = false; searchForVacancy(vacancyName);" ng-disabled="searchVacancy.vacancyName.$invalid">Search Vacancy</button>
                    </form>
                </div>
                <table class="table table-striped table-fixedheader">
                <thead>
                <tr>
                    <th class="col-sm-1">
                        <input type="checkbox" ng-model="selectAllVacancy" ng-change="checkAll(selectAllVacancy, vacancySearchResult)" class="no-margin" />
                    </th>
                    <th class="col-sm-3">Vacancy Name</th>
                    <th class="col-sm-2">Client Name</th>
                    <th class="col-sm-2">Stage</th>
                    <th class="col-sm-2">Start Date</th>
                    <th class="col-sm-2">End Date</th>
                </tr>
                </thead>
                <tbody class="fixedVacancyTableHeight">
                <tr ng-repeat="vacancy in vacancySearchResult">
                    <td class="col-sm-1"><input type="checkbox" ng-model="vacancy.selected"></td>
                    <td class="col-sm-3">{{vacancy.Name}}</td>
                    <td class="col-sm-2">{{vacancy.Company__r.Name}}</td>
                    <td class="col-sm-2">{{vacancy.Stage__c}}</td>
                    <td class="col-sm-2">{{vacancy.Start_Date__c | date:"dd/MM/yyyy" }}</td>
                    <td class="col-sm-2">{{vacancyDetail.End_Date__c | date:"dd/MM/yyyy"}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="alert alert-success" role="alert" ng-show="addSuccessFlag">
        Selected candidate has been added successfully to selected Vacancy
    </div>
    <div class="alert alert-warning" role="alert" ng-show="vacancySearchResult.length < 1">
        No result found.
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addToOtherVacancy(vacancySearchResult)" data-ng-disabled="!checkIfContainSelected(vacancySearchResult) || !checkIfContainSelected(shortList)">Add to Selected Vacancy</button>
    <button class="btn btn-cancel" ng-click="$dismiss()">Return to Search Result</button>
</div>
