<div class="modal fade">
    <div class="modal-dialog" ng-class="modalSize">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-ng-click="modal.hide()">×</button>
                <h4 ng-if="dynamicTitle" class="modal-title" data-ng-bind="dynamicTitle"></h4>
                <h4 ng-if="!dynamicTitle" class="modal-title" data-ng-bind="title"></h4>
            </div>
            <div class="modal-body" data-ng-transclude></div>
            <div class="modal-footer">
                <button ng-hide="modal.conformationDialog"  type="button" class="btn btn-flat btn-default" data-ng-click="modal.hide()">Cancel</button>
                <button type="submit" ng-hide="hideSaveButton" class="btn {{modal.saveButtonClass}}" data-ng-click="modal.save()">{{ modal.saveButtonText }}</button>
            </div>
        </div>
    </div>
</div>
