<div class="col-sm-5 inputCol"  ng-class="{'has-error': parentForm.{{field.fieldPath}}_value.$invalid}">
    <label ng-class="{'requiredInput':field.required}">{{field.label}}</label>
    <input type="number" id="{{field.fieldPath}}_value" name="{{field.fieldPath}}_value" class="form-control" ng-model="field.values" ng-required="field.required" />
</div>
