<div class="col-sm-5 inputCol">
    <label ng-class="{'requiredInput':field.required}">{{field.label}}</label>
    <select
        type="text" id="{{field.fieldPath}}_value"
        name="{{field.fieldPath}}_value"
        class="form-control"
        ng-model="field.values"
        ng-options=" value for (key , value) in field.options "
        ng-required="field.required">
        <option value="">Select Value</option>
    </select>
</div>
