<div class="col-sm-5 inputCol">
    <label ng-class="{'requiredInput':field.required}">{{field.label}}</label>
    <input type="text" id="{{field.fieldPath}}_value" name="{{field.fieldPath}}_value" class="form-control" ng-model="field.values" ng-required="field.required" />
</div>
