<div class="col-sm-5 inputCol">
    <label ng-class="{'requiredInput':field.required}">{{field.label}}</label>
    <div class="input-group" >
        <input type="text" class="form-control" id="{{fieldPath.fieldPath}}_value" name="{{fieldPath.fieldPath}}_value"
               uib-datepicker-popup="{{dateFormat}}"
               ng-model="field.values"
               is-open="datePickerFlag"
               datepicker-options="dateOptions"
               alt-input-formats="altInputFormats"
               ng-required="field.required"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datePickerFlag = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </div>
</div>
