<div class="col-sm-10">
    <label ng-class="{'requiredInput':field.required}">{{field.label}}</label>
    <div class="form-inline">
        <label class="form-control">
            <input  type="radio" id="{{fieldPath.fieldPath}}_value" name="{{fieldPath.fieldPath}}_value" ng-model="field.values" ng-value="true" ng-required="field.required">
            Yes
        </label>
        <label class="form-control">
            <input type="radio" id="{{fieldPath.fieldPath}}_value" name="{{fieldPath.fieldPath}}_value" ng-model="field.values" ng-value="false" ng-required="field.required">
            No
        </label>
        <label class="form-control">
            <input type="radio" id="{{fieldPath.fieldPath}}_value" name="{{fieldPath.fieldPath}}_value" ng-model="field.values" ng-value="null" ng-required="field.required">
            None
        </label>
    </div>
</div>
