<div class="col-sm-10">
    <label ng-class="{'requiredInput':field.required}">{{field.label}}</label>
    <div class="col-sm-12 no-padding">
        <div class="col-md-6 no-padding-left no-padding-top">
            <div class="input-group" ng-class="{'has-error': parentForm.{{field.fieldPath}}_value_1.$invalid}">
                <input type="text" class="form-control" id="{{field.fieldPath}}_value_1" name="{{field.fieldPath}}_value_1"
                       uib-datepicker-popup="{{dateFormat}}"
                       data-ng-model="criteria.values.fromDate"
                       is-open="fromDatePickerFlag"
                       datepicker-options="dateOptions"
                       alt-input-formats="altInputFormats"
                       date-lower-than="{{field.values.toDate | date:'dd/MM/yyyy'}}"
                       date-required-by="{{field.values.toDate | date:'dd/MM/yyyy'}}"
                       ng-required="field.required"
                />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="fromDatePickerFlag = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </div>

        </div>
        <div class="col-md-6 no-padding-right no-padding-top">
            <div class="input-group" ng-class="{'has-error': parentForm.{{field.fieldPath}}_value_2.$invalid}">
                <input type="text" class="form-control" id="{{field.fieldPath}}_value_2" name="{{field.fieldPath}}_value_2"
                       uib-datepicker-popup="{{dateFormat}}"
                       data-ng-model="criteria.values.toDate"
                       is-open="toDatePickerFlag"
                       datepicker-options="dateOptions"
                       alt-input-formats="altInputFormats"
                       date-required-by="{{field.values.fromDate | date:'dd/MM/yyyy'}}"
                       date-greater-than="{{field.values.fromDate | date:'dd/MM/yyyy'}}"
                       ng-required="field.required"
                />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="toDatePickerFlag = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </div>

        </div>
    </div>
    <p class="text-danger no-margin" data-ng-show="parentForm.{{field.fieldPath}}_value_1.$dirty && (parentForm.{{field.fieldPath}}_value_1.$error.date || parentForm.{{field.fieldPath}}_value_2.$error.date)">Date format is incorrect.</p>
    <p class="text-danger no-margin" data-ng-show="parentForm.{{field.fieldPath}}_value_2.$dirty && (parentForm.{{field.fieldPath}}_value_1.$error.requiredBy || parentForm.{{field.fieldPath}}_value_2.$error.requiredBy) ">Both Date field is required.</p>
    <p class="text-danger no-margin" data-ng-show="parentForm.{{field.fieldPath}}_value_1.$dirty && parentForm.$error.endDateRequiredError">End Date is required.</p>
    <p class="text-danger no-margin" data-ng-show="(parentForm.{{field.fieldPath}}_value_1.$error.dateLowerThan || parentForm.{{field.fieldPath}}_value_2.$error.dateGreaterThan)">Start Date can not be greater than end date.</p>
</div>
