.searchSummary {

    .table th, .table td {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tableFixedHeight tbody {
       height: 200px !important;
       overflow-y: auto;
   }
    .tableFixedHeight thead, .tableFixedHeight tbody, .tableFixedHeight tr, .tableFixedHeight td, .tableFixedHeight th {
       display: block;
   }


}

.searchSummaryIcon {
    .btn-circle {
        width: 46px;
        height: 46px;
        border-radius: 15px;
        line-height: 1px;
        padding-left: 1px;
        padding-right: 0;
        border: 0;
        padding-top: 1px;
    }
}
