
<!--<div class="panel panel-default searchSummaryIcon" uib-collapse="!isCollapsedSearchSummary">
<button type="button" class="btn btn-primary ctc-lg-icon btn-circle" data-ng-click="isCollapsedSearchSummary = !isCollapsedSearchSummary"><i class="ctc-icon-search"></i></button>
</div>-->

<div class="panel panel-default searchSummary" >
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="ctc-icon-search ctc-md-icon vertical-align-middle"></span>
            <span class="vertical-align-middle">Search Criteria</span>
            <span class="btn btn-sm glyphicon pull-right" ng-class="{'glyphicon-minus':!isCollapsedSearchSummary, 'glyphicon-plus':isCollapsedSearchSummary}" type="button" ng-click="isCollapsedSearchSummary = !isCollapsedSearchSummary"></span>
        </h3>
    </div>

    <div uib-collapse="isCollapsedSearchSummary">
        <table class="table tableFixedHeight" >
            <tbody>
                <tr ng-if="(searchQuery.resumeKeywords && searchQuery.resumeKeywords.length > 0)">
                    <td >
                        <label>Keyword Search</label>
                        <p>{{searchQuery.resumeKeywords}}</p>
                    </td>
                </tr>

                <tr ng-if="(searchQuery.criteria && searchQuery.criteria.length > 0)">
                    <td>
                        <label>Field Search</label>
                        <div ng-repeat="criteria in searchQuery.criteria" class="clearfix">
                            <span class="">{{displayFieldName(criteria.field)}}</span>
                            <span class="">
                                {{displayOperator(criteria)}}</span>
                            <span class="">
                                {{displayValue(criteria)}}</span>
                        </div>
                    </td>
                </tr>
            <tr ng-if="(searchQuery.skillsSearch && searchQuery.skillsSearch.query.length > 0)">
                <td>
                    <label>Skills Search</label>
                    <p ng-if="searchQuery.skillsSearch.verifiedSkills" class=""><em>Verified Skills Only</em></p>
                    <p>{{displaySkillsSearch(searchQuery.skillsSearch)}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer text-center" uib-collapse="isCollapsedSearchSummary">
        <button class="btn btn-success btn-sm" ng-click="newSearchQuery()">New Search</button>
        <button class="btn btn-primary btn-sm" ng-click="editSearchQuery()">Edit Search</button>
    </div>


</div>
