<div class="panel">
    <div class="row">
        <label class="col-md-offset-2 col-md-4">Object</label> 
        <label class="col-md-4">Field</label> 
    </div>
    <form name="configColumnForm" class="form-horizontal"> 
        <div class="form-group" ng-repeat="column in configColumnList track by $index">
            <label for="column_{{$index +1}}" class="col-md-2 control-label">Column {{$index +1}}</label>
            <div class="col-md-4">
                <select type="text" id="column_object_{{$index +1}}" name="column__object_{{$index +1}}" class="form-control"
                        ng-model="configObjectList[$index]"
                        ng-change="changeConfigObject($index)"
                        ng-options="columnObject as columnObject.name for columnObject in columnObjectList track by columnObject.name">
                    <option value="">-- Select Object --</option>
                </select>
            </div>

            <div class="col-md-4" ng-if="configObjectList[$index].name === null || configObjectList[$index].name === undefined ">
                <select type="text" id="column_{{$index +1}}" name="column_{{$index +1}}" class="form-control"
                        ng-model="configColumnList[$index]">
                    <option value="">-- Select Column --</option>
                </select>
            </div>

            <div class="col-md-4" ng-if="configObjectList[$index].name === objectLabelNames['Candidate Management']">
                <select type="text" id="column_{{$index +1}}" name="column_{{$index +1}}" class="form-control"
                        ng-model="configColumnList[$index]"
                        ng-options="colOption as colOption.ColumnName for colOption in getConfigFieldList($index) track by colOption.Field_api_name">
                    <option value="">-- Select Column --</option>
                </select>
            </div>

             <div class="col-md-4" ng-if="configObjectList[$index].name === objectLabelNames['Contact']">
                <select type="text" id="column_{{$index +1}}" name="column_{{$index +1}}" class="form-control"
                        ng-model="configColumnList[$index]"
                        ng-options="colOption as colOption.ColumnName for colOption in getConfigFieldList($index) track by colOption.Field_api_name">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 text-right">
                <button class="btn btn-sm btn-default" ng-click="updateColumn(configColumnList)">Update</button>
            </div>
        </div>
    </form>
</div>
