

<div>
    <div class="row filterBlock">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" type="text" ng-model="searchResumeInput" placeholder="Search Keyword in Resume">
                <span class="input-group-btn">
                    <button class="btn btn-default " ng-click="searchResume(searchResumeInput)">Search</button>   
                </span>
                <span class="input-group-btn">
                    <button title="Show Filter" class="ctc-icon-ic_filter btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="showFilterModal($modals['Filter'])"></button>
                </span>
                <form 
                    autocomplete="off"
                    name="filterForm"
                    title="Filter"
                    ctc-modal="applyFilter()"
                    on-modal-cancel="resetFilter()"
                    save-button-text="Filter" novalidate="novalidate">
                <div class="row" ng-repeat="filter in modalFilterArray track by $index">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Field</label>
                                <select 
                                    class="form-control pull-left" 
                                    ng-model="filter.fieldName"
                                    ng-options="option as option.fieldName for option in fitlerFieldOptions track by option.fieldName">
                                    <option value="">Select Field</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Contains</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    ng-model="filter.contains" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div ng-show="hasPagination" class="col-md-6 paginator">
            <select class="form-control pageSize" ng-model="paginationObject.itemsPerPage" ng-options="option.value as option.label for option in itemsPerPageOptions" ng-change="changePagination()"></select>
            <uib-pagination total-items="clients.length" ng-change="changePagination()" ng-model="paginationObject.currentPage" max-size="maxSize" items-per-page="paginationObject.itemsPerPage" class="pagination" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
        </div>
    </div>
    <div class="row filter-string">
        <div class="col-md-12">
            <span ng-if="resultFlag">{{clientSelected}} selected from a total of {{clients.length}}</span>
            <span ng-if="resultFlag && clients.length > 1">records</span>
            <span ng-if="resultFlag && clients.length < 1">record</span>
            <span ng-if="isFilterApplied">
                &#183; Filtered by   {{getFiltersAsString()}}
            </span>
        </div>
    </div>

    <hr class="no-margin">

    <div ng-show="!resultFlag" class="noResult">
        <label class="control-label">There are no records to display in the current view.</label>
    </div>

    <div class="candidateList" ng-show="resultFlag">
        <div ng-class="listContainer">

            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th>
                            <input  type="checkbox"
                                    ng-model="checkbox.hasClientSelectAll"
                                    ng-click="clientSelectAll(paginationObject.currentPage)"/>
                        </th>
                        <th ng-click="sortBy('Name')">
                            CM ID<i class="glyphicon " ng-show="propertyName === 'Name'" ng-class="{'glyphicon-sort-by-attributes-alt': reverse, 'glyphicon-sort-by-attributes': !reverse}"></i>
                        </th>
                        <th ng-click="sortBy('Candidate__r.Name')">
                            Name<i class="glyphicon " ng-show="propertyName === 'Candidate__r.Name'" ng-class="{'glyphicon-sort-by-attributes-alt': reverse, 'glyphicon-sort-by-attributes': !reverse}"></i>
                        </th>
                        <th ng-click="sortBy('Status__c')">
                            Status
                            <i class="glyphicon " ng-show="propertyName === 'Status__c'" ng-class="{'glyphicon-sort-by-attributes-alt': reverse, 'glyphicon-sort-by-attributes': !reverse}"></i>
                        </th>
                        <th ng-repeat="column in displayColumn track by $index" 
                            class="vertical-align-middle" 
                            ng-class="setColumnClass($index, displayColumn);"
                            ng-click="customSortBy(column)">
                            <span ng-show="column.columnObject.name === objectLabelNames['Candidate Management']">{{column.ColumnName}}<i class="glyphicon " ng-show="propertyName === column.Field_api_name" ng-class="{'glyphicon-sort-by-attributes-alt': reverse, 'glyphicon-sort-by-attributes': !reverse}"></i> </span>
                            <span ng-show="column.columnObject.name !== objectLabelNames['Candidate Management']">{{column.ColumnName}}<i class="glyphicon " ng-show="propertyName === 'Candidate__r.'+ column.Field_api_name" ng-class="{'glyphicon-sort-by-attributes-alt': reverse, 'glyphicon-sort-by-attributes': !reverse}"></i> </span>
                        </th>
                        <th class="col-md-2" ng-click="sortBy('Recruiter_Notes__c')" ng-if="isScreenCandidateNoteEnabled">
                            Recruiter Notes
                            <i class="glyphicon" ng-show="propertyName === 'Recruiter_Notes__c'" ng-class="{'glyphicon-sort-by-attributes-alt': reverse, 'glyphicon-sort-by-attributes': !reverse}"></i>
                        </th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <select 
                                class="form-control pull-left" 
                                ng-model="updateObj.updateStatus"
                                ng-options="option.value as option.value for option in statusPicklist.values"
                                ng-disabled="!hasClientSelected"
                                ng-change="processStatusChange()"
                                >
                                <option value="">Update Status</option>
                            </select>
                        </th> 
                        <th ng-repeat="column in displayColumn track by $index" 
                            class="vertical-align-middle setColumnClass($index, displayColumn)" >
                        </th>
                         <th ng-if="isScreenCandidateNoteEnabled">
                            <input 
                                class="form-control pull-left update-recuitor-note" 
                                type="text" 
                                placeholder="Mass Update Notes" 
                                name="updateRecruiterNote" 
                                ng-model="updateObj.updateRecruiterNote"
                                ng-change="processRecruiterNoteChange()"
                                ng-disabled="!hasClientSelected"
                                maxlength="32000"/>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat-start="(key,el) in clientsFiltered track by key" ng-show="el">
                        <td>
                            <div class="center-block vertical-align-middle">
                                    <input 
                                        type="checkbox" 
                                        ng-model="el.isSelect" 
                                        ng-click="selectRow($event, $index)"
                                        ng-class="{'extra-margin': isScreenCandidateNoteEnabled, 'small-margin': !isScreenCandidateNoteEnabled}"/>
                            </div>
                        </td>
                        <!--<td class="vertical-align-middle"><a ng-href="/{{el.Id}}" target="_blank" ng-click="naveToPage(el.Id)">{{el.Name}}</a></td>-->
                        <td class="vertical-align-middle"><a target="_blank" ng-href="{{naveToPage(el.Id)}}">{{el.Name}}</a></td>
                        <td class="vertical-align-middle">
                            <div class="nameCell">
                                <!--<a ng-href="/{{el.Candidate__r.Id}}"  target="_blank" ng-click="naveToPage(el.Candidate__r.Id)">{{el.Candidate__r.Name}}</a>-->
                                <span class="titleCell" ng-class="{ selected: el.Candidate__r.keywordMatch > 0 }">
                                    <a  target="_blank" ng-href="{{naveToPage(el.Candidate__r.Id)}}">{{el.Candidate__r.Name}}</a>
                                </span>
                                <small ng-if="el.Candidate__r.keywordMatch > 0" class="badge badgeCell">{{el.Candidate__r.keywordMatch}}</small>
                                <span class="expandCell">
                                    <button title="Resume & Details" class="ctc-action-btn ctc-md-icon btn-link" ng-class="{'ctc-icon-delete': isExpanded(el), 'ctc-icon-add': !isExpanded(el) }" ng-click="candidatePanel(el)"></button>
                                </span>
                            </div>
                        </td>
                        <td class="vertical-align-middle">
                             <select
                                class="form-control pull-left cm-status"
                                ng-model="el.Status__c"
                                ng-change="changeStatus(el)"
                                ng-options="option.value as option.value for option in el.statusPickList">
                                <option value="">Select Status</option>
                            </select>
                        </td>
                       
                        <td class="vertical-align-middle cm-display-column"  ng-repeat="column in displayColumn track by $index" ng-class="{ 'star-rating': column.ColumnName == 'Star Rating'}" >
                            <span ng-hide="isCandidateStatusOrRating(column)">{{ displayRecordValue(el , column, $index);}}</span>
                            <select 
                                ng-show="isCandidateStatus(column)"
                                class="form-control pull-left" 
                                ng-model="el.Candidate_Status__c"
                                ng-change="changeCandidateStatus(el)"
                                ng-options="option.value as option.value for option in el.candidateStatusPicklists">
                                <option value="">Select Status</option>
                            </select>
                            <span ng-show="isRating(column)">
                                <button title="One" class="btn-link ctc-sm-icon ctc-action-btn no-padding" ng-class="{'ctc-icon-property-star': el.Rating__c < 1, 'ctc-icon-property-star4': el.Rating__c > 0 }" ng-click="changeRating(el, '1')"></button>
                                <button title="two" class="btn-link ctc-sm-icon ctc-action-btn no-padding" ng-class="{'ctc-icon-property-star': el.Rating__c < 2, 'ctc-icon-property-star4': el.Rating__c > 1 }" ng-click="changeRating(el, '2')"></button>          
                                <button title="three" class="btn-link ctc-sm-icon ctc-action-btn no-padding" ng-class="{'ctc-icon-property-star': el.Rating__c < 3, 'ctc-icon-property-star4': el.Rating__c > 2 }" ng-click="changeRating(el, '3')"></button>
                                <button title="four" class="btn-link ctc-sm-icon ctc-action-btn no-padding" ng-class="{'ctc-icon-property-star': el.Rating__c < 4, 'ctc-icon-property-star4': el.Rating__c > 3 }" ng-click="changeRating(el, '4')"></button>
                                <button title="five" class="btn-link ctc-sm-icon ctc-action-btn no-padding" ng-class="{'ctc-icon-property-star': el.Rating__c < 5, 'ctc-icon-property-star4': el.Rating__c > 4 }" ng-click="changeRating(el, '5')"></button>
                            </span>
                        </td>
                        <td class="vertical-align-middle" ng-dblclick="startEditing(el);" ng-if="isScreenCandidateNoteEnabled">
                            <textarea class="recuitor-notes" ng-model="el.Recruiter_Notes__c" ng-change="notesEdited(el)"/>
                        </td>
                        <td class="col-sm-1 no-padding-left no-padding-right actionCell vertical-align-middle">
                            <button title="Log A Call" class="ctc-icon-mobile btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="logContactCall(el)"></button>
                            <button title="Send an Email" class="ctc-icon-email btn-link ctc-sm-icon ctc-action-btn no-padding" ng-if="isBulkEmailEnabled" ng-click="sendContactEmail(el)"></button>
                            <button title="Send an Email" class="ctc-icon-email btn-link ctc-sm-icon ctc-action-btn no-padding" ng-if="!isBulkEmailEnabled" ng-click="emailDisableNotification()"></button>
                            <button title="Add to Shortlist" class="ctc-icon-favourite btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="addToShortlist(el)" ng-if="!el.Shortlist__c"></button>
                            <button title="remove from Shortlist" class="ctc-icon-favourite2 btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="removeFromShortlist(el)" ng-if="el.Shortlist__c && !isShortlistView"></button>
                            <button title="remove from Shortlist" class="ctc-icon-deselect btn-link ctc-sm-icon ctc-action-btn no-padding" ng-click="removeFromShortlist(el)" ng-if="el.Shortlist__c && isShortlistView"></button>
                        </td>
                    </tr>
                    <tr ng-if="isExpanded(el)">
                        <td colspan="{{6 + displayColumn.length}}">
                            <div class="candidate-detail-preview">
                                <candidate-detail 
                                    target-record="selectedContactDetail" 
                                    render-flag="selectedContactDetail.detailFlag" 
                                    search-keyword="keywordSearch" 
                                    items-per-page="paginationObject.itemsPerPage"
                                    is-screen-candidate-note-enabled="isScreenCandidateNoteEnabled"
                                    on-add="addToShortlist(client)" 
                                    on-remove="removeFromShortlist(client)"  
                                    is-bulk-email-enabled="isBulkEmailEnabled"
                                    on-send-contact-email="sendContactEmail(el)">
                                </candidate-detail>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="isExpanded(el)" ng-repeat-end>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div ng-controller="this as $ctrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header form-group">
            <button type="button" class="close" aria-hidden="true" ng-click="cancelChangesBtn()" title="Cancel">×</button>
            <div class="text-center" style="font-size: 14px; margin-top: 15px;"><p>You have unsaved changes.</p><p>Are you sure you want to discard these changes?</p></div>
        </div>
        <div class="modal-body text-center form-group" id="modal-body">

            <!--<button class="btn btn-info" type="button" ng-click="cancelChangesBtn()">Cancel</button>-->
            <button class="btn btn-default" type="button" ng-click="discardChangesBtn()">Discard Changes</button>
            <button class="btn btn-primary" type="button" ng-click="saveChangesBtn()">Save Changes</button>
        </div>
    </script>
</div>

