.filterBlock {

    ul {
        margin-top: 0px;
        padding-left: 20px;
    }

    select:nth-child(1) {
        width: 105px;
    }

    input {
        width: 150px;
    }

    button {
        margin-left: 3px;
    }

    .pagination {
        a {
            height: 34px;
            display: inline-block;
            line-height: 19px;
            font-size: 12px;
        }
    }

    form {
        .col-md-8 {
            margin-bottom: 15px;

            .control-label {
                color: black !important;
            }
        }

        .col-md-8 {
            margin-bottom: 15px;
        }
    }

    .input-group {
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 0;
    }

}

.filter-string {
    div:first-child {
        font-size: 12px;
        margin-bottom: 10px;
        span:first-child {
            display: inline-block;
            vertical-align: middle;
        }

        span:nth-child(2) {
            vertical-align: middle;
        }

        ul {
            margin-bottom: 0;
        }
    }

      ul {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            list-style-type: none;
        }
    }
}

.noResult {
    margin-top: 20px;
}

.candidateList {

    table {
        width: 100%;

        tr:first-child th{
            border-bottom-style: none;
        }

        tr:nth-child(2) th{
            border-top-style: none;
            font-weight: normal;
        }
    }

    .listContainer {
        float: left;
        overflow: auto;
        width: 1105px;
        table {
            margin-bottom: 20px;
        }
    }

    .listContainerShort {
        float: left;
        overflow: auto;
        width: 600px;
        table {
            margin-bottom: 10px;
        }
    }

    .detailContainer {
        float: left;
        width: 505px;
    }

    .nameCell{
        position: relative;
        display: flex;
        align-items: center;
        min-width: 150px;

        .selected {
            padding: 5px;
            background-color: #FEEE3E;
            border-radius: 5px;
            margin-right: 5px;
        }

        small {
            background-color: #FEEE3E;
            color: #555;
        }
    
        .titleCell {
            display: inline-block;
            flex: 1;
        }

        .badgeCell {
            display: inline-block;
        }

        .expandCell {
            display: inline-block;
        }
    }

    .recuitor-notes {
        display: inline-block;
        word-break: break-word;
        overflow: scroll;
        background-color: white;
        height: 70px;
        width: 100%;
        border: 2px solid #ddd;
    }

    .small-margin {
        margin-top: 12px;
    }

    .extra-margin {
        margin-top: 30px;
    }

    .ctc-icon-property-star {
        margin-right: -10px;
    }

    .ctc-icon-property-star4 {
        margin-right: -10px;
        color: #FFA223;
    }

    .star-rating {
        width: 12%;
    }

    .update-recuitor-note {
        width: 100%;
    }
}


span.highlighted {
    font-weight: bold;
}

.candidate-detail-preview {
    min-height: 400px;
    max-height: 400px;

    .resumeDisplay, .infoDisplay {
        overflow-y: scroll;
        max-height: 400px !important;
    }
}

.cm-status {
    min-width: 150px;
}

.cm-display-column {
    span {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        display: table-cell;
    }
}

.paginator {
    display: flex;
    justify-content: flex-end;

    .pageSize {
        max-width: 100px;
    }
}
