.screenForm{
    .dividerSection {
        border-top: 1px solid #dddddd;
        padding-top: 10px;
        height: 28px;
        line-height: 28px;
        & label{
            line-height: inherit;
            height: inherit;
        }
        & span{
            height: inherit;
            float: right;
            font-size: inherit;
        }

    }

    #criteriaFields{
        height:400px;
        overflow-y:auto;
        overflow-x:hidden;
    }

    & .fieldName{
        height: auto;
        white-space: pre-wrap;
        min-height: 34px;
    }


    .btn-container {
        .btn {
            margin-left: 3px;
        }
    }

    .btn-group {
        width: 100%;
        > .btn {
            width: 32%;
        }
    }

}

.inputWithClearBtn{
    position: relative;
    & .clearBtn{
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 20px;
        color: #777;
        background: #fff;

    }
}

.screen-candidates-panel {
    .panel-title {
        span:nth-child(3) {
            line-height: 32px;
        }
    }
}

/* add class to style the save button */
.saveFooter{
    position: fixed;
    bottom: 1px;
    height: 50px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ccc;
    // margin-left: -62px;
    left: 0;

    & .btn-container{
        text-align: center;

        .button::nth-child(1) {
            margin-right: 10px;
        }
    }
}
