<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="ctc-icon-client-inspections ctc-md-icon vertical-align-middle"></span>
            <span class="vertical-align-middle">Vacancy Details</span>
            <span class="pull-right">
                <a href="http://ctcpeoplehelper.s3.amazonaws.com/Screen_Candidates_User_Guide.pdf" target="_blank" title="Help Guide" class="ctc-icon-questionmark ctc-lg-icon ctc-action-btn btn btn-link vertical-align-middle no-padding"></a>
            </span>
        </h3>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <div>
                    <Label class="">Vacancy Name:</Label>
                    <text class="">{{vacancyDetail.Name}}</text>
                </div>
                <div>
                    <Label class="">Stage:</Label>
                    <text class="">{{vacancyDetail.Stage__c}}</text>
                </div>

            </div>
            <div class="col-md-4">
                <div>
                    <Label class="">Client Name:</Label>
                    <text class="">{{vacancyDetail.Company__r.Name}}</text>
                </div>
                <div>
                    <Label class="">Record Type:</Label>
                    <text class="">{{vacancyDetail.RecordType.Name}}</text>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <Label class="">Start Date:</Label>
                    <text class="6">{{vacancyDetail.Start_Date__c | date:"dd/MM/yyyy"}}</text>
                </div>
                <div>
                    <Label class="">End Date:</Label>
                    <text class="6">{{vacancyDetail.End_Date__c | date:"dd/MM/yyyy"}}</text>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="screenForm">

    <div class="row form-group">
        <div class="col-md-3">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success" ng-click="switchToNewView()" ng-class="{'btn-success': uiState.listState === viewOption.New, 'btn-default': uiState.listState !== viewOption.New}">New</button>
                <button type="button" class="btn btn-default" ng-click="switchToShortlistView()" ng-class="{'btn-success': uiState.listState === viewOption.Shortlist, 'btn-default': uiState.listState !== viewOption.Shortlist}">Shortlist</button>
                <button type="button" class="btn btn-default" ng-click="switchToAllView()" ng-class="{'btn-success': uiState.listState === viewOption.All, 'btn-default': uiState.listState !== viewOption.All}">All</button>
            </div>
        </div>

        <!--<div class="col-md-3">

            <div class="input-group">
                <input type="text" class="form-control" type="text" ng-model="searchResumeInput" placeholder="Search Keyword in Resume">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchResume(searchResumeInput)">Search</button>
                </span>
            </div>

        </div>-->

        <div class="col-md-5 btn-container pull-right">
            <button class="btn btn-primary pull-right" type="button" ng-show="isBulkEmailEnabled" ng-click="sendBulkEmail()">Email</button>
            <button class="btn btn-primary pull-right" type="button" ng-show="isBulkSMSEnabled" ng-click="sendBulkSms()">SMS</button>
            <button class="btn btn-primary pull-right" type="button" ng-hide="isBulkEmailEnabled" ng-click="emailDisableNotification()">Email</button>
            <button class="btn btn-primary pull-right" type="button" ng-hide="isBulkSMSEnabled" ng-click="smsDisableNotification()">SMS</button>
            <button class="btn btn-primary pull-right" type="button" ng-click="sendBulkResume()">Send Resume</button>
            <button class="btn btn-primary pull-right" type="button" ng-show="hasClientSelected" ng-click="addOtherVacancyBtn()">Add to Other Vacancy</button>
            <button class="btn btn-primary pull-right" type="button" ng-hide="hasClientSelected" ng-click="addOtherVacancyDisableNotification()">Add to Other Vacancy</button>
        </div>
    </div>

</div>

<div class="panel panel-default screen-candidates-panel">

    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="ctc-icon-client ctc-md-icon vertical-align-middle"></span>
            <span class="vertical-align-middle">Candidate Details</span>
            <span class="pull-right vertical-align-middle">
                <button title="Save Search" class="ctc-action-btn btn btn-link vertical-align-middle no-padding" ng-click="uiState.ShowConfig = !uiState.ShowConfig" >
                    <span class="vertical-align-middle" >Customise Columns</span>
                </button>
            </span>
        </h3>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <column-config display-column="displayColumn" selected-object-list="selectedObjectList" cm-field-list="columnFieldList" candidate-field-list="candidateFieldList" object-label-names="objectLabelNames" on-update="confirmUpdateDisplayColumn(columnlist, selectedObjectList)" ng-show="uiState.ShowConfig"></column-config>
                <candidate-list
                    clients="vacancyCandidateList"
                    all-vacancy-candidate-list="allVacancyCandidateList"
                    current-page-candidate-list="currentPageCandidateList"
                    candidate-status-picklist="candidateStatusPicklist"
                    display-column="displayColumn"
                    fitler-field-options="fitlerFieldOptions"
                    selected-object-list="selectedObjectList"
                    is-shortlist-view="uiState.listState === viewOption.Shortlist"
                    ui-state="uiState"
                    property-name="propertyName"
                    object-label-names="objectLabelNames"
                    reverse="reverse"
                    origin-clients-filtered = "originClientsFiltered"
                    is-change-view="uiState.isChangeView"
                    on-add-to-shortlist="onAddToShortlist(client)"
                    on-remove-from-shortlist="onRemoveFromShortlist(client)"
                    on-send-email="sendEmailToContactList(contactsList)"
                    confirm-update-flag="confirmUpdateFlag"
                    has-client-selected="hasClientSelected"
                    is-bulk-email-enabled="isBulkEmailEnabled"
                    is-screen-candidate-note-enabled="isScreenCandidateNoteEnabled" >
                </candidate-list>
            </div>
        </div>

    </div>

</div>

<!--<div class="screenForm">

    <div class="row form-group">
        <div class="col-md-12 btn-container">
            <button class="btn btn-primary pull-right" type="button" ng-click="confirmBtn()" ng-disabled="!confirmUpdateFlag" >Comfirm</button>
            <button class="btn btn-default pull-right" type="button" ng-click="exitBtn()">Exit</button>
        </div>
    </div>

</div>-->

<div class="saveFooter" ng-show="confirmUpdateFlag">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-container">
                    <input type="button" ng-click="discardChangesBtn()" class="btn btn-default" value="Clear">
                    <input type="button" ng-click="confirmBtn()" class="btn btn-primary" value="Save">
                </div>
            </div>
        </div>
</div>



<busy-loading-view></busy-loading-view>

