.THIS {
    position:relative;
    list-style-type:none;
    padding:0;
    margin:0;
    overflow: hidden;
  
}

.THIS .search-bar{
	padding: 7px;
}

.THIS .small{
	height: 28rem;
}

.THIS .medium{
	height: 40rem;
}

.THIS .large{
	height: 50rem;
}

.THIS.small .scroll-container{
    height:22rem;
}

.THIS.medium .scroll-container{
    height:34rem;
}

.THIS.large .scroll-container{
    height:47rem;
}